<div class="translation-test">
    <span class="translated">{{t "Top left Button"}}</span>
    <span class="untranslated">{{t "Missing Key"}}</span>
    <span class="interpolated">{{t "Welcome, {name}" name="Ghost"}}</span>
</div>

{{#foreach posts}}
<article class="post-card {{post_class}}">{{title}}</article>
{{/foreach}}
