<div class="gh-flow gh-finishing-touches">
    <main class="flex flex-row h-100">
        <div class="gh-nav gh-nav-contextual gh-nav-design">
            <div class="flex flex-column h-100">
                <div class="gh-nav-body">
                    <div class="gh-nav-design-settings">
                        <div class="gh-stack">
                            <header>
                                <h1>Finishing touches</h1>
                                <p class="gh-finishing-touches-subhed">You chose a theme, now it's time to make it your own.</p>
                            </header>
                            {{#if this.descriptionVisible}}
                                <Settings::FormFields::SiteDescription class="gh-stack-item gh-setting" @didUpdate={{perform this.themeManagement.updatePreviewHtmlTask}} />
                            {{/if}}
                            
                            {{#if this.colorVisible}}
                                <Settings::FormFields::AccentColor class="gh-stack-item gh-setting" @didUpdate={{perform this.themeManagement.updatePreviewHtmlTask}} />
                            {{/if}}

                            {{#if this.logoVisible}}
                                <Settings::FormFields::PublicationLogo class="gh-stack-item gh-setting" @didUpdate={{perform this.themeManagement.updatePreviewHtmlTask}} />
                            {{/if}}

                            {{#if this.coverImageVisible}}
                                <Settings::FormFields::PublicationCover class="gh-stack-item gh-setting" @didUpdate={{perform this.themeManagement.updatePreviewHtmlTask}} />
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="gh-finishing-touches-button">
                <GhTaskButton
                    class="gh-btn gh-btn-large gh-btn-black gh-btn-icon w-100"
                    @task={{this.saveAndContinueTask}}
                    @buttonText="Ready to go →"
                    @runningText="Saving..."
                    @showSuccess={{false}}
                    data-test-button="save-and-continue"
                />
            </div>
        </div>
        <div class="gh-finishing-touches-preview">
            <GhBrowserPreview>
                <GhHtmlIframe class="site-frame" @html={{this.themeManagement.previewHtml}} />
            </GhBrowserPreview>
        </div>
    </main>
</div>