<div class="modal-content" data-test-modal="delete-snippet">
    <header class="modal-header">
        <h1>Confirm snippet deletion</h1>
    </header>
    <button type="button" class="close" title="Close" {{on "click" @close}}>{{svg-jar "close"}}<span class="hidden">Close</span></button>

    <div class="modal-body">
        <p>
            You’re about to delete the "<strong>{{@data.snippet.name}}</strong>" snippet. This is permanent, and will delete the snippet for all staff users. It will <strong>not</strong> change any posts where you’ve used this snippet in the past.
        </p>
    </div>

    <div class="modal-footer">
        <button class="gh-btn" type="button" {{on "click" @close}}><span>Cancel</span></button>
        <GhTaskButton
            @buttonText="Delete snippet"
            @successText="Deleted"
            @task={{this.deleteSnippetTask}}
            @taskArgs={{@data.snippet}}
            @class="gh-btn gh-btn-red gh-btn-icon" />
    </div>
</div>