
<div class="modal-content" data-test-modal="limits/custom-theme">
    <header class="modal-header">
        <h1>Upgrade to enable custom themes</h1>
    </header>
    <button class="close" title="Close" type="button" {{on "click" @close}}>{{svg-jar "close"}}<span class="hidden">Close</span></button>

    <div class="modal-body">
        <p>
            {{#if @data.message}}
                {{html-safe @data.message}}
            {{else}}
                Your current plan only supports official themes. You can install them from the <a href="https://ghost.org/marketplace/">Ghost theme marketplace</a>.
            {{/if}}
        </p>
    </div>

    <div class="modal-footer">
        <button class="gh-btn" data-test-button="cancel-upgrade" type="button" {{on "click" @close}}>
            <span>Cancel</span>
        </button>

        <LinkTo @route="pro" class="gh-btn gh-btn-green" {{on "click" @close}} data-test-button="upgrade-plan">
            <span>Upgrade</span>
        </LinkTo>
    </div>
</div>