{{#gh-app showSettingsMenu=showSettingsMenu}}
    {{#gh-skip-link anchor=".gh-main"}}Skip to main content{{/gh-skip-link}}

    {{gh-alerts notify="topNotificationChange"}}

    <div class="gh-viewport {{if autoNav 'gh-autonav'}} {{if showSettingsMenu 'settings-menu-expanded'}} {{if showMobileMenu 'mobile-menu-expanded'}}">
        {{#unless signedOut}}
            {{gh-nav-menu open=autoNavOpen toggleMaximise="toggleAutoNav" openAutoNav="openAutoNav" showMarkdownHelp="toggleMarkdownHelpModal" closeMobileMenu="closeMobileMenu"}}
        {{/unless}}

        {{#gh-main onMouseEnter="closeAutoNav" data-notification-count=topNotificationCount}}
            {{outlet}}
        {{/gh-main}}


        {{gh-notifications}}

        {{gh-content-cover onClick="closeMenus" onMouseEnter="closeAutoNav"}}

        {{outlet "settings-menu"}}
    </div>{{!gh-viewport}}
{{/gh-app}}

{{#if showMarkdownHelpModal}}
    {{gh-fullscreen-modal "markdown-help"
                          close=(route-action "toggleMarkdownHelpModal")
                          modifier="wide"}}
{{/if}}
