<section class="setup-box js-setup-box fade-in">
    <div class="vertical">
        <form id="setup" class="setup-form" method="post" novalidate="novalidate">

            {{!-- Horrible hack to prevent Chrome from incorrectly auto-filling inputs --}}
            <input style="display:none;" type="text" name="fakeusernameremembered"/>
            <input style="display:none;" type="password" name="fakepasswordremembered"/>

            <header>
                <h1>第一次使用你的Ghost博客</h1>
                <h2>请填写下面的表单，即可开启Ghost博客</h2>
            </header>
            <div class="form-group">
                <label for="blog-title">博客名称</label>
                {{input type="text" name="blog-title" autofocus="autofocus" autocorrect="off" value=blogTitle }}
                <p>为你的博客取一个好听的名字</p>
            </div>
            <div class="form-group">
                <label for="name">姓名/昵称</label>
                {{input type="text" name="name" autofocus="autofocus" autocorrect="off" value=name }}
                <p>在你发表文章时，会用这个名字作为签名</p>
            </div>
            <div class="form-group">
                <label for="email">邮箱</label>
                {{input type="email" name="email" autofocus="autofocus" autocorrect="off" value=email }}
                <p>用来登录博客后台和接收重要通知</p>
            </div>
            <div class="form-group">
                <label for="password">密码</label>
                {{input type="password" name="password" autofocus="autofocus" autocorrect="off" value=password }}
                <p>设置一个密码，至少要8个字符</p>
            </div>
            <footer>
                <button type="submit" class="btn btn-green btn-lg" {{action "setup"}} disabled={{submitting}}>填好了, 开启Ghost博客</button>
            </footer>
        </form>
    </div>
</section>
