<div class="gh-flow">

    <div class="gh-flow-content-wrap">
        <section class="gh-flow-content">
            <header>
                <h1>Create your account</h1>
            </header>

            <form id="signup" class="gh-flow-create" method="post" novalidate="novalidate">
                {{!-- Hack to stop Chrome's broken auto-fills --}}
                <input style="display:none;" type="text" name="fakeusernameremembered"/>
                <input style="display:none;" type="password" name="fakepasswordremembered"/>

                <figure class="account-image">
                    <div  id="account-image" class="img"  style="background-image: url(http://www.gravatar.com/avatar/75e958a6674a7d68fe0d575fb235116c?d=404&s=250)">
                        <!-- fallback to: Ghost/core/shared/img/ghosticon.jpg -->
                        <span class="sr-only">User imge</span>
                    </div>
                    <a class="edit-account-image" href="#"><i class="icon-photos "><span class="sr-only">Upload an image</span></i></a>
                </figure>
                <div class="form-group">
                    <label for="email-address">Email address</label>
                    <span class="input-icon icon-mail">
                        {{input class="gh-input" type="email" name="email" autocorrect="off" value=model.email }}
                    </span>
                </div>
                <div class="form-group">
                    <label for="full-name">Full name</label>
                    <span class="input-icon icon-user">
                        {{gh-trim-focus-input class="gh-input" type="text" name="name" autofocus="autofocus" autocorrect="off" value=model.name }}
                    </span>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <span class="input-icon icon-lock">
                        {{input class="gh-input" type="password" name="password" autofocus="autofocus" autocorrect="off" value=model.password }}
                        <div class="pw-strength">
                            <div class="pw-strength-dot"></div>
                            <div class="pw-strength-dot"></div>
                            <div class="pw-strength-dot"></div>
                            <div class="pw-strength-dot"></div>
                            <div class="pw-strength-dot <!--pw-strength-activedot-->"></div>
                        </div>
                    </span>
                </div>
            </form>

            <button type="submit" class="btn btn-green btn-lg btn-block" {{action "signup"}} disabled={{submitting}}>Create Account</button>
        </section>
    </div>

</div>
