<div class="gh-flow">
    <div class="gh-flow-content-wrap">
        <section class="gh-flow-content">
            <form id="login" class="gh-signin" method="post" novalidate="novalidate" {{action "validateAndAuthenticate" on="submit"}}>
                {{#gh-form-group errors=model.errors property="identification"}}
                    <span class="input-icon icon-mail">
                        {{gh-trim-focus-input class="gh-input email" type="email" placeholder="Email Address" name="identification" autocapitalize="off" autocorrect="off" tabindex="1" value=model.identification focusOut=(action "validate" "identification")}}
                    </span>
                    {{gh-error-message errors=model.errors property="identification"}}
                {{/gh-form-group}}
                {{#gh-form-group errors=model.errors property="password"}}
                    <span class="input-icon icon-lock forgotten-wrap">
                        {{input class="gh-input password" type="password" placeholder="Password" name="password" tabindex="2" value=model.password focusOut=(action "validate" "password")}}
                        <button type="button" {{action "forgotten"}} class="forgotten-link btn btn-link"  tabindex="4" disabled={{submitting}}>Forgot?</button>
                    </span>
                    {{gh-error-message errors=model.errors property="password"}}
                {{/gh-form-group}}
                {{gh-spin-button class="login btn btn-blue btn-block" type="submit" tabindex="3" buttonText="Sign in" submitting=loggingIn autoWidth=false}}
            </form>

            <p class="main-error">{{{flowErrors}}}</p>
        </section>
    </div>
</div>
