<div class="gh-flow">

    <div class="gh-flow-content-wrap">
        <section class="gh-flow-content">
            <header>
                <h1>Create your account</h1>
            </header>

            <form id="signup" class="gh-flow-create" method="post" novalidate="novalidate">
                {{!-- Hack to stop Chrome's broken auto-fills --}}
                <input style="display:none;" type="text" name="fakeusernameremembered"/>
                <input style="display:none;" type="password" name="fakepasswordremembered"/>

                {{gh-profile-image fileStorage=config.fileStorage email=model.email setImage="setImage"}}
                {{#gh-form-group errors=model.errors hasValidated=hasValidated property="email"}}
                    <label for="email-address">Email address</label>
                    <span class="input-icon icon-mail">
                        {{gh-input type="email" name="email" placeholder="Eg. john@example.com" enter=(action "signup") disabled="disabled" autocorrect="off" value=model.email focusOut=(action "validate" "email")}}
                    </span>
                    {{gh-error-message errors=model.errors property="email"}}
                {{/gh-form-group}}
                {{#gh-form-group errors=model.errors hasValidated=hasValidated property="name"}}
                    <label for="full-name">Full name</label>
                    <span class="input-icon icon-user">
                        {{gh-trim-focus-input tabindex="1" type="text" name="name" placeholder="Eg. John H. Watson" enter=(action "signup") autocorrect="off" value=model.name focusOut=(action "validate" "name")}}
                    </span>
                    {{gh-error-message errors=model.errors property="name"}}
                {{/gh-form-group}}
                {{#gh-form-group errors=model.errors hasValidated=hasValidated property="password"}}
                    <label for="password">Password</label>
                    <span class="input-icon icon-lock">
                        {{gh-input tabindex="2" type="password" name="password" enter=(action "signup") autocorrect="off" value=model.password focusOut=(action "validate" "password")}}
                    </span>
                    {{gh-error-message errors=model.errors property="password"}}
                {{/gh-form-group}}
            </form>

            {{#gh-spin-button tabindex="3" type="submit" class="btn btn-green btn-lg btn-block" action="signup" submitting=submitting autoWidth="false"}}Create Account{{/gh-spin-button}}
            <p class="main-error">{{{flowErrors}}}</p>
        </section>
    </div>

</div>
