<div class="modal-content gh-all-sources">
    <header class="modal-header" data-test-modal="all-source-attributions">
        <h1>All sources</h1>
    </header>
    <button class="close" type="button" title="Close" {{on "click" @close}}>{{svg-jar "close"}}<span class="hidden">Close</span></button>

    <div class="modal-body pa">
        <div>
            <div class="gh-dashboard-list-header">
                <div class="gh-dashboard-list-title">Sources</div>
                <div class="gh-dashboard-list-title">Free signups</div>
                    {{#if this.membersUtils.paidMembersEnabled}}
                        <div class="gh-dashboard-list-title"><span class="hide-when-small">Paid </span>Conversions</div>
                    {{/if}}
            </div>
            <div class="gh-dashboard-list-body">
                <div class="gh-dashboard-attribution-list-scrollable">
                    {{#each @data.sources as |sourceData|}}
                        <div class="gh-dashboard-list-item {{if (eq sourceData.source "Unavailable") "gh-dashboard-list-item-deemphasized"}}">
                            <div class="gh-dashboard-list-item-sub gh-dashboard-list-item-sub-source">
                                <span class="gh-dashboard-list-text">{{sourceData.source}}</span>
                            </div>
                            <div class="gh-dashboard-list-item-sub">
                                <span class="gh-dashboard-metric-minivalue">
                                    {{#if sourceData.signups}}
                                        {{format-number sourceData.signups}}
                                    {{else}}
                                        &mdash;
                                    {{/if}}
                                </span>
                            </div>
                                {{#if this.membersUtils.paidMembersEnabled}}
                                    <div class="gh-dashboard-list-item-sub">
                                        <span class="gh-dashboard-metric-minivalue">
                                            {{#if sourceData.paidConversions}}
                                                {{format-number sourceData.paidConversions}}
                                            {{else}}
                                                &mdash;
                                            {{/if}}
                                        </span>
                                    </div>
                                {{/if}}
                        </div>
                    {{else}}
                        <div class="gh-dashboard-list-empty">
                            <p>No sources.</p>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>

    </div>
    {{!-- {{#if @data.unavailableSource}}
    <div class="modal-footer">
        <p class="gh-dashboard-attribution-footnote"><sup>*</sup>{{if (eq @data.sortColumn "paid") "Paid subscriptions" "Members"}} created during this time period that do not have attribution data associated with them.</p>
    </div>
    {{/if}} --}}
</div>