<!-- breadcrumb begin -->
<div class="breadcrumb-miscoo">
  <div class="breadcrumb-img">
    <img src="{{asset "img/breadcrumb.png"}}" alt="">
    <img src="{{asset "img/breadcrumb.png"}}" alt="">
    <img src="{{asset "img/breadcrumb.png"}}" alt="">
    <img src="{{asset "img/breadcrumb.png"}}" alt="">
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-6">
        <div class="breadcrumb-content">
          <h2 class="title">{{heading}}</h2>
          <p>Mango Gaming has hundreds of free online games for all generation. Play action, racing, sports, and other fun games for free at Mango Gaming</p>
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li class="arrow">
              <i class="fas fa-angle-right"></i>
            </li>
            <li>
              {{heading}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb end -->
