<div class="single-game">
  <div class="part-img">
    <img src="{{img_url feature_image}}"
      alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}">
  </div>
  <div class="part-text">
    <h4 class="game-title"> <a href="{{url}}">{{title}}</a> </h4>
    <a href="{{url}}" class="def-btn def-small">Play Now</a>
  </div>
</div>
