<header class="modal-header">
    <h1>Are you sure you want to delete this tag?</h1>
</header>
<a class="close icon-x" href="" title="Close" {{action "closeModal"}}><span class="hidden">Close</span></a>

<div class="modal-body">
    <strong>WARNING:</strong>
    {{#if tag.post_count}}
        <span class="red">This tag is attached to {{tag.count.posts}} {{postInflection}}.</span>
    {{/if}}
    You're about to delete "<strong>{{tag.name}}</strong>". This is permanent! No backups, no restores, no magic undo button. We warned you, ok?
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="btn btn-default btn-minor">Cancel</button>
    {{#gh-spin-button action="confirm" class="btn btn-red" submitting=submitting}}Delete{{/gh-spin-button}}
</div>
