<div>
    {{#gh-tabs-manager selected="showSubview" class="settings-menu-container"}}
        <div class="{{if isViewingSubview 'settings-menu-pane-out-left' 'settings-menu-pane-in'}} settings-menu settings-menu-pane">
            <div class="settings-menu-header">
                <h4>Tag Settings</h4>
                <button class="close icon-x settings-menu-header-action" {{action "closeMenus"}}>
                    <span class="hidden">Close</span>
                </button>
            </div>
            <div class="settings-menu-content">
                {{gh-uploader uploaded="setCoverImage" canceled="clearCoverImage" description="Add tag image" image=activeTag.image initUploader="setUploaderReference" tagName="section"}}
                <form>
                    <div class="form-group">
                        <label>Name</label>
                        {{gh-input class="gh-input" type="text" value=activeTagNameScratch focus-out="saveActiveTagName"}}
                    </div>

                    <div class="form-group">
                        <label>URL</label>
                        {{gh-input class="gh-input" type="text" value=activeTagSlugScratch focus-out="saveActiveTagSlug"}}
                        {{gh-url-preview prefix="tag" slug=activeTagSlugScratch tagName="p" classNames="description"}}
                    </div>

                    <div class="form-group">
                        <label>Description</label>
                        {{gh-textarea class="gh-input" value=activeTagDescriptionScratch focus-out="saveActiveTagDescription"}}
                    </div>

                    <ul class="nav-list nav-list-block">
                        {{#gh-tab tagName="li" classNames="nav-list-item"}}
                            <button type="button">
                                <b>Meta Data</b>
                                <span>Extra content for SEO and social media.</span>
                            </button>
                            <i class="icon-arrow-right"></i>
                        {{/gh-tab}}
                    </ul>

                    {{#unless activeTag.isNew}}
                        <button type="button" class="btn btn-link btn-sm tag-delete-button" {{action "openModal" "delete-tag" activeTag}}><i class="icon-trash"></i> Delete Tag</button>
                    {{/unless}}
                </form>
            </div>
        </div>{{! .settings-menu-pane }}

        <div class="{{if isViewingSubview 'settings-menu-pane-in' 'settings-menu-pane-out-right'}} settings-menu settings-menu-pane">
            {{#gh-tab-pane}}
                <div class="settings-menu-header subview">
                    <button {{action "closeSubview"}} class="back icon-arrow-left settings-menu-header-action"><span class="hidden">Back</span></button>
                    <h4>Meta Data</h4>
                    <div style="width:23px;">{{!flexbox space-between}}</div>
                </div>

                <div class="settings-menu-content">
                    <form>
                    <div class="form-group">
                        <label for="meta-title">Meta Title</label>
                        {{gh-input class="gh-input" type="text" value=activeTagMetaTitleScratch focus-out="saveActiveTagMetaTitle"}}
                        <p>Recommended: <b>70</b> characters. You’ve used {{gh-count-down-characters activeTagMetaTitleScratch 70}}</p>
                    </div>

                    <div class="form-group">
                        <label for="meta-description">Meta Description</label>
                        {{gh-textarea class="gh-input" value=activeTagMetaDescriptionScratch focus-out="saveActiveTagMetaDescription"}}
                        <p>Recommended: <b>156</b> characters. You’ve used {{gh-count-down-characters activeTagMetaDescriptionScratch 156}}</p>
                    </div>

                    <div class="form-group">
                        <label>Search Engine Result Preview</label>
                        <div class="seo-preview">
                            <div class="seo-preview-title">{{seoTitle}}</div>
                            <div class="seo-preview-link">{{seoURL}}</div>
                            <div class="seo-preview-description">{{seoDescription}}</div>
                        </div>
                    </div>
                    </form>
                </div>{{! .settings-menu-content }}
            {{/gh-tab-pane}}
        </div>{{! .settings-menu-pane }}
    {{/gh-tabs-manager}}
</div>
