<div class="gh-post-preview-container gh-post-preview-browser-container {{unless @skipAnimation "fade-in"}}">
    <div class="gh-browserpreview-browser">
        <div class="tabs">
            <ul><li></li><li></li><li></li></ul>
            <div>
                {{#if (or @icon this.settings.icon)}}
                    <span class="favicon"><img src={{or @icon this.settings.icon}} alt="icon"></span>
                {{else}}
                    <span class="favicon default">{{svg-jar "default-favicon"}}</span>
                {{/if}}
                <span class="db truncate w-90">{{@post.previewUrl}}</span>
                <button type="button" {{on "click" (perform this.copyPreviewUrl)}} class="gh-post-preview-url">
                    <span class="green-d1">
                        {{#if this.copyPreviewUrl.isRunning}}
                            {{svg-jar "check-circle" class="check v-mid mr1 ml2"}} Copied
                        {{else}}
                            {{svg-jar "copy" class="w4 ml3 v-mid fill-darkgrey"}}
                        {{/if}}
                    </span>
                </button>
                <a href={{@post.previewUrl}} target="_blank" rel="noopener noreferrer" class="gh-publish-preview-newtab">
                    {{svg-jar "external"}}
                </a>
            </div>
        </div>
    </div>
    <div class="gh-browserpreview-iframecontainer">
        <iframe class="gh-pe-iframe" src={{@post.previewUrl}} title="Desktop browser post preview"></iframe>
    </div>
</div>