{{#> emailWrapper}}
              <tr>
                <td class="wrapper">
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr class="post-content-row">
                      <td class="{{classes.content}}">
                        {{{content}}}
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="wrapper" align="center">
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%" style="padding-top: 40px; padding-bottom: 30px;">
                    {{#if footerContent }}
                      <tr>
                        <td class="footer">{{{footerContent}}}</td>
                      </tr>
                    {{/if}}
                    <tr>
                      <td class="footer">
                        {{siteTitle}} &copy; {{year}} &mdash; <a href="{{managePreferencesUrl}}">{{t "Manage your preferences"}}</a>
                      </td>
                    </tr>
                    {{#if showBadge }}
                      <tr>
                        <td class="footer-powered"><a href="https://ghost.org/?via=pbg-newsletter"><img src="https://static.ghost.org/v4.0.0/images/powered.png" border="0" width="142" height="30" class="gh-powered" alt="Powered by Ghost"></a></td>
                      </tr>
                    {{/if}}
                  </table>
                </td>
              </tr>
{{/emailWrapper}}
