{{!-- Everything inside the #author tags pulls data from the author --}}
{{#primary_author}}

<section class="author-card">
    {{#if profile_image}}
        <img class="author-profile-image" src="{{profile_image}}" alt="{{name}}" />
    {{else}}
        <span class="avatar-wrapper">{{> "icons/avatar"}}</span>
    {{/if}}
    <section class="author-card-content">
        <h4 class="author-card-name"><a href="{{url}}">{{name}}</a></h4>
        {{#if bio}}
            <p>{{bio}}</p>
        {{else}}
            <p>Read <a href="{{url}}">more posts</a> by this author.</p>
        {{/if}}
    </section>
</section>
<div class="post-full-footer-right">
    <a class="author-card-button" href="{{url}}">Read More</a>
</div>

{{/primary_author}}
