<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (gte IE 9)| IEMobile |!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>{{siteTitle}}</title>
        <meta name="description" content="{{siteDescription}}">
        <meta name="author" content="">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes" />

        <link rel="shortcut icon" href="/favicon.ico">
        <meta http-equiv="cleartype" content="on">

        <link rel="stylesheet" type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700'>
        <link rel="stylesheet" href="{{assetPath "/public/assets/css/screen"}}">

        {{{block "pageStyles"}}}
    </head>
    <body class="{{bodyClass}}">
        {{#unless hideNavbar}}
            {{> navbar}}
        {{/unless}}

        <main role="main" id="main">
            <aside id="flashbar">
                {{> notifications}}
            </aside>

            {{{body}}}
        </main>

        <aside id="modal-container">
        </aside>
        
        <!-- Shared Vendor Files -->
        <script src="{{assetPath '/shared/vendor/vendor'}}"></script>
        <!-- Client Vendor Files -->
        <script src="{{assetPath '/public/assets/vendor/vendor'}}"></script>

        <!-- 
        TODO: This file is weird because it has to come after the showdown library reference, but I can't figure out 
        how to reference it in the /shared/vendor/vendor file 
        -->
        <script src="{{assetPath '/shared/vendor/showdown/extensions/github'}}"></script>

        <!-- Main Ghost Files -->
        <script src="{{assetPath '/public/main'}}"></script>
        
        {{{block "bodyScripts"}}}
        <script>
            Ghost.init();
        </script>
    </body>
</html>
