{{!< default}}
<section class="error-content error-404 js-error-container">
    <section class="error-details">
        <figure class="error-image">
            <img class="error-ghost" src="{{asset "img/404-ghost@2x.png" ghost="true"}}" srcset="{{asset "img/404-ghost.png" ghost="true"}} 1x, {{asset "img/404-ghost@2x.png" ghost="true"}} 2x"/>
        </figure>
        <section class="error-message">
            <h1 class="error-code">{{code}}</h1>
            <h2 class="error-description">{{message}}</h2>
            <a class="error-link" href="{{@blog.url}}">Go to the front page →</a>
        </section>
    </section>
</section>
{{#if stack}}
    <section class="error-stack">
        <h3>Stack Trace</h3>
        <p><strong>{{message}}</strong></p>
        <ul class="error-stack-list">
            {{#foreach stack}}
                <li>
                    at
                    {{#if function}}<em class="error-stack-function">{{function}}</em>{{/if}}
                    <span class="error-stack-file">({{at}})</span>
                </li>
            {{/foreach}}
        </ul>
    </section>
{{/if}}
