<div class="modal-content gh-tk-reminder" data-test-modal="tk-reminder">
    <header class="modal-header">
        <h1>Forget something?</h1>
    </header>
    <button type="button" class="close" title="Close" {{on "click" @close}}>{{svg-jar "close"}}<span class="hidden">Close</span></button>

    <div class="modal-body">
        <p>
            Looks like you've got some unfinished business.
            There {{if (eq @data.tkCount 1) "is" "are" }} <strong>{{gh-pluralize @data.tkCount "TK reminder"}}</strong> left in your post.
        </p>
    </div>

    <div class="modal-footer">
        <button type="button" class="gh-btn" {{on "click" (fn @close true)}}><span>Continue to publish</span></button>
        <button type="button" class="gh-btn gh-btn-black" {{on "click" @close}}><span>Back to editor</span></button>
    </div>
</div>