{{!< default}}

{{> "breadcrumb" heading="Browse videos"}}

<!-- blog begin -->
<div class="news blog-page" id="blog">
  <div class="container">
    <div class="row justify-content-sm-center justify-content-md-start">
      {{#foreach posts}}
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
          <div class="single-news">
            <div class="part-img {{#if is_video}}part-video{{/if}}">
              <img src="{{img_url feature_image}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}">
              <a href="{{url}}" data-video-id="5hhlW_SYJBA" class="play-button">
                <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="play" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-play fa-w-14 fa-fw fa-2x">
                  <path fill="currentColor" d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6zm-16.2 55.1l-352 208C45.6 483.9 32 476.6 32 464V47.9c0-16.3 16.4-18.4 24.1-13.8l352 208.1c10.5 6.2 10.5 21.4.1 27.6z" class=""></path>
                </svg>
              </a>
              <div class="mask"></div>
            </div>
            <div class="part-text">
              <h3 class="title">{{title}}</h3>
              <p>
                {{excerpt}}
              </p>
              <a href="{{url}}" class="def-btn def-small"> Read More </a>
            </div>
          </div>
        </div>
      {{/foreach}}
    </div>
    {{> "pagination"}}
  </div>
</div>
<!-- blog end -->
