<div class="modal-content" {{on-key "Enter" (perform this.deletePostTask)}}>
    <header class="modal-header">
        <h1>Are you sure you want to delete this {{@data.post.displayName}}?</h1>
    </header>
    <button type="button" class="close" title="Close" {{on "click" @close}}>{{svg-jar "close"}}<span class="hidden">Close</span></button>

    <div class="modal-body">
        <p>
            You’re about to delete "<strong>{{@data.post.title}}</strong>".
            This is permanent! We warned you, k?
        </p>
    </div>

    <div class="modal-footer">
        <button type="button" class="gh-btn" {{on "click" @close}}><span>Cancel</span></button>
        <GhTaskButton
            @buttonText="Delete"
            @successText="Deleted"
            @task={{this.deletePostTask}}
            @class="gh-btn gh-btn-red gh-btn-icon"
            data-test-button="delete-post-confirm"
        />
    </div>
</div>