<div class="modal-content gh-get-started" data-test-modal="get-started">
    <button type="button" class="close" role="button" title="Close" {{on "click" @close}}>{{svg-jar "close"}}<span class="hidden">Close</span></button>

    <section class="gh-get-started-welcome">
        <header>
            <h1>All set up!</h1>
            <p>Your site is now ready to start publishing content.</p>
            <p><LinkTo @route="dashboard" class="gh-btn gh-btn-green" {{on "click" @close}}><span>Start writing</span></LinkTo></p>
        </header>
        <footer>
            <ul>
                <li>
                    <LinkTo @route="settings.membership" {{on "click" @close}}>Connect Stripe →</LinkTo>
                    <p>Build a sustainable business.</p>
                </li>
                <li>
                    <a href="https://ghost.org/docs/migration/" target="_blank" rel="noopener noreferrer" {{on "click" @close}}>Import members →</a>
                    <p>Migrate your people to us.</p>
                </li>
            </ul>
        </footer>
    </section>
</div>