<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {{#if member}}Successfully Unsubscribed{{/if}}
        {{#if error}}Unsubscribe Failed{{/if}}
    </title>
    <link rel="stylesheet" href="{{asset "public/ghost.css" hasMinFile="true"}}" />
</head>
<body>
    <div class="gh-app">
        <div class="gh-viewport">
            <main class="gh-main" role="main">
                <div class="gh-flow">
                    <header class="gh-flow-head gh-flow-head-unsubscribe">
                        <nav class="gh-flow-nav">
                            <a href="{{@site.url}}" class="gh-flow-back-plain">
                                <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
                                <svg width="17px" height="27px" viewBox="0 0 17 27" version="1.1"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <g id="Stroke-42" transform="translate(2.000000, 2.000000)" stroke-width="3"
                                            stroke="#7d878a">
                                            <polyline points="13.5401 0.4256 0.3971 11.9256 13.5401 23.4256"></polyline>
                                        </g>
                                    </g>
                                </svg>
                                Back to {{@site.title}}
                            </a>
                        </nav>
                    </header>
    
                    <div class="gh-flow-content-wrap">
                        <section class="gh-flow-content gh-flow-content-unsubscribe">
                            <p>
                                {{#if error}}
                                    {{error}}
                                {{else}}
                                    {{#if member}}<span class="gh-flow-em">{{member.email}}</span> has been successfully unsubscribed{{/if}}
                                {{/if}}
                            </p>
                        </section>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>
</html>