{{#if @selected}}
    <div class="gh-btn" {{on "click" (fn @onChange null)}}>
        <span class="gh-btn-label-green">
            {{or @selected.name @selected.email}}
            &times;
        </span>
    </div>
{{else}}
    <PowerSelect
        @searchEnabled={{false}}
        @search={{perform this.searchMembersTask}}
        @selected={{@selected}}
        @onChange={{@onChange}}
        @triggerComponent="gh-input-with-select/trigger"
        @placeholder="Search members"
        @extra={{hash showSearchMessage=false}}
        as |member|
    >
        <strong>{{member.name}}</strong><br>
        {{member.email}}
    </PowerSelect>
{{/if}}