{{#let (parse-member-event @event) as |event|}}
    <tr>
        <div class="gh-list-data">
            <LinkTo @route="member" @model={{event.memberId}}>
                <strong>{{event.member.name}}</strong>
                <br>
                {{event.member.email}}
            </LinkTo>
        </div>
        <div class="gh-list-data">
            {{event.action}}
            {{event.object}}

            {{#if event.email}}
                "<GhEmailPreviewLink @data={{event.email}} />"
            {{/if}}

            <span class="highlight">{{event.info}}</span>
        </div>
        <div class="gh-list-data">{{moment-format event.timestamp "D MMM YYYY HH:MM"}}</div>
    </tr>
{{/let}}