{{#let (parse-member-event @event) as |event|}}
    <tr>
        {{#unless @hideMemberColumn}}
            <div class="gh-list-data">
                <LinkTo @route="member" @model={{event.memberId}}>
                    <strong>{{event.member.name}}</strong>
                    <br>
                    {{event.member.email}}
                </LinkTo>
            </div>
        {{/unless}}
        <div class="gh-list-data">
            <div class="gh-list-data-event">
                <span class="gh-members-activity-icon">{{svg-jar event.icon}}</span>
                <span class="gh-members-activity-description">
                    {{event.action}}
                    {{event.object}}
                </span>
                {{#if event.email}}
                    "<GhEmailPreviewLink @data={{event.email}} />"
                {{/if}}
                <span class="highlight">{{event.info}}</span>
            </div>
        </div>
        <div class="gh-list-data">{{moment-format event.timestamp "D MMM YYYY HH:MM"}}</div>
    </tr>
{{/let}}