<div class="content-cover" {{action "closeSettingsMenu"}}></div>
<div class="settings-menu-container">
    <div class="settings-menu settings-menu-pane settings-menu-pane-in">
        <div class="settings-menu-header">
            <h4>Tag Settings</h4>
            <button class="close icon-x settings-menu-header-action" {{action "closeSettingsMenu"}}>
                <span class="hidden">Close</span>
            </button>
        </div>
        <div class="settings-menu-content">
            <form>
                <div class="form-group">
                    <label>Tag Name</label>
                    {{gh-input type="text" value=activeTagName focus-out="saveActiveTag"}}
                </div>

                <div class="form-group">
                    <label>Slug</label>{{!--@TODO show full url preview, not just slug--}}
                    {{gh-input type="text" value=activeTagSlug focus-out="saveActiveTag"}}
                </div>

                <div class="form-group">
                    <label>Description</label>
                    {{gh-textarea value=activeTagDescription focus-out="saveActiveTag"}}
                </div>

                {{#unless activeTag.isNew}}
                <button class="btn btn-red icon-trash" {{action "deleteTag" activeTag}}>Delete Tag</button>
                {{/unless}}
            </form>
        </div>
    </div>
</div>
