<div class="modal-content">
    <header class="modal-header" data-test-modal="delete-members">
        <h1>Delete selected members?</h1>
    </header>
    <button class="close" type="button" title="Close" {{on "click" @close}}>{{svg-jar "close"}}<span class="hidden">Close</span></button>

    {{#if this.hasRun}}
        <div class="gh-content-box pa" data-test-state="delete-complete">
            {{#if this.error}}
                <div class="flex items-center">
                    {{svg-jar "warning" class="w4 h4 fill-red mr2 nudge-top--3"}}
                    <div>
                        <p class="ma0 pa0">
                            <span class="fw5" data-test-text="delete-error">{{this.error}}</span>
                        </p>
                    </div>
                </div>
            {{else}}
                <div class="flex items-center">
                    {{svg-jar "check-circle" class="w4 h4 stroke-green mr2"}}
                    <p class="ma0 pa0">
                        <span class="fw6" data-test-text="deleted-count">{{gh-pluralize this.response.stats.successful "member"}}</span>
                        successfully deleted
                    </p>
                </div>
                {{#if this.response.stats.unsuccessful}}
                    <div class="flex items-start mt2" data-test-bulk-delete-errors>
                        {{svg-jar "warning" class="w4 h4 fill-red mr2 nudge-top--3"}}
                        <div>
                            <p class="ma0 pa0">
                                <span class="fw5" data-test-text="invalid-count">{{gh-pluralize this.response.stats.unsuccessful "member"}}</span>
                                failed to delete
                            </p>
                        </div>
                    </div>
                {{/if}}
            {{/if}}
        </div>
    {{else}}
        <div class="modal-body" data-test-state="delete-unconfirmed">
            {{#if @data.query}}
                {{#let (members-count-fetcher query=@data.query) as |countFetcher|}}
                    {{#if countFetcher.isLoading}}
                        <GhLoadingSpinner />
                    {{else}}
                        <p>
                            You're about to delete
                            <strong data-test-text="delete-count">{{gh-pluralize countFetcher.count "member"}}</strong>.
                            This is permanent! All Ghost data will be deleted, this will have no effect on subscriptions in Stripe.
                        </p>
                        <p>
                            A backup of your selection will be automatically downloaded to your device before deletion.
                        </p>
                    {{/if}}
                {{/let}}
            {{else}}
                <p>No members are selected.</p>
            {{/if}}
        </div>
    {{/if}}

    <div class="modal-footer">
        {{#if this.hasRun}}
            <button class="gh-btn gh-btn-black" data-test-button="close-modal" type="button" {{on "click" @close}}>
                <span>Close</span>
            </button>
        {{else}}
            <button class="gh-btn" data-test-button="cancel" type="button" {{on "click" @close}}>
                <span>Cancel</span>
            </button>

            <GhTaskButton
                @buttonText="Download backup & delete members"
                @successText="Deleted"
                @task={{this.bulkDeleteTask}}
                @class="gh-btn gh-btn-red gh-btn-icon"
                data-test-button="confirm"
            />
        {{/if}}
    </div>
</div>