<div class="modal-content" data-test-modal="logout-member">
    <header class="modal-header">
        <h1>Sign out this member from all devices?</h1>
    </header>
    <button type="button" class="close" title="Close" {{on "click" (fn @close false)}}>{{svg-jar "close"}}<span class="hidden">Close</span></button>

    <div class="modal-body">
        <p class="mb6">
            This will sign <strong>{{@data.member.email}}</strong> out of all currently active sessions on all devices. This is useful if the member is signed in on a device they currently can’t access.
        </p>
    </div>

    <div class="modal-footer">
        <button
            type="button"
            class="gh-btn"
            {{on "click" (fn @close false)}}
            data-test-button="cancel"
        >
            <span>Cancel</span>
        </button>
        <GhTaskButton
            @buttonText="Sign out"
            @successText="Signed out"
            @task={{this.logoutMemberTask}}
            @class="gh-btn gh-btn-red gh-btn-icon"
            data-test-button="confirm"
        />
    </div>
</div>
