<h3>New Connection </h3>

Name {{input value=name}}
Logo {{input value=logo}}
Redirection URL {{input value=redirection_uri}}
Description {{textarea value=description}}

<button class="btn btn-blue" {{action "saveClient"}}>Save</button>
