<ul class="gh-posts-context-menu dropdown-menu dropdown-triangle-top-left">
    <li>
        <button class="mr2" type="button" disabled {{on "click" @menu.close}}>
            <span>Unpublish</span>
        </button>
    </li>
    {{#if this.canFeatureSelection}}
        {{#if this.shouldFeatureSelection }}
            <li>
                <button class="mr2" type="button" {{on "click" this.featurePosts}}>
                    <span>Feature</span>
                </button>
            </li>
        {{else}}
                <li>
                <button class="mr2" type="button" {{on "click" this.unfeaturePosts}}>
                    <span>Unfeature</span>
                </button>
            </li>
        {{/if}}
    {{/if}}
    <li>
        <button class="mr2" type="button" disabled {{on "click" @menu.close}}>
            <span>Add tag...</span>
        </button>
    </li>
    <li>
        <button class="mr2" type="button" {{on "click" this.editPostsAccess}}>
            <span>Post access...</span>
        </button>
    </li>
    {{#if this.session.user.isAdmin}}
        <li>
            <button class="mr2" type="button" {{on "click" this.deletePosts}}>
                <span>Delete</span>
            </button>
        </li>
    {{/if}}
</ul>
