<ul class="gh-posts-context-menu dropdown-menu dropdown-triangle-top-left">
    {{#if this.selectionList.isSingle}}
        <li>
            <button class="mr2" type="button" disabled {{on "click" @menu.close}}>
                <span>Duplicate</span>
            </button>
        </li>
    {{/if}}
    <li>
        <button class="mr2" type="button" disabled {{on "click" @menu.close}}>
            <span>Unpublish</span>
        </button>
    </li>
    {{#if this.shouldFeatureSelection }}
        <li>
            <button class="mr2" type="button" {{on "click" this.featurePosts}}>
                <span>Feature</span>
            </button>
        </li>
    {{else}}
            <li>
            <button class="mr2" type="button" {{on "click" this.unfeaturePosts}}>
                <span>Unfeature</span>
            </button>
        </li>
    {{/if}}
    <li>
        <button class="mr2" type="button" disabled {{on "click" @menu.close}}>
            <span>Add tag...</span>
        </button>
    </li>
    <li>
        <button class="mr2" type="button" disabled {{on "click" @menu.close}}>
            <span>Post access...</span>
        </button>
    </li>
    <li>
        <button class="mr2" type="button" {{on "click" this.deletePosts}}>
            <span>Delete</span>
        </button>
    </li>
</ul>
