<span class="gh-publishmenu-select">
    <PowerSelect
        @options={{this.availablePublishActions}}
        @renderInPlace={{true}}
        @selected={{this.distributionValue}}
        @onChange={{this.setPublishAction}}
        @searchEnabled={{false}}
        @id="publish-action"
        @name="publish-action"
        @triggerComponent="gh-power-select/trigger"
        @triggerClass="ember-power-select-inline"
        @dropdownClass="gh-publishmenu-select-dropdown"
        as |availablePublishAction|
    >
        {{availablePublishAction.name}}
    </PowerSelect>
</span>