<LiquidWormhole @class="fullscreen-modal-container">
    <div class="fullscreen-modal-background" {{action "clickOverlay"}}></div>
    <div class={{this.modalClasses}}>
        {{#if hasBlock}}
          {{yield}}
        {{else}}
            {{#let (component this.modalPath) as |ModalComponent|}}
                <ModalComponent
                    @model={{this.model}}
                    @config={{action "confirm"}}
                    @closeModal={{action "close"}}
                />
            {{/let}}
        {{/if}}
    </div>
</LiquidWormhole>
