{{#if this.file}}
    {{!-- Upload in progress! --}}
    {{#if this.failureMessage}}
        <div class="failed">
            {{this.failureMessage}}
            <GhFileInput @multiple={{false}} @alt={{this.labelText}} @action={{action "retry"}} @accept={{this.accept}} class="try-again">
                <span class="red fw5 nl1" data-test-upload-try-again-button>Try again</span>
            </GhFileInput>
        </div>
    {{else}}
        <div class="progress">
            <div class="bar" style={{this.progressStyle}}></div>
        </div>
    {{/if}}

{{else}}
    <div class="upload-form">
        <GhFileInput @multiple={{false}} @alt={{this.labelText}} @action={{action "fileSelected"}} @accept={{this.accept}}>
            <div class="description">{{this.labelText}}</div>
        </GhFileInput>
    </div>
{{/if}}
