{{#if this.isVisible}}
    <div
        {{did-insert this.didInsertLoader this}}
        class="{{this.loaderClassNames}}{{if this.viewportEntered " in-viewport"}}{{if this.isDoneLoading " reached-infinity"}}"
        data-test-infinity-loader>

        {{#if (has-block)}}
            {{yield this.infinityModelContent}}
        {{else}}
            {{#if this.isDoneLoading}}
            {{else}}
                <div class="gh-loading-spinner"></div>
            {{/if}}
        {{/if}}
    </div>
{{/if}}