<div class="gh-koenig-editor relative w-100 vh-100 overflow-x-hidden overflow-y-auto z-0" {{did-insert this.registerElement}} ...attributes>
    {{!-- full height content pane --}}
    <div
        class="gh-koenig-editor-pane flex flex-column mih-100"
        {{on "mousedown" this.trackMousedown}}
        {{on "mouseup" this.focusEditor}}
    >
        <GhTextarea
            @class="gh-editor-title"
            @placeholder={{@titlePlaceholder}}
            @tabindex="1"
            @autoExpand=".gh-koenig-editor"
            @value={{readonly this.title}}
            @input={{this.updateTitle}}
            @focus-out={{optional @onTitleBlur}}
            @keyDown={{this.onTitleKeydown}}
            @didCreateTextarea={{this.registerTitleElement}}
            data-test-editor-title-input={{true}}
        />

        <KoenigEditor
            @mobiledoc={{@body}}
            @placeholder={{@bodyPlaceholder}}
            @autofocus={{or @bodyAutofocus false}}
            @spellcheck={{true}}
            @onChange={{@onBodyChange}}
            @didCreateEditor={{this.onEditorCreated}}
            @cursorDidExitAtTop={{this.focusTitle}}
            @headerOffset={{@headerOffset}}
            @dropTargetSelector=".gh-koenig-editor-pane"
            @scrollContainerSelector={{@scrollContainerSelector}}
            @scrollOffsetTopSelector={{@scrollOffsetTopSelector}}
            @scrollOffsetBottomSelector={{@scrollOffsetBottomSelector}}
            @wordCountDidChange={{@onWordCountChange}}
            @snippets={{@snippets}}
            @saveSnippet={{@saveSnippet}}
            @deleteSnippet={{@deleteSnippet}}
        />
    </div>
</div>