{{#if this.activities}}<h4 class="gh-main-section-header small bn">Member activity</h4>{{/if}}
<div class="gh-main-section-content bordered {{if this.activities "" "mt8"}}">
    <div class="gh-member-feed" ...attributes>
        <div class="flex-auto flex flex-column items-stretch {{if this.activities "justify-between" "h-100 justify-center"}}">
            <div>
                {{#if this.activities}}
                    {{#each this.firstActivities as |activity|}}
                        <GhMemberActivityFeedItem @activity={{activity}} />
                    {{/each}}

                    {{#liquid-if this.isShowingAll class="show-overflow"}}
                        {{#each this.remainingActivities as |activity|}}
                            <GhMemberActivityFeedItem @activity={{activity}} />
                        {{/each}}
                    {{/liquid-if}}

                    {{#if (and this.remainingActivities (not this.isShowingAll))}}
                        <button
                            type="button"
                            class="gh-btn gh-member-btn-expandfeed"
                            data-test-button="view-all-activity"
                            {{on "click" this.showAll}}
                        >
                            <span>View all activity</span>
                        </button>
                    {{/if}}
                {{else}}
                    <div class="gh-members-no-data gh-members-no-list">
                        <div class="lightgrey">{{svg-jar "no-data-list"}}</div>
                        <h4>Member activity</h4>
                        <p>
                            All events related to this member will be shown here. 
                        </p>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>

{{#if this.emailPreview}}
    <GhFullscreenModal @modal="post-email-preview"
        @model={{this.emailPreview}}
        @close={{this.closeEmailPreview}}
        @modifier="full-overlay email-preview" />
{{/if}}