<label>Tiers</label>
<div class="gh-product-cards">
{{#each this.products as |product productIdx|}}
    <GhProductCard
        @product={{product}}
        @openEditProduct={{this.openEditProduct}}
    />
{{/each}}

<div class="gh-product-cards-footer">
    <button class="gh-btn gh-btn-link gh-btn-text gh-btn-icon gh-btn-add-product green" {{action "openNewProduct" product}}><span>{{svg-jar "add-stroke" class="stroke-green"}}Add tier</span></button>
</div>
</div>

{{#if this.showProductModal}}
    <GhFullscreenModal
        @modal="product"
        @model={{hash
            product=this.productModel
        }}
        @confirm={{this.confirmProductSave}}
        @close={{this.closeProductModal}}
        @modifier="edit-product action wide" />
{{/if}}
