<div class="gh-member-feed" ...attributes>
    <div class="flex-auto flex flex-column items-stretch {{if this.activities "justify-between" "h-100 justify-center"}}">
        <div>
            {{#if this.activities}}
                {{#each this.firstActivities as |activity|}}
                    <GhMemberActivityFeedItem @activity={{activity}} />
                {{/each}}

                {{#liquid-if this.isShowingAll class="show-overflow"}}
                    {{#each this.remainingActivities as |activity|}}
                        <GhMemberActivityFeedItem @activity={{activity}} />
                    {{/each}}
                {{/liquid-if}}

                {{#if (and this.remainingActivities (not this.isShowingAll))}}
                    <button
                        type="button"
                        class="mt4 mb1 ml5 gh-btn gh-btn-icon gh-member-btn-expandfeed"
                        data-test-button="view-all-activity"
                        {{on "click" this.showAll}}
                    >
                        <span>View all activity</span>
                    </button>
                {{/if}}
            {{else}}
                <div class="gh-no-data-list">
                    {{svg-jar "no-data-list"}}
                    <span>No member activity.</span>
                </div>
            {{/if}}
        </div>
    </div>
</div>

{{#if this.emailPreview}}
    <GhFullscreenModal @modal="post-email-preview"
        @model={{this.emailPreview}}
        @close={{this.closeEmailPreview}}
        @modifier="full-overlay email-preview" />
{{/if}}