{{#each this.products as |product|}}
    <div class="gh-product-card">
        <button class="gh-product-card-editbutton gh-btn gh-btn-text gh-btn-link green" {{action "openEditProduct" product}}>
            <span>Edit</span>
        </button>
        <div class="gh-product-card-block">
            <h3 class="gh-product-card-name">
                {{product.name}}
            </h3>
            <p class="gh-product-card-description">
                {{product.description}}
            </p>
        </div>
        <div class="gh-product-card-block">
            <span class="gh-product-card-heading">Pricing</span>
            <p class="gh-product-card-price">
                <span class="amount">{{gh-price-amount product.monthlyPrice.amount}} </span><span class="currency">{{product.monthlyPrice.currency}}</span><span class="period">/month</span>
            </p>
            <p class="gh-product-card-price">
                <span class="amount">{{gh-price-amount product.yearlyPrice.amount}} </span><span class="currency">{{product.monthlyPrice.currency}}</span><span class="period">/year</span>
            </p>
        </div>
    </div>
{{/each}}
<div class="gh-product-card" {{action "openNewProduct" product}} style="cursor: pointer">
    <div style="display: flex;flex-direction:column;align-items: flex-start;flex-grow: 1">
        <h3 class="gh-product-card-name">
            + New tier
        </h3>
    </div>
</div>

{{#if this.showProductModal}}
    <GhFullscreenModal
        @modal="product"
        @model={{hash
            product=this.productModel
        }}
        @confirm={{this.confirmProductSave}}
        @close={{this.closeProductModal}}
        @modifier="action wide" />
{{/if}}
