<div class="gh-dashboard-chart-box {{if this.isSmall "small"}}" {{did-insert (perform this.fetchStatsTask)}}>    
    {{#if (not this.stats)}}
        <GhLoadingSpinner />
    {{else}}
        <EmberChart
            @type={{this.type}}
            @options={{this.chartOptions}}
            @data={{this.chartData}}
            @height={{300}} />
    {{/if}}
</div>