{{yield (hash
    editor=(component "gh-simplemde"
        value=this.markdown
        placeholder=this.placeholder
        autofocus=this.autofocus
        onChange=(action "updateMarkdown")
        onFocus=(action "updateFocusState" true)
        onBlur=(action "updateFocusState" false)
        onEditorInit=(action "setEditor")
        options=this.simpleMDEOptions)
    isFullScreen=this._isFullScreen
    isSplitScreen=this._isSplitScreen
    focus=(action "focusEditor")
)}}

<div style="display:none">
    <GhFileInput
        @multiple={{true}}
        @action={{action this.onImageFilesSelected}}
        @accept={{this.imageMimeTypes}} />
</div>

{{#if this._showUnsplash}}
    <GhUnsplash
        @select={{action "insertUnsplashPhoto"}}
        @close={{action "toggleUnsplash"}} />
{{/if}}

{{#if this.showMarkdownHelp}}
    <GhFullscreenModal @modal="markdown-help"
        @close={{action "toggleMarkdownHelp"}}
        @modifier="wide" />
{{/if}}
