<span class="gh-select gh-import-member-select {{if @disabled "disabled"}} {{unless this.mapTo "unmapped"}}">
    <OneWaySelect @value={{this.mapTo}}
        @options={{this.availableFields}}
        @optionValuePath="value"
        @optionLabelPath="label"
        @optionTargetPath="value"
        @includeBlank={{true}}
        @promptIsSelectable={{true}}
        @prompt="Not imported"
        @update={{action "updateMapping"}}
        @disabled={{@disabled}}
    />
    {{svg-jar "arrow-down-small"}}
</span>