<div class="gh-member-feed" ...attributes>

    <div class="flex justify-between mt8">
        <h4 class="midlightgrey f-small fw5 ttu">Member activity</h4>
    </div>

    <div class="flex-auto bg-grouped-table gh-content-box mt2 flex flex-column justify-between items-stretch">
        <div class="pt5 pb5">
            {{#if this.activities}}
                {{#each this.firstActivities as |activity|}}
                    <GhMemberActivityFeedItem @activity={{activity}} />
                {{/each}}

                {{#liquid-if this.isShowingAll class="show-overflow"}}
                    {{#each this.remainingActivities as |activity|}}
                        <GhMemberActivityFeedItem @activity={{activity}} />
                    {{/each}}
                {{/liquid-if}}

                {{#if (and this.remainingActivities (not this.isShowingAll))}}
                    <button
                        type="button"
                        class="mt4 mb1 ml5 gh-btn gh-btn-icon gh-member-btn-expandfeed"
                        data-test-button="view-all-activity"
                        {{on "click" this.showAll}}
                    >
                        <span>View all activity</span>
                    </button>
                {{/if}}
            {{else}}
                <p class="ma0 pa8 tc midgrey">No member activity yet</p>
            {{/if}}
        </div>
    </div>

</div>

{{#if this.emailPreview}}
    <GhFullscreenModal @modal="post-email-preview"
        @model={{this.emailPreview}}
        @close={{this.closeEmailPreview}}
        @modifier="full-overlay email-preview" />
{{/if}}