{{#if (eq @filter.type 'label')}}
    <GhMemberLabelInputLabs
        @onChange={{fn this.setLabelsFilterValue @filter.type @filter.id}}
        @onLabelEdit={{@onLabelEdit}}
        @triggerId="label-input"
        data-test-input=""
    />

{{else if (eq @filter.type 'status')}}
    <span class="gh-select">
        <OneWaySelect
            @value={{filter.value}}
            @options={{this.availableFilterOptions.status}}
            @optionValuePath="name"
            @optionLabelPath="label"
            @optionTargetPath="name"
            @update={{fn this.setFilterValue @filter.type @filter.id}}
        />
        {{svg-jar "arrow-down-small"}}
    </span>

{{else if (eq @filter.type 'email_count')}}
    <GhTextInput
        @value={{@filter.value}}
        @type="number"
        @focus-out={{fn this.updateInputFilterValue @filter.type @filter.id}}
        @input={{fn this.setInputFilterValue @filter.type @filter.id}}
        @keyPress={{fn this.updateInputFilterValueOnEnter @filter.type @filter.id}}
        @stopEnterKeyDownPropagation={{true}}
    />

{{else if (eq @filter.type 'email_opened_count')}}
    <GhTextInput
        @value={{@filter.value}}
        @type="number"
        @focus-out={{fn this.updateInputFilterValue @filter.type @filter.id}}
        @keyPress={{fn this.updateInputFilterValueOnEnter @filter.type @filter.id}}
        @input={{fn this.setInputFilterValue @filter.type @filter.id}}
    />

{{else if (eq @filter.type 'email_open_rate')}}
    <GhTextInput
        @value={{@filter.value}}
        @type="number"
        @focus-out={{fn this.updateInputFilterValue @filter.type @filter.id}}
        @keyPress={{fn this.updateInputFilterValueOnEnter @filter.type @filter.id}}
        @input={{fn this.setInputFilterValue @filter.type @filter.id}}
    />

{{else if (eq @filter.type 'subscriptions.plan_interval')}}
    <span class="gh-select">
        <OneWaySelect
            @value={{filter.value}}
            @options={{this.availableFilterOptions.subscriptionPriceInterval}}
            @optionValuePath="name"
            @optionLabelPath="label"
            @optionTargetPath="name"
            @update={{fn this.setFilterValue @filter.type @filter.id}}
        />
        {{svg-jar "arrow-down-small"}}
    </span>

{{else if (eq @filter.type 'subscriptions.status')}}
    <span class="gh-select">
        <OneWaySelect
            @value={{filter.value}}
            @options={{this.availableFilterOptions.subscriptionStripeStatus}}
            @optionValuePath="name"
            @optionLabelPath="label"
            @optionTargetPath="name"
            @update={{fn this.setFilterValue @filter.type @filter.id}}
        />
        {{svg-jar "arrow-down-small"}}
    </span>
{{else if (eq @filter.type 'subscribed')}}
    <span class="gh-select">
        <OneWaySelect
            @value={{filter.value}}
            @options={{this.availableFilterOptions.subscribed}}
            @optionValuePath="name"
            @optionLabelPath="label"
            @optionTargetPath="name"
            @update={{fn this.setFilterValue @filter.type @filter.id}}
        />
        {{svg-jar "arrow-down-small"}}
    </span>
{{else}}
    <GhTextInput
        @name={{@filter.id}}
        @value={{this.filterValue}}
        @focus-out={{fn this.updateInputFilterValue @filter.type @filter.id}}
        @keyPress={{fn this.updateInputFilterValueOnEnter @filter.type @filter.id}}
        @input={{fn this.setInputFilterValue @filter.type @filter.id}}
    />
{{/if}}
