<li class="gh-list-row gh-members-list-item" ...attributes>
    <LinkTo @route="member" @model={{@member}} title="Member details" class="gh-list-data gh-members-list-basic">
        <div class="flex items-center">
            <GhMemberAvatar @member={{@member}} @containerClass="w9 h9 mr3" />
            <div>
                <h3 class="ma0 pa0 gh-members-list-name {{if (not @member.name) "gh-members-name-noname"}}">{{or @member.name @member.email}}</h3>
                {{#if @member.name}}
                    <p class="ma0 pa0 middarkgrey f8 gh-members-list-email">{{@member.email}}</p>
                {{/if}}
            </div>
        </div>
    </LinkTo>

    <LinkTo @route="member" @model={{@member}} title="Member details" class="gh-list-data gh-members-list-geolocation gh-list-cellwidth-20 nowrap middarkgrey f8 {{if (not @member.name) "gh-members-geolocation-noname"}}">
        {{#if @member.geolocation}}
            {{#if (eq @member.geolocation.country_code "US")}}
                {{@member.geolocation.region}}, US
            {{else}}
                {{@member.geolocation.country}}
            {{/if}}
        {{else}}
            <span class="midlightgrey">Unknown</span>
        {{/if}}
    </LinkTo>

    <LinkTo @route="member" @model={{@member}} title="Member details" class="gh-list-data gh-members-list-subscribed-at gh-list-cellwidth-20 nowrap middarkgrey f8 {{if (not @member.name) "gh-members-subscribed-noname"}}">
        {{moment-format @member.createdAtUTC "MMM DD, YYYY"}} <span class="midlightgrey">({{this.memberSince}})</span>
    </LinkTo>

    <LinkTo @route="member" @model={{@member}} title="Member details" class="gh-list-data gh-list-cellwidth-chevron gh-members-list-chevron">
        <div class="flex items-center justify-end w-100 h-100">
            <span class="nr2">{{svg-jar "arrow-right" class="w6 h6 fill-midgrey pa1"}}</span>
        </div>
    </LinkTo>
</li>