<div class="gh-member-feed gh-main-section-content pr" ...attributes>
    <h4 class="gh-main-section-heading no-border">Member activity</h4>
    
    <div class="gh-content-box flex-auto flex flex-column justify-between items-stretch">
        <div>
            {{#if this.activities}}
                {{#each this.firstActivities as |activity|}}
                    <GhMemberActivityFeedItem @activity={{activity}} />
                {{/each}}

                {{#liquid-if this.isShowingAll class="show-overflow"}}
                    {{#each this.remainingActivities as |activity|}}
                        <GhMemberActivityFeedItem @activity={{activity}} />
                    {{/each}}
                {{/liquid-if}}

                {{#if (and this.remainingActivities (not this.isShowingAll))}}
                    <button
                        type="button"
                        class="mt4 mb1 ml5 gh-btn gh-btn-icon gh-member-btn-expandfeed"
                        data-test-button="view-all-activity"
                        {{on "click" this.showAll}}
                    >
                        <span>View all activity</span>
                    </button>
                {{/if}}
            {{else}}
                <p class="ma0 pa12 tc midgrey fw3">No member activity yet</p>
            {{/if}}
        </div>
    </div>
</div>

{{#if this.emailPreview}}
    <GhFullscreenModal @modal="post-email-preview"
        @model={{this.emailPreview}}
        @close={{this.closeEmailPreview}}
        @modifier="full-overlay email-preview" />
{{/if}}