<nav class="gh-nav {{if this.session.user.isContributor "gh-nav-contributor"}} {{unless this.navigation.settings.menu.visible "gh-nav-hidden"}}" {{did-insert this.updateFirstRender}} ...attributes>
    <GhNavMenu::Main @icon={{this.settings.settledIcon}} @firstRender={{this.firstRender}} />
</nav>