<nav class="gh-nav {{if this.session.user.isContributor "gh-nav-contributor"}} {{unless this.menuVisible "close"}}" {{did-insert this.updateFirstRender}} ...attributes>
    <GhNavMenu::Main @icon={{this.settings.settledIcon}} @firstRender={{this.firstRender}} @toggleMenu={{this.toggleMenu}} />
</nav>