<figure class="account-image">

    {{#unless this.previewDataURL}}
        <div class="placeholder-img" style={{this.placeholderStyle}}></div>
        <div id="account-image" class="gravatar-img" style={{this.avatarStyle}}>
            <span class="sr-only">User image</span>
        </div>
    {{/unless}}

    {{#if this.previewDataURL}}
        <img src={{this.previewDataURL}} class="gravatar-img">
    {{/if}}

    <span class="edit-account-image" onclick={{action "openFileDialog"}} role="button">
        {{svg-jar "photos"}}
        <span class="sr-only">Upload an image</span>
    </span>

    <GhFileInput
        @alt={{null}}
        @name="uploadimage"
        @multiple={{false}}
        @action={{action "imageSelected"}}
        @accept={{this.imageMimeTypes}} />
</figure>
