{{!-- template-lint-disable no-invalid-interactive --}}
<li class="gh-list-row gh-posts-list-item"
    {{on "mouseover" this.mouseOver}}
    {{on "mouseleave" this.mouseLeave}}
    ...attributes
>

    {{#if (and this.session.user.isContributor @post.isPublished)}}
        <a href={{@post.url}} class="permalink gh-list-data gh-post-list-title" target="_blank" rel="noopener noreferrer">
            <h3 class="gh-content-entry-title">
                {{@post.title}} {{svg-jar "external" class="gh-post-list-external"}}
            </h3>
            {{#unless @hideAuthor }}
                <p>
                    <span class="gh-content-entry-meta">
                        By <span class="midgrey-l2 fw5">{{post-author-names @post}}</span>

                        {{#if @post.primaryTag}}
                            in <span class="midgrey-l2 fw5">{{@post.primaryTag.name}}</span>
                        {{/if}}

                        • <span data-tooltip="{{gh-format-post-time @post.updatedAtUTC "D MMM YYYY"}}">{{gh-format-post-time @post.updatedAtUTC draft=true}}</span>

                    </span>
                </p>
            {{/unless}}
        </a>
    {{else}}
        <LinkTo @route="editor.edit" @models={{array @post.displayName @post.id}} class="permalink gh-list-data gh-post-list-title">
            <h3 class="gh-content-entry-title">
                {{@post.title}}
            </h3>
            {{#unless @hideAuthor }}
                <p>
                    <span class="gh-content-entry-meta">
                        By <span class="midgrey-l2 fw5">{{post-author-names @post}}</span>

                        {{#if @post.primaryTag}}
                            in <span class="midgrey-l2 fw5">{{@post.primaryTag.name}}</span>
                        {{/if}}

                        • <span data-tooltip="{{gh-format-post-time @post.updatedAtUTC "D MMM YYYY"}}">{{gh-format-post-time @post.updatedAtUTC draft=true}}</span>

                    </span>
                </p>
            {{/unless}}
        </LinkTo>
    {{/if}}

    {{#if (and (not-eq this.settings.membersSignupAccess "none") (not-eq this.settings.editorDefaultEmailRecipients "disabled") (not this.session.user.isContributor))}}
        {{#if (and this.feature.emailAnalytics (eq @post.displayName "post"))}}
            <LinkTo @route="editor.edit" @models={{array @post.displayName @post.id}} class="permalink gh-list-data gh-post-list-recipients">
                <div class="flex fw4">
                    {{#if (eq @post.email.status "submitted")}}
                        <span class="flex" data-tooltip="{{capitalize @post.email.recipientFilter}} members">
                            <span class="darkgrey fw5 gh-content-email-stats">{{format-number @post.email.emailCount}}</span>
                            <span class="midgrey-l2 fw4 gh-content-email-stats-mobile">{{gh-pluralize @post.email.emailCount "send"}}</span>
                        </span>
                    {{/if}}
                </div>
            </LinkTo>

            <LinkTo @route="editor.edit" @models={{array @post.displayName @post.id}} class="permalink gh-list-data gh-post-list-opens">
                {{#if (and @post.email.trackOpens (eq @post.email.status "submitted"))}}
                    <div class="flex">
                        <span class="darkgrey fw5 gh-content-email-stats">
                            {{#if this.isHovered}}
                                {{format-number @post.email.openedCount}}
                            {{else}}
                                {{@post.email.openRate}}%&nbsp;
                            {{/if}}
                        </span>
                        <span class="midgrey-l2 fw4 gh-content-email-stats-mobile">{{@post.email.openRate}}% opens</span>
                    </div>
                {{/if}}
            </LinkTo>
        {{/if}}
    {{/if}}

    {{#unless @hideStatusColumn }}
        {{#if (and this.session.user.isContributor @post.isPublished)}}
            <a href={{@post.url}} class="permalink gh-list-data gh-post-list-status" target="_blank" rel="noopener noreferrer">
                <div class="flex items-center">
                    {{#if @post.isScheduled}}
                    <span class="gh-content-status-scheduled gh-badge nowrap" title="Scheduled" data-tooltip="{{capitalize this.scheduledText}} to {{@post.emailSegment}} members">
                        Scheduled
                        {{#if @post.newsletter}}
                        {{svg-jar "email-stroke"}}
                        {{/if}}
                    </span>
                    {{/if}}

                    {{#if @post.isDraft}}
                    <span class="gh-content-status-draft gh-badge gh-badge-pink nowrap">
                        Draft
                    </span>
                    {{/if}}

                    {{#if @post.isPublished}}
                    <span class="gh-content-status-published nowrap">
                        Published
                        {{#if @post.hasEmail}}
                        {{svg-jar "email-stroke"}}
                        {{/if}}
                    </span>
                    {{/if}}

                    {{#if @post.isSent}}
                    <span class="gh-content-status-emailed nowrap">
                        {{svg-jar "email-stroke"}}
                    </span>
                    {{/if}}
                </div>
            </a>
        {{else}}
            <LinkTo @route="editor.edit" @models={{array @post.displayName @post.id}} class="permalink gh-list-data gh-post-list-status">
                <div class="flex items-center">
                    {{#if @post.isScheduled}}
                    <span class="gh-content-status-scheduled gh-badge nowrap" title="Scheduled" data-tooltip="{{capitalize this.scheduledText}} to {{@post.emailSegment}} members">
                        Scheduled
                        {{#if @post.newsletter}}
                        {{svg-jar "email-stroke"}}
                        {{/if}}
                    </span>
                    {{/if}}

                    {{#if @post.isDraft}}
                    <span class="gh-content-status-draft gh-badge gh-badge-pink nowrap">
                        Draft
                    </span>
                    {{/if}}

                    {{#if @post.isPublished}}
                    <span class="gh-content-status-published nowrap">
                        Published
                        {{#if @post.hasEmail}}
                        {{svg-jar "email-stroke"}}
                        {{/if}}
                    </span>
                    {{/if}}

                    {{#if @post.isSent}}
                    <span class="gh-content-status-emailed nowrap">
                        {{svg-jar "email-stroke"}}
                    </span>
                    {{/if}}
                </div>
            </LinkTo>
        {{/if}}
    {{/unless}}
</li>
