<li class="gh-list-row gh-posts-list-item" ...attributes>
    <LinkTo @route="editor.edit" @models={{array @post.displayName @post.id}} class="permalink gh-list-data gh-post-list-featured" @title="Edit this post">
        {{#if @post.isFeatured}}
            <span data-tooltip="Featured" class="dib pl1 pr1 nr1 nl1">{{svg-jar "star-filled" class="fill-blue w3 h3"}}</span>
        {{/if}}
    </LinkTo>

    <LinkTo @route="editor.edit" @models={{array @post.displayName @post.id}} class="permalink gh-list-data gh-post-list-title" @title="Edit this post">
        <h3 class="gh-content-entry-title">
            {{@post.title}}
        </h3>
        <p>
            <span class="gh-content-entry-meta">
                By <span class="midgrey-l2 fw5">{{this.authorNames}}</span>

                {{#if @post.primaryTag}}
                    in <span class="midgrey-l2 fw5">{{@post.primaryTag.name}}</span>
                {{/if}}

                {{#if (eq @post.email.status "submitted")}}
                    • Sent to <span class="midgrey-l2 fw5">{{gh-pluralize @post.email.emailCount "member"}}</span>
                {{/if}}

                {{#if @post.isScheduled}}
                    – <span class="gh-schedule-time">Will be published {{this.scheduledText}}</span>
                {{/if}}
            </span>
        </p>
    </LinkTo>

    <LinkTo @route="editor.edit" @models={{array @post.displayName @post.id}} class="permalink gh-list-data gh-post-list-status" @title="Edit this post">
        <div class="flex items-center">
            {{#if @post.isScheduled}}
            <span class="gh-content-status-draft gh-badge nowrap">
                Scheduled
            </span>
            {{/if}}

            {{#if @post.isDraft}}
            <span class="gh-content-status-draft gh-badge gh-badge-purple nowrap">
                Draft
            </span>
            {{/if}}

            {{#if @post.isPublished}}
            <span class="gh-content-status-published nowrap">
                Published
            </span>
            {{/if}}

            {{#if this.session.user.isOwnerOrAdmin}}
                {{#if (or @post.email (and @post.isScheduled this.sendEmailWhenPublished))}}
                    {{#if (eq @post.email.status "failed")}}
                        <span data-tooltip="Failed to send post by email" class="gh-content-status-emailed error">
                            {{svg-jar "send-email" class="stroke-red"}}
                        </span>
                    {{else}}
                        {{#if @post.isScheduled}}
                            <span title="To be send by email" data-tooltip="To be sent by email" class="gh-content-status-emailed scheduled">
                                {{svg-jar "send-email" class="stroke-green-d2"}}
                            </span>
                        {{else}}
                            <span title="Sent by email" data-tooltip="Sent by email" class="gh-content-status-emailed">
                                {{svg-jar "send-email" class="stroke-midgrey"}}
                            </span>
                        {{/if}}
                    {{/if}}
                {{/if}}
            {{/if}}
        </div>
    </LinkTo>

    <LinkTo @route="editor.edit" @models={{array @post.displayName @post.id}} class="permalink gh-list-data gh-post-list-updated" @title="Edit this post">
        <span class="nowrap">{{gh-format-post-time @post.updatedAtUTC draft=true}}</span>
    </LinkTo>
</li>