<div {{did-insert (fn this.setSaveType "schedule")}} data-test-publishmenu-scheduled="true" ...attributes>
    <header class="gh-publishmenu-heading">Will be published in {{this.timeToPublished}}</header>
    <div class="gh-publishmenu-content">
        <section class="gh-publishmenu-section">
            <div class="gh-publishmenu-radio {{if (eq @saveType "draft") "active"}}" {{on "click" (fn this.setSaveType "draft")}}>
                <div class="gh-publishmenu-radio-button" data-test-publishmenu-draft-option></div>
                <div class="gh-publishmenu-radio-content">
                    <div class="gh-publishmenu-radio-label">Revert to draft</div>
                    <div class="gh-publishmenu-radio-desc">Do not publish</div>
                </div>
            </div>
            <div class="gh-publishmenu-radio {{if (eq @saveType "schedule") "active"}}" {{on "click" (fn this.setSaveType "schedule")}}>
                <div class="gh-publishmenu-radio-button" data-test-publishmenu-scheduled-option></div>
                <div class="gh-publishmenu-radio-content">
                    <div class="gh-publishmenu-radio-label">Schedule for later</div>
                    <GhDateTimePicker
                        @date={{@post.publishedAtBlogDate}}
                        @time={{@post.publishedAtBlogTime}}
                        @setDate={{this.setDate}}
                        @setTime={{this.setTime}}
                        @setTypedDateError={{@setTypedDateError}}
                        @errors={{@post.errors}}
                        @dateErrorProperty="publishedAtBlogDate"
                        @timeErrorProperty="publishedAtBlogTime"
                        @minDate={{this.minDate}}
                        @isActive={{eq @saveType "schedule"}}
                    />
                    <div class="gh-publishmenu-radio-desc">Set automatic future publish date</div>
                </div>
            </div>
        </section>
        {{#if @canSendEmail}}
            <section class="gh-publishmenu-section">
                <div class="gh-publishmenu-email">
                    {{#if @isSendingEmailLimited}}
                        <p>{{html-safe @sendingEmailLimitError}}</p>
                    {{else}}
                        <div class="gh-publishmenu-email-label pe-none">
                            <label class="gh-publishmenu-radio-label mb3 midgrey">Send by email to</label>

                            <div class="form-group">
                                <GhMembersRecipientSelect
                                    @filter={{@recipientsFilter}}
                                    @disabled={{true}}
                                />
                            </div>
                        </div>
                    {{/if}}
                </div>
            </section>
        {{/if}}
    </div>
</div>