<div ...attributes>
    <header class="gh-publishmenu-heading" data-test-publishmenu-header>Ready to
        {{#if @canSendEmail}}
            <GhDistributionActionSelect
                @distributionAction={{@distributionAction}}
                @setDistributionAction={{@setDistributionAction}}
                data-test-distribution-action-select
            />
        {{else}}
            publish
        {{/if}}
        this {{@post.displayName}}?
    </header>
    <section class="gh-publishmenu-content {{if this.disableEmailOption "no-border"}}">
        <div class="gh-publishmenu-section">
            <div class="gh-publishmenu-radio {{if (eq @saveType "publish") "active"}}" {{on "click" (fn this.setSaveType "publish")}}>
                <div class="gh-publishmenu-radio-button" data-test-publishmenu-published-option></div>
                <div class="gh-publishmenu-radio-content">
                    <div class="gh-publishmenu-radio-label">{{#if @emailOnly}}Send email now{{else}}Set it live now{{/if}}</div>
                    <div class="gh-publishmenu-radio-desc">{{#if @emailOnly}}Deliver this immediately{{else}}Publish this {{@post.displayName}} immediately{{/if}}</div>
                </div>
            </div>
            <div class="gh-publishmenu-radio {{if (eq @saveType "schedule") "active"}}" {{on "click" (fn this.setSaveType "schedule")}}>
                <div class="gh-publishmenu-radio-button" data-test-publishmenu-scheduled-option></div>
                <div class="gh-publishmenu-radio-content">
                    <div class="gh-publishmenu-radio-label">Schedule it for later</div>
                    <GhDateTimePicker
                        @date={{@post.publishedAtBlogDate}}
                        @time={{@post.publishedAtBlogTime}}
                        @setDate={{this.setDate}}
                        @setTime={{this.setTime}}
                        @onDateError={{this.dateInputDidError}}
                        @onTimeError={{this.timeInputDidError}}
                        @setTypedDateError={{@setTypedDateError}}
                        @errors={{@post.errors}}
                        @dateErrorProperty="publishedAtBlogDate"
                        @timeErrorProperty="publishedAtBlogTime"
                        @minDate={{this._minDate}}
                        @isActive={{eq @saveType "schedule"}}
                    />
                    <div class="gh-publishmenu-radio-desc">{{#if @emailOnly}}Send email at a specific time{{else}}Set automatic future publish date{{/if}}</div>
                </div>
            </div>
        </div>

        {{#if this.showEmailSection}}
            <div class="gh-publishmenu-section {{if @isSendingEmailLimited "no-border"}}" {{did-insert (perform this.countTotalMembersTask)}}>
                <div class="gh-publishmenu-email">
                    {{#if @isSendingEmailLimited}}
                        <p class="gh-box gh-box-alert">{{html-safe @sendingEmailLimitError}}</p>
                    {{else}}
                        <div class="gh-publishmenu-email-label">
                            <label class="gh-publishmenu-radio-label mb3">Send by email to</label>

                            {{#if this.disableEmailOption}}
                                <p class="gh-box gh-content-box">
                                    <LinkTo @route="members">
                                        Add members
                                    </LinkTo>
                                    to start sending newsletters!
                                </p>
                            {{else}}
                                <div class="form-group">
                                    {{#if (and (feature "multipleNewsletters") (gt @availableNewsletters.length 1))}}
                                        <div class="mb3">
                                            <PowerSelect
                                                @selected={{@selectedNewsletter}}
                                                @options={{@availableNewsletters}}
                                                @onChange={{@selectNewsletter}}
                                                @triggerComponent="gh-power-select/trigger"
                                                @triggerClass="gh-publishmenu-newsletter-trigger"
                                                @dropdownClass="gh-publishmenu-newsletter-dropdown"
                                                @renderInPlace={{true}}
                                                as |newsletter|
                                            >
                                                {{newsletter.name}}
                                            </PowerSelect>
                                        </div>
                                    {{/if}}

                                    <GhMembersRecipientSelect
                                        @filter={{@recipientsFilter}}
                                        @newsletter={{@selectedNewsletter}}
                                        @onChange={{@setSendEmailWhenPublished}}
                                    />
                                </div>
                            {{/if}}
                        </div>
                    {{/if}}
                </div>
            </div>
        {{/if}}
    </section>
</div>
