<header class="gh-publishmenu-heading">Ready to publish your {{this.post.displayName}}?</header>
<section class="gh-publishmenu-content">
    <div class="gh-publishmenu-section">
        <div class="gh-publishmenu-radio {{if (eq this.saveType "publish") "active"}}" {{action "setSaveType" "publish" on="click"}}>
            <div class="gh-publishmenu-radio-button" data-test-publishmenu-published-option></div>
            <div class="gh-publishmenu-radio-content">
                <div class="gh-publishmenu-radio-label">Set it live now</div>
                <div class="gh-publishmenu-radio-desc">Publish this {{this.post.displayName}} immediately</div>
            </div>
        </div>
        <div class="gh-publishmenu-radio {{if (eq this.saveType "schedule") "active"}}" {{action "setSaveType" "schedule" on="click"}}>
            <div class="gh-publishmenu-radio-button" data-test-publishmenu-scheduled-option></div>
            <div class="gh-publishmenu-radio-content">
                <div class="gh-publishmenu-radio-label">Schedule it for later</div>
                <GhDateTimePicker
                    @date={{this.post.publishedAtBlogDate}}
                    @time={{this.post.publishedAtBlogTime}}
                    @setDate={{action "setDate"}}
                    @setTime={{action "setTime"}}
                    @setTypedDateError={{this.setTypedDateError}}
                    @errors={{this.post.errors}}
                    @dateErrorProperty="publishedAtBlogDate"
                    @timeErrorProperty="publishedAtBlogTime"
                    @minDate={{this._minDate}}
                    @isActive={{eq this.saveType "schedule"}}
                />
                <div class="gh-publishmenu-radio-desc">Set automatic future publish date</div>
            </div>
        </div>
    </div>

    {{#if (and this.canSendEmail showSendEmail)}}
        <div class="gh-publishmenu-section">
            <div class="gh-publishmenu-email">
                {{#if this.backgroundLoader.isRunning}}
                    <div class="gh-loading-spinner" style="zoom: 50%"></div>
                {{else if this.isSendingEmailLimited}}
                    <p class="gh-box gh-box-alert">{{html-safe this.sendingEmailLimitError}}</p>
                {{else}}
                    <div class="gh-publishmenu-email-label {{if this.disableEmailOption "pe-none"}}">
                        <label class="gh-publishmenu-radio-label mb3 {{if this.disableEmailOption "midgrey"}}">Send by email to</label>

                        <div class="form-group">
                            <div class="gh-publishmenu-send-to-option">
                                <p>Free members <span class="gh-publishmenu-emailcount">{{this.freeMemberCountLabel}}</span></p>
                                <div class="for-switch small" {{action "toggleSendEmailWhenPublished" "free" bubbles="false"}}>
                                    <label class="switch" for="send-email-to-free">
                                        <input
                                            id="send-email-to-free"
                                            type="checkbox"
                                            checked={{this.sendEmailToFreeMembersWhenPublished}}
                                            disabled={{this.disableEmailOption}}
                                            class="gh-input post-settings-featured"
                                            onclick={{action "toggleSendEmailWhenPublished" value="free"}}
                                            data-test-checkbox="free-members"
                                        >
                                        <span class="input-toggle-component"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="gh-publishmenu-send-to-option">
                                <p>Paid members <span class="gh-publishmenu-emailcount">{{this.paidMemberCountLabel}}</span></p>
                                <div class="for-switch small" {{action "toggleSendEmailWhenPublished" "paid" bubbles="false"}}>
                                    <label class="switch" for="send-email-to-paid">
                                        <input
                                            id="send-email-to-paid"
                                            type="checkbox"
                                            checked={{this.sendEmailToPaidMembersWhenPublished}}
                                            disabled={{this.disableEmailOption}}
                                            class="gh-input post-settings-featured"
                                            onclick={{action "toggleSendEmailWhenPublished" value="paid"}}
                                            data-test-checkbox="paid-members"
                                        >
                                        <span class="input-toggle-component"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
    {{/if}}
</section>

