<header class="gh-publishmenu-heading">Will be published in {{this.timeToPublished}}</header>
<div class="gh-publishmenu-content">
    <section class="gh-publishmenu-section">
        <div class="gh-publishmenu-radio {{if (eq this.saveType "draft") "active"}}" {{action "setSaveType" "draft" on="click"}}>
            <div class="gh-publishmenu-radio-button" data-test-publishmenu-draft-option></div>
            <div class="gh-publishmenu-radio-content">
                <div class="gh-publishmenu-radio-label">Revert to draft</div>
                <div class="gh-publishmenu-radio-desc">Do not publish</div>
            </div>
        </div>
        <div class="gh-publishmenu-radio {{if (eq this.saveType "schedule") "active"}}" {{action "setSaveType" "schedule" on="click"}}>
            <div class="gh-publishmenu-radio-button" data-test-publishmenu-scheduled-option></div>
            <div class="gh-publishmenu-radio-content">
                <div class="gh-publishmenu-radio-label">Schedule for later</div>
                <GhDateTimePicker
                    @date={{this.post.publishedAtBlogDate}}
                    @time={{this.post.publishedAtBlogTime}}
                    @setDate={{action "setDate"}}
                    @setTime={{action "setTime"}}
                    @setTypedDateError={{this.setTypedDateError}}
                    @errors={{this.post.errors}}
                    @dateErrorProperty="publishedAtBlogDate"
                    @timeErrorProperty="publishedAtBlogTime"
                    @minDate={{this._minDate}}
                    @isActive={{eq this.saveType "schedule"}}
                />
                <div class="gh-publishmenu-radio-desc">Set automatic future publish date</div>
            </div>
        </div>
    </section>
    {{#if (and canSendEmail showSendEmail)}}
        {{#unless this.post.email}}
            <section class="gh-publishmenu-section">
                <div class="gh-publishmenu-email">
                    {{#if this.backgroundLoader.isRunning}}
                        <div class="gh-loading-spinner" style="zoom: 50%"></div>
                    {{else if this.isSendingEmailLimited}}
                        <p>{{html-safe this.sendingEmailLimitError}}</p>
                    {{else}}
                        <div class="gh-publishmenu-email-label">
                        <label class="gh-publishmenu-radio-label mb3 pe-none">Send by email to</label>
                            <div class="form-group">
                                <div class="gh-publishmenu-send-to-option gh-publishmenu-checkbox-disabled">
                                    <p>Free members</p>
                                    <div class="for-switch small">
                                        <label class="switch" for="send-email-to-free">
                                            <input
                                                id="send-email-to-free"
                                                type="checkbox"
                                                checked={{this.sendEmailToFreeMembersWhenPublished}}
                                                disabled={{this.disableEmailOption}}
                                                class="gh-input post-settings-featured"
                                                data-test-checkbox="free-members"
                                            >
                                            <span class="input-toggle-component"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="gh-publishmenu-send-to-option gh-publishmenu-checkbox-disabled">
                                    <p>Paid members</p>
                                    <div class="for-switch small">
                                        <label class="switch" for="send-email-to-paid">
                                            <input
                                                id="send-email-to-paid"
                                                type="checkbox"
                                                checked={{this.sendEmailToPaidMembersWhenPublished}}
                                                disabled={{this.disableEmailOption}}
                                                class="gh-input post-settings-featured"
                                                data-test-checkbox="paid-members"
                                            >
                                            <span class="input-toggle-component"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/if}}
                </div>
            </section>
        {{/unless}}
    {{/if}}
</div>
