{{#if this.users.length}}
    <div class="gh-presence-avatars {{this.sizeClass}}" data-test-presence-avatars={{@postId}}>
        {{#each this.users as |user|}}
            <div
                class="gh-presence-avatar gh-tooltip-trigger tooltip-bottom no-shortcut {{if user.isIdle "gh-presence-avatar--idle"}}"
                data-test-presence-avatar={{user.id}}
                data-test-presence-idle={{if user.isIdle "true" "false"}}
            >
                {{#if user.profileImage}}
                    <img src={{user.profileImage}} alt={{user.name}} />
                {{else}}
                    <span class="gh-presence-avatar-initials">{{user.initials}}</span>
                {{/if}}
                <GhTooltip @text={{user.tooltipText}} />
            </div>
        {{/each}}
        {{#if this.overflowCount}}
            <span
                class="gh-presence-avatars-overflow gh-tooltip-trigger tooltip-bottom no-shortcut"
                data-test-presence-overflow={{this.overflowCount}}
            >
                +{{this.overflowCount}}
                <GhTooltip @text={{this.overflowTooltip}} />
            </span>
        {{/if}}
    </div>
{{/if}}
