<span class="gh-select">
    <OneWaySelect
        @value={{this.value}}
        @disabled={{this.disabled}}
        @options={{this.availablePeriods}}
        @optionValuePath="period"
        @optionLabelPath="label"
        @optionTargetPath="period"
        @includeBlank={{false}}
        @promptIsSelectable={{false}}
        @prompt="Select a billing period"
        @update={{action "updatePeriod"}}
    />
    {{svg-jar "arrow-down-small"}}
</span>