<span class="gh-select" data-select-text="{{this.selectedTimezone.label}}" tabindex="0">
    <OneWaySelect
        @id="timezone"
        @name="general[timezone]"
        @options={{this.selectableTimezones}}
        @optionValuePath="name"
        @optionLabelPath="label"
        @value={{this.selectedTimezone}}
        @update={{action "setTimezone"}}
    />
    {{svg-jar "arrow-down-small"}}
</span>
{{#if this.hasTimezoneOverride}}
    <p>Your timezone has been automatically set to {{this.timezone}}.</p>
{{/if}}
<p>The local time here is currently {{this.localTime}}</p>
