<div class="apps-grid-cell tooltip-centered" data-tooltip="{{ if user.isLocked 'Requires password reset to log in'}}">
    <LinkTo @route="staff.user" @model={{user.slug}} data-test-user-id={{user.id}}>
    <article class="apps-card-app">
        <div class="apps-card-left">
            <span class="user-list-item-figure" style={{background-image-style user.profileImageUrl}}>
                <span class="hidden">Photo of {{user.name}}</span>
            </span>
            <div class="apps-card-meta">
                <h3 class="apps-card-app-title">{{user.name}}</h3>
                <p class="apps-card-app-desc">Last seen: {{component.lastLoginUTC}}</p>
            </div>
        </div>
        <div class="apps-card-right">
            {{#if user.isLocked}}
                <span class="gh-badge locked">{{svg-jar "lock"}}</span>
            {{/if}}
            <div class="apps-configured">
                {{#if user.isSuspended}}
                    <span class="gh-badge suspended">Suspended</span>
                {{else}}
                    {{#unless this.session.user.isAuthorOrContributor}}
                        {{#each user.roles as |role|}}
                            <span class="gh-badge {{role.lowerCaseName}}" data-test-role-name>{{role.name}}</span>
                        {{/each}}
                    {{/unless}}
                {{/if}}
                {{svg-jar "arrow-right" class="gh-user-arrow-icon"}}
            </div>
        </div>
    </article>
    </LinkTo>
</div>
