<div class="flex flex-column h-100">
    <header class="modal-header gh-pe-header gh-pe-header-border" data-test-modal="preview-email" style="display:flex">
        <h2 class="f6 fw6">Preview post</h2>
        <div class="gh-contentfilter gh-btn-group gh-pe-btn-group" style="display:flex;flex-grow:1;justify-content:center">
            <button type="button" class="gh-btn {{if (eq this.tab "browser") "gh-btn-group-selected"}}" {{on "click" (fn this.changeTab "browser")}}><span>Browser</span></button>
            {{#if this.model.isPost}}
                <button type="button" class="gh-btn {{if (eq this.tab "email") "gh-btn-group-selected"}}" {{on "click" (fn this.changeTab "email")}}><span>Email</span></button>
            {{/if}}
            <button type="button" class="gh-btn {{if (eq this.tab "social") "gh-btn-group-selected"}}" {{on "click" (fn this.changeTab "social")}}><span>Social</span></button>
        </div>
        <div class="gh-pe-close">
            <button class="close" title="Close" {{on "click" this.close}}>
                {{svg-jar "close"}}
            </button>
        </div>
    </header>

    {{#if (eq this.tab "browser")}}
        <ModalPostPreview::Browser @post={{@model}} />
    {{/if}}

    {{#if (and (eq this.tab "email") this.model.isPost)}}
        <ModalPostPreview::Email @post={{@model}} />
    {{/if}}

    {{#if (eq this.tab "social")}}
        <ModalPostPreview::Social @post={{@model}} />
    {{/if}}
</div>