<div class="modal-body gh-ps-modal-body">
    <div class="gh-branding-settings-header">
        <h4>Branding</h4>
        <div class="gh-branding-settings-actions">
             <button
                class="gh-btn mr3"
                {{on "click" (action "closeModal")}}
                {{!-- disable mouseDown so it doesn't trigger focus-out validations --}}
                {{on "mousedown" (optional this.noop)}}
                data-test-button="cancel-custom-view-form"
            >
                <span>Cancel</span>
            </button>

            <GhTaskButton
                @buttonText="Save and close"
                @successText="Saved"
                @task={{this.saveTask}}
                @idleClass="gh-btn-primary"
                @class="gh-btn gh-btn-icon"
                data-test-button="save-members-modal-setting"
            />
        </div>
    </div>

    <div class="gh-branding-settings">
        <section class="gh-branding-settings-options">
            <GhBrandSettingsForm @replacePreviewContents={{this.replacePreviewContents}} />
        </section>

        <section class="gh-branding-settings-right">
            <GhBrowserPreview class="gh-branding-settings-previewcontainer" @icon={{this.settings.icon}} @title={{this.config.blogTitle}}>
                <GhSiteIframe
                    class="gh-branding-settings-preview"
                    {{did-insert this.registerPreviewIframe}}
                ></GhSiteIframe>
            </GhBrowserPreview>
        </section>
    </div>
</div>