<header class="modal-header">
    <h1>Reset all passwords</h1>
</header>
<a class="close" href="" role="button" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">Close</span></a>

<div class="modal-body gh-modal-reset-passwords">
    <p>You're about to end all active staff user sessions and trigger a password reset for everyone (including yourself). Are you sure?</p>
    <div class="flex mt2 mb2">
        <div class="for-checkbox">
            <label class="checkbox">
                <input type="checkbox" checked={{this.isChecked}} {{on "click" (action "toggleCheckbox")}} class="gh-input" name="checkbox" data-test-checkbox="reset-all-passwords">
                <span class="input-toggle-component"></span>
            </label>
        </div>
        <div>
            <h4>Yes, end sessions and reset passwords for all users.</h4>
            <p class="description">Upon submission, you will be logged out. Please check your email to reset your password.</p>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="gh-btn" type="button" {{action "closeModal"}}><span>Cancel</span></button>
    <GhTaskButton @buttonText="Reset Passwords" @task={{this.resetPasswords}} @class="gh-btn gh-btn-red gh-btn-icon" disabled={{this.isConfirmDisabled}} />
</div>
