<header class="modal-header" data-test-modal="webhook-form" {{will-destroy this.reset}}>
    <h1 data-test-text="title">Connect with Stripe</h1>
</header>
<button class="close" href title="Close" type="button" {{on "click" this.closeModal}} {{on "mouseDown" (optional this.noop)}} data-test-button="close-stripe-connect">
    {{svg-jar "close"}}
</button>

<form>
<div class="modal-body" {{did-insert this.updateSuccessModifier}}>
    <Settings::Members::StripeSettingsForm
        @setStripeConnectIntegrationTokenSetting={{this.setStripeConnectIntegrationTokenSetting}}
        @reset={{this.reset}}
        @onConnected={{this.updateSuccessModifier}}
        @onDisconnected={{this.updateSuccessModifier}}
    />
</div>
</form>
