{{!-- template-lint-disable no-invalid-interactive --}}
<div class="gh-post-history">
    <div class="gh-post-history-main">
          <div class="gh-koenig-editor-pane flex flex-column mih-100">
            <div class="gh-editor-feature-image-container">
                <div class="gh-editor-feature-image-dropzone"></div>
                <div class="flex flex-row items-center invisible">
                    <button type="button" class="gh-editor-feature-image-add-button">{{svg-jar "plus"}}<span>Add feature image</span></button>
                    <button type="button" class="gh-editor-feature-image-unsplash">{{svg-jar "unsplash"}}</button>
                </div>
            </div>
            <div class="gh-editor-title ember-text-area gh-input ember-view">Old-school excess, star power and spectacle: Royal Opera’s Tosca reviewed</div>
            {{{this.postDiff}}}
          </div>
    </div>
    <div class="settings-menu-container">
        <div class="settings-menu settings-menu-pane settings-menu-pane-main">
            <div class="settings-menu-header subview">
                <button 
                    aria-label="Close meta data panel" 
                    class="back settings-menu-header-action" 
                    data-test-button="close-psm-subview" 
                    type="button" {{action "closeModal"}}
                    {{!-- disable mouseDown so it doesn't trigger focus-out validations --}}
                    {{on "mousedown" (optional this.noop)}}
                >   
                    {{svg-jar "arrow-left"}}
                    <span class="hidden">Back</span>
                </button>
                <h4>Post history</h4>
            </div>
            <div class="settings-menu-content">
                <ul class="nav-list">
                    <li class="nav-list-item">
                        <button type="button">
                            <span class="gh-post-history-version">17 April 2023, 10:34</span>
                            <span class="gh-post-history-version-meta">Jamie Larson</span>
                        </button>
                    </li>
                    <li class="nav-list-item">
                        <button type="button">
                            <span class="gh-post-history-version">17 April 2023, 10:34</span>
                            <span class="gh-post-history-version-meta">Jamie Larson</span>
                        </button>
                    </li>
                    <li class="nav-list-item">
                        <button type="button">
                            <span class="gh-post-history-version">17 April 2023, 10:34</span>
                            <span class="gh-post-history-version-meta">Jamie Larson</span>
                        </button>
                    </li>
                    <li class="nav-list-item">
                        <button type="button">
                            <span class="gh-post-history-version">17 April 2023, 10:34</span>
                            <span class="gh-post-history-version-meta">Jamie Larson</span>
                        </button>
                    </li>
                    <li class="nav-list-item">
                        <button type="button">
                            <span class="gh-post-history-version">17 April 2023, 10:34</span>
                            <span class="gh-post-history-version-meta">Jamie Larson</span>
                        </button>
                    </li>
                </ul>
            </div>
            {{!-- {{#each this.post.postRevisions as |revision|}}
                <div>{{revision.lexical}}</div>
            {{/each}} --}}
        </div>
    </div>
</div>
