<div class="modal-content">
    <header class="modal-header">
        <h1>Lexical Beta Feedback</h1>
    </header>
    <a class="close" href="" role="button" title="Close" {{action "closeModal" }}>{{svg-jar "close"}}<span
            class="hidden">Close</span></a>

    <div class="modal-body gh-modal-reset-passwords">
        <p>Have any issues? Feedback? Let us know!</p>
        <GhFormGroup>
            <GhTextarea 
                @id="feedback-lexical"
                @name="feedback-lexical" 
                @value={{this.feedbackMessage}}
            />
            {{!--
            <GhErrorMessage @errors={{this.member.errors}} @property="note" /> --}}
            <p> Maximum: <b>500</b> characters. You’ve used
                {{gh-count-down-characters this.feedbackMessage 500}}</p>
        </GhFormGroup>
    </div>

    <div class="modal-footer">
        <GhTaskButton @buttonText="Submit" @task={{this.submitFeedback}} @class="gh-btn gh-btn-icon" />
    </div>
</div>