<div class="modal-content {{@class}}" data-test-modal="lexical-feedback">
    <header class="modal-header">
        <h1>Editor beta feedback</h1>
    </header>
    <button class="close" type="button" title="Close" {{on "click" this.closeModal}}>{{svg-jar "close"}}<span
            class="hidden">Close</span></button>

    <div class="modal-body gh-modal-feedback-lexical">
        {{!-- <p>Have any issues? Feedback? Let us know!</p> --}}
        <form>
            <GhFormGroup>
                <label for="feedback-lexical">Have any issues? Feedback? Let us know below!</label>
                <GhTextarea
                    @id="feedback-lexical"
                    @name="feedback-lexical"
                    @value={{this.feedbackMessage}}
                    @placeholder="I've noticed that..."
                    @shouldFocus={{true}}
                    data-test-lexical-feedback-textarea
                />
                {{!--
                <GhErrorMessage @errors={{this.member.errors}} @property="note" /> --}}
                {{!-- <p> Maximum: <b>500</b> characters. You’ve used
                    {{gh-count-down-characters this.feedbackMessage 500}}</p> --}}
            </GhFormGroup>
        </form>
    </div>

    <div class="modal-footer">
        <button class="gh-btn" type="button" {{on "click" this.closeModal}}><span>Cancel</span></button>
        <GhTaskButton
            @buttonText="Send feedback"
            @task={{this.submitFeedback}}
            @class="gh-btn gh-btn-black gh-btn-icon"
            data-test-button="submit-lexical-feedback"
        />
    </div>
</div>