<header class="modal-header" data-test-modal="delete-user" {{did-insert this.setup}}>
    <h1>Add subscription</h1>
</header>
<a class="close" href="" role="button" title="Close" {{action "closeModal" }}>
    {{svg-jar "close"}}<span class="hidden">Close</span>
</a>

<form>
    <div class="modal-body">
        <p class="gh-member-addcomp-subhed">
            Select a product for <strong>{{or this.member.name this.member.email}}</strong>'s
            complimentary subscription.
        </p>
        {{#if this.activeSubscriptions.length}}
            <p class="gh-member-addcomp-warning">
                Adding a complimentary subscription cancels all existing subscriptions of this member.
            </p>
        {{/if}}
        {{#if this.loadingProducts}}
            <div class="flex justify-center flex-auto">
                <div class="gh-loading-spinner"> </div>
            </div>
        {{else}}
            <div class="form-rich-radio">
                {{#each this.products as |product|}}
                    <div class="gh-radio {{if (eq this.selectedProduct product.id) "active"}}" {{on "click" (fn this.setProduct product.id)}}>
                        <div class="gh-radio-content">
                            <div class="gh-radio-label">
                                <div class="description">
                                    <h4>{{product.name}}</h4>
                                    <p>{{product.description}}</p>
                                </div>
                                {{svg-jar "check" class="check"}}
                            </div>
                        </div>
                        <div class="gh-radio-button"></div>
                    </div>
                {{/each}}
            </div>
        {{/if}}
    </div>
</form>

<div class="modal-footer">
    <button
        class="gh-btn"
        {{action "closeModal" }}
        {{!-- disable mouseDown so it does not trigger focus-out validations --}}
        {{action (optional this.noop) on="mouseDown" }}
        data-test-button="cancel-webhook">
        <span>Cancel</span>
    </button>


    <GhTaskButton @buttonText="Add subscription"
        @successText={{"Added"}}
        @task={{this.addProduct}}
        @class="gh-btn gh-btn-green gh-btn-icon gh-btn-add-memberproduct"
        data-test-button="save-comp-product" />
</div>