<header class="modal-header">
    <h1>Change user role</h1>
</header>
<a class="close" href="" role="button" title="Close" {{on "click" this.close}}>{{svg-jar "close"}}<span class="hidden">Close</span></a>

<div class="modal-body" {{did-insert this.setRoleFromModel}}>
    <GhRoleSelection
        @selected={{this.role}}
        @setRole={{fn (mut this.role)}}
    />
</div>

<div class="modal-footer">
    <button {{on "click" this.close}} class="gh-btn"><span>Cancel</span></button>
    <button {{on "click" this.confirmAction}} class="gh-btn gh-btn-black"><span>Change role</span></button>
</div>
