  <header class="modal-header">
      <h1>Share your publication</h1>
  </header>
  <a class="close" href="" role="button" title="Close">
      {{svg-jar "close"}}
      <span class="hidden">Close</span>
  </a>

  <div class="share-card-container">
     {{#let (or @post.featureImage (get-setting "coverImage")) as |imageUrl|}}
    {{#if imageUrl}}
      <div class="share-card-image">
        <img src={{imageUrl}} alt="" role="presentation" />
      </div>
    {{/if}}

    <div class="share-card-content">
      <div class="share-card-title">
        {{get-setting "title"}}
      </div>
      <div class="share-card-description">
        {{ get-setting "description"}}
      </div>
    </div>
    {{/let}}
  </div>


  <span class="tip">You can set your publication’s cover image and description in <a href="settings/design/edit/?ref=share-modal" title="Adjust settings">Settings</a></span>

  <ul class="gh-share-links">
    <li>
      <a href="http://google.com" target="_blank" rel="noopener noreferrer" class="gh-share-link" title="Copy link"> 
        <div class="gh-share-link-content">
          <span>
            {{svg-jar "copy" }}
          </span>
          Copy a link to your publication
        </div>
        <div class="gh-onboarding-item-action">
          {{svg-jar "arrow-right-tail"}}
        </div>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/intent/tweet?text=This%20is%20an%20example%20of%20a%20pre-written%20tweet" target="_blank" rel="noopener noreferrer" class="gh-share-link" title="Share your publication on X">
        <div class="gh-share-link-content">
          <span>
            {{svg-jar "social-x"}}
          </span>
          Share on X
        </div>
        <div class="gh-onboarding-item-action">
          {{svg-jar "arrow-right-tail"}}
        </div>
      </a>
    </li>
    <li>
      <a href="http://facebook.com" target="_blank" rel="noopener noreferrer" class="gh-share-link" title="Share your publication on Facebook">
        <div class="gh-share-link-content">
          <span>
            {{svg-jar "social-facebook"}}
          </span>
          Share on Facebook
        </div>
        <div class="gh-onboarding-item-action">
          {{svg-jar "arrow-right-tail"}}
        </div>
      </a>
    </li>
    <li>
      <a href="http://linkedin.com" target="_blank" rel="noopener noreferrer" class="gh-share-link" title="Share your publication on LinkedIn">
        <div class="gh-share-link-content">
          <span>
            {{svg-jar "social-linkedin"}}
          </span>
          Share on LinkedIn
        </div>
        <div class="gh-onboarding-item-action">
          {{svg-jar "arrow-right-tail"}}
        </div>
      </a>
    </li>
  </ul>

