<header class="modal-header">
    <h1>Regenerate {{capitalize this.apiKey.type}} API Key</h1>
</header>
<a class="close" href="" role="button" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">Close</span></a>

<div class="modal-body">
    <p>
        {{#if (eq this.internalIntegration "zapier")}}
            You will need to locate the Ghost App within your Zapier account and click on "Reconnect" to enter the new Admin API Key.
        {{else}}
            You can regenerate <strong>{{capitalize this.apiKey.type}} API Key</strong> any time, but any scripts or applications using it will need to be updated.
        {{/if}}
    </p>
    {{#if this.errorMessage}}
        <p class='red'> {{this.errorMessage}}</p>
    {{/if}}
</div>

<div class="modal-footer">
    <button class="gh-btn" type="button" {{action "closeModal"}}><span>Cancel</span></button>
    <GhTaskButton @buttonText="Regenerate {{capitalize this.apiKey.type}} API Key" @successText="Regenerated" @task={{this.regenerateKey}} @class="gh-btn gh-btn-icon gh-btn-red" />
</div>
