<header class="modal-header" data-test-modal="import-members">
    <h1>
        {{#if this.response}}
            Import result
        {{else}}
            Import {{#if this.filePresent}}<a href="#" {{action "reset"}}><span>(start over)</span></a>{{/if}}
        {{/if}}
    </h1>
</header>
<a class="close" href="" role="button" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">Close</span></a>

{{#if this.failureMessage}}
    <div class="failed bg-red-l1 ba">{{this.failureMessage}}</div>
{{/if}}

<div class="modal-body bg-whitegrey-l2 ba b--whitegrey br3">
    {{#if this.response}}
        <table class="gh-members-import-results">
            <tr>
                <td>Imported:</td>
                <td align="left" data-test-text="import-members-imported">{{this.response.imported}}</td>
            </tr>
            {{#if this.response.duplicates}}
                <tr>
                    <td>Duplicates:</td>
                    <td align="left" data-test-text="import-members-duplicates">{{this.response.duplicates}}</td>
                </tr>
            {{/if}}
            {{#if this.response.invalid}}
                <tr>
                    <td class="red">Invalid:</td>
                    <td align="left" data-test-text="import-members-invalid" class="red">{{this.response.invalid}}</td>
                </tr>
            {{/if}}
        </table>
    {{else}}
        {{#if this.filePresent}}
            <GhFormGroup>
                <label for="label-input">Labels</label>
                <GhMemberLabelInput @member={{this.labels}} @triggerId="label-input" />
            </GhFormGroup>
        {{else}}
            <div class="upload-form">
                <section class="gh-image-uploader {{this.dragClass}}">
                    <GhFileInput @multiple={{false}} @alt={{this.labelText}} @action={{action "fileSelected"}} @accept={{this.accept}}>
                        <div class="description">{{this.labelText}}</div>
                    </GhFileInput>
                </section>
            </div>
        {{/if}}
    {{/if}}
</div>

<div class="modal-footer">
    {{#if this.response}}
        <button {{action "closeModal"}} disabled={{this.closeDisabled}} class="gh-btn" data-test-button="close-import-members">
            <span>Close</span>
        </button>
    {{else if this.failureMessage}}
        <button {{action "closeModal"}} disabled={{this.closeDisabled}} class="gh-btn" data-test-button="close-import-members">
            <span>Cancel</span>
        </button>
    {{else}}
        <button {{action "closeModal"}} disabled={{this.closeDisabled}} class="gh-btn" data-test-button="close-import-members">
            <span>Cancel</span>
        </button>

        <button class="gh-btn gh-btn-green" {{action "upload"}} disabled={{this.importDisabled}}><span>Import</span></button>
    {{/if}}
</div>
