  <header class="modal-header">
      <h1>Share your publication</h1>
  </header>
  <a class="close" href="" role="button" title="Close">
      {{svg-jar "close"}}
      <span class="hidden">Close</span>
  </a>

  <div class="share-card-container">
     {{#let (or @post.featureImage (get-setting "coverImage")) as |imageUrl|}}
    {{#if imageUrl}}
      <div class="share-card-image">
        <img src={{imageUrl}} alt="" role="presentation" />
      </div>
    {{/if}}

    <div class="share-card-content">
      <div class="share-card-title">
        {{get-setting "title"}}
      </div>
      <div class="share-card-description">
        {{ get-setting "description"}}
      </div>
    </div>
    {{/let}}
  </div>


  <span class="tip">You can set your publication’s cover image and description in <a href="settings/design/edit/?ref=share-modal" title="Adjust settings">Settings</a></span>

  <div class="copy-publication-link">
    <span>
      {{ this.config.blogUrl }}
    </span>
    <GhTaskButton
      data-test-button="copy-share-link"
      @buttonText="Copy"
      @task={{this.copySiteUrl}}
      @successText="Copied!"
      @successClass="gh-share-link-success"
      @class="gh-share-link" />
    </div>

  <ul class="share-links">
    <li>
      <a href="{{this.xShareUrl}}" target="_blank" rel="noopener noreferrer" class="share-link" title="Share your publication on X">
        <span>
          {{svg-jar "social-x"}}
        </span>
      </a>
    </li>
    <li>
      <a href="{{this.facebookShareUrl}}" target="_blank" rel="noopener noreferrer" class="gh-share-link" title="Share your publication on Facebook">
        <div class="share-link-content">
          <span>
            {{svg-jar "social-facebook"}}
          </span>
        </div>
  
      </a>
    </li>
    <li>
      <a href="{{this.linkedInShareUrl}}" target="_blank" rel="noopener noreferrer" class="gh-share-link" title="Share your publication on LinkedIn">
        <div class="share-link-content">
          <span>
            {{svg-jar "social-linkedin"}}
          </span>
        </div>
      </a>
    </li>
  </ul>

