<header class="modal-header" data-test-modal="import-members">
    <h1>
        {{#if this.response}}
            Import complete
        {{else}}
            Import members
        {{/if}}
    </h1>
</header>
<a class="close" href="" role="button" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">Close</span></a>

{{#if this.response}}
    <div class="modal-body bg-whitegrey-l2 ba b--whitegrey br3">
        <table class="gh-members-import-results">
            <tr>
                <td>Imported:</td>
                <td align="left" data-test-text="import-members-imported">{{this.response.imported}}</td>
            </tr>
            {{#if this.response.duplicates}}
                <tr>
                    <td>Duplicates:</td>
                    <td align="left" data-test-text="import-members-duplicates">{{this.response.duplicates}}</td>
                </tr>
            {{/if}}
            {{#if this.response.invalid}}
                <tr>
                    <td class="red">Invalid:</td>
                    <td align="left" data-test-text="import-members-invalid" class="red">{{this.response.invalid}}</td>
                </tr>
            {{/if}}
        </table>
    </div>
{{else}}
    <div class="modal-body">
        {{#if (and this.filePresent (not this.failureMessage))}}
            {{#each validationErrors as |error|}}
                <div class="failed flex items-center gh-members-upload-failuremessage">
                    {{svg-jar "warning" class="w4 h4 fill-red mr1"}}
                    {{error.message}}
                </div>
            {{/each}}
            <GhFormGroup>
                <div class="bg-whitegrey-l2 ba b--whitegrey br3">
                    <div class="flex flex-column items-center justify-center gh-members-import-file">
                        {{svg-jar "file-tabular-data" class="w9 h9 mb1 stroke-midgrey"}}
                        <div class="description midgrey">{{this.file.name}}</div>
                    </div>
                </div>
                <div class="mt4">
                    <label for="label-input"><span class="fw6 f8 dib mb1">Labels</span></label>
                    <GhMemberLabelInput @member={{this.labels}} @triggerId="label-input" />
                    <p>Will be applied to all newly imported members</p>
                </div>
            </GhFormGroup>
        {{else}}
            {{#if this.failureMessage}}
                <div class="failed flex items-center gh-members-upload-failuremessage">
                    {{svg-jar "warning" class="w4 h4 fill-red mr1"}}
                    {{this.failureMessage}}
                </div>
            {{/if}}
            <div class="upload-form bg-whitegrey-l2 ba b--whitegrey br3">
                <section class="gh-image-uploader gh-members-import-uploader {{this.dragClass}}">
                    <GhFileInput @multiple={{false}} @alt={{this.labelText}} @action={{action "fileSelected"}} @accept={{this.accept}}>
                        <div class="flex flex-column items-center">
                            {{svg-jar "upload" class="w9 h9 mb1 stroke-midgrey"}}
                            <div class="description midgrey">{{this.labelText}}</div>
                        </div>
                    </GhFileInput>
                </section>
            </div>
        {{/if}}
    </div>
{{/if}}

<div class="modal-footer {{if (and this.filePresent (not this.failureMessage) (not this.response)) "modal-footer-spread"}}">
    {{#if this.response}}
        <button {{action "closeModal"}} disabled={{this.closeDisabled}} class="gh-btn gh-btn-blue" data-test-button="close-import-members">
            <span>Done</span>
        </button>
    {{else if (and this.filePresent (not this.failureMessage))}}
        <button {{action "reset"}} class="gh-btn" data-test-button="close-import-members">
            <span>Start over</span>
        </button>
        <button class="gh-btn gh-btn-green" {{action "upload"}} disabled={{this.importDisabled}}><span>Import</span></button>
    {{else}}
        <button {{action "closeModal"}} disabled={{this.closeDisabled}} class="gh-btn" data-test-button="close-import-members">
            <span>Close</span>
        </button>
    {{/if}}
</div>
