<div class="flex flex-column h-100">
    <header class="modal-header gh-post-preview-header gh-post-preview-header-border" data-test-modal="preview-email">
        <div>
            <button class="gh-editor-back-button" title="Close" {{on "click" this.close}}>
                <span>{{svg-jar "arrow-left"}} Back</span>
            </button>
        </div>
        <div class="gh-post-preview-btn-group">
            <div class="gh-contentfilter gh-btn-group">
                <button type="button" class="gh-btn {{if (eq this.tab "browser") "gh-btn-group-selected"}} gh-post-preview-mode" {{on "click" (fn this.changeTab "browser")}}><span>{{svg-jar "desktop"}}</span></button>
                <button type="button" class="gh-btn {{if (eq this.tab "mobile") "gh-btn-group-selected"}} gh-post-preview-mode" {{on "click" (fn this.changeTab "mobile")}}><span>{{svg-jar "mobile-phone"}}</span></button>
                {{#if @model.post.isPost}}
                    <button type="button" class="gh-btn {{if (eq this.tab "email") "gh-btn-group-selected"}} gh-post-preview-mode" {{on "click" (fn this.changeTab "email")}}><span>{{svg-jar "email-unread"}}</span></button>
                {{/if}}
                <button type="button" class="gh-btn {{if (eq this.tab "social") "gh-btn-group-selected"}} gh-post-preview-mode" {{on "click" (fn this.changeTab "social")}}><span>{{svg-jar "twitter"}}</span></button>
            </div>
        </div>

        <GhPublishmenu
            @post={{@model.post}}
            @postStatus={{@model.post.status}}
            @saveTask={{@model.saveTask}}
            @setSaveType={{@model.setEditorSaveType}}
            @memberCount={{@model.memberCount}}
            @uiContext="preview" />
    </header>

    {{#if (eq this.tab "browser")}}
        <ModalPostPreview::Browser @post={{@model.post}} />
    {{/if}}

    {{#if (and (eq this.tab "mobile"))}}
        <ModalPostPreview::Mobile @post={{@model.post}} />
    {{/if}}

    {{#if (and (eq this.tab "email") @model.post.isPost)}}
        <ModalPostPreview::Email @post={{@model.post}} />
    {{/if}}

    {{#if (eq this.tab "social")}}
        <ModalPostPreview::Social @post={{@model.post}} />
    {{/if}}
</div>