{{#unless this.settings.stripeConnectAccountId}}
<header class="modal-header" data-test-modal="webhook-form">
    <h1 data-test-text="title">Connect with Stripe</h1>
</header>
{{/unless}}
<button class="close" href title="Close" {{action "closeModal"}} {{action (optional this.noop) on="mouseDown"}}>
    {{svg-jar "close"}}
</button>

<form>
<div class="modal-body" {{did-insert this.updateSuccessModifier}}>
    <GhMembersPaymentsSetting
        @setStripeConnectIntegrationTokenSetting={{this.setStripeConnectIntegrationTokenSetting}}
        @onConnected={{this.updateSuccessModifier}}
        @onDisconnected={{this.updateSuccessModifier}}
    />
</div>
</form>

<div class="modal-footer">
    {{#if this.settings.stripeConnectAccountId}}
        <button
            class="gh-btn gh-btn-black"
            {{action "closeModal"}}
            {{action (optional this.noop) on="mouseDown"}}
            data-test-button="cancel-webhook"
        >
            <span>OK</span>
        </button>
    {{/if}}
</div>