  <header class="modal-header">
      <h1>Share your publication</h1>
  </header>
  <a class="close" href="" role="button" title="Close">
      {{svg-jar "close"}}
      <span class="hidden">Close</span>
  </a>

  <div class="gh-post-bookmark-container">
    <div class="gh-post-bookmark">
      {{#let (or @post.featureImage (get-setting "coverImage")) as |imageUrl|}}
      {{#if imageUrl}}
      <div class="gh-post-bookmark-image">
        <img src={{imageUrl}} alt="" role="presentation" />
      </div>
      {{/if}}

      <div class="gh-post-bookmark-content">
        <div class="gh-post-bookmark-title">
          {{get-setting "title"}}
        </div>

        <div class="gh-post-bookmark-text truncate">
          {{ get-setting "description"}}
        </div>

        <div class="gh-post-bookmark-details">
          {{#if (get-setting "icon")}}
            <div class="gh-site-icon"><img src={{get-setting "icon"}} alt="" role="presentation" /></div>
          {{/if}}

          <div class="gh-post-bookmark-site-title">
            {{get-setting "title"}}
          </div>
        </div>
      </div>
      {{/let}}
    </div>
  </div>

  <span class="tip">You can set your publication icon, cover image and description in <a href="settings/design/edit/?ref=share-modal" title="Adjust settings">Settings</a></span>

  <ul class="gh-share-links">
    <li>
      <a href="http://google.com" target="_blank" rel="noopener noreferrer" class="gh-share-link" title="Copy link"> 
        <div class="gh-share-link-content">
          <span>
            {{svg-jar "copy" }}
          </span>
          Copy a link to your publication
        </div>
        <div class="gh-onboarding-item-action">
          {{svg-jar "arrow-right-tail"}}
        </div>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/intent/tweet?text=This%20is%20an%20example%20of%20a%20pre-written%20tweet" target="_blank" rel="noopener noreferrer" class="gh-share-link" title="Share your publication on X">
        <div class="gh-share-link-content">
          <span>
            {{svg-jar "social-x"}}
          </span>
          Share on X
        </div>
        <div class="gh-onboarding-item-action">
          {{svg-jar "arrow-right-tail"}}
        </div>
      </a>
    </li>
    <li>
      <a href="http://facebook.com" target="_blank" rel="noopener noreferrer" class="gh-share-link" title="Share your publication on Facebook">
        <div class="gh-share-link-content">
          <span>
            {{svg-jar "social-facebook"}}
          </span>
          Share on Facebook
        </div>
        <div class="gh-onboarding-item-action">
          {{svg-jar "arrow-right-tail"}}
        </div>
      </a>
    </li>
    <li>
      <a href="http://linkedin.com" target="_blank" rel="noopener noreferrer" class="gh-share-link" title="Share your publication on LinkedIn">
        <div class="gh-share-link-content">
          <span>
            {{svg-jar "social-linkedin"}}
          </span>
          Share on LinkedIn
        </div>
        <div class="gh-onboarding-item-action">
          {{svg-jar "arrow-right-tail"}}
        </div>
      </a>
    </li>
  </ul>

