<header class="modal-header">
    <h1>Reset all passwords</h1>
</header>
<a class="close" href="" role="button" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">Close</span></a>

<div class="modal-body">
    <p>
        You're about to end all active staff user sessions and trigger a password reset for everyone (including yourself). Are you sure?
    </p>
    <p style="display:flex; column-gap: 0.8em;">
        <div>
            <input type="checkbox" checked={{this.isChecked}} {{on "click" (action "toggleCheckbox")}} name="checkbox" data-test-checkbox="reset-all-passwords">
        </div>
        <div style="flex:1">
            <div style="margin-bottom: 0.4em">
                <b>Yes, end sessions and reset passwords for all users.</b>
            </div>
            <div>
                Upon submission, you will be logged out. Please check your email to reset your password.
            </div>
        </div>
    </p>
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn"><span>Cancel</span></button>
    <GhTaskButton @buttonText="Reset Passwords" @task={{this.resetPasswords}} @class="gh-btn gh-btn-red gh-btn-icon" disabled={{this.isConfirmDisabled}} />
</div>
