{{!-- template-lint-disable no-invalid-interactive --}}
<div class="gh-post-history">
    <div class="gh-post-history-main">
        {{#if this.diffHtml}}
            {{{this.diffHtml}}}
        {{else}}
            Loading...
        {{/if}}
          <div class="gh-post-history-hidden-lexical previous">
            <KoenigLexicalEditor
                @hasLoaded={this.hasLoaded}
                @lexical={{this.previousLexical}}
                @cardConfig={{this.cardConfig}}
            />
          </div>
          <div class="gh-post-history-hidden-lexical current">

            <KoenigLexicalEditor
                @lexical={{this.currentLexical}}
                @cardConfig={{this.cardConfig}}
            />

          </div>
    </div>
    <div class="settings-menu-container">
        <div class="settings-menu settings-menu-pane settings-menu-pane-main">
            <div class="settings-menu-header subview">
                <button 
                    aria-label="Close meta data panel" 
                    class="back settings-menu-header-action" 
                    data-test-button="close-psm-subview" 
                    type="button" {{action "closeModal"}}
                    {{!-- disable mouseDown so it doesn't trigger focus-out validations --}}
                    {{on "mousedown" (optional this.noop)}}
                >   
                    {{svg-jar "arrow-left"}}
                    <span class="hidden">Back</span>
                </button>
                <h4>Post history</h4>
            </div>
            <div class="settings-menu-content">
                <ul class="nav-list">
                    <li class="nav-list-item">
                        <button type="button">
                            <div class="flex items-center">
                                <span class="gh-post-history-version">17 April 2023, 10:34</span>
                                <span class="gh-post-history-version-current">Current</span>
                                <span class="gh-post-history-version-wordcount">
                                    <span class="added">+275</span>
                                    <span class="subtracted">-73</span>
                                </span>
                            </div>
                            <span class="gh-post-history-version-meta">Jamie Larson</span>
                        </button>
                    </li>
                    <li class="nav-list-item">
                        <button type="button">
                            <div class="flex items-center">
                                <span class="gh-post-history-version">17 April 2023, 10:34</span>
                                <span class="gh-post-history-version-wordcount">
                                    <span class="added">+275</span>
                                    <span class="subtracted">-73</span>
                                </span>
                            </div>
                            <span class="gh-post-history-version-meta">Jamie Larson</span>
                        </button>
                    </li>
                    <li class="nav-list-item">
                        <button type="button">
                            <div class="flex items-center">
                                <span class="gh-post-history-version">17 April 2023, 10:34</span>
                                <span class="gh-post-history-version-wordcount">
                                    <span class="added">+275</span>
                                    <span class="subtracted">-73</span>
                                </span>
                            </div>                            
                            <span class="gh-post-history-version-meta">Jamie Larson</span>
                        </button>
                    </li>
                    <li class="nav-list-item">
                        <button type="button">
                            <div class="flex items-center">
                                <span class="gh-post-history-version">17 April 2023, 10:34</span>
                                <span class="gh-post-history-version-wordcount">
                                    <span class="added">+275</span>
                                    <span class="subtracted">-73</span>
                                </span>
                            </div>                            
                            <span class="gh-post-history-version-meta">Jamie Larson</span>
                        </button>
                    </li>
                    <li class="nav-list-item">
                        <button type="button">
                            <div class="flex items-center">
                                <span class="gh-post-history-version">17 April 2023, 10:34</span>
                                <span class="gh-post-history-version-wordcount">
                                    <span class="added">+275</span>
                                    <span class="subtracted">-73</span>
                                </span>
                            </div>                           
                            <span class="gh-post-history-version-meta">Jamie Larson</span>
                        </button>
                    </li>
                </ul>
            </div>
            {{!-- {{#each this.post.postRevisions as |revision|}}
                <div>{{revision.lexical}}</div>
            {{/each}} --}}
        </div>
    </div>
</div>
