  <header class="modal-header">
      <h1>Share your publication</h1>
  </header>
  <a class="close" href="" role="button" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">Close</span></a>

    <div class="modal-body">
      <div class="gh-site-preview-container">
        <div class="gh-site-preview">
          {{#let (or @post.featureImage (get-setting "coverImage")) as |imageUrl|}}
          <div class="gh-site-preview-title">{{get-setting "title"}}</div>
          <div class="gh-site-preview-description truncate">{{ get-setting "description"}}</div>
          <div class="gh-site-preview-details">
            {{#if (get-setting "icon")}}
              <div class="gh-site-icon"><img src={{get-setting "icon"}} alt="" role="presentation" /></div>
            {{/if}}
            <div class="gh-site-title">{{get-setting "title"}}
              <span>•</span>
            </div>
            <div class="gh-authors">Daniël van der Winden</div>
          </div>
        </div>
      </div>
      {{/let}}
    </div>
    {{/if}}

    <div class="share-card-content">
      <div class="share-card-title">
        {{get-setting "title"}}
      </div>
      <div class="share-card-description">
        {{ get-setting "description"}}
      </div>
    </div>
    {{/let}}
  </div>


  <span class="tip">Set your publication’s cover image and description in <a href="settings/design/edit/?ref=share-modal" title="Adjust settings">Settings</a></span>

  <div class="copy-publication-link">
    <span>
      {{ this.config.blogUrl }}
    </span>
    <GhTaskButton
      data-test-button="copy-share-link"
      @buttonText="Copy"
      @task={{this.copySiteUrl}}
      @successText="Copied!"
      @successClass="gh-share-link-success"
      @class="gh-share-link" />
    </div>

  <ul class="share-links">
    <li>
      <a href="{{this.xShareUrl}}" target="_blank" rel="noopener noreferrer" class="share-link" title="Share your publication on X">
        <span>
          {{svg-jar "social-x"}}
        </span>
      </a>
    </li>
    <li>
      <a href="{{this.facebookShareUrl}}" target="_blank" rel="noopener noreferrer" class="gh-share-link" title="Share your publication on Facebook">
        <div class="share-link-content">
          <span>
            {{svg-jar "social-facebook"}}
          </span>
        </div>
  
      </a>
    </li>
    <li>
      <a href="{{this.linkedInShareUrl}}" target="_blank" rel="noopener noreferrer" class="gh-share-link" title="Share your publication on LinkedIn">
        <div class="share-link-content">
          <span>
            {{svg-jar "social-linkedin"}}
          </span>
          Share on LinkedIn
          <div class="gh-dashboard-onboarding-item-action">
            {{svg-jar "arrow-right"}}
          </div>
        </li>
      </ul>
  </div>
