{{!< default}}

<div class="main-header post-head top-post" {{#if posts.0.image}} 
 style="background-image: url('{{posts.0.image}}');" {{/if}}>
  <a href="{{posts.0.url}}">
    <div class="hover-gradient"></div>
    <div class="container separator lg">
      <span class="custom-badge custom-badge-white">Top Post</span>
      <h1>{{posts.0.title}}</h1>
      <span class="custom-badge custom-badge-line shares visible-md visible-lg">10.7k shares</span>
    </div>
  </a>
</div>

<main class="content container posts-wrapper" role="main">
    <div class="row posts-header">
      <div class="col-md-9 posts-filters">
        <a href="#">Recent posts</a>
        <a href="#">Most popular</a>
      </div>
      <div class="col-md-3 visible-md visible-lg follow-us">
        <a href="#">Follow us</a>
      </div>
    </div>
    <div class="row">
      {{#foreach posts}}
        <a href="{{url}}">
            <div class="col-md-6">
              <div class="panel panel-default single-post">
                <div class="panel-heading" style="background-image: url({{image}})">
                    <div class="green-overlay"></div>
                    <span class="custom-badge custom-badge-white category">{{this.tags.1.name}}</span>
                </div>
                <div class="panel-body">
                  <h3>{{{title}}}</h3>
                  <p>{{excerpt characters="115"}}</p>
                  <span class="shares-count">3.5k shares</span>
                  <span class="comments-count"><i class="fa fa-comment"></i> 25</span>
                </div>
              </div>
            </div>
        </a>
      {{/foreach}}
    </div>
    <div class="row posts-footer">
      <div class="col-xs-12 text-center">
        {{pagination}}
      </div>
    </div>
</main>
