{{!< default}}

<div class="main-header post-head top-post" {{#if posts.0.image}} 
 style="background-image: url('{{posts.0.image}}');" {{/if}}>
  <div class="container separator lg">
    <span class="custom-badge custom-badge-white">Top Post</span>
    <h1>{{posts.0.title}}</h1>
  </div>
</div>

<main class="content" role="main">

    {{! Each post will be output using this markup }}
    <div class="row container posts-wrapper">
      {{#foreach posts}}
        <a href="{{url}}">
            <div class="col-md-6">
              <div class="panel panel-default single-post">
                <div class="panel-heading" style="background-image: url({{image}})">
                    <div class="green-overlay"></div>
                    <span class="custom-badge custom-badge-white category">{{this.tags.1.name}}</span>
                </div>
                <div class="panel-body">
                  <h3>{{{title}}}</h3>
                  <p>{{excerpt characters="115"}}</p>
                  <span class="shares-count">3.5k shares</span>
                  <span class="comments-count"><i class="fa fa-comment"></i> 25</span>
                </div>
              </div>
            </div>
        </a>
      {{/foreach}}
    </div>

    {{!! After all the posts, we have the previous/next pagination links }}
    <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            {{pagination}}
          </div>
        </div>
    </div>

</main>
