{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<div class="main-header post-head" {{#if image}} style="background-image: url('{{image}}');" {{/if}}></div>

<main class="content" role="main">
    <div class="container">
        <article class="{{post_class}} pull-left text-left">

            <header class="post-header">
                <h1 class="post-title text-left">{{{title}}}</h1>
                <section class="post-meta">
                    <span class="pull-left">
                      <a
                       class="btn-social-share facebook"
                       data-open-share="facebook"
                       data-open-share-link="{{url absolute="true"}}"
                       data-open-share-caption="{{encode title}}"
                       data-open-share-description="Forward Obsessed">
                        <span class="fa fa-facebook"></span>
                      </a>
                      <span
                      data-open-share-count="facebook"
                      data-open-share-count-url="{{url absolute="true"}}"></span>


                      <a
                       class="btn-social-share twitter"
                       data-open-share="twitter"
                       data-open-share-url="{{url absolute="true"}}"
                       data-open-share-text="{{encode title}}"
                       data-open-share-hashtags="resumes,fun,test"
                       data-open-share-ios="true">
                        <span class="fa fa-twitter"></span>
                      </a>
                      <span
                       data-open-share-count="twitter"
                       data-open-share-count-url="{{url absolute="true"}}"></span>


                      <a
                       class="btn-social-share linkedin"
                       data-open-share="linkedin"
                       data-open-share-url="{{url absolute="true"}}"
                       data-open-share-title="{{encode title}}">
                        <span class="fa fa-linkedin"></span>
                      </a>
                      <span
                       data-open-share-count="linkedin"
                       data-open-share-count-url="{{url absolute="true"}}"></span>


                       <a
                        class="btn-social-share google"
                        data-open-share="google"
                        data-open-share-url="{{url absolute="true"}}">
                         <span class="fa fa-google-plus"></span>
                        </a>
                        <span
                         data-open-share-count="google"
                         data-open-share-count-url="{{url absolute="true"}}"></span>


                        <a
                         class="btn-social-share pinterest"
                         data-open-share="pinterest"
                         data-open-share-media="{{image}}"
                         data-open-share-url="{{url absolute="true"}}"
                         data-open-share-description="{{encode title}}">
                          <span class="fa fa-pinterest"></span>
                        </a>
                        <span
                         data-open-share-count="pinterest"
                         data-open-share-count-url="{{url absolute="true"}}"></span>


                        <a
                         class="btn-social-share tumblr"
                         data-open-share="tumblr"
                         data-open-share-link="{{url absolute="true"}}">
                          <span class="fa fa-tumblr"></span>
                        </a>


                        <a
                         class="btn-social-share reddit"
                         data-open-share="reddit"
                         data-open-share-url="{{url absolute="true"}}"
                         data-open-share-title="{{encode title}}">
                          <span class="fa fa-reddit"></span>
                        </a>
                        <span
                         data-open-share-count="reddit"
                         data-open-share-count-url="{{url absolute="true"}}"></span>
                    </span>

                    <span
                     data-open-share-count="reddit,facebook,linkedin,google,pinterest"
                     data-open-share-count-url="{{url absolute="true"}}"></span>Shares

                    <a href="{{url absolute="true"}}#disqus_thread" data-disqus-identifier="{{post.id}}">Comments</a>

                    <time class="post-date pull-right" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time> {{!-- {{tags prefix=" on " separator=" | "}} --}}
                </section>
            </header>

            <section class="post-content">
                {{content}}
            </section>

            <footer class="post-footer">

                <section class="share text-center">
                    <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                        onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                        <span class="pale-text">Share on</span> Facebook
                    </a>
                    <a class="twitter" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
                        onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                        <span class="pale-text">Share on</span> Twitter
                    </a>
                    {{!-- <a class="col-sm-4 google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
                       onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                        <span class="pale-text">Share on</span> Google+
                    </a> --}}
                </section>

                <section class="author media">
                  <div class="media-left media-middle">
                    <div class="wrapper">
                      <img class="media-object" src="{{author.image}}" alt="{{author.title}} cover image">
                    </div>
                  </div>
                  <div class="media-body">
                    <h4>
                        <a href="/author/{{author.slug}}">{{author.name}}</a>
                    </h4>
                    <div class="separator sm"></div>
                    <p>{{author.bio}}</p>
                    <ul class="author-meta clearfix">
                        {{#if author.location}}<li>{{author.location}}</li>{{/if}}
                        {{#if author.website}}<li><a href="{{author.website}}">{{author.website}}</a></li>{{/if}}
                    </ul>
                  </div>
                </section>

                <section class="post-comments">
                  <div id="disqus_thread"></div>
                  <script>
                    var disqus_config = function () {
                        this.page.url = '{{url absolute="true"}}';
                        this.page.identifier = '{{post.id}}';
                    };
                    (function() { // DON'T EDIT BELOW THIS LINE
                      var d = document, s = d.createElement('script');
                      s.src = '//enhancv.disqus.com/embed.js';
                      s.setAttribute('data-timestamp', +new Date());
                      (d.head || d.body).appendChild(s);
                    })();
                  </script>
                  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                </section>

            </footer>

        </article>

        <div class="side pull-right">
            {{#get "posts" limit="3" as |featured|}}
                <section class="latest-posts">
                  <h3>Latest posts</h3>
                  <div class="separator md"></div>
                  {{#foreach featured}}
                  <div class="media">
                      {{#if image}}
                          <div class="media-left media-middle">
                            <a class="wrapper" href={{url}}>
                              <img class="media-object" src={{image}} alt="{{title}} cover image">
                            </a>
                          </div>
                      {{/if}}
                      <div class="media-body">
                        <a href={{url}} class="media-heading">{{title}}</a>
                      </div>
                  </div>
                  {{/foreach}}
                </section>
            {{else}}
                <p>No latest posts...</p>
            {{/get}}

            <div class="separator lg"></div>

            <div class="subscribe">
                <img class="image" src="http://blog.enhancv.com/wp-content/uploads/2015/12/rsz_1n6.jpg" alt="Banner CVs">
                <div class="separator md"></div>

                <h3>Super-Human Resumes.</h3>
                <div class="separator sm"></div>

                <p>In your inbox every week.<br>What's more to ask from life?</p>
                <div class="separator md"></div>

                <input type="text" name="email" class="form-control" placeholder="Email">
                <button type="submit" class="btn btn-success">Subscribe</button>
            </div>
        </div>
    </div>

    {{!-- <div class="read-next">
        {{#next_post}}
        <a class="read-next-story {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
            <section class="post">
                <h2>{{title}}</h2>
                <p>{{excerpt words="19"}}&hellip;</p>
            </section>
        </a>
        {{/next_post}}
        {{#prev_post}}
        <a class="read-next-story prev {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
            <section class="post">
                <h2>{{title}}</h2>
                <p>{{excerpt words="19"}}&hellip;</p>
            </section>
        </a>
        {{/prev_post}}
    </div> --}}
</main>


{{/post}}
