{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<div class="main-header post-head" {{#if image}} style="background-image: url('{{image}}');" {{/if}}></div>

<main class="content" role="main">
    <div class="container">
        <article class="{{post_class}} pull-left text-left">

            <header class="post-header">
                <h1 class="post-title text-left">{{{title}}}</h1>
                <section class="post-meta">
                    <span class="pull-left">
                      <a
                       class="btn-social-share facebook"
                       data-open-share="facebook"
                       data-open-share-link="{{url absolute="true"}}"
                       data-open-share-caption="{{encode title}}"
                       data-open-share-description="Forward Obsessed">
                        <span class="fa fa-facebook"></span>
                      </a>
                      <span
                      data-open-share-count="facebook"
                      data-open-share-count-url="{{url absolute="true"}}"></span>


                      <a
                       class="btn-social-share twitter"
                       data-open-share="twitter"
                       data-open-share-url="{{url absolute="true"}}"
                       data-open-share-text="{{encode title}}"
                       data-open-share-hashtags="resumes,fun,test"
                       data-open-share-ios="true">
                        <span class="fa fa-twitter"></span>
                      </a>
                      <span
                       data-open-share-count="twitter"
                       data-open-share-count-url="{{url absolute="true"}}"></span>


                      <a
                       class="btn-social-share linkedin"
                       data-open-share="linkedin"
                       data-open-share-url="{{url absolute="true"}}"
                       data-open-share-title="{{encode title}}">
                        <span class="fa fa-linkedin"></span>
                      </a>
                      <span
                       data-open-share-count="linkedin"
                       data-open-share-count-url="{{url absolute="true"}}"></span>


                       <a
                        class="btn-social-share google"
                        data-open-share="google"
                        data-open-share-url="{{url absolute="true"}}">
                         <span class="fa fa-google-plus"></span>
                        </a>
                        <span
                         data-open-share-count="google"
                         data-open-share-count-url="{{url absolute="true"}}"></span>


                        <a
                         class="btn-social-share pinterest"
                         data-open-share="pinterest"
                         data-open-share-media="{{image}}"
                         data-open-share-url="{{url absolute="true"}}"
                         data-open-share-description="{{encode title}}">
                          <span class="fa fa-pinterest"></span>
                        </a>
                        <span
                         data-open-share-count="pinterest"
                         data-open-share-count-url="{{url absolute="true"}}"></span>


                        <a
                         class="btn-social-share tumblr"
                         data-open-share="tumblr"
                         data-open-share-link="{{url absolute="true"}}">
                          <span class="fa fa-tumblr"></span>
                        </a>


                        <a
                         class="btn-social-share reddit"
                         data-open-share="reddit"
                         data-open-share-url="{{url absolute="true"}}"
                         data-open-share-title="{{encode title}}">
                          <span class="fa fa-reddit"></span>
                        </a>
                        <span
                         data-open-share-count="reddit"
                         data-open-share-count-url="{{url absolute="true"}}"></span>
                    </span>

                    <span class="post-header-pill">
                        <span
                         data-open-share-count="reddit,facebook,linkedin,google,pinterest"
                         data-open-share-count-url="{{url absolute="true"}}"></span>
                        Shares
                    </span>

                    <span class="post-header-pill">
                        <span class="fa fa-comment"></span>
                        <a href="{{url absolute="true"}}#disqus_thread" data-disqus-identifier="{{id}}">Comments</a>
                    </span>

                    <time class="post-date pull-right" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time> {{!-- {{tags prefix=" on " separator=" | "}} --}}
                </section>
            </header>

            <section class="post-content">
                {{content}}
            </section>

            <footer class="post-footer">

                <section class="share text-center">
                    <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                        onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                        <span class="pale-text">Share on</span> Facebook
                    </a>
                    <a class="twitter" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
                        onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                        <span class="pale-text">Share on</span> Twitter
                    </a>
                </section>

                <section class="author media">
                  <div class="media-left media-middle">
                    <div class="wrapper">
                      <img class="media-object" src="{{author.image}}" alt="{{author.title}} cover image">
                    </div>
                  </div>
                  <div class="media-body">
                    <h4>
                        <a href="/author/{{author.slug}}">{{author.name}}</a>
                    </h4>
                    <div class="separator sm"></div>
                    <p>{{{author.bio}}}</p>
                    <ul class="author-meta clearfix">
                        {{#if author.location}}<li>{{author.location}}</li>{{/if}}
                        {{#if author.website}}<li><a href="{{author.website}}">{{author.website}}</a></li>{{/if}}
                    </ul>
                  </div>
                </section>

                <section class="post-comments">
                  <div id="disqus_thread"></div>
                  <script>
                    var disqus_config = function () {
                        this.page.url = '{{url absolute="true"}}';
                        this.page.identifier = '{{id}}';
                    };
                    (function() { // DON'T EDIT BELOW THIS LINE
                      var d = document, s = d.createElement('script');
                      s.src = '//enhancv.disqus.com/embed.js';
                      s.setAttribute('data-timestamp', +new Date());
                      (d.head || d.body).appendChild(s);
                    })();
                  </script>
                  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                </section>

            </footer>

        </article>

        <div class="side pull-right">
            {{#get "posts" filter="id:-{{id}}" limit="3" as |recent|}}
                <section class="latest-posts">
                  <h3>Latest posts</h3>
                  <div class="separator md"></div>
                  {{#foreach recent}}
                      <div class="media">
                          {{#if image}}
                              <div class="media-left media-middle">
                                <a class="wrapper" href={{url}}>
                                  <img class="media-object" src={{image}} alt="{{title}} cover image">
                                </a>
                              </div>
                          {{/if}}
                          <div class="media-body">
                            <a href={{url}} class="media-heading">{{title}}</a>
                          </div>
                      </div>
                  <div class="separator md"></div>
                  {{/foreach}}
                </section>
            {{else}}
                <p>No latest posts...</p>
            {{/get}}

            <div class="separator lg"></div>

            <div class="subscribe">
                <img class="image" src="http://blog.enhancv.com/wp-content/uploads/2015/12/rsz_1n6.jpg" alt="Banner CVs">
                <div class="separator md"></div>

                <h3>Super-Human Resumes.</h3>
                <div class="separator sm"></div>

                <p>In your inbox every week.<br>What's more to ask from life?</p>
                <div class="separator md"></div>

                <!-- Begin MailChimp Signup Form -->
                <div id="mc_embed_signup">
                    <form action="//enhancv.us3.list-manage.com/subscribe/post?u=e9f971ca5567251cc71a5e56e&amp;id=25c27d778b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="Your email" required>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e9f971ca5567251cc71a5e56e_55ae08484a" tabindex="-1" value=""></div>
                            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success"></div>
                        </div>
                    </form>
                </div>
                <!--End mc_embed_signup-->
            </div>
        </div>
    </div>
</main>


{{/post}}
