<div class="ember-power-select-search" {{on "mousedown" this.captureMousedown}}>
    {{#if @extra.inputIcon}}
        {{svg-jar @extra.inputIcon class=@extra.inputIconClass}}
    {{/if}}
    <input type="search"
        {{autofocus}}
        {{did-insert this.registerInput}}
        {{on "input" this.search}}
        {{on "mousedown" this.captureMousedown}}
        {{on "keydown" this.handleKeydown}}
        {{on "keyup" this.handleKeyup}}
        autocomplete="off"
        autocorrect="off"
        autocapitalize="off"
        autofocus="true"
        value={{if @extra.labelPath (get @selected @extra.labelPath) @selected}}
        spellcheck="false"
        role="combobox"
        placeholder={{@placeholder}}
    >
</div>
