{{#if @select.selected}}
    {{#if @selectedItemComponent}}
        {{component @selectedItemComponent extra=(readonly @extra) option=(readonly @option.selected) select=(readonly @select)}}
    {{else}}
        <span class="ember-power-select-selected-item">{{yield @select.selected this.select}}</span>
    {{/if}}
    {{#if (and @allowClear (not @select.disabled))}}
        <span class="ember-power-select-clear-btn" {{on "mousedown" this.clear}} {{on "touchstart" this.clear}}>&times;</span>
    {{/if}}
{{else}}
    {{component @placeholderComponent placeholder=@placeholder}}
{{/if}}
{{!-- this next line is the only difference from original trigger.hbs --}}
{{svg-jar "arrow-down-small"}}
