<header>
    {{#link-to 'settings' class='button-back button'}}Back{{/link-to}}
    <h2 class="title">Users</h2>
    <section class="page-actions">
        <button class="button-add" {{action "openModal" "invite-new-user" this}} >New&nbsp;User</button>
    </section>
</header>

<section class="content settings-users">
    {{#if invitedUsers}}

        <section class="object-list invited-users">

            <h4 class="object-list-title">Invited users</h4>

            {{#each invitedUsers itemController="settings/users/user"}}
                <div class="object-list-item">
                    <span class="object-list-item-icon icon-mail">ic</span>

                    <div class="object-list-item-body">
                        <span class="name">{{email}}</span><br>
                            {{#if pending}}
                                <span class="red">Invitation not sent - please try again</span>
                            {{else}}
                                <span class="description">Invitation sent: {{created_at}}</span>
                            {{/if}}
                    </div>
                    <aside class="object-list-item-aside">
                        <a class="object-list-action" href="#" {{action "revoke"}}>Revoke</a>
                        <a class="object-list-action" href="#" {{action "resend"}}>Resend</a>
                    </aside>
                </div>
            {{/each}}

        </section>

    {{/if}}

    <section class="object-list">

        <h4 class="object-list-title">Active users</h4>

        {{#each activeUsers itemController="settings/users/user"}}
            {{#link-to 'settings.users.user' this class="object-list-item" }}
                <img class="object-list-item-figure"
                     src="{{unbound imageUrl}}"
                     alt="Photo of {{unbound name}}" />

                <div class="object-list-item-body">
                    <span class="name">
                        {{user.name}}
                    </span>
                    <br>
                    <span class="description">Last seen: {{unbound last_login}}</span>
                </div>
                <!-- @TODO: replace these with real access level once API and data model are updated -->
                <aside class="object-list-item-aside">
                    <span class="role-label editor">Editor</span>
                    <span class="role-label owner">Owner</span>
                </aside>
            {{/link-to}}
        {{/each}}

    </section>
</section>
