{{#if url}}
    <img src="{{url}}" />
{{else if file}}
{{!-- Upload in progress! --}}
    {{#if failureMessage}}
        <div class="failed">{{failureMessage}}</div>
    {{/if}}
    <div class="progress-container">
        <div class="progress">
            <div class="bar {{if failureMessage "fail"}}" style={{progressStyle}}></div>
        </div>
    </div>
    {{#if failureMessage}}
        <button class="btn btn-green" {{action "reset"}}>Try Again</button>
    {{/if}}
{{else}}
    {{!-- file selection/drag-n-drop  --}}
    <div class="upload-form">
        {{#gh-file-input multiple=false alt=description action=(action 'fileSelected') accept=accept}}
            <div class="gh-btn gh-btn-blue"><span>{{description}}</span></div>
        {{/gh-file-input}}
    </div>
{{/if}}
