{{#each emberCards as |card|}}
    {{#ember-wormhole to=card.id}}
        {{koenig-card card=card apiRoot=apiRoot assetPath=assetPath}}
    {{/ember-wormhole}}
{{/each}}
<div class='gh-koenig'>
    <div class='surface' tabindex="{{tabindex}}"/>
</div>

{{yield}}

{{koenig-toolbar editor=editor assetPath=assetPath containerSelector=containerSelector}}
{{koenig-slash-menu editor=editor assetPath=assetPath containerSelector=containerSelector}}
{{koenig-plus-menu editor=editor assetPath=assetPath containerSelector=containerSelector}}