{{#if isLink}}
    {{input
        placeholder="Enter a link"
        keyDown=(action "linkKeyDown")
        keyPress=(action "linkKeyPress")
        autofocus=true
    }}
    <button class="gh-toolbar-btn" {{action 'closeLink'}}>x</button>
{{else}}
    {{#each toolbar as |tool|}}
        {{koenig-toolbar-button
            tool=tool
            editor=editor}}
    {{/each}}
    <div class="gh-toolbar-divider" role="presentation"></div>
    {{#each toolbarBlocks as |tool|}}
        {{koenig-toolbar-button
            tool=tool
            editor=editor}}
    {{/each}}
{{/if}}
