<div class="gh-cardmenu-icon">{{inline-svg tool.icon}}</div>
<div class="gh-cardmenu-label">{{tool.label}}</div>

{{!--

{{#if selected}}
    <button {{action "select"}} class="selected">
        {{#if tool.icon}}
            <img src="{{iconURL}}{{tool.icon}}" />
        {{else}}
            {{tool.name}}
        {{/if}}
        {{tool.label}}
    </button>
{{else}}
    <button {{action "select"}}>
        {{#if tool.icon}}
            <img src="{{iconURL}}{{tool.icon}}" />
        {{else}}
            {{tool.name}}
        {{/if}}
        {{tool.label}}
    </button>
{{/if}}
--}}
