{{component
    card.card.name
    env=card.env
    payload=card.payload
    options=card.options
    apiRoot=apiRoot
    assetPath=assetPath
    doSave=doSave
    isEditing=isEditing
    selectCard=(action "selectCard")
    selectCardHard=(action "selectCardHard")
    deselectCard=(action "deselectCard")
    stopEdit=(action "stopEdit")
}}
<div class="kg-card-toolbar">
    <div class="button-group">
        <label {{action "selectCardHard"}}>{{card.card.label}}:</label>
        {{#if isEditing}}
            {{!--<button {{action "stopEdit"}} class='kg-card-button-text'>
                        Cancel
            </button>--}}
            <button {{action "stopEdit"}} class='kg-card-button kg-card-button-save'>
                Done
            </button>
        {{else}}
            {{#if card.card.buttons.edit}}
                <button {{action "startEdit"}} class='kg-card-button kg-card-button-text'>
                        Edit
                </button>
            {{/if}}
            <button class='kg-card-button kg-card-delete' {{action "delete"}}>
                {{inline-svg "trash"}}
            </button>
        {{/if}}
    </div>
</div>
