<div class="kg-paywall align-center">
    <table class="kg-paywall-hr" role="presentation" width="100%" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td>
                    <!--[if !mso]><!-- -->
                    <hr style="display: none;" />
                    <!--<![endif]-->
                    <table class="kg-hr" role="presentation" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    {{#if paywall.title}}
        <h3>{{paywall.title}}</h3>
    {{else}}
        <h3>{{t 'Upgrade to continue reading.'}}</h3>
    {{/if}}
    {{#if paywall.body}}
        <p>{{paywall.body}}</p>
    {{else}}
        <p>{{{t 'Become a paid member of {site} to get access to all premium content.' site=site.title}}}</p>
    {{/if}}
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <table class="btn" border="0" cellspacing="0" cellpadding="0" align="center">
                        <tr>
                            <td align="center">
                                {{#if paywall.buttonText}}
                                    <a href="{{paywall.buttonUrl}}">{{paywall.buttonText}}</a>
                                {{else}}
                                    <a href="{{paywall.buttonUrl}}">{{t 'Upgrade'}}</a>
                                {{/if}}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    <p></p>
</div>
