{{#if this.hostLimitError}}
    <div class="modal-content" data-test-modal="upgrade-unsuspend-user-host-limit">
        <header class="modal-header">
            <h1>Upgrade to un-suspend this user</h1>
        </header>
        <button class="close" title="Close" type="button" {{on "click" @close}}>{{svg-jar "close"}}<span class="hidden">Close</span></button>

        <div class="modal-body">
            <p>
                {{html-safe this.hostLimitError}} To give this user access to Ghost, upgrade to a different plan.
            </p>
        </div>

        <div class="modal-footer">
            <button class="gh-btn" data-test-button="cancel-upgrade" type="button" {{on "click" @close}}>
                <span>Cancel</span>
            </button>

            <button class="gh-btn gh-btn-green" data-test-button="upgrade-plan" type="button" {{on "click" this.upgrade}}>
                <span>Upgrade my plan</span>
            </button>
        </div>
    </div>
{{else}}
    <div class="modal-content" data-test-modal="unsuspend-user">
        <header class="modal-header">
            <h1>Are you sure you want to un-suspend this user?</h1>
        </header>
        <button type="button" class="close" title="Close" {{on "click" @close}}>{{svg-jar "close"}}<span class="hidden">Close</span></button>

        <div class="modal-body">
            <strong>WARNING:</strong> This user will be able to log in again and will have the same permissions they had previously.
        </div>

        <div class="modal-footer">
            <button class="gh-btn" type="button" {{on "click" @close}}><span>Cancel</span></button>
            <GhTaskButton
                @buttonText="Un-suspend"
                @successText="Suspended"
                @task={{this.unsuspendUserTask}}
                @class="gh-btn gh-btn-red gh-btn-icon"
                data-test-modal-confirm="true"
            />
        </div>
    </div>
{{/if}}