<form method="post" action="{{action}}" id="{{form_id}}" class="{{form_class}}">
    {{! This is required for the form to work correctly }}
    {{hidden}}

    <div class="form-group{{#if error}} error{{/if}}">
        {{input_email id=input_id class=input_class placeholder=placeholder value=email autofocus=autofocus}}
    </div>
    <button id="{{button_id}}" class="{{button_class}}" type="submit"><span>Subscribe</span></button>
    {{! This is used to get extra info about where this subscriber came from }}
    {{script}}
</form>

{{#if error}}
    <p class="main-error">{{error.message}}</p>
{{/if}}
