{{#if @post.isDraft}}
    <button
        type="button"
        class="gh-btn gh-btn-editor darkgrey gh-publishmenu-trigger"
        {{on "click" this.openPublishFlow}}
        {{on-key "cmd+shift+p"}}
        disabled={{this.publishOptions.isLoading}}
        data-test-button="publish-flow"
    >
        <span>Publish</span>
    </button>
{{else}}
    {{#if (or @hasUnsavedChanges this.saveButtonTaskGroup.isRunning)}}
        <GhTaskButton
            @task={{this.saveTask}}
            @runningText="Saving..."
            @class="gh-btn gh-btn-editor gh-publishmenu-trigger"
            @idleClass="green"
            @runningClass="midlightgrey"
            @successClass="midlightgrey"
            @failureClass="red"
            @showIcon={{false}}
        />
    {{/if}}

    <button
        type="button"
        class="gh-btn gh-btn-editor darkgrey gh-publishmenu-trigger"
        {{on "click" this.openUpdateFlow}}
        data-test-button="update-flow"
    >
        <span>Update</span>
    </button>
{{/if}}