<div ...attributes>
    <div class="flex-grow-1">
        <label class="gh-setting-title" for="site-description">Site description</label>
        <div class="gh-setting-desc mb3">Used in your theme, meta data and search results</div>
        <div class="gh-setting-action" data-test-setting="description">
            <GhFormGroup @errors={{this.settings.errors}} @hasValidated={{this.settings.hasValidated}} @property="description" @class="description-container">
                <input
                    id="site-description"
                    type="text"
                    class="gh-input"
                    value={{this.settings.description}}
                    {{on "input" this.update}}
                    {{on "blur" this.validate}}
                    data-test-input="siteDescription"
                >
                <GhErrorMessage @errors={{this.settings.errors}} @property="description"/>
            </GhFormGroup>
        </div>
    </div>
</div>