<header class="floatingheader">
    <button class="button-back" href="#">Back</button>
    <a class="{{#if featured}}featured{{else}}unfeatured{{/if}}" href="#">
        <span class="hidden">Star</span>
    </a>
    {{! TODO: JavaScript toggle featured/unfeatured}}
    <span class="status">{{#if published}}Published{{else}}Written{{/if}}</span>
    <span class="normal">by</span>
    <span class="author">{{#if author.name}}{{author.name}}{{else}}{{author.email}}{{/if}}</span>
    <section class="post-controls">
        <a class="post-edit" href="#"><span class="hidden">Edit Post</span></a>
        <a class="post-settings" href="#" data-toggle=".post-settings-menu"><span class="hidden">Post Settings</span></a>
        <ul class="post-settings-menu menu-drop-right overlay">
            <li class="post-setting">
                <div class="post-setting-label">
                    <label for="url">URL</label>
                </div>
                <div class="post-setting-field">
                    <input class="post-setting-slug" type="text" value="{{{slug}}}">
                </div>
            </li>
            <li class="post-setting">
                <div class="post-setting-label">
                    <label for="url">Pub Date</label>
                </div>
                <div class="post-setting-field">
                    <input class="post-setting-date" type="text" value="">
                </div>
            </li>
            <li><a href="#" class="delete hidden">Delete</a></li>
        </ul>
    </section>
</header>
<section class="content-preview-content">
    <div class="wrapper"><h1>{{{title}}}</h1>{{{html}}}</div>
</section>