<header class="floatingheader">
    <button class="button-back" href="#">Back</button>
    <a class="{{#if featured}}featured{{else}}unfeatured{{/if}}" href="#" title="{{#if featured}}Unfeature{{else}}Feature{{/if}} this post">
        <span class="hidden">Star</span>
    </a>
    <small>
        <span class="status">{{#if published}}Published{{else}}Written{{/if}}</span>
        <span class="normal">by</span>
        <span class="author">{{#if author.name}}{{author.name}}{{else}}{{author.email}}{{/if}}</span>
    </small>
    <section class="post-controls">
        <a class="post-edit" href="#" title="Edit Post"><span class="hidden">Edit Post</span></a>
        <a class="post-settings" href="#" data-toggle=".post-settings-menu" title="Post Settings"><span class="hidden">Post Settings</span></a>
        <div class="post-settings-menu menu-drop-right overlay">
            <form>
                <table class="plain">
                    <tr class="post-setting">
                        <td class="post-setting-label">
                            <label for="url">URL</label>
                        </td>
                        <td class="post-setting-field">
                            <input id="url" class="post-setting-slug" type="text" value="" />
                        </td>
                    </tr>
                    <tr class="post-setting">
                        <td class="post-setting-label">
                            <label for="pub-date">Pub Date</label>
                        </td>
                        <td class="post-setting-field">
                            <input id="pub-date" class="post-setting-date" type="text" value=""><!--<span class="post-setting-calendar"></span>-->
                        </td>
                    </tr>
                    <tr class="post-setting">
                        <td class="post-setting-label">
                            <span class="label">Static Page</span>
                        </td>
                        <td class="post-setting-item">
                            <input id="static-page" class="post-setting-static-page" type="checkbox" value="">
                            <label class="checkbox" for="static-page"></label>
                        </td>
                    </tr>
                </table>
            </form>
            <a class="delete" href="#">Delete This Post</a>
        </div>
    </section>
</header>
<section class="content-preview-content">
    <div class="wrapper"><h1>{{{title}}}</h1>{{{html}}}</div>
</section>
{{#unless title}}
    <div class="no-posts-box">
        <div class="no-posts">
            <h3>You Haven't Written Any Posts Yet!</h3>
            <form action="{{adminUrl}}/editor/"><button class="button-add large" title="New Post">Write a new Post</button></form>
        </div>
    </div>
{{/unless}}
