{{#koenig-card
    class=(concat (kg-style "media-card") " mih10 miw-100 relative")
    toolbar=toolbar
    isSelected=isSelected
    isEditing=isEditing
    selectCard=(action selectCard)
    editCard=(action editCard)
    onLeaveEdit=(action "leaveEditMode")
}}
    {{#if isEditing}}
        {{gh-cm-editor payload.html
            class="koenig-card-html--editor"
            autofocus=true
            update=(action "updateHtml")
        }}

        <input
            value={{payload.caption}}
            type="text"
            class="miw-100 tc bn form-text"
            oninput={{action "updateCaption" value="target.value"}}
            placeholder="Type caption for embed (optional)">
    {{else}}
        {{{payload.html}}}

        {{#if payload.caption}}
            <p class={{kg-style "figcaption"}}>{{{payload.caption}}}</p>
        {{/if}}

        <div class="koenig-card-click-overlay"></div>
    {{/if}}
{{/koenig-card}}
