{{#if icon}}{{svg-jar icon class=iconClass}}{{/if}}

{{yield}}

{{#if toolbar}}
    <ul data-toolbar="true" class="kg-action-bar bg-lgr-darkgrey inline-flex pa0 ma0 list br3 shadow-2 items-center absolute white sans-serif f8 fw6 tracked-2 anim-fast-bezier z-999 {{if showToolbar "" "o-0 drop-down"}}" style={{toolbarStyle}}>
        {{#each toolbar.items as |item|}}
            <li class="ma0">
                <button
                    type="button"
                    title={{item.title}}
                    class="dib dim-lite pa3 pt2 pb2 link {{item.buttonClass}}"
                    onmousedown={{action item.action}}
                >
                    {{#if item.icon}}{{svg-jar item.icon class=(concat item.iconClass (if item.text " mr2") " w4 h4")}} {{/if}}{{item.text}}
                </button>
            </li>
        {{/each}}
    </ul>
{{/if}}
