{{#if showButton}}
    <button class="koenig-plus-menu-button flex justify-center items-center relative w9 h9 ba b--midgrey bg-white br-100 kg-blue-hover" {{action "openMenu"}}>{{svg-jar "plus" class="w4 h4 stroke-midgrey i-strokew--2"}}</button>
{{/if}}

{{#if showMenu}}
    <div class="koenig-cardmenu {{kg-style "cardmenu"}}">
        {{!-- <div class="koenig-cardmenu-search">
            {{svg-jar "koenig/search"}}
            <input type="text" placeholder="Search for a card..." class="gh-input koenig-cardmenu-search-input">
        </div>
        <div class="koenig-cardmenu-divider">
            Primary
        </div> --}}
        <div class="koenig-cardmenu-card {{kg-style "cardmenu-card"}}" {{action "replaceWithCardSection" "markdown" on="click"}}>
            <div class="{{kg-style "cardmenu-icon"}}">{{svg-jar "koenig/markdown" class="w8 h8 stroke-midgrey"}}</div>
            <div class="{{kg-style "cardmenu-label"}}">Markdown</div>
        </div>
        <div class="koenig-cardmenu-card {{kg-style "cardmenu-card"}}" {{action "replaceWithCardSection" "image" on="click"}}>
            <div class="{{kg-style "cardmenu-icon"}}">{{svg-jar "koenig/image" class="w8 h8 stroke-midgrey"}}</div>
            <div class="{{kg-style "cardmenu-label"}}">Image</div>
        </div>
        <div class="koenig-cardmenu-card {{kg-style "cardmenu-card"}}" {{action "replaceWithCardSection" "html" on="click"}}>
            <div class="{{kg-style "cardmenu-icon"}}">{{svg-jar "koenig/html" class="w8 h8 stroke-midgrey"}}</div>
            <div class="{{kg-style "cardmenu-label"}}">HTML</div>
        </div>
        <div class="koenig-cardmenu-card {{kg-style "cardmenu-card"}}" {{action "replaceWithCardSection" "hr" on="click"}}>
            <div class="{{kg-style "cardmenu-icon"}}">{{svg-jar "koenig/divider" class="w8 h8 stroke-midgrey"}}</div>
            <div class="{{kg-style "cardmenu-label"}}">Divider</div>
        </div>
    </div>
{{/if}}
