{{#if icon}}{{inline-svg icon class=iconClass}}{{/if}}

{{yield}}

{{#if toolbar}}
    <div class="koenig-card-toolbar koenig-toolbar {{if showToolbar "koenig-toolbar--visible"}}" style={{toolbarStyle}}>
        {{#each toolbar.items as |item|}}
            <button type="button" title={{item.title}} class="koenig-toolbar-btn" onmousedown={{action item.action}}>
                {{inline-svg item.icon}}
            </button>
        {{/each}}
    </div>
{{/if}}
