{{#if icon}}{{svg-jar icon class=iconClass}}{{/if}}

{{yield}}

{{#if toolbar}}
    <div class="koenig-card-toolbar koenig-toolbar {{if showToolbar "koenig-toolbar--visible"}}" style={{toolbarStyle}}>
        {{#each toolbar.items as |item|}}
            <button
                type="button"
                title={{item.title}}
                class="koenig-toolbar-btn sans-serif f7"
                style="width: auto !important"
                onmousedown={{action item.action}}
            >
                {{#if item.icon}}
                    {{svg-jar item.icon}}
                {{else}}
                    {{item.title}}
                {{/if}}
            </button>
        {{/each}}
    </div>
{{/if}}
