<input
    placeholder="Enter url"
    value={{href}}
    class="miw-100 pa2 pr6 mih-100 ba br3 shadow-2 f8 lh-heading tracked-2 outline-0 b--blue"
    autofocus="true"
    oninput={{action (mut href) value="target.value"}}
    onkeydown={{action "inputKeydown"}}
/>

{{#if href}}
    <button class="kg-input-bar-close" type="button" {{action "clear"}}>
        {{svg-jar "close" class="ih2 stroke-midlightgrey-l2"}}
    </button>
{{/if}}
