<PowerSelect
    @options={{this.options}}
    @selected={{this.selectedOption}}
    @onChange={{this.setRecipients}}
    @triggerClass="gh-setting-dropdown"
    @dropdownClass="gh-setting-dropdown-list"
    as |option|
>
    <div class="gh-setting-dropdown-content">
        {{svg-jar option.icon class=(concat "w8 h8 mr2 fill-" (or option.icon_color "green"))}}
        <div class="gh-radio-label">
            {{option.name}}<br>
            <div class="gh-radio-desc">{{option.description}}</div>
        </div>
    </div>
</PowerSelect>

{{#if (eq @recipients "segment")}}
    <div class="gh-setting-large-dropdown mt2">
        <GhMembersSegmentSelect
            @segment={{@segment}}
            @onChange={{@onSegmentChange}}
            @enforcedCountFilter="newsletters.status:active"
        />
    </div>
{{/if}}
