<header class="modal-header" data-test-modal="delete-user">
    <h1>Are you sure you want to delete this user?</h1>
</header>
<a class="close" href="" role="button" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">Close</span></a>

<div class="modal-body">
    {{#if this.user.count.posts}}
        <p>
            <strong>{{this.user.name}}</strong> and their <strong data-test-text="user-post-count">{{gh-pluralize this.user.count.posts 'post'}}</strong> will be permanently deleted. If you don’t want to lose these posts, you should assign them to a different author.
        </p>
        <p>
            A backup will be automatically downloaded to your device before deletion.
        </p>
    {{else}}
        <p>
            <strong>{{this.user.name}}</strong> will be permanently deleted. A backup will be automatically downloaded to your device before deletion.
        </p>
    {{/if}}
</div>

<div class="modal-footer">
    <button class="gh-btn" data-test-button="cancel-delete-user" type="button" {{action "closeModal"}}>
        <span>Cancel</span>
    </button>
    <GhTaskButton @buttonText="Download backup & delete user"
        @successText="Deleted"
        @task={{this.deleteUser}}
        @class="gh-btn gh-btn-red gh-btn-icon"
        data-test-button="confirm-delete-user" />
</div>
