<h3 {{did-insert this.loadCharts}}>Email</h3>
<div class="gh-dashboard5-insert">
    <div class="gh-dashboard5-box">
        {{!-- <h4 class="gh-dashboard5-metric">Newsletter subscribers</h4> --}}
        {{!-- <div class="gh-dashboard5-number is-small">{{format-number this.dataSubscribers.total}}</div> --}}
        {{!-- <div class="gh-dashboard5-number is-small">{{format-number this.dataSubscribers.paid}} paid</div> --}}
        {{!-- <div class="gh-dashboard5-number is-small">{{format-number this.dataSubscribers.free}} free</div> --}}

        <h4 class="gh-dashboard5-metric is-split">Email</h4>
        <div class="gh-dashboard5-number">{{format-number this.dataSubscribers.total}}</div>
        <small class="gh-dashboard5-info">Newsletter subscribers</small>
    </div>

    <div class="gh-dashboard5-box">
        <div class="gh-dashboard5-number is-solo">{{format-number this.dataEmailsSent}}</div>
        <small class="gh-dashboard5-info">Sent in the past 30 days</small>
    </div>

    <div class="gh-dashboard5-box">
        {{#if this.loading}}
            <div class="gh-dashboard5-loading" style={{html-safe (concat "height: " this.chartHeight "px;")}}/>
        {{else}}
            <EmberChart
                @type={{this.chartType}}
                @data={{this.chartData}}
                @options={{this.chartOptions}}
                @height={{this.chartHeight}} />
        {{/if}}
        <div>
            <div class="gh-dashboard5-number">58%</div>
            <small class="gh-dashboard5-info">Open rate</small>
        </div>
    </div>
</div>