
<div class="prototype-paid-mix-dropdown">
    <PowerSelect
        @selected={{this.selectedModeOption}}
        @options={{this.modeOptions}}
        @searchEnabled={{false}}
        @onChange={{this.onSwitchMode}}
        @triggerComponent="gh-power-select/trigger"
        @triggerClass="gh-contentfilter-menu-trigger"
        @dropdownClass="gh-contentfilter-menu-dropdown"
        @matchTriggerWidth={{false}}
        as |option|
    >
        {{#if option.name}}{{option.name}}{{else}}<span class="red">Unknown option</span>{{/if}}
    </PowerSelect>
</div>

<h4 class="gh-dashboard5-metric is-main">Paid mix</h4>

{{#if this.loading}}
    <div class="gh-dashboard5-loading" style={{html-safe (concat "height: " this.chartHeight "px;")}}/>
{{else}}
    <EmberChart
        @type={{this.chartType}}
        @data={{this.chartData}}
        @options={{this.chartOptions}}
        @height={{this.chartHeight}} />
{{/if}}