<Dashboard::v5::parts::ChartMetric
    {{did-insert this.loadCharts}}
    @label="Paid member" />

<div class="gh-dashboard5-chart">
    {{#if this.loading}}
        <div class="gh-dashboard5-chart-loading" style={{html-safe (concat "height: " this.chartHeight "px;")}}/>
    {{else}}
        <div class="gh-dashboard5-chart-ticks">
            <span>10</span>
            <span>5</span>
            <span>0</span>
            <span>-5</span>
        </div>
        <div class="gh-dashboard5-chart-container">
            <EmberChart
                @type={{this.chartType}}
                @data={{this.chartData}}
                @options={{this.chartOptions}}
                @height={{this.chartHeight}} />
        </div>
    {{/if}}
</div>
