<div class="gh-dashboard5-number"
    {{did-insert this.loadCharts}} 
>$999</div>
<small class="gh-dashboard5-info">Total paid</small>

{{#if this.loading}}
    <div class="gh-dashboard5-loading" style={{html-safe (concat "height: " this.chartHeight "px;")}}/>
{{else}}
    <EmberChart
        @type={{this.chartType}}
        @data={{this.chartData}}
        @options={{this.chartOptions}}
        @height={{this.chartHeight}} />
{{/if}}