<h4 
    class="gh-dashboard5-metric is-main"
    {{did-insert this.loadCharts}}
>
    Paid members
</h4>

{{#if this.loading}}
    <div class="gh-dashboard5-loading" style={{html-safe (concat "height: " this.chartHeight "px;")}}/>
{{else}}
    <EmberChart
        @type={{this.chartType}}
        @data={{this.chartData}}
        @options={{this.chartOptions}}
        @height={{this.chartHeight}} />
{{/if}}