<h4 class="gh-dashboard5-metric is-main">Total members</h4>
{{#if this.loading}}
    <div class="gh-dashboard5-loading" style={{html-safe (concat "height: " this.chartHeight "px;")}}/>
{{else}}
    <EmberChart {{did-update this.loadCharts @days}}
        @type={{this.chartType}}
        @data={{this.chartData}}
        @options={{this.chartOptions}}
        @height={{this.chartHeight}} />
{{/if}}