<div class="gh-dashboard5-header">
    <h3 {{did-insert this.loadCharts}}>Overview</h3>
</div>
<div class="gh-dashboard5-container">
    <div class="gh-dashboard5-box">
        <h4 class="gh-dashboard5-metric">{{gh-pluralize this.totalMembers "Total member" without-count=true}}</h4>
        <div class="gh-dashboard5-number">{{format-number this.totalMembers}}</div>
        {{#if this.hasTrends}}
            <Dashboard::v5::parts::ChartPercentage @percentage={{this.totalMembersTrend}}/>
        {{/if}}
    </div>
    <div class="gh-dashboard5-box">
        <h4 class="gh-dashboard5-metric">{{gh-pluralize this.paidMembers "Paid member" without-count=true}}</h4>
        <div class="gh-dashboard5-number">{{format-number this.paidMembers}}</div>
        {{#if this.hasTrends}}
            <Dashboard::v5::parts::ChartPercentage @percentage={{this.paidMembersTrend}}/>
        {{/if}}
    </div>
    <div class="gh-dashboard5-box">
        <h4 class="gh-dashboard5-metric">{{gh-pluralize this.freeMembers "Free member" without-count=true}}</h4>
        <div class="gh-dashboard5-number">{{format-number this.freeMembers}}</div>
        {{#if this.hasTrends}}
            <Dashboard::v5::parts::ChartPercentage @percentage={{this.freeMembersTrend}}/>
        {{/if}}
    </div>
</div>