<h4>Total members</h4>
<EmberChart {{did-update this.loadCharts @days}}
    @type={{this.chartType}}
    @data={{this.chartData}}
    @options={{this.chartOptions}}
    @height={{this.chartHeight}} />