{{!-- <h4 
    class="gh-dashboard5-metric is-main" 
    {{did-insert this.loadCharts}} 
    {{did-update this.loadCharts @days}}
>
    Total members
</h4> --}}
{{#if this.loading}}
    <div {{did-insert this.loadCharts}} class="gh-dashboard5-loading" style={{html-safe (concat "height: " this.chartHeight "px;")}}/>
{{else}}
    <Dashboard::V5::ChartMembersCountsInsert />
    <EmberChart
        @type={{this.chartType}}
        @data={{this.chartData}}
        @options={{this.chartOptions}}
        @height={{this.chartHeight}} />
{{/if}}