<h4>Paid mix ({{this.mode}})</h4>
{{#if this.loading}}
    <div class="prototype-placeholder" style={{html-safe (concat "height: " this.chartHeight "px;")}}/>
{{else}}
    <EmberChart
        @type={{this.chartType}}
        @data={{this.chartData}}
        @options={{this.chartOptions}}
        @height={{this.chartHeight}} />
{{/if}}