<h4>Paid members</h4>
{{#if this.loading}}
    <div class="prototype-placeholder" style={{html-safe (concat "height: " this.chartHeight "px;")}}/>
{{else}}
    <EmberChart {{did-update this.loadCharts @days}}
        @type={{this.chartType}}
        @data={{this.chartData}}
        @options={{this.chartOptions}}
        @height={{this.chartHeight}} />
{{/if}}