<div class="gh-dashboard5-header">
    <h3 {{did-insert this.loadCharts}}>Engagement</h3>
    <div class="prototype-selection">
        <PowerSelect
            @selected={{this.selectedStatusOption}}
            @options={{this.statusOptions}}
            @searchEnabled={{false}}
            @onChange={{this.onSwitchStatus}}
            @triggerComponent="gh-power-select/trigger"
            @triggerClass="gh-contentfilter-menu-trigger"
            @dropdownClass="gh-contentfilter-menu-dropdown"
            @matchTriggerWidth={{false}}
            as |option|
        >
            {{#if option.name}}{{option.name}}{{else}}<span class="red">Unknown option</span>{{/if}}
        </PowerSelect>
    </div>
</div>

<div class="gh-dashboard5-container">
    <div class="gh-dashboard5-box">
        <h4 class="gh-dashboard5-metric">Engaged in past 30 days</h4>
        <div class="gh-dashboard5-number is-small">{{this.data30Days}}</div>
        <div class="gh-dashboard5-percentage is-positive">+2.2%</div>
    </div>

    <div class="gh-dashboard5-box">
        <h4 class="gh-dashboard5-metric">Engaged in past 7 days</h4>
        <div class="gh-dashboard5-number is-small">{{this.data7Days}}</div>
        <div class="gh-dashboard5-percentage is-negative">-1.1%</div>
    </div>
</div>