<div class="gh-dashboard5-list" {{did-insert this.loadPosts}}>
    <div class="gh-dashboard5-list-header">
        <Dashboard::v5::parts::ChartMetric @label="Recent posts" />
    </div>
    <div class="gh-dashboard5-list-body">
        {{#each this.posts as |post|}}
            <div class="gh-dashboard5-list-item">
                <LinkTo class="gh-dashboard5-list-post permalink" @route="editor.edit" @models={{array post.displayName post.id}}>
                    {{post.title}}
                </LinkTo>
            </div>
        {{else}}
            <div class="gh-dashboard5-list-empty">
                {{svg-jar "no-data-list"}}
                <p>No published posts yet.</p>
            </div>
        {{/each}}
    </div>
    <div class="gh-dashboard5-list-footer">
        <LinkTo @route="posts" @query={{reset-query-params "posts"}}>See all posts →</LinkTo>
    </div>
</div>