<header class="settings-view-header">
    {{#link-to "settings" class="btn btn-default btn-back"}}Back{{/link-to}}
    <h2 class="page-title">About</h2>
</header>

<section class="content settings-about">
    <section class="about-ghost-intro">
        <h1>
            <span class="ghost_logo">
                <span class="hidden">Ghost</span>
            </span>
            <span class="version blue">v{{model.version}}</span>
        </h1>
        <p>A free, open, simple publishing platform</p>

        <div class="about-environment-help clearfix">
            <div class="about-environment">
                <dl>
                    <dt>Version:</dt>
                    <dd class="about-environment-detail">{{model.version}}</dd>
                    <dt>Environment:</dt>
                    <dd class="about-environment-detail">{{model.environment}}</dd>
                    <dt>Database:</dt>
                    <dd class="about-environment-detail about-environment-database">{{model.database}}</dd>
                    <dt>Mail:</dt>
                    <dd class="about-environment-detail">{{#if model.mail}}{{model.mail}}{{else}}Native{{/if}}</dd>
                </dl>
            </div>
            <div class="about-help">
                <a href="http://support.ghost.org" class="btn">User Documentation</a>
                <a href="https://ghost.org/forum/" class="btn">Get Help With Ghost</a>
            </div>
        </div>
    </section>

    <section class="about-credits">
        <h1>The People Who Made it Possible</h1>

        <ul class="top-contributors clearfix">
            {{partial "contributors"}}
        </ul>

        <p class="about-contributors-info">Ghost is built by an incredible group of contributors from all over the world. Here are just a few of the people who helped create the version you’re using right now.</p>

        <a href="https://ghost.org/about/contribute/" class="about-get-involved btn-blue btn-lg btn">Find out how you can get involved</a>

        <p class="about-copyright">
            Copyright 2013 - 2015 Ghost Foundation, released under the <a href="https://github.com/TryGhost/Ghost/blob/master/LICENSE">MIT license</a>.
            <br>
            <a href="https://ghost.org/">Ghost</a> is a trademark of the <a href="https://ghost.org/about/">Ghost Foundation</a>.
        </p>
    </section>
</section>
