<section class="gh-canvas">
    <GhCanvasHeader class="gh-canvas-header">
        <div class="flex flex-column">
            <div class="gh-canvas-breadcrumb">
                <LinkTo @route="settings">
                    Settings
                </LinkTo>
                {{svg-jar "arrow-right-small"}} Code injection
            </div>
            <h2 class="gh-canvas-title" data-test-screen-title>
                Code injection
            </h2>
        </div>
        <section class="view-actions">
            <GhTaskButton @task={{this.saveTask}} @class="gh-btn gh-btn-primary gh-btn-icon" data-test-save-button={{true}} />
        </section>
    </GhCanvasHeader>

    <section class="view-container">
        <form id="settings-code" novalidate="novalidate">
            <fieldset>
                <p class="gh-box gh-box-tip">
                    {{svg-jar "idea"}}
                    Ghost allows you to inject code into the top and bottom of your theme files without editing them. This allows for quick modifications to insert useful things like tracking codes and meta tags.
                </p>

                <div class="gh-main-section">
                    <label for="ghost-head" class="gh-main-section-header bn">Site Header</label>
                    <p class="gh-main-section-description bn">Code here will be injected into the <code>\{{ghost_head}}</code> tag on every page of the site</p>
                    <div class="form-group settings-code">
                        <GhCmEditor @value={{this.settings.codeinjectionHead}} @id="ghost-head" @class="gh-input settings-code-editor" @name="codeInjection[ghost_head]" @type="text" @update={{action (mut this.settings.codeinjectionHead)}} />
                    </div>
                </div>

                <div class="gh-main-section">
                    <label for="ghost-foot" class="gh-main-section-header bn">Site Footer</label>
                    <p class="gh-main-section-description bn">Code here will be injected into the <code>\{{ghost_foot}}</code> tag on every page of the site</p>
                    <div class="form-group settings-code">
                        <GhCmEditor @value={{this.settings.codeinjectionFoot}} @id="ghost-foot" @class="gh-input settings-code-editor" @name="codeInjection[ghost_foot]" @type="text" @update={{action (mut this.settings.codeinjectionFoot)}} />
                    </div>
                </div>
            </fieldset>
        </form>
    </section>
</section>
