<section class="gh-canvas">
    <GhCanvasHeader class="gh-canvas-header">
        <h2 class="gh-canvas-title" data-test-screen-title>
            <LinkTo @route="settings">Settings</LinkTo>
            <span>{{svg-jar "arrow-right"}}</span>
            <LinkTo @route="settings.products">Products</LinkTo>
            <span>{{svg-jar "arrow-right"}}</span>
            Product name
        </h2>
        <section class="view-actions">
            <span class="dropdown">
                <GhDropdownButton @dropdownName="product-actions-menu" @classNames="gh-btn gh-btn-white gh-btn-icon only-has-icon user-actions-cog" @title="User Actions">
                    <span>
                        {{svg-jar "settings"}}
                        <span class="hidden">Product actions</span>
                    </span>
                </GhDropdownButton>
                <GhDropdown @name="product-actions-menu" @tagName="ul" @classNames="product-actions-menu dropdown-menu dropdown-align-right">
                    <li>
                        <button class="delete">
                            Delete product
                        </button>
                    </li>
                </GhDropdown>
            </span>

            <GhTaskButton @buttonText="Save product"
                @task={{this.saveTask}}
                @successText="Saved"
                @runningText="Saving"
                @class="gh-btn gh-btn-primary gh-btn-icon"
                data-test-button="save-settings"
            />
        </section>
    </GhCanvasHeader>

    <form>
    <div class="gh-product-details">
        <section class="gh-product-config">
            <h4 class="gh-main-section-header small bn">Product details</h4>
            <div class="gh-main-section-content grey gh-product-details-form">
                <GhFormGroup @property="name" @class="gh-product-icon-container">
                    <label for="member-name">ICON</label>
                    <div class="gh-product-icon whitegrey">Icon</div>
                </GhFormGroup>
                <div class="gh-product-details-fields">
                    <GhFormGroup @property="name" @classNames="max-width">
                        <label for="member-name">Product name</label>
                        <GhTextInput data-test-input="member-name" />
                        <GhErrorMessage @property="name" />
                    </GhFormGroup>

                    <GhFormGroup @property="name" @classNames="max-width gh-product-description-container">
                        <label for="member-name">Description</label>
                        <GhTextInput data-test-input="member-name" />
                        <GhErrorMessage @property="name" />
                    </GhFormGroup>
                </div>
            </div>
        </section>
        <section class="gh-product-stats">
            <h4 class="gh-main-section-header small bn">Members</h4>
            <div class="gh-product-stat-container">
                <div class="gh-product-chart">CHART</div>
                <div class="gh-product-stat-details">
                    <h3 class="data">330</h3>
                    <p class="info">members have access to this product</p>
                </div>
                <LinkTo @route="members">See members &rarr;</LinkTo>
            </div>
        </section>
    </div>
    </form>

    <div class="gh-main-section">
        <div class="gh-main-section-block p0">
            <ol class="gh-price-list gh-list">
                <li class="gh-list-row header">
                    <div class="gh-list-header">Prices(3)</div>
                    <div class="gh-list-header">Price</div>
                    <div class="gh-list-header">Subscriptions</div>
                    <div class="gh-list-header"></div>
                </li>
                <li class="gh-list-row">
                    <LinkTo @route="settings.product" class="gh-list-data gh-price-list-title">
                        <h3 class="gh-price-list-name">
                            Monthly
                        </h3>
                        <p class="ma0 pa0 f8 midgrey gh-price-list-description">
                            Full access
                        </p>
                    </LinkTo>

                    <LinkTo @route="settings.product" class="gh-list-data gh-price-list-price">
                        <span>$5 USD / month</span>
                    </LinkTo>

                    <LinkTo @route="settings.product" class="gh-list-data gh-price-list-subscriptions">
                        <span>91</span>
                    </LinkTo>

                    <LinkTo @route="settings.product" class="gh-list-data gh-price-list-actions">
                        <div class="gh-price-list-actionlist">
                            <LinkTo @route="settings.product">
                                {{svg-jar "pen" class="w6 h6 fill-midgrey pa1 mr1"}}
                            </LinkTo>
                            <button>
                                {{svg-jar "trash" class="w6 fill-red pa1"}}
                            </button>
                        </div>
                    </LinkTo>
                </li>
                <li class="gh-list-row">
                    <LinkTo @route="settings.product" class="gh-list-data gh-price-list-title">
                        <h3 class="gh-price-list-name">
                            Yearly
                        </h3>
                        <p class="ma0 pa0 f8 midgrey gh-price-list-description">
                            37% discount
                        </p>
                    </LinkTo>

                    <LinkTo @route="settings.product" class="gh-list-data gh-price-list-price">
                        <span>$50 USD / year</span>
                    </LinkTo>

                    <LinkTo @route="settings.product" class="gh-list-data gh-price-list-subscriptions">
                        <span>76</span>
                    </LinkTo>

                    <LinkTo @route="settings.product" class="gh-list-data gh-price-list-actions">
                        <div class="gh-price-list-actionlist">
                            <LinkTo @route="settings.product">
                                {{svg-jar "pen" class="w6 h6 fill-midgrey pa1 mr1"}}
                            </LinkTo>
                            <button>
                                {{svg-jar "trash" class="w6 fill-red pa1"}}
                            </button>
                        </div>
                    </LinkTo>
                </li>
                <li class="gh-list-row">
                    <LinkTo @route="settings.product" class="gh-list-data gh-price-list-title">
                        <h3 class="gh-price-list-name">
                            Complimentary
                        </h3>
                        <p class="ma0 pa0 f8 midgrey gh-price-list-description">
                            Free of charge subscription
                        </p>
                    </LinkTo>

                    <LinkTo @route="settings.product" class="gh-list-data gh-price-list-price">
                        <span>$0 USD</span>
                    </LinkTo>

                    <LinkTo @route="settings.product" class="gh-list-data gh-price-list-subscriptions">
                        <span>18</span>
                    </LinkTo>

                    <LinkTo @route="settings.product" class="gh-list-data gh-price-list-actions">
                        <div class="gh-price-list-actionlist">
                            <LinkTo @route="settings.product">
                                {{svg-jar "pen" class="w6 h6 fill-midgrey pa1 mr1"}}
                            </LinkTo>
                            <button>
                                {{svg-jar "trash" class="w6 fill-red pa1"}}
                            </button>
                        </div>
                    </LinkTo>
                </li>
            </ol>

            <button type="button" class="gh-btn gh-btn-green" {{action (toggle "showPriceModal" this)}}>
                <span>New price</span>
            </button>
        </div>
    </div>

    {{#if this.showPriceModal}}
        <GhFullscreenModal @modal="product-price"
            @close={{this.closePriceModal}}
            @modifier="action wide body-scrolling product-price" />
    {{/if}}

    {{#if this.showLeaveSettingsModal}}
        <GhFullscreenModal
            @modal="leave-settings"
            @confirm={{this.confirmLeave}}
            @close={{this.cancelLeave}}
            @modifier="action wide"
        />
    {{/if}}
</section>