<section class="gh-dashboard-resource gh-dashboard-staff-picks" {{did-insert this.load}}>
    <article class="gh-dashboard-resource-box">
        <div class="gh-dashboard-resource-title is-large has-border">
            <h4>Staff picks</h4>
            <p>Hand picked stories from around the web, published with Ghost.</p>
        </div>
        <div class="gh-dashboard-resource-body">
            <div class="gh-dashboard-list">
                {{#if (not (or this.loading this.error))}}
                    <div class="gh-dashboard-list-body">
                        {{#each this.staffPicks as |entry|}}
                            <div class="gh-dashboard-list-item">
                                <a class="gh-dashboard-list-post permalink" href={{set-query-params entry.link utm_source='ghost'}} target="_blank" rel="noopener noreferrer">
                                    <span class="gh-dashboard-list-link">
                                        <span>{{entry.title}}</span>
                                    </span>
                                    <div class="gh-dashboard-resource-secondary">{{entry.creator}}</div>
                                </a>
                            </div>
                        {{else}}
                            <div class="gh-dashboard-list-empty">
                                <p>No staff picks yet.</p>
                            </div>
                        {{/each}}
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="gh-dashboard-resource-footer">
            <a href="https://twitter.com/ghoststaffpicks" target="_blank" rel="noopener noreferrer">{{svg-jar "twitter-logo"}} <span>Follow on Twitter</span></a>
        </div>
    </article>
</section>
