<section class="gh-dashboard-resource gh-dashboard-whats-new" {{did-insert this.load}}>
    <article class="gh-dashboard-resource-box">
        <div class="gh-dashboard-resource-title">
            <h4>{{svg-jar "gift" alt="Gift" class="v-mid"}}What's new</h4>
        </div>
        <div class="gh-dashboard-resource-body">
             <div class="gh-dashboard-list {{if this.whatsNew.hasNew "has-new"}}">
                {{#if (not (or this.loading this.error))}}
                    <div class="gh-dashboard-list-body">
                        {{#each this.entries as |entry|}}
                            <div class="gh-dashboard-list-item">
                                <LinkTo class="gh-dashboard-list-post" @route="whatsnew" @query={{hash entry=entry.slug}}>
                                    <span class="gh-dashboard-list-link">
                                        <span>{{entry.title}}</span>
                                    </span>
                                    <div class="gh-dashboard-resource-secondary">{{moment-format entry.published_at "D MMM YYYY"}}</div>
                                </LinkTo>
                            </div>
                        {{else}}
                            <div class="gh-dashboard-list-empty">
                                <p>No new features yet.</p>
                            </div>
                        {{/each}}
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="gh-dashboard-resource-footer">
            <LinkTo @route="whatsnew" @query={{hash entry=null}} class="green">View more features &rarr;</LinkTo>
        </div>
    </article>
</section>
