<div>
    <fieldset class="modal-fullsettings-form">
        <div class="modal-fullsettings-section first">
            <h3 class="gh-newsletters-setting-sectionheading">General</h3>
            <GhFormGroup @classNames="vertical" @errors={{@newsletter.errors}} @hasValidated={{@newsletter.hasValidated}} @property="name">
                <label for="newsletter-title" class="modal-fullsettings-title">Name</label>
                <input
                    id="newsletter-title"
                    type="text"
                    class="gh-input miw-100 form-text"
                    value={{@newsletter.name}}
                    placeholder="Weekly Roundup"
                    {{on "input" (fn this.onInput "name")}}
                />
                <GhErrorMessage @errors={{@newsletter.errors}} @property="name" />
            </GhFormGroup>

            <GhFormGroup @classNames="vertical" @errors={{@newsletter.errors}} @hasValidated={{@newsletter.hasValidated}} @property="description">
                <label for="newsletter-description" class="modal-fullsettings-title">Description</label>
                <textarea
                    id="newsletter-description"
                    class="gh-input miw-100 form-text"
                    {{on "input" (fn this.onInput "description")}}
                >{{@newsletter.description}}</textarea>
                <GhErrorMessage @errors={{@newsletter.errors}} @property="description" />
            </GhFormGroup>
        </div>

        <div class="modal-fullsettings-section">
            <h3 class="gh-newsletters-setting-sectionheading">Email addresses</h3>
            <GhFormGroup @classNames="vertical" @errors={{@newsletter.errors}} @hasValidated={{@newsletter.hasValidated}} @property="senderName">
                <label for="newsletter-sender-name" class="modal-fullsettings-title">Sender name</label>
                <input
                    id="newsletter-sender-name"
                    type="text"
                    class="gh-input miw-100 form-text"
                    value={{@newsletter.senderName}}
                    placeholder={{this.settings.title}}
                    {{on "input" (fn this.onInput "senderName")}}
                />
                <GhErrorMessage @errors={{@newsletter.errors}} @property="senderName" />
            </GhFormGroup>

            <GhFormGroup @classNames="vertical"  @errors={{@newsletter.errors}} @hasValidated={{@newsletter.hasValidated}} @property="senderEmail"> 
                <span class="flex items-center justify-between">
                    <label for="newsletter-sender-email" class="modal-fullsettings-title ml2">Newsletter email address</label>
                    <span class="tooltip-top-left" data-tooltip="Defaults to {{full-email-address "noreply"}} if empty">{{svg-jar "info" class="fill-darkgrey w4 h4"}}</span>
                </span>
                <input
                    id="newsletter-sender-email"
                    type="text"
                    class="gh-input miw-100 form-text"
                    value={{@newsletter.senderEmail}}
                    placeholder={{full-email-address "noreply"}}
                    {{on "input" (fn this.onInput "senderEmail")}}
                />
                <GhErrorMessage @errors={{@newsletter.errors}} @property="senderEmail" />
            </GhFormGroup>

            <GhFormGroup @classNames="vertical" @errors={{@newsletter.errors}} @hasValidated={{@newsletter.hasValidated}} @property="senderReplyTo">
                <label for="newsletter-reply-to" class="modal-fullsettings-title">Reply-to email</label>
                <Inputs::Select
                    id="newsletter-reply-to"
                    @value={{@newsletter.senderReplyTo}}
                    @onChange={{fn this.onValueChange "senderReplyTo"}}
                    as |select|
                >
                    <select.option @value="newsletter">Newsletter address ({{full-email-address (or @newsletter.senderEmail "noreply")}})</select.option>
                    <select.option @value="support">Support address ({{full-email-address this.settings.membersSupportAddress}})</select.option>
                </Inputs::Select>
                <GhErrorMessage @errors={{@newsletter.errors}} @property="senderReplyTo" />
            </GhFormGroup>
        </div>

        <div class="modal-fullsettings-section">
            <h3 class="gh-newsletters-setting-sectionheading">Member settings</h3>
            <GhFormGroup>
                <label for="subscribe-on-signup" class="modal-fullsettings-title">Subscribe new members on signup</label>
                <div class="for-switch small">
                    <div class="container">
                        <input
                            type="checkbox"
                            id="subscribe-on-signup"
                            checked={{@newsletter.subscribeOnSignup}}
                            {{on "change" (fn this.onCheckboxChange "subscribeOnSignup")}}
                        >
                        <button type="button" class="input-toggle-component" {{on "click" (fn this.toggleProperty "subscribeOnSignup")}}></button>
                    </div>
                </div>
            </GhFormGroup>

            {{#if @newsletter.isNew}}
                <GhFormGroup>
                    <label for="opt-in-existing" class="modal-fullsettings-title">Opt-in existing subscribers</label>
                    <div class="for-switch small">
                        <div class="container">
                            <input
                                type="checkbox"
                                id="opt-in-existing"
                                checked={{@optInExisting}}
                                {{on "check" this.setOptInExisting}}
                            >
                            <button type="button" class="input-toggle-component" {{on "click" this.toggleOptInExisting}}></button>
                        </div>
                    </div>
                </GhFormGroup>
            {{/if}}
        </div>
    </fieldset>
</div>