{{{html}}}
<aside class="gh-post-upgrade-cta">
    <div class="gh-post-upgrade-cta-content" style="background-color: {{@site.accent_color}}">
        {{#has visibility="paid"}}
            {{#is "page"}}
                <h2>{{t "This page is for paying subscribers only"}}</h2>
            {{else}}
                <h2>{{t "This post is for paying subscribers only"}}</h2>
            {{/is}}
        {{/has}}
        {{#has visibility="members"}}
            {{#is "page"}}
                <h2>{{t "This page is for subscribers only"}}</h2>
            {{else}}
                <h2>{{t "This post is for subscribers only"}}</h2>
            {{/is}}
        {{/has}}
        {{#has visibility="tiers"}}
            {{#is "page"}}
                <h2>{{t "This page is for subscribers on the {tiers} only" tiers=(tiers separator=", " lastSeparator=(concat " " (t "and") " "))}}</h2>
            {{else}}
                <h2>{{t "This post is for subscribers on the {tiers} only" tiers=(tiers separator=", " lastSeparator=(concat " " (t "and") " "))}}</h2>
            {{/is}}
        {{/has}}
        {{#if @member}}
            <a class="gh-btn" data-portal="account/plans" href="#/portal/account/plans" style="color:{{@site.accent_color}}">{{t "Upgrade your account"}}</a>
        {{else}}
            <a class="gh-btn" data-portal="signup" href="#/portal/signup" style="color:{{@site.accent_color}}">{{t "Subscribe now"}}</a>
            <p><small>{{t "Already have an account?"}} <a data-portal="signin" href="#/portal/signin">{{t "Sign in"}}</a></small></p>
        {{/if}}
    </div>
</aside>