{{{html}}}
<aside class="gh-gift-callout" data-gift-callout>
    <div class="gh-gift-callout-content" style="background-color: {{@site.accent_color}}">
        {{#if @member}}
            <h2>{{t "You're reading a gifted post"}}</h2>
            <p>{{t "Get full access to every post by upgrading your account."}}</p>
            <a class="gh-btn" data-portal="account/plans" href="#/portal/account/plans" style="color:{{@site.accent_color}}">{{t "Upgrade your account"}}</a>
        {{else}}
            <h2>{{t "This post was shared with you"}}</h2>
            <p>{{t "Subscribe to get full access to every post."}}</p>
            <a class="gh-btn" data-portal="signup" href="#/portal/signup" style="color:{{@site.accent_color}}">{{t "Subscribe now"}}</a>
            <p><small>{{t "Already have an account?"}} <a data-portal="signin" href="#/portal/signin">{{t "Sign in"}}</a></small></p>
        {{/if}}
    </div>
</aside>
