<nav class="pagination">
    {{#if prev}}
        <a class="newer-posts" href="{{page_url prev}}"><span aria-hidden="true">&larr;</span> {{t "Newer Posts"}}</a>
    {{/if}}
    <span class="page-number">{{t "Page {page} of {totalPages}" page=page totalPages=pages}}</span>
    {{#if next}}
        <a class="older-posts" href="{{page_url next}}">{{t "Older Posts"}} <span aria-hidden="true">&rarr;</span></a>
    {{/if}}
</nav>
