{{#if recommendations}}
    <ul class="recommendations">
        {{#each recommendations as |rec|}}
        <li class="recommendation">
            <a href="{{rec.url}}">
                <img class="recommendation-favicon" src="{{rec.favicon}}" alt="{{rec.title}}">
                <h5 class="recommendation-title">{{rec.title}}</h5>
                <p class="recommendation-reason">{{rec.reason}}</p>
            </a>
        </li>
        {{/each}}
    </ul>
{{/if}}
