<div class="gh-email-design-color-picker">
    <div class="gh-btn-group">
        {{#each this.presetColors as |color|}}
            <button type="button" class="gh-btn gh-email-design-color {{color.class}} {{if (eq this.currentColorObject.value color.value) "gh-btn-group-selected"}}" {{on "click" (fn this.setCurrentColor color.value) }}>
                <div style={{html-safe color.style}}></div>
            </button>
        {{/each}}
        <label type="button" class="gh-btn gh-email-design-color custom {{if this.customColorSelected "gh-btn-group-selected"}}" {{on "click" this.onOpenColorPicker}}>
            <div style={{html-safe this.customColorStyle}}></div>
            <input
                type="color"
                value={{this.colorInputValue}}
                {{on "input" this.updateColorInputValue}}
                {{on "change" this.updateColorInputValue}}
            />
        </label>
    </div>
</div>
