<button class="gh-members-emailpreview-feedback-button" type="button">
    {{#if (feature 'emailCustomization')}}
        <span class="gh-members-emailpreview-feedback-button-body" style={{html-safe (concat "color: " @textColor)}}>
            {{svg-jar @icon class="gh-members-emailpreview-feedback-button-icon"}}
            <span>{{@text}}</span>
        </span>
    {{else}}
        <span class="gh-members-emailpreview-feedback-button-body">
            {{svg-jar @icon class="gh-members-emailpreview-feedback-button-icon"}}
            <span>{{@text}}</span>
        </span>
    {{/if}}
</button>
