{{#if this.isEnabled}}
    {{#if (has-block)}}
        <div {{did-update this.checkEmailSize @post.updatedAtUTC}}>
            {{yield this.overLimit this.emailSizeKb}}
        </div>
    {{else}}
        <span {{did-update this.checkEmailSize @post.updatedAtUTC}} class="gh-editor-email-size-warning-container">
            <span class="gh-editor-email-size-warning gh-editor-email-size-warning--{{this.overLimit}}" data-warning-active={{if this.overLimit "true" "false"}}>
                {{#if this.overLimit}}
                    {{svg-jar "email-warning"}}
                {{/if}}
            </span>
            {{#if this.overLimit}}
                <div class="gh-editor-email-size-popup">
                    <div class="gh-editor-email-size-popup-title">Looks like this is a long post</div>
                    <div class="gh-editor-email-size-popup-text">Email newsletters may get clipped in the inbox behind a "View entire message" link when they're over 100kB.</div>
                    <div class="gh-editor-email-size-popup-used">You've used: <span class="yellow">{{this.emailSizeKb}}kB</span></div>
                </div>
            {{/if}}
        </span>
    {{/if}}
{{/if}}
