<div class="flex flex-column h-100" {{css-transition "gh-nav-contextual"}} data-test-nav-menu="design" ...attributes>
    <header class="gh-nav-header no-accordion">
        <LinkTo @route="settings" class="gh-nav-menu-back-button" data-test-link="back-to-settings">Settings</LinkTo>
        {{svg-jar "arrow-right-small"}} Announcement bar
    </header>
    <section class="gh-nav-body gh-nav-design">
        <div class="gh-nav-top">
            <div class="gh-nav-list gh-nav-main">
                <div class="gh-nav-design-settings">
                    <form>
                        <AnnouncementSettings::Content @onChange={{this.updatePreview}} />
                        <AnnouncementSettings::Background @onChange={{this.updatePreview}} />
                        <AnnouncementSettings::Visibility @onChange={{this.updatePreview}} />
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>