<section class="gh-dashboard5-section gh-dashboard5-section-main gh-dashboard5-newsletter" {{did-insert this.load}}>
    <article class="gh-dashboard5-box is-secondary">


        {{#if (not (or this.loading this.error))}}
            <div class="gh-dashboard5-articles">
                {{#each this.newsletters as |entry|}}
                    <div class="gh-dashboard5-article">
                        <h5>{{entry.title}}</h5>
                    </div>
                {{/each}}
            </div>
        {{/if}}

        {{!-- <div class="dashboard-prototype-newsletters">
            {{#if (not (or this.loading this.error))}}
                {{#each this.newsletters as |entry|}}
                    <a class="gh-dashboard-container reverse" href={{set-query-params entry.url utm_source='admin'}} target="_blank" rel="noopener noreferrer">
                        <div class="gh-dashboard-box blogpost">
                            {{#if entry.feature_image}}
                                <div class="thumbnail" style={{background-image-style entry.feature_image}}></div>
                            {{/if}}
                            <div class="content">
                                <h2>{{entry.title}}</h2>
                                {{#if entry.custom_excerpt}}
                                    <p>{{entry.custom_excerpt}}</p>
                                {{else if entry.excerpt}}
                                    <p>{{entry.excerpt}}</p>
                                {{/if}}
                                <div class="read-time">{{entry.reading_time}} MIN READ</div>
                            </div>
                        </div>
                    </a>
                {{/each}}
            {{/if}}
        </div> --}}
    </article>
</section>