{{!-- <section class="gh-dashboard5-section gh-dashboard5-section-aside gh-dashboard5-staff-picks" {{did-insert this.load}}>
    <article class="gh-dashboard5-box is-secondary"> --}}
        <div class="gh-dashboard5-staff-picks gh-dashboard5-list" {{did-insert this.load}}>
            {{#if (not (or this.loading this.error))}}
                <div class="gh-dashboard5-list-header">
                    <Dashboard::v5::Parts::Metric
                        @label="Staff picks" />   
                </div>
                <div class="gh-dashboard5-list-body">
                    {{#each this.staffPicks as |entry|}}
                        <div class="gh-dashboard5-list-item">
                            <a class="gh-dashboard5-list-post permalink" href={{set-query-params entry.link utm_source='ghost'}} target="_blank" rel="noopener noreferrer">
                                <span class="gh-dashboard5-list-link">{{entry.title}}</span>
                                <div class="gh-dashboard5-list-author">{{entry.creator}}</div>
                            </a>
                        </div>
                    {{else}}
                        <div class="gh-dashboard5-list-empty">
                            {{svg-jar "no-data-list"}}
                            <p>No staff picks yet.</p>
                        </div>
                    {{/each}}
                </div>
                <div class="gh-dashboard5-list-footer">
                    <a href="https://twitter.com/ghoststaffpicks" target="_blank" rel="noopener noreferrer">See all picks →</a>
                </div>
            {{/if}}
        </div>
    {{!-- </article>
</section> --}}
