<div class="post-list">

<div id="push">

{{#foreach posts}}

<article class="{{post_class}}">
	<div class="inner">
		<a class="post-link" href="{{url absolute="true"}}"></a>
		{{#if image}}
		<figure class="post-image">
			<a href="{{url absolute="true"}}"><img src="{{image}}" alt="" /></a>
		</figure>
		{{/if}}
		<span class="post-meta">
			<span class="post-date">{{date format="DD MMM YYYY"}}</span>
		</span>
		<h2 class="post-title"><a href="{{url absolute="true"}}">{{{title}}}</a></h2>
		<p class="post-excerpt">{{excerpt words="15"}}&hellip;</p>
		<span class="post-more"><a href="{{url absolute="true"}}">Read More <i class="icon-arrow-right"></i></a></span>
	</div>
</article>

{{/foreach}}

</div>

</div>

{{pagination}}