<div class="modal-content">
    <header class="modal-header" data-test-modal="confirm-newsletter-archive">
        <h1>Archive newsletter</h1>
    </header>
    <button type="button" class="close" title="Close" {{on "click" (fn @close false)}}>{{svg-jar "close"}}<span class="hidden">Close</span></button>

    <div class="modal-body">
        <p>
            Your newsletter <strong>{{@data.newsletter.name}}</strong> will no longer be visible to members or available as an option when publishing new posts.
        </p>
        <p>
            Existing posts previously sent as this newsletter will remain unchanged.
        </p>
    </div>

    <div class="modal-footer" {{on-key "Enter" (perform @data.archiveNewsletterTask @data.newsletter)}}>
        <button
            type="button"
            class="gh-btn"
            {{on "click" (fn @close false)}}
            data-test-button="cancel-newsletter-archive"
        >
            <span>Cancel</span>
        </button>

        <GhTaskButton
            @buttonText="Archive"
            @runningText="Archiving"
            @showSuccess={{false}}
            @task={{@data.archiveNewsletterTask}}
            @taskArgs={{@data.newsletter}}
            @class="gh-btn gh-btn-black gh-btn-icon"
            data-test-button="confirm-newsletter-archive"
        />
    </div>
</div>
