<div class="gh-editor-feedback-dropdown" data-test-modal="lexical-feedback">
    <header class="gh-editor-feedback-dropdown-header">
        <h3>Editor beta feedback</h3>
    </header>
    {{!-- <button class="close" type="button" title="Close" {{on "click" this.closeModal}}>{{svg-jar "close"}}<span
            class="hidden">Close</span></button> --}}

    <div class="">
        <p>Have any issues? Feedback? Let us know!</p>
        <FeedbackLexical::Textarea
            @feedbackMessage={{this.feedbackMessage}}
            @updateFeedbackMessage={{this.updateFeedbackMessage}}
        />
    </div>

    <div class="gh-editor-feedback-dropdown-footer">
        <FeedbackLexical::SendButton
            @onSuccess={{this.closeModal}}
            @feedbackMessage={{this.feedbackMessage}}
            @post={{@post}}
        />
        <button class="gh-btn" type="button" {{on "click" this.closeModal}}><span>Cancel</span></button>
    </div>
</div>