<h4 class="gh-feedback-lexical-labs-heading">Thanks for trying our new editor</h4>
<FeedbackLexical::Textarea
    @feedbackMessage={{this.feedbackMessage}}
    @updateFeedbackMessage={{this.updateFeedbackMessage}}
    @label="Thanks for trying our new editor"
    @shouldFocus={{false}}
    @placeholder="How did it go? Did you have any issues?"
/>

<FeedbackLexical::SendButton
    @onSuccess={{this.resetFeedbackMessage}}
    @feedbackMessage={{this.feedbackMessage}}
/>