<div class="gh-feedback-lexical-published">
    <h4 class="gh-feedback-lexical-published-title">Hey, noticed anything different?</h4>
    <p>This post was successfully published using our new editor. Have any feedback? Let us know!</p>
    <FeedbackLexical::Textarea
        @feedbackMessage={{this.feedbackMessage}}
        @updateFeedbackMessage={{this.updateFeedbackMessage}}
        @shouldFocus={{false}}
    />
    <FeedbackLexical::SendButton
        @feedbackMessage={{this.feedbackMessage}}
        @post={{@post}}
        @onSuccess={{this.resetFeedbackMessage}}
    />
</div>
