<form>
    <GhFormGroup>
        {{#if @label}}
            <label for="feedback-lexical" class="sr-only">{{@label}}</label>
        {{/if}}
        <GhTextarea
            @id="feedback-lexical"
            @name="feedback-lexical"
            @value={{@feedbackMessage}}
            @placeholder={{or @placeholder "I’ve noticed that…"}}
            @shouldFocus={{@shouldFocus}}
            data-test-lexical-feedback-textarea
            {{on "input" @updateFeedbackMessage}}
        />
    </GhFormGroup>
</form>
