<div class="gh-email-debug-readmore-error" {{did-insert this.setup}}>
    <input type="checkbox" id="error-{{@index}}-checkbox" class="toggle-checkbox">
    <label class="{{if this.more "flex" "hidden"}}" for="error-{{@index}}-checkbox">{{svg-jar "dotdotdot"}}</label>
    <span>{{@message}}</span>
</div>
