<header class="settings-view-header">
    {{#link-to "settings" class="btn btn-default btn-back"}}返回{{/link-to}}
    <h2 class="page-title">关于我们</h2>
</header>

<section class="content settings-about">
    <section class="about-ghost-intro">
        <h1>
            <span class="ghost_logo">
                <span class="hidden">Ghost</span>
            </span>
            <span class="version blue">v{{model.version}}</span>
        </h1>
        <p>简约、纯粹的独立博客平台</p>

        <div class="about-environment-help clearfix">
            <div class="about-environment">
                <dl>
                    <dt>版本:</dt>
                    <dd class="about-environment-detail">{{model.version}}</dd>
                    <dt>运行环境:</dt>
                    <dd class="about-environment-detail">{{model.environment}}</dd>
                    <dt>数据库:</dt>
                    <dd class="about-environment-detail about-environment-database">{{model.database}}</dd>
                    <dt>邮件服务:</dt>
                    <dd class="about-environment-detail">{{#if model.mail}}{{model.mail}}{{else}}Native{{/if}}</dd>
                </dl>
            </div>
            <div class="about-help">
                <a href="http://ghost.diancloud.com/?f=ghost-about" target="_blank" class="btn">中文官网</a>
                <a href="https://www.ghost.org/" target="_blank" class="btn">官方网站</a>
            </div>
        </div>
    </section>

    <section class="about-credits">
        
        <h1>Ghost开发者</h1>
        <ul class="top-contributors clearfix">
            {{partial "contributors"}}
        </ul>

        <p class="about-contributors-info">Ghost的开发者来自全球各地，这里列出的是参与Ghost中文版的主要开发者。</p>
    </section>

    <section class="about-credits">  

        <h1>中文本地化团队</h1>
       
        <p> 
            <a target="_blank" href="http://ghost.diancloud.com/?f=ghost-about" title="点云-精品云应用"><img src="http://diancloud-ghost.stor.sinaapp.com/logo-90.png" width="258"></a> 
        </p> 
        <p>Ghost由 “点云开源软件字幕组” 翻译。 <strong> 如真的给你带来便利，<a href="https://github.com/diancloud/Ghost" target="_blank">求到GitHub加星</a> 鼓励我们一下 ^_^ </strong> <br>
        用户反馈QQ群: <strong>335978388</strong>， 技术支持邮箱: <strong>support@diancloud.com</strong> 。</p>

       
        <p> 
            <a target="_blank" href="#" title="点云-精品云应用"><img src="http://diancloud-ghost.stor.sinaapp.com/qrcode_for_wx.jpg" width="258"></a> <br/>
           扫描上方二维码，关注点云官方微信，获得Ghost最新消息。 
        </p> 

       
        <p> <a target="_blank" href="http://weibo.com/diancloud" title="点云-精品云应用"><img src="http://service.t.sina.com.cn/widget/qmd/5285987604/5ff50740/4.png"></a><br/>
        关注点云官方微博，参与活动，赢取奖品。
        </p> 

        <p class="about-copyright">
            Copyright 2013 - 2015 Ghost Foundation, released under the <a target="_blank"  href="https://github.com/TryGhost/Ghost/blob/master/LICENSE">MIT license</a>.
            <br>
            <a href="https://ghost.org/" target="_blank">Ghost</a> is a trademark of the <a  target="_blank" href="https://ghost.org/about/">Ghost Foundation</a>.
        </p>
    </section>


</section>
