<header class="settings-view-header">
    {{#link-to "settings" class="btn btn-default btn-back"}}Back{{/link-to}}
    <h2 class="page-title">Code Injection</h2>
    <section class="page-actions">
        <button type="button" class="btn btn-blue" {{action "save"}}>Save</button>
    </section>
</header>

<section class="content settings-code">
    <form id="settings-code" novalidate="novalidate">
        <fieldset>
            <div class="form-group">
                <p>
                    Ghost allows you to inject code into the top and bottom of your template files without editing them. This allows for quick modifications to insert useful things like tracking codes and meta data.
                </p>
            </div>

            <div class="form-group">
                <label for="ghost-head">Blog Header</label>
                <p>Code here will be injected to the \{{ghost_head}} helper at the top of your page</p>
                {{textarea id="ghost-head" name="codeInjection[ghost_head]" type="text" value=model.ghost_head}}
            </div>

            <div class="form-group">
                <label for="ghost-foot">Blog Footer</label>
                <p>Code here will be injected to the \{{ghost_foot}} helper at the bottom of your page</p>
                {{textarea id="ghost-foot" name="codeInjection[ghost_foot]" type="text" value=model.ghost_foot}}
            </div>
        </fieldset>
    </form>
</section>
