<header class="settings-content-header">
    <h2 class="title">基本设置</h2>

    <div class="settings-header-inner">
	{{#link-to 'settings' class='button-back button'}}返回{{/link-to}}

        <section class="page-actions">
            <button type="button" class="button-save" {{action "save"}}>保存</button>
        </section>
    </div>
</header>

<section class="content settings-general">
    <form id="settings-general" novalidate="novalidate">
        <fieldset>

            <div class="form-group">
                <label for="blog-title">博客标题</label>
                {{input id="blog-title" name="general[title]" type="text" value=title}}
                <p>博客的名字</p>
            </div>

            <div class="form-group description-container">
                <label for="blog-description">博客描述</label>
                {{textarea id="blog-description" name="general[description]" value=description}}
                <p>
					描述一下你的博客
                    {{gh-count-characters description}}
                </p>

            </div>
        </fieldset>
            <div class="form-group">
                <label for="blog-logo">博客 Logo</label>
                {{#if logo}}
                    <button type="button" class="js-modal-logo" {{action "openModal" "upload" this "logo"}}><img id="blog-logo" {{bind-attr src=logo}} alt="logo"></button>
                {{else}}
                    <button type="button" class="button-add js-modal-logo" {{action "openModal" "upload" this "logo"}}>上传图片</button>
                {{/if}}
                <p>为你的站点设置一个logo</p>
            </div>

            <div class="form-group">
                <label for="blog-cover">博客封面</label>
                {{#if cover}}
                    <button type="button" class="js-modal-cover" {{action "openModal" "upload" this "cover"}}><img id="blog-cover" {{bind-attr src=cover}} alt="cover photo"></button>
                {{else}}
                    <button type="button" class="button-add js-modal-cover" {{action "openModal" "upload" this "cover"}}>上传图片</button>
                {{/if}}
                <p>为博客设置一个封面大图</p>
            </div>
        <fieldset>
            <div class="form-group">
                <label for="email-address">邮箱地址</label>
                {{input id="email-address" name="general[email-address]" type="email" value=email autocapitalize="off" autocorrect="off"}}
                <p>邮件用来接收重要的通知</p>
            </div>

            <div class="form-group">
                <label for="postsPerPage">每页显示的文章数量</label>
                {{input id="postsPerPage" name="general[postsPerPage]" type="number" value=postsPerPage}}
                <p>每页显示多少篇文章呢</p>
            </div>

            <div class="form-group for-checkbox">
                <label for="permalinks">带日期的永久链接</label>
                {{input id="permalinks" name="general[permalinks]" type="checkbox" checked=isDatedPermalinks}}
                <label class="checkbox" for="permalinks"></label>
                <p>将日期包含进 URL</p>
            </div>

            <div class="form-group for-select">
                <label for="activeTheme">主题</label>
                <span class="gh-select" {{bind-attr data-select-text=selectedTheme.label}}>
                   {{view Ember.Select
                       id="activeTheme"
                       name="general[activeTheme]"
                       content=themes
                       optionValuePath="content.name"
                       optionLabelPath="content.label"
                       value=activeTheme
                       selection=selectedTheme}}
               </span>
                <p>为了你的博客选择一个主题</p>
            </div>

        </fieldset>
    </form>
</section>
