<header class="settings-view-header">
    {{#link-to "settings" class="btn btn-default btn-back"}}返回{{/link-to}}
    <h2 class="page-title">实验室</h2>
</header>


<section class="content settings-debug">
    <form id="settings-export">
        <fieldset>
            <div class="form-group">
                <label>数据导出</label>
                <button type="button" class="btn btn-blue" {{action "exportData"}}>导出</button>
                <p>导出博客配置和博文数据。</p>
            </div>
        </fieldset>
    </form>
    {{#gh-form id="settings-import" enctype="multipart/form-data"}}
        <fieldset>
            <div class="form-group">
                <label>数据导入</label>
                {{partial "import-errors"}}
                {{gh-file-upload id="importfile" uploadButtonText=uploadButtonText}}
                <p>导入博客配置和博文数据。注意：如导入数据中包含用户信息，用户信息会被覆盖，你可能将无法登录。</p>
            </div>
        </fieldset>
    {{/gh-form}}

    <!--
    <form id="settings-resetdb">
        <fieldset>
            <div class="form-group">
                <label>Delete all Content</label>
                <button type="button" class="btn btn-red js-delete" {{action "openModal" "deleteAll"}}>Delete</button>
                <p>Delete all posts and tags from the database.</p>
            </div>
        </fieldset>
    </form>
    <form id="settings-testmail">
        <fieldset>
            <div class="form-group">
                <label>Send a test email</label>
                <button type="button" id="sendtestmail" class="btn btn-blue" {{action "sendTestEmail"}}>Send</button>
                <p>Sends a test email to your address.</p>
            </div>
        </fieldset>
    </form> -->

    <hr>

    <form>
        <fieldset>
            {{#unless codeUIFlag}}
            <div class="form-group for-checkbox">
                <label for="labs-codeInjectionUI">自定义代码</label>
                <label class="check box" for="labs-codeInjectionUI">
                    {{input id="labs-codeInjectionUI" name="labs[codeInjectionUI]" type="checkbox"
                    checked=useCodeInjectionUI}}
                    <span class="input-toggle-component"></span>
                    <p>开启自定义代码功能</p>
                </label>
                <p> 开启后可以自定义网页头部和尾部代码。(预览版)</p>
            </div>
            {{/unless}}
        </fieldset>
    </form>

</section>
