<header class="settings-view-header">
    <a class="btn btn-default btn-back active" href="/ghost/settings/">Back</a>
    <h2 class="page-title">Tags</h2>
    <section class="page-actions">
        <button type="button" class="btn btn-green" {{action "newTag"}}>New Tag</button>
    </section>
</header>

<section class="content settings-tags">
    {{#each tag in tags}}
        <div class="settings-tag">
            <button class="tag-edit-button" {{action "editTag" tag}}>
                <span class="tag-title">{{tag.name}}</span>
                <span class="label label-default">/{{tag.slug}}</span>
                <p class="tag-description">{{tag.description}}</p>
                <span class="tags-count">N/A</span>
            </button>
        </div>
    {{/each}}
</section>
