<section {{did-insert this.onInsert}} class="gh-dashboard5">

    {{#if this.isLoading }}
        <GhLoadingSpinner />
    {{else}}
        {{#if this.areMembersEnabled}}
            <section class="gh-dashboard5-section">
                <Dashboard::V5::ChartMembersCounts />
            </section>

            <section class="gh-dashboard5-section">
                <div class="gh-dashboard5-header">
                    <h3>Members</h3>
                    <div class="prototype-selection">
                        <PowerSelect
                            @selected={{this.selectedDaysOption}}
                            @options={{this.daysOptions}}
                            @searchEnabled={{false}}
                            @onChange={{this.onDaysChange}}
                            @triggerComponent="gh-power-select/trigger"
                            @triggerClass="gh-contentfilter-menu-trigger"
                            @dropdownClass="gh-contentfilter-menu-dropdown"
                            @matchTriggerWidth={{false}}
                            as |option|
                        >
                            {{#if option.name}}{{option.name}}{{else}}<span class="red">Unknown option</span>{{/if}}
                        </PowerSelect>
                    </div>
                </div>

                <div class="gh-dashboard5-growth">
                    <article class="gh-dashboard5-box">
                        <Dashboard::V5::ChartTotalMembers @days={{this.days}} />
                    </article>

                    {{#if this.hasPaidTiers}}
                        <article class="gh-dashboard5-box">
                            <Dashboard::V5::ChartMonthlyRevenue @days={{this.days}} />
                        </article>

                        <article class="gh-dashboard5-box">
                            <Dashboard::V5::ChartTotalPaid @days={{this.days}} />
                        </article>

                        <article class="gh-dashboard5-box">
                            <Dashboard::V5::ChartPaidMembers @days={{this.days}}/>
                        </article>

                        <article class="gh-dashboard5-box">
                            <Dashboard::V5::ChartPaidMix />
                        </article>
                    {{/if}}
                </div>
            </section>
            <section class="gh-dashboard5-section">
                <Dashboard::V5::ChartEngagement />
            </section>
        {{/if}}

        {{#if this.areNewslettersEnabled}}
            <section class="gh-dashboard5-section">
                <Dashboard::V5::ChartEmail />
            </section>
        {{/if}}

        <section class="gh-dashboard5-split">
            <section class="gh-dashboard5-section">
                <div class="gh-dashboard5-header">
                    <h3>Recent posts</h3>
                </div>
                <article class="gh-dashboard5-box">
                    <Dashboard::V5::RecentPosts />
                </article>
            </section>

            <section class="gh-dashboard5-section">
                <div class="gh-dashboard5-header">
                    <h3>Recent activity</h3>
                </div>
                <Dashboard::LatestMemberActivity />
            </section>
        </section>

        <section class="gh-dashboard5-section">
            <div class="gh-dashboard5-header">
                <h3>Resources</h3>
            </div>
            <div class="gh-main-section gh-offers-help">
                <div class="gh-main-section-block">
                    <div class="gh-main-section-content grey">
                        <a href="https://ghost.org/help" target="_blank" class="gh-offers-help-card" rel="noopener noreferrer">
                            <div class="gh-offers-help-content">
                                <div class="thumbnail" style="background-image: url(assets/img/marketing/offers-1.jpg);"></div>
                                <div class="text">
                                    <h3>Do something cool in Ghost</h3>
                                    <p>There is a lot of cool things you can do in Ghost and this is just one of them.</p>
                                </div>
                            </div>
                            <div class="gh-btn"><span>Read more</span></div>
                        </a>

                        <a href="https://ghost.org/help" target="_blank" class="gh-offers-help-card" rel="noopener noreferrer">
                            <div class="gh-offers-help-content">
                                <div class="thumbnail" style="background-image: url(assets/img/marketing/offers-3.jpg);"></div>
                                <div class="text">
                                    <h3>Do something cool in Ghost</h3>
                                    <p>There is a lot of cool things you can do in Ghost and this is just one of them.</p>
                                </div>
                            </div>
                            <div class="gh-btn"><span>Read more</span></div>
                        </a>

                        <a href="https://ghost.org/help" target="_blank" class="gh-offers-help-card" rel="noopener noreferrer">
                            <div class="gh-offers-help-content">
                                <div class="thumbnail" style="background-image: url(assets/img/marketing/offers-2.jpg)"></div>
                                <div class="text">
                                    <h3>Do something cool in Ghost</h3>
                                    <p>There is a lot of cool things you can do in Ghost and this is just one of them.</p>
                                </div>
                            </div>
                            <div class="gh-btn"><span>Read more</span></div>
                        </a>

                    </div>
                </div>
            </div>
        </section>

        <Dashboard::V5::PrototypeControlPanel />
    {{/if}}
</section>