<section {{did-insert this.onInsert}}>
    {{#if this.isLoading }}
        <GhLoadingSpinner />
    {{else}}
        {{#if this.areMembersEnabled}}
            <Dashboard::V5::Charts::Anchor
                @days={{this.days}}
                @onDaysChange={{this.onDaysChange}}
                @daysOptions={{this.daysOptions}}
                @selected={{this.selectedDaysOption}}
            />
            {{#if this.areNewslettersEnabled}}
                <section class="gh-dashboard5-split">
                    <section class="gh-dashboard5-split">
                            <Dashboard::V5::Charts::Engagement />
                            <Dashboard::V5::Charts::Email />
                        </section>
                    </section>
                    <Dashboard::V5::Charts:EmailOpenRate />
                </section> 
            {{else}}
                <Dashboard::V5::Charts::Engagement />
            {{/if}}
        {{else}}
            {{#if this.areNewslettersEnabled}}
                <section class="gh-dashboard5-split">
                    <section class="gh-dashboard5-split">
                            <Dashboard::V5::Charts::Engagement />
                            <Dashboard::V5::Charts::Email />
                        </section>
                    </section>
                    <Dashboard::V5::Charts:EmailOpenRate />
                </section> 
            {{/if}}
        {{/if}}

        <section class="gh-dashboard5-split">
            <Dashboard::V5::Charts::RecentPosts />
            <Dashboard::V5::Charts::RecentActivity />
        </section>

        <Dashboard::V5::Resources::Help />
        
        {{!-- <Dashboard::V5::Resources::WhatsNew /> --}}
        {{!-- <Dashboard::V5::Resources::LatestNewsletters /> --}}
        {{!-- <Dashboard::V5::Resources::StaffPicks /> --}}
    {{/if}}

    <Dashboard::V5::Prototype::ControlPanel />
</section>
