<section class="gh-dashboard5-layout" {{did-insert this.onInsert}}>
    {{#if this.isLoading }}
        <GhLoadingSpinner />
    {{else}}
        {{#if this.areMembersEnabled}}
            {{#if this.hasPaidTiers}}
                <Dashboard::V5::Charts::Overview />
            {{/if}}

            <div class="gh-dashboard5-group {{if this.isTotalMembersZero 'is-zero'}}">
                <Dashboard::V5::Charts::Anchor />

                {{#if this.areNewslettersEnabled}}
                    <Dashboard::V5::Charts::Engagement />
                {{/if}}

                {{#if this.isTotalMembersZero}}
                    <Dashboard::V5::Parts::Zero />
                {{/if}}
            </div>
        {{/if}}

        <Dashboard::V5::Charts::Recents />

        <div class="gh-dashboard5-split gh-dashboard5-box is-secondary">
            <Dashboard::V5::Resources::Resources />
            <Dashboard::V5::Resources::Newsletter />
        </div>
        <div class="gh-dashboard5-split">
            <Dashboard::V5::Resources::StaffPicks />
            <Dashboard::V5::Resources::WhatsNew />
            <Dashboard::V5::Resources::Community />
        </div>
    {{/if}}

    <div class="gh-dashboard5-select">
        <PowerSelect
            @selected={{this.selectedDaysOption}}
            @options={{this.daysOptions}}
            @searchEnabled={{false}}
            @onChange={{this.onDaysChange}}
            @triggerComponent="gh-power-select/trigger"
            @triggerClass="gh-contentfilter-menu-trigger"
            @dropdownClass="gh-contentfilter-menu-dropdown is-narrow"
            @matchTriggerWidth={{false}}
            as |option|
        >
            {{#if option.name}}{{option.name}}{{else}}<span class="red">Unknown option</span>{{/if}}
        </PowerSelect>
    </div>
</section>

{{#if (enable-developer-experiments)}}
    <Dashboard::V5::Prototype::ControlPanel />
{{/if}}
