<section {{did-insert this.onInsert}}>

    {{#if this.isLoading }}
        <GhLoadingSpinner />
    {{else}}
        {{#if this.areMembersEnabled}}
            <section class="gh-dashboard5-section">
                <Dashboard::V5::ChartMembersCounts />
            </section>

            <section class="gh-dashboard5-section">
                <div class="prototype-selection">
                    <PowerSelect
                        @selected={{this.selectedDaysOption}}
                        @options={{this.daysOptions}}
                        @searchEnabled={{false}}
                        @onChange={{this.onDaysChange}}
                        @triggerComponent="gh-power-select/trigger"
                        @triggerClass="gh-contentfilter-menu-trigger"
                        @dropdownClass="gh-contentfilter-menu-dropdown"
                        @matchTriggerWidth={{false}}
                        as |option|
                    >
                        {{#if option.name}}{{option.name}}{{else}}<span class="red">Unknown option</span>{{/if}}
                    </PowerSelect>
                </div>

                <div class="gh-dashboard5-growth">
                    <article class="gh-dashboard5-box">
                        <Dashboard::V5::ChartTotalMembers @days={{this.days}} />
                    </article>

                    {{#if this.hasPaidTiers}}
                        <article class="gh-dashboard5-box">
                            <Dashboard::V5::ChartMonthlyRevenue @days={{this.days}} />
                        </article>

                        <article class="gh-dashboard5-box">
                            <Dashboard::V5::ChartTotalPaid @days={{this.days}} />
                        </article>

                        <article class="gh-dashboard5-box">
                            <Dashboard::V5::ChartPaidMembers @days={{this.days}}/>
                        </article>

                        <article class="gh-dashboard5-box">
                            <Dashboard::V5::ChartPaidMix />
                        </article>
                    {{/if}}
                </div>
            </section>
            <section class="gh-dashboard5-section">
                <Dashboard::V5::ChartEngagement />
            </section>
        {{/if}}

        {{#if this.areNewslettersEnabled}}
            <section class="gh-dashboard5-section">
                <Dashboard::V5::ChartEmail />
            </section>
        {{/if}}

        <section class="gh-dashboard5-section">
            <h2>Recent posts</h2>
            <article class="gh-dashboard5-box">
                Recent posts
            </article>
        </section>

        <section class="gh-dashboard5-section">
            <h2>Activity</h2>
            <Dashboard::LatestMemberActivity />
        </section>

        <section class="gh-dashboard5-section">
            <h2>Resources</h2>
            <article class="gh-dashboard5-box">
                <Dashboard::V5::ResourceGeneral />
            </article>
        </section>

        <Dashboard::V5::PrototypeControlPanel />
    {{/if}}
</section>

