{{#if this.shouldDisplay}}
    <div class="gh-dashboard-box grey activity-feed" data-test-dashboard-member-activity>
        <h4 class="gh-dashboard-header">Activity feed</h4>
        <div class="content">
            {{#if this.eventsLoading}}
                Loading...
            {{else}}
                {{#if this.eventsError}}
                    <p class="error">
                        There was an error loading events
                        <code>{{this.eventsError.message}}</code>
                    </p>
                {{else}}
                    <GhEventTimeline @events={{this.eventsData}}/>

                    {{#if (feature "membersActivityFeed")}}
                        <div class="gh-dashboard-top-members-footer">
                            <LinkTo @route="members-activity">See all activity {{svg-jar "arrow-right"}}</LinkTo>
                        </div>
                    {{/if}}
                {{/if}}
            {{/if}}
        </div>
    </div>
{{/if}}