<div class="navbar sub-nav-main text-center" role="navigation">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sub-navbar">
    Menu
  </button>

  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="sub-navbar">
      <nav class="nav nav-inline">
        <a class="nav-link active" href="#">All</a>
        <a class="nav-link" href="#">Resumes</a>
        <a class="nav-link" href="#">Career</a>
        <a class="nav-link disabled" href="#">Job Boards</a>
        <a class="nav-link" href="#">Other Stuff</a>
        <a class="nav-link" href="#">Find Your Passions</a>
      </nav>
    </div>
  </div>
</div>

<header {{#if image}}
    style="background-image: url({{image}})" class="main-header post-head" role="banner"
  {{else}}
    class="main-header post-head no-cover"
  {{/if}}>

  <div class="main-nav-fixed">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-toggle" data-slidemenu-toggle href="{{@blog.url}}" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar icon-bar-up"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar icon-bar-down"></span>
          </a>

          <!--<a href="#" class="pull-right">
            <span class="glyphicon glyphicon-search"></span>
          </a>-->

          {{#if @blog.logo}}
            <a class="navbar-brand blog-logo" href="{{@blog.url}}">
              <img src="{{@blog.logo}}" alt="Enhancv Blog Logo">
            </a>
          {{else}}
            <a class="navbar-brand blog-logo" href="{{@blog.url}}">
              {{> enhancv-logo}}
            </a>
          {{/if}}
        </div>

        <ul class="nav navbar-nav navbar-right nav-actions hidden-xs">
          <li><button type="button" class="btn btn-black navbar-btn">Let's get started</button></li>
          <li>
            <a class="navbar-toggle" data-slidemenu-toggle href="{{@blog.url}}" role="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar icon-bar-up"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar icon-bar-down"></span>
            </a>
          </li>
        </ul>

        <form action="" class="search-form navbar-form navbar-right hidden-xs" role="search">
          <div class="form-group pull-right">
            <label for="search" class="sr-only">Search</label>
            <input type="text" class="form-control pull-right" name="search" id="search" placeholder="Search" required>
            <span class="glyphicon glyphicon-search form-control-feedback pull-right"></span>
          </div>
        </form>
      </div><!-- /.container-fluid -->
    </nav>
  </div>
</header>
