{{#gh-modal-dialog action="closeModal" showClose=true type="action" style="wide"
    title="请确认删除这个标签?" confirm=confirm}}

    {{#if model.post_count}}
        <strong>警告:</strong> <span class="red">这个标签被 {{model.post_count}} {{postInflection}} 使用。</span> You're about to delete "<strong>{{model.name}}</strong>". This is permanent! No backups, no restores, no magic undo button. We warned you, ok?
    {{else}}
        <strong>WARNING:</strong> You're about to delete "<strong>{{model.name}}</strong>". This is permanent! No backups, no restores, no magic undo button. We warned you, ok?
    {{/if}}
{{/gh-modal-dialog}}
