<header class="view-header">
    {{#gh-view-title openMobileMenu="openMobileMenu"}}Apps{{/gh-view-title}}
</header>

<section class="view-content settings-apps">
    <table class="js-apps">
        <thead>
            <th>App name</th>
            <th>Status</th>
        </thead>
        <tbody>
        {{#each model itemController="settings/app" as |appController|}}
        <tr>
            <td>
                {{#if appController.model.package}}{{appController.model.package.name}} - {{appController.model.package.version}}{{else}}{{appController.model.name}} - package.json missing :({{/if}}
            </td>
            <td>
                <button type="button" {{action toggleApp appController}} class="btn js-button-active {{if activeClass 'btn-red js-button-deactivate'}} {{if inactiveClass 'btn-green'}}">
                    {{appController.buttonText}}
                </button>
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</section>
