<header class="settings-view-header">
    {{#link-to "settings" class="btn btn-default btn-back"}}返回{{/link-to}}
    <h2 class="page-title">自定义代码</h2>
    <section class="page-actions">
        <button type="button" class="btn btn-blue" {{action "save"}}>保存</button>
    </section>
</header>

<section class="content settings-code">
    <form id="settings-code" novalidate="novalidate">
        <fieldset>
            <p>
                 这里可以插入HTML代码到网页的头部或尾部。比如你可以插入搜索引擎优化代码、第三方统计代码等等。
            </p>

            <div class="form-group">
                <label for="ghost-head">网页头部</label>
                <p>这段代码使用模板标签 <code>\{{ghost_head}}</code> 引用。</p>
                {{gh-cm-editor id="ghost-head" name="codeInjection[ghost_head]" class="settings-code-editor" type="text" value=model.ghost_head}}
            </div>

            <div class="form-group">
                <label for="ghost-foot">网页尾部</label>
                <p>这段代码使用模板标签<code>\{{ghost_foot}}</code> 引用。</p>
                {{gh-cm-editor id="ghost-foot" name="codeInjection[ghost_foot]" class="settings-code-editor" type="text" value=model.ghost_foot}}
            </div>
        </fieldset>
    </form>
</section>
