<section class="gh-view">
    <header class="view-header">
        {{#gh-view-title openMobileMenu="openMobileMenu"}}<span>Code Injection</span>{{/gh-view-title}}
        <section class="view-actions">
            {{gh-spin-button type="button" class="btn btn-blue" action="save" buttonText="Save" submitting=submitting}}
        </section>
    </header>

    <section class="view-content">
        <form id="settings-code" novalidate="novalidate">
            <fieldset>
                <p>
                    Ghost allows you to inject code into the top and bottom of your theme files without editing them. This allows for quick modifications to insert useful things like tracking codes and meta tags.
                </p>

                <div class="form-group settings-code">
                    <label for="ghost-head">Blog Header</label>
                    <p>Code here will be injected into the <code>\{{ghost_head}}</code> tag on every page of your blog</p>
                    {{gh-cm-editor id="ghost-head" class="gh-input settings-code-editor" name="codeInjection[ghost_head]" type="text" value=model.ghost_head}}
                </div>

                <div class="form-group settings-code">
                    <label for="ghost-foot">Blog Footer</label>
                    <p>Code here will be injected into the <code>\{{ghost_foot}}</code> tag on every page of your blog</p>
                    {{gh-cm-editor id="ghost-foot" class="gh-input settings-code-editor" name="codeInjection[ghost_foot]" type="text" value=model.ghost_foot}}
                </div>
            </fieldset>
        </form>
    </section>
</section>
