<li>
    <a href="https://github.com/jaswilli" title="jaswilli">
        <img src="{{gh-path "admin" "/img/contributors"}}/jaswilli" alt="jaswilli">
    </a>
</li>
<li>
    <a href="https://github.com/PaulAdamDavis" title="PaulAdamDavis">
        <img src="{{gh-path "admin" "/img/contributors"}}/PaulAdamDavis" alt="PaulAdamDavis">
    </a>
</li>
<li>
    <a href="https://github.com/ErisDS" title="ErisDS">
        <img src="{{gh-path "admin" "/img/contributors"}}/ErisDS" alt="ErisDS">
    </a>
</li>
<li>
    <a href="https://github.com/cobbspur" title="cobbspur">
        <img src="{{gh-path "admin" "/img/contributors"}}/cobbspur" alt="cobbspur">
    </a>
</li>
<li>
    <a href="https://github.com/felixrieseberg" title="felixrieseberg">
        <img src="{{gh-path "admin" "/img/contributors"}}/felixrieseberg" alt="felixrieseberg">
    </a>
</li>
<li>
    <a href="https://github.com/novaugust" title="novaugust">
        <img src="{{gh-path "admin" "/img/contributors"}}/novaugust" alt="novaugust">
    </a>
</li>
<li>
    <a href="https://github.com/JohnONolan" title="JohnONolan">
        <img src="{{gh-path "admin" "/img/contributors"}}/JohnONolan" alt="JohnONolan">
    </a>
</li>
<li>
    <a href="https://github.com/rwjblue" title="rwjblue">
        <img src="{{gh-path "admin" "/img/contributors"}}/rwjblue" alt="rwjblue">
    </a>
</li>
<li>
    <a href="https://github.com/Gargol" title="Gargol">
        <img src="{{gh-path "admin" "/img/contributors"}}/Gargol" alt="Gargol">
    </a>
</li>
<li>
    <a href="https://github.com/sebgie" title="sebgie">
        <img src="{{gh-path "admin" "/img/contributors"}}/sebgie" alt="sebgie">
    </a>
</li>
<li>
    <a href="https://github.com/jgable" title="jgable">
        <img src="{{gh-path "admin" "/img/contributors"}}/jgable" alt="jgable">
    </a>
</li>
<li>
    <a href="https://github.com/dbalders" title="dbalders">
        <img src="{{gh-path "admin" "/img/contributors"}}/dbalders" alt="dbalders">
    </a>
</li>
<li>
    <a href="https://github.com/jillesme" title="jillesme">
        <img src="{{gh-path "admin" "/img/contributors"}}/jillesme" alt="jillesme">
    </a>
</li>
<li>
    <a href="https://github.com/javorszky" title="javorszky">
        <img src="{{gh-path "admin" "/img/contributors"}}/javorszky" alt="javorszky">
    </a>
</li>
<li>
    <a href="https://github.com/mattiascibien" title="mattiascibien">
        <img src="{{gh-path "admin" "/img/contributors"}}/mattiascibien" alt="mattiascibien">
    </a>
</li>
<li>
    <a href="https://github.com/RaoHai" title="RaoHai">
        <img src="{{gh-path "admin" "/img/contributors"}}/RaoHai" alt="RaoHai">
    </a>
</li>
<li>
    <a href="https://github.com/halfdan" title="halfdan">
        <img src="{{gh-path "admin" "/img/contributors"}}/halfdan" alt="halfdan">
    </a>
</li>
<li>
    <a href="https://github.com/matthojo" title="matthojo">
        <img src="{{gh-path "admin" "/img/contributors"}}/matthojo" alt="matthojo">
    </a>
</li>
<li>
    <a href="https://github.com/hswolff" title="hswolff">
        <img src="{{gh-path "admin" "/img/contributors"}}/hswolff" alt="hswolff">
    </a>
</li>
<li>
    <a href="https://github.com/tgriesser" title="tgriesser">
        <img src="{{gh-path "admin" "/img/contributors"}}/tgriesser" alt="tgriesser">
    </a>
</li>