<header class="floatingheader">
    <button type="button" class="button-back" href="#">返回</button>
    <button type="button" {{bind-attr class="featured:featured:unfeatured"}} title="Feature this post" {{action "toggleFeatured"}}>
        <span class="hidden">Star</span>
    </button>
    <small>
        <span class="status">{{#if isPublished}}发布{{else}}编辑{{/if}}</span>
        <span class="normal">by</span>
        <span class="author">{{#if author.name}}{{author.name}}{{else}}{{author.email}}{{/if}}</span>
    </small>
    <section class="post-controls">
        {{#link-to "editor.edit" this class="post-edit" title="Edit Post"}}
            <span class="hidden">编辑文章</span>
        {{/link-to}}
        {{#gh-popover-button popoverName="post-settings-menu" classNames="post-settings" title="Post Settings"}}
            <span class="hidden">文章设置</span>
        {{/gh-popover-button}}
        {{#gh-popover name="post-settings-menu" classNames="post-settings-menu menu-drop-right"}}
            {{render "post-settings-menu" model}}
        {{/gh-popover}}
    </section>
</header>
