<a class="sr-only sr-only-focusable" href="#gh-main">Skip to main content</a>

{{#unless hideNav}}
    {{partial "navbar"}}
{{/unless}}

<main id="gh-main" class="viewport" role="main" {{bind-attr data-notification-count=topNotificationCount}}>
    {{gh-notifications location="top" notify="topNotificationChange"}}
    {{outlet}}
</main>

{{gh-notifications location="bottom"}}

{{outlet "modal"}}

{{outlet "settings-menu"}}
