{{#unless hideNav}}
    {{partial "navbar"}}
{{/unless}}

<main role="main" id="main">
    {{gh-notifications location="top"}}
    {{gh-notifications location="bottom"}}

    {{outlet}}
</main>
{{outlet modal}}
