{{#unless hideNav}}
    {{partial "navbar"}}
{{/unless}}

<main role="main" id="main" {{bind-attr data-notification-count=topNotificationCount}}>
    {{gh-notifications location="top" notify="topNotificationChange"}}
    {{gh-notifications location="bottom"}}

    {{outlet}}
</main>
{{outlet modal}}
