<button type="button" {{action "save"}} {{bind-attr class=":btn :btn-sm view.isDangerous:btn-red:btn-blue :js-publish-button" }}>{{view.saveText}}</button>
{{#gh-dropdown-button dropdownName="post-save-menu" classNameBindings=":btn :btn-sm view.isDangerous:btn-red:btn-blue btnopen:active :dropdown-toggle :up"}}
    <i class="options"></i>
    <span class="sr-only">Toggle Settings Menu</span>
{{/gh-dropdown-button}}
{{#gh-dropdown name="post-save-menu" closeOnClick="true" tagName="div" classNames="dropdown editor-options"}}
    <ul class="dropdown-menu dropdown-triangle-bottom-right">
        <li {{bind-attr class=":post-save-publish willPublish:active"}}>
            <a {{action "setSaveType" "publish"}} href="#">{{view.publishText}}</a>
        </li>
        <li {{bind-attr class=":post-save-draft willPublish::active"}}>
            <a {{action "setSaveType" "draft"}} href="#">{{view.draftText}}</a>
        </li>
        <li class="divider delete"></li>
        <li class="delete">
            <a {{action "openModal" "delete-post" this}} href="#">{{view.deleteText}}</a>
        </li>
    </ul>
{{/gh-dropdown}}
