<button type="button" {{action "save"}} {{bind-attr class="view.isDangerous:button-delete:button-save :js-publish-button" }}>{{view.save-text}}</button>
<button {{action 'viewSaveTypes'}} {{bind-attr class="controller.isViewingSaveTypes:active :options :up" }} title="Post Settings"><span class="hidden">Post Settings</span>
</button>
{{!-- @TODO: implement popover --}}
<ul {{bind-attr class="controller.isViewingSaveTypes::hidden :editor-options :overlay" }}>
    <li {{bind-attr class="controller.willPublish:active"}}>
        <a {{action "setSaveType" "publish"}} href="#">{{view.publish-text}}</a>
    </li>
    <li {{bind-attr class="controller.willPublish::active"}}>
        <a {{action "setSaveType" "draft"}} href="#">{{view.draft-text}}</a>
    </li>
</ul>