<section class="entry-container">
    <header>
        <section class="box entry-title">
            {{input type="text" id="entry-title" placeholder="Your Post Title" value=title tabindex="1"}}
        </section>
    </header>

    <section class="entry-markdown active">
        <header class="floatingheader">
            <small>Markdown</small>
            <a class="markdown-help" href="" {{action "openModal" "markdown"}}><span class="hidden">What is Markdown?</span></a>
        </header>
        <section id="entry-markdown-content" class="entry-markdown-content">
            {{-codemirror value=markdown scrollPosition=view.scrollPosition}}
        </section>
    </section>

    <section class="entry-preview">
        <header class="floatingheader">
            <small>Preview <span class="entry-word-count js-entry-word-count">{{count-words markdown}} words</span></small>
        </header>
        <section class="entry-preview-content">
            {{-markdown markdown=markdown scrollPosition=view.scrollPosition}}
        </section>
    </section>
</section>

{{partial 'publish-bar'}}