<style>
/* Put your CSS here */
/*
@keyframes domChanged { from { background: yellow; } }
@-webkit-keyframes domChanged { from { background: yellow; } }
.ember-view { animation: domChanged 1s; -webkit-animation: domChanged 1s; }
*/

@font-face {
    font-family: "Icons";
    src: url("https://testblog111.ghost.io/ghost/fonts/icons.woff") format('woff');
}
/*
  Cosmetic changes to ghost styles, that help during development.
  The contents should be solved properly or moved into the other assets.
*/
.post-settings-menu {
    display: none !important;
}

#entry-markdown, .entry-preview,
.CodeMirror.cm-s-default {
    height: 500px !important;
}

.editor .entry-title {
    box-shadow: none !important;
    background: none !important;
    padding: 0 !important;
    height: auto !important;
}

.editor input {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}
</style>


<section class="entry-container">
    <header>
        <section class="box entry-title">
            {{input type="text" id="entry-title" placeholder="Your Post Title" value=title tabindex="1"}}
        </section>
    </header>

    <section class="entry-markdown active">
        <header class="floatingheader">
            <small>Markdown</small>
            <a class="markdown-help" href="#"><span class="hidden">What is Markdown?</span></a>
        </header>
        <section id="entry-markdown-content" class="entry-markdown-content">
            {{-codemirror value=markdown scrollPosition=view.scrollPosition}}
        </section>
    </section>

    <section class="entry-preview">
        <header class="floatingheader">
            <small>Preview <span class="entry-word-count js-entry-word-count">{{count-words markdown}} words</span></small>
        </header>
        {{-markdown markdown=markdown scrollPosition=view.scrollPosition}}
    </section>
</section>

{{partial 'publish-bar'}}