<header class="page-header">
    <button class="menu-button js-menu-button" {{action "toggleGlobalMobileNav"}}><span class="sr-only">Menu</span></button>
    <h2 class="page-title">Content</h2>
</header>

<div class="page-content">
    <section class="content-list js-content-list">
        <header class="floatingheader">
            <section class="content-filter">
                {{#gh-popover-button popoverName="post-filter" classNames="post-filter-button" title="Post Filter"}}
                <small>{{activeFilterName}}</small> <i class="icon-chevron-down"></i>
                {{/gh-popover-button}}
                {{#gh-popover name="post-filter" classNames="dropdown post-filter-list" closeOnClick="true"}}
                <ul class="dropdown-menu dropdown-triangle-top" role="menu">
                    <li role="presentation"><button class="dropdown-item" {{action 'filterPosts' 'all'}}>All Posts</button></li>
                    <li role="presentation"><button class="dropdown-item" {{action 'filterPosts' 'draft'}}>Drafts</button></li>
                    <li role="presentation"><button class="dropdown-item" {{action 'filterPosts' 'published'}}>Published</button></li>
                    <li role="presentation"><button class="dropdown-item" {{action 'filterPosts' 'pages'}}>Pages</button></li>
                    <li role="presentation"><button class="dropdown-item" {{action 'filterPosts' 'featured'}}>Featured</button></li>
                </ul>
                {{/gh-popover}}
            </section>
            {{#link-to "editor.new" class="btn btn-green" title="New Post"}}<span class="hidden">New Post</span>{{/link-to}}
        </header>
        {{#view "paginated-scroll-box" tagName="section" classNames="content-list-content"}}
        <ol class="posts-list">
            {{#each itemController="posts/post" itemView="post-item-view" itemTagName="li"}}
            {{#link-to "posts.post" this class="permalink" title="Edit this post"}}
            <h3 class="entry-title">{{title}}</h3>
            <section class="entry-meta">
                <span class="status">
                    {{#if isPublished}}
                    {{#if page}}
                    <span class="page">Page</span>
                    {{else}}
                    <time datetime="{{unbound published_at}}" class="date published">
                        Published {{gh-format-timeago published_at}}
                    </time>
                    {{/if}}
                    {{else}}
                    <span class="draft">Draft</span>
                    {{/if}}
                </span>
            </section>
            {{/link-to}}
            {{/each}}
        </ol>
        {{/view}}
    </section>
    <section class="content-preview js-content-preview">
        {{outlet}}
    </section>
</div>
