<form>
	<table class="plain">
		<tbody>
			<tr class="post-setting">
				<td class="post-setting-label">
					<label for="url">URL</label>
				</td>
				<td class="post-setting-field">
					{{gh-blur-input class="post-setting-slug" id="url" value=slugValue name="post-setting-slug" action="updateSlug" placeholder=slugPlaceholder selectOnClick="true"}}
				</td>
			</tr>
			<tr class="post-setting">
				<td class="post-setting-label">
					<label for="pub-date">Pub Date</label>
				</td>
				<td class="post-setting-field">
					{{gh-blur-input class="post-setting-date" value=publishedAtValue name="post-setting-date" action="setPublishedAt" placeholder=publishedAtPlaceholder}}
				</td>
			</tr>
			<tr class="post-setting">
				<td class="post-setting-label">
			<label for="post-setting-author">Author</label>
		</td>
		<td class="post-setting-field">
			<span class="gh-select">
				{{view Ember.Select
					name="post-setting-author"
					content=authors
					optionValuePath="content.id"
					optionLabelPath="content.name"
					selection=selectedAuthor}}
			</span>
		</td>
		</tr>
		<tr class="post-setting">
		<td class="post-setting-label">
					<label class="label" for="static-page">Static Page</label>
				</td>
				<td class="post-setting-item">
					{{input type="checkbox" name="static-page" id="static-page" class="post-setting-static-page" checked=page}}
					<label class="checkbox" for="static-page" {{action 'togglePage' bubbles="false"}}></label>
				</td>
			</tr>
		</tbody>
	</table>
</form>
<button type="button" class="delete" {{action "openModal" "delete-post" this}}>Delete This Post</button>
