<header class="page-header">
    <button class="menu-button js-menu-button" {{action "toggleGlobalMobileNav"}}><span class="sr-only">Menu</span></button>
    <h2 class="page-title">Settings</h2>
</header>

<div class="page-content">
    <nav class="settings-menu">
        <ul>
            {{#unless session.user.isAuthor}}
                {{#unless session.user.isEditor}}
                    {{gh-activating-list-item route="settings.general" title="General" classNames="settings-menu-general icon-settings"}}
                {{/unless}}

                {{gh-activating-list-item route="settings.users" title="Users" classNames="settings-menu-users icon-users"}}

            {{/unless}}

            {{gh-activating-list-item route="settings.about" title="About" classNames="settings-menu-about icon-ghost"}}
        </ul>
    </nav>

    {{outlet}}
</div>
