<header class="page-header">
    <button class="menu-button js-menu-button" {{action "toggleGlobalMobileNav"}}><span class="sr-only">菜单</span></button>
    <h2 class="page-title">博客设置</h2>
</header>

<div class="page-content">
    <nav class="settings-nav js-settings-menu">
        <ul>


            {{#if showGeneral}}
                {{gh-activating-list-item route="settings.general" title="博客选项" classNames="settings-nav-general icon-settings"}}
            {{/if}}

            {{#if showUsers}}
                {{gh-activating-list-item route="settings.users" title="用户管理" classNames="settings-nav-users icon-users"}}
            {{/if}}

            {{#if showTags}}
                {{gh-activating-list-item route="settings.tags" title="标签管理" classNames="settings-nav-tags icon-tag"}}
            {{/if}}

            {{#if showNavigation}}
                {{gh-activating-list-item route="settings.navigation" title="博客导航" classNames="settings-nav-navigation icon-compass"}}
            {{/if}}

            {{#if showCodeInjection}}
                {{gh-activating-list-item route="settings.code-injection" title="自定义代码" classNames="settings-nav-code icon-code"}}
            {{/if}}

            {{#if showLabs}}
                {{gh-activating-list-item route="settings.labs" title="实验室" classNames="settings-nav-labs icon-atom"}}
            {{/if}}

            {{#if showAbout}}
                {{gh-activating-list-item route="settings.about" title="关于我们" classNames="settings-nav-about icon-pacman"}}
            {{/if}}

        </ul>
    </nav>

    {{outlet}}
</div>
