<section class="setup-box js-signup-box fade-in">
    <div class="vertical">
        <form id="signup" class="setup-form" method="post" novalidate="novalidate">

            {{!-- Horrible hack to prevent Chrome from incorrectly auto-filling inputs --}}
            <input style="display:none;" type="text" name="fakeusernameremembered"/>
            <input style="display:none;" type="password" name="fakepasswordremembered"/>

            <header>
                <h1>欢迎来到 Ghost</h1>
                <h2>开始创建您的账号</h2>
            </header>
            <div class="form-group">
                <label for="email">邮件地址</label>
                {{input type="email" name="email" autocorrect="off" value=email }}
                <p>用来接收重要的通知</p>
            </div>
            <div class="form-group">
                <label for="name">你的名字</label>
                {{gh-trim-focus-input type="text" name="name" autofocus="autofocus" autocorrect="off" value=name }}
                <p>将会用这个名字注册到博客</p>
            </div>
            <div class="form-group">
                <label for="password">密 码</label>
                {{input type="password" name="password" autofocus="autofocus" autocorrect="off" value=password }}
                <p>至少8个字符</p>
            </div>
            <footer>
                <button type="submit" class="button-add large" {{action "signup"}} {{bind-attr disabled=submitting}}>创建账号</button>
            </footer>
        </form>
    </div>
</section>
