<section class="login-box js-login-box fade-in">
    <form id="login" class="login-form" method="post" novalidate="novalidate" {{action 'validateAndAuthenticate' on='submit'}}>
        <div class="email-wrap">
            <span class="input-icon icon-mail">

                {{gh-trim-focus-input class="email" type="email" placeholder="邮箱" name="identification" autocapitalize="off" autocorrect="off" value=identification}}
            </span>
        </div>
        <div class="password-wrap">
            <span class="input-icon icon-lock">
                {{input class="password" type="password" placeholder="密码" name="password" value=password}}
            </span>
        </div>
        <button class="btn btn-blue" type="submit" {{action "validateAndAuthenticate"}} {{bind-attr disabled=submitting}}>登录</button>
        <section class="meta">
            {{#link-to 'forgotten' class="forgotten-password"}}找回密码{{/link-to}}
        </section>
    </form>
</section>
