<div class="modal-body">
    {{#if url}}
        <div class="gh-image-uploader --with-image">
            <div><img src={{url}}></div>
            <a class="image-cancel icon-trash" title="Delete" {{action 'removeImage'}}>
                <span class="hidden">Delete</span>
            </a>
        </div>
    {{else}}
        {{gh-image-uploader
            image=newUrl
            saveButton=false
            update=(action 'fileUploaded')
            onInput=(action (mut newUrl))
        }}
    {{/if}}
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="btn btn-default btn-minor">Cancel</button>
    {{#gh-spin-button action="confirm" class="btn btn-blue right js-button-accept" submitting=submitting}}Save{{/gh-spin-button}}
</div>
