<div class="modal-body">
    {{#if url}}
        <div class="gh-image-uploader -with-image">
            <div><img src={{url}}></div>
            <a class="image-cancel" title="Delete" {{action 'removeImage'}}>
                {{inline-svg "trash"}}
                <span class="hidden">Delete</span>
            </a>
        </div>
    {{else}}
        {{gh-image-uploader
            image=newUrl
            saveButton=false
            update=(action 'fileUploaded')
            uploadStarted=(action 'isUploading')
            uploadFinished=(action 'isUploading')
            accept=model.accept
            extensions=model.extensions
            uploadUrl=model.uploadUrl
        }}
    {{/if}}
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn"><span>Cancel</span></button>
    {{#if _isUploading}}
        <button class="gh-btn gh-btn-blue right gh-btn-icon disabled"><span>Save</span></button>
    {{else}}
        {{gh-task-button task=uploadImage class="gh-btn gh-btn-blue right gh-btn-icon" data-test-modal-accept-button=true}}
    {{/if}}
</div>
