{{#if file}}
    {{!-- Upload in progress! --}}
    {{#if failureMessage}}
        <div class="failed">{{failureMessage}}</div>
    {{/if}}
    <div class="progress-container">
        <div class="progress">
            <div class="bar {{if failureMessage "fail"}}" style={{progressStyle}}></div>
        </div>
    </div>
    {{#if failureMessage}}
        <button class="btn btn-green" {{action "reset"}}>Try Again</button>
    {{/if}}
{{else}}
    <div class="upload-form">
        {{#gh-file-input multiple=false alt=labelText action=(action 'fileSelected') accept="text/csv"}}
            <div class="description">{{labelText}}</div>
        {{/gh-file-input}}
    </div>
{{/if}}
