<input type="checkbox" checked={{value}} disabled={{disabled}} id={{for}} name={{name}} onclick={{action (mut value) value="target.checked"}}>
<span class="input-toggle-component"></span>
{{{yield}}}
