<div class="flex flex-column b--whitegrey bt">
    <section class="flex flex-column bb b--whitegrey pa5">
        <div class="w-50 mb4"> 
            <label class="fw6 f6">Stripe publishable API key</label>
            {{gh-text-input
                value=(readonly subscriptionSettings.stripeConfig.public_token)
                input=(action "setSubscriptionSettings" "public_token")
                class="mt1"
            }}
        </div>
        <div class="w-50 mb4"> 
            <label class="fw6 f6 mt4">Stripe secret API key</label>
            {{gh-text-input
                value=(readonly subscriptionSettings.stripeConfig.secret_token)
                input=(action "setSubscriptionSettings" "secret_token")
                class="mt1"
            }}
            <a href="https://dashboard.stripe.com/account/apikeys" target="_blank" class="mt1 fw4 f8">
            Where to find Stripe API keys
            </a>
        </div>

        <div class="w-50 flex nb5">
            <div class="w-50 mr3">
                {{#gh-form-group}}
                <label class="fw6 f6">Monthly price</label>
                <div class="mt1 relative gh-labs-price-label gh-labs-monthly-price">
                    {{gh-text-input
                        value=(readonly subscriptionSettings.stripeConfig.plans.monthly.dollarAmount)
                        type="number"
                        input=(action "setSubscriptionSettings" "month")
                    }}
                </div>
                {{/gh-form-group}}
            </div>
            <div class="w-50 ml2">
                {{#gh-form-group class="description-container"}}
                <label class="fw6 f6">Yearly price</label>
                <div class="mt1 relative gh-labs-price-label gh-labs-yearly-price">
                    {{gh-text-input
                        value=(readonly subscriptionSettings.stripeConfig.plans.yearly.dollarAmount)
                        type="number"
                        input=(action "setSubscriptionSettings" "year")
                    }}
                </div>
                {{/gh-form-group}}
            </div>
        </div>
    </section>

    <section class="flex flex-column bb b--whitegrey pa5"> 
        <label class="dib f6 fw6 mb4">Default post access</label>

        <div class="gh-radio {{if (eq settings.defaultContentVisibility "public") "active"}}"
            {{action "setDefaultContentVisibility" "public" on="click"}}>
            <div class="gh-radio-button" data-test-publishmenu-unpublished-option></div>
            <div class="gh-radio-content">
                <div class="gh-radio-label">Public</div>
            </div>
        </div>

        <div class="gh-radio {{if (eq settings.defaultContentVisibility "members") "active"}}"
            {{action "setDefaultContentVisibility" "members" on="click"}}>
            <div class="gh-radio-button" data-test-publishmenu-published-option></div>
            <div class="gh-radio-content">
                <div class="gh-radio-label">Members only</div>
            </div>
        </div>

        <div class="gh-radio {{if (eq settings.defaultContentVisibility "paid") "active"}}"
            {{action "setDefaultContentVisibility" "paid" on="click"}}>
            <div class="gh-radio-button" data-test-publishmenu-published-option></div>
            <div class="gh-radio-content">
                <div class="gh-radio-label">Paid-members only</div>
            </div>
        </div>
    </section>

    <div class="flex flex-column bb b--whitegrey pa5">
        <div class="for-checkbox">
            <label class="checkbox flex items-center" for="members-require-payment"
                {{action "setSubscriptionSettings" "requirePaymentForSignup" bubbles="false"}}>
                <span class="f6 fw6"> Require payment for signups</span>
                <input type="checkbox" checked={{subscriptionSettings.requirePaymentForSignup}} class="gh-input"
                    onclick={{action "setSubscriptionSettings" "requirePaymentForSignup"}}
                    data-test-checkbox="members-require-payment">
                <span class="input-toggle-component mt1"></span>
            </label>
        </div>
    </div>
    <div class="flex flex-column pl5 pr5 pt5">
        <div class="w-50 mr3">
            {{#gh-form-group}}
            <label class="dib f6 fw6 mb4">Email</label>
            <div class="flex items-center justify-center">
                {{gh-text-input
                    value=(readonly subscriptionSettings.fromAddress)
                    input=(action "setSubscriptionSettings" "fromAddress")
                }}
                <span class="ml3"> @{{config.blogDomain}}</span>
            </div>
            <div class="f6 fw4"> "From" address for sending sign up and sign in emails</div>
            {{/gh-form-group}}
        </div>
    </div>
</div>