<LinkTo @route="member" @model={{this.member}} title="Member details" class="gh-list-data gh-members-list-basic">
    <div class="flex items-center">
        <GhMemberAvatar @member={{member}} class="w9 h9 mr3" />
        <div>
            <h3 class="ma0 pa0 gh-members-list-name {{if (not member.name) "gh-members-name-noname"}}">
                {{#if this.name}}
                    {{this.name}}
                {{else}}
                    {{this.email}}
                {{/if}}
            </h3>
            {{#if this.name}}
                <p class="ma0 pa0 middarkgrey f8 gh-members-list-email">{{this.email}}</p>
            {{/if}}
        </div>
    </div>
</LinkTo>

<LinkTo @route="member" @model={{this.member}} title="Member details" class="gh-list-data gh-members-list-subscribed-at gh-list-cellwidth-20 nowrap middarkgrey f8 {{if (not member.name) "gh-members-subscribed-noname"}}">
    {{this.createdDate}} <span class="midgrey-l2">({{this.memberSince}})</span>
</LinkTo>

<LinkTo @route="member" @model={{this.member}} title="Member details" class="gh-list-data gh-list-cellwidth-chevron gh-members-list-chevron">
    <div class="flex items-center justify-end w-100 h-100">
        <span class="nr2">{{svg-jar "arrow-right" class="w6 h6 fill-midgrey pa1"}}</span>
    </div>
</LinkTo>