{{#link-to "editor.new" classNames="gh-nav-main-editor"}}{{svg-jar "pen"}}New story{{/link-to}}
{{#if (eq router.currentRouteName "posts.index")}}
    {{#link-to "posts" (query-params type=null) classNames="gh-nav-main-content active"}}{{svg-jar "content"}}Stories{{/link-to}}
{{else}}
    {{#link-to "posts" classNames="gh-nav-main-content"}}{{svg-jar "content"}}Content{{/link-to}}
{{/if}}
{{#link-to "team" classNames="gh-nav-main-users"}}{{svg-jar "account-group"}}Team{{/link-to}}
<div class="gh-mobile-nav-bar-more" {{action "openMobileMenu" target=ui}}>{{svg-jar "icon" class="icon-gh"}}More</div>
{{yield}}
