<h3 class="gh-content-entry-title">{{#link-to "editor.edit" post.id class="permalink" title="Edit this post"}}{{post.title}}{{/link-to}}</h3>
<p>{{subText}}</p>

<section class="gh-content-entry-meta">
        {{#if isPublished}}
            {{#if post.page}}
                <span class="gh-content-status-draft gh-badge gh-badge-black">Page</span>
            {{else}}
                <span class="gh-content-status-published">Published</span>
            {{/if}}
        {{else}}
            {{#if isScheduled}}
                <span class="gh-content-status-draft gh-badge">Scheduled</span>
            {{else}}
                <span class="gh-content-status-draft gh-badge gh-badge-red">Draft</span>
            {{/if}}
        {{/if}}

        by <span class="gh-content-entry-author">{{authorName}}</span> &mdash;
        Last edited {{gh-format-timeago post.updatedAtUTC}}

</section>
