<h3 class="gh-content-entry-title">{{#link-to "editor.edit" post.id class="permalink" title="Edit this post"}}{{post.title}}{{/link-to}}</h3>
<p>{{subText}}</p>

<section class="gh-content-entry-meta">
    {{#if isPage}}
        <span class="gh-content-status-draft gh-badge gh-badge-black">Page</span>
    {{/if}}

    {{#if isScheduled}}
        <span class="gh-content-status-draft gh-badge">Scheduled</span>
    {{/if}}

    {{#if isDraft}}
        <span class="gh-content-status-draft gh-badge gh-badge-red">Draft</span>
    {{/if}}

    {{#if isFeatured}}
        <span class="gh-content-status-featured gh-badge gh-badge-blue">Featured</span>
    {{/if}}

    {{#if (and isPublished (not post.page))}}
        <span class="gh-content-status-published">Published</span>
    {{/if}}

    by <span class="gh-content-entry-author">{{authorName}}</span> &mdash;

    {{#if isPublished}}
        {{gh-format-post-time post.publishedAtUTC published=true}}
    {{else if isScheduled}}
        <span class="green">Will go live {{gh-format-post-time post.publishedAtUTC scheduled=true}}</span>
    {{else}}
        Last edited {{gh-format-post-time post.updatedAtUTC draft=true}}
    {{/if}}
</section>
