{{#link-to "editor.edit" this.post.displayName this.post.id class="permalink gh-list-data gh-post-list-featured" title="Edit this post"}}
    {{#if this.isFeatured}}
        <span data-tooltip="Featured" class="dib pl1 pr1 nr1 nl1">{{svg-jar "star-filled" class="fill-blue w3 h3"}}</span>
    {{/if}}
{{/link-to}}

{{#link-to "editor.edit" this.post.displayName this.post.id class="permalink gh-list-data gh-post-list-title" title="Edit this post"}}
    <h3 class="gh-content-entry-title">
        {{this.post.title}}
    </h3>
    {{#if isScheduled}}
        <p>
            <span class="gh-schedule-time">Will go live {{gh-format-post-time this.post.publishedAtUTC scheduled=true}}</span>
            <span class="gh-schedule-subtext">&dash; {{this.subText}}</span>
        </p>
    {{else}}
        <p>
            {{this.subText}}
        </p>
    {{/if}}
{{/link-to}}

{{#link-to "editor.edit" this.post.displayName this.post.id class="permalink gh-list-data gh-post-list-status" title="Edit this post"}}
    {{#if this.isScheduled}}
    <span class="gh-content-status-draft gh-badge nowrap">Scheduled</span>
    {{/if}}

    {{#if this.isDraft}}
    <span class="gh-content-status-draft gh-badge gh-badge-purple nowrap">Draft</span>
    {{/if}}

    {{#if (and this.isPublished (not this.post.page))}}
    <span class="gh-content-status-published nowrap">Published</span>
    {{/if}}
{{/link-to}}

{{#link-to "editor.edit" this.post.displayName this.post.id class="permalink gh-list-data gh-post-list-updated" title="Edit this post"}}
    <span class="nowrap">{{gh-format-post-time this.post.updatedAtUTC draft=true}}</span>
{{/link-to}}

{{#link-to "editor.edit" this.post.displayName this.post.id class="permalink gh-list-data gh-post-list-author" title="Edit this post"}}
    <span class="gh-content-entry-author">{{this.authorNames}}</span>
{{/link-to}}