<header class="gh-publishmenu-heading">Ready to publish your {{post.displayName}}?</header>
<section class="gh-publishmenu-content">
    <div class="gh-publishmenu-radio {{if (eq saveType "publish") "active"}}" {{action "setSaveType" "publish" on="click"}}>
        <div class="gh-publishmenu-radio-button" data-test-publishmenu-published-option></div>
        <div class="gh-publishmenu-radio-content">
            <div class="gh-publishmenu-radio-label">Set it live now</div>
            <div class="gh-publishmenu-radio-desc">Publish this {{post.displayName}} immediately</div>
        </div>
    </div>
    <div class="gh-publishmenu-radio {{if (eq saveType "schedule") "active"}}" {{action "setSaveType" "schedule" on="click"}}>
        <div class="gh-publishmenu-radio-button" data-test-publishmenu-scheduled-option></div>
        <div class="gh-publishmenu-radio-content">
            <div class="gh-publishmenu-radio-label">Schedule it for later</div>
            {{gh-date-time-picker
                date=post.publishedAtBlogDate
                time=post.publishedAtBlogTime
                setDate=(action "setDate")
                setTime=(action "setTime")
                errors=post.errors
                dateErrorProperty="publishedAtBlogDate"
                timeErrorProperty="publishedAtBlogTime"
                minDate=_minDate
            }}
            <div class="gh-publishmenu-radio-desc">Set automatic future publish date</div>
        </div>
    </div>
    {{#if this.feature.labs.members}}
        <div class="gh-publishmenu-radio">
            {{#if this.backgroundLoader.isRunning}}
                <div class="gh-loading-spinner" style="zoom: 50%"></div>
            {{else}}
                {{#unless this.deliveredAction}}
                    <div class="for-checkbox">
                        <label class="checkbox" for="email-when-published-checkbox">
                            <Input @checked={{this.sendEmailWhenPublished}} @type="checkbox" @id="email-when-published-checkbox" @name="email-when-published" />
                            <span class="input-toggle-component gh-publishmenu-email-checkbox"></span>
                        </label>
                    </div>
                    <div class="gh-publishmenu-email-label">
                        <div class="gh-publishmenu-radio-label">Email post</div>
                        <div class="gh-publishmenu-radio-desc">Send post to {{this.memberCount}} members when published</div>
                    </div>
                {{/unless}}
            {{/if}}
        </div>
    {{/if}}
</section>

