<h3 class="gh-content-entry-title">
    {{#link-to "editor.edit" this.post.displayName this.post.id class="permalink" title="Edit this post"}}
        {{this.post.title}}
    {{/link-to}}
</h3>
<p>{{this.subText}}</p>

<section class="gh-content-entry-meta">
    {{#if this.isPage}}
        <span class="gh-content-status-draft gh-badge gh-badge-black">Page</span>
    {{/if}}

    {{#if this.isScheduled}}
        <span class="gh-content-status-draft gh-badge">Scheduled</span>
    {{/if}}

    {{#if this.isDraft}}
        <span class="gh-content-status-draft gh-badge gh-badge-red">Draft</span>
    {{/if}}

    {{#if this.isFeatured}}
        <span class="gh-content-status-featured gh-badge gh-badge-blue">Featured</span>
    {{/if}}

    {{#if (and this.isPublished (not this.post.page))}}
        <span class="gh-content-status-published">Published</span>
    {{/if}}

    by <span class="gh-content-entry-author">{{this.authorNames}}</span> &mdash;

    {{#if this.isPublished}}
        {{gh-format-post-time this.post.publishedAtUTC published=true}}
    {{else if isScheduled}}
        <span class="green">Will go live {{gh-format-post-time this.post.publishedAtUTC scheduled=true}}</span>
    {{else}}
        Last edited {{gh-format-post-time this.post.updatedAtUTC draft=true}}
    {{/if}}
</section>
