<div class="ember-power-select-search" onmousedown={{action "captureMouseDown"}}>
    {{svg-jar "search" class="gh-nav-search-icon"}}
    <input type="search"
        autocomplete="off"
        autocorrect="off"
        autocapitalize="off"
        autofocus="true"
        value={{if extra.labelPath (get selected extra.labelPath) selected}}
        spellcheck="false" role="combobox"
        placeholder={{placeholder}}
        oninput={{action 'search' value="target.value"}}
        onmousedown={{action "captureMouseDown"}}
        onkeydown={{action "handleKeydown"}}
        onkeyup={{action "handleKeyup"}}>
    {{!-- <button class="gh-nav-search-button" {{action "focusInput"}}>{{svg-jar "search"}}<span class="sr-only">Search</span></button> --}}
</div>
