<div class="settings-tag" id="gh-tag-{{tag.id}}">
    {{#link-to 'settings.tags.tag' tag class="tag-edit-button"}}
        <span class="tag-title">{{tag.name}}</span>
        <span class="label label-default">/{{tag.slug}}</span>

        {{#if tag.isInternal}}
            <span class="label label-blue">internal</span>
        {{/if}}

        <p class="tag-description">{{tag.description}}</p>
        <span class="tags-count">
            {{#link-to "posts" (query-params type=null author=null tag=tag.slug order=null)}}
                {{tag.count.posts}}
            {{/link-to}}
        </span>
    {{/link-to}}
</div>
