{{#if isVisible}}
    {{!-- tether the throbber --}}
    {{#liquid-tether
        class="throbber-container"
        target=target
        attachment="middle center"
        targetAttachment=throbberAttachment
        targetOffset=throbberOffset
    }}
        <a class="throbber-trigger" href="#" {{action "open"}} id={{_throbberElementId}}>
            <span class="throbber"></span>
        </a>
    {{/liquid-tether}}

    {{#if isOpen}}
        {{!-- wormhole the background click overlay --}}
        {{#liquid-wormhole class="tour-container"}}
            <div class="tour-background" {{action "close" on="click"}}></div>
        {{/liquid-wormhole}}

        {{!-- tether the popover --}}
        {{#liquid-tether
            class="tour"
            target=_throbberElementSelector
            attachment=_popoverAttachment
            targetAttachment=_popoverTargetAttachment
            offset=_popoverOffset
        }}
            <div class="popover-item popover-triangle-{{popoverTriangleClass}}">
                <h3 class="popover-title">{{_throbber.title}}</h3>
                <div class="popover-body">
                    {{{_throbber.message}}}
                </div>
                <footer class="popover-foot">
                    <a class="tour-optout" href="#" {{action 'optOut'}}>Not your first time? <em>Skip these tips</em></a>
                    <a class="tour-dismiss gh-btn gh-btn-black" href="#" {{action 'markAsViewed'}}><span>Ok, got it</span></a>
                </footer>
            </div>
        {{/liquid-tether}}
    {{/if}}
{{/if}}
