{{#if hasBlock}}
    {{yield (hash
        isIdle=this.isIdle
        isRunning=this.isRunning
        isSuccess=this.isSuccess
        isFailure=this.isFailure
    )}}
{{else}}
    <span>
    {{#if this.isRunning}}{{svg-jar "spinner" class="gh-icon-spinner"}}{{this.runningText}}{{/if}}
    {{#if this.isIdle}}{{this.buttonText}}{{/if}}
    {{#if this.isSuccess}}{{svg-jar "check-circle"}} {{this.successText}}{{/if}}
    {{#if this.isFailure}}{{svg-jar "retry"}} {{this.failureText}}{{/if}}
    </span>
{{/if}}
