{{#if hasBlock}}
    {{yield (hash
        isIdle=isIdle
        isRunning=isRunning
        isSuccess=isSuccess
        isFailure=isFailure
    )}}
{{else}}
    <span>
    {{#if isRunning}}{{inline-svg "spinner" class="gh-icon-spinner"}}{{runningText}}{{/if}}
    {{#if isIdle}}{{buttonText}}{{/if}}
    {{#if isSuccess}}{{inline-svg "check-circle"}} {{successText}}{{/if}}
    {{#if isFailure}}{{inline-svg "retry"}} {{failureText}}{{/if}}
    </span>
{{/if}}
