{{#if hasBlock}}
    {{yield (hash
        isIdle=isIdle
        isRunning=isRunning
        isSuccess=isSuccess
        isFailure=isFailure
    )}}
{{else}}
    <span>
    {{#if isRunning}}<span class="spinner"></span>{{/if}}
    {{if (or isIdle isRunning) buttonText}}
    {{#if isSuccess}}<i class="icon-check"></i> {{successText}}{{/if}}
    {{#if isFailure}}<i class="icon-x"></i> {{failureText}}{{/if}}
    </span>
{{/if}}
