<header class="modal-header">
    <h1>Invite a New User</h1>
</header>
<a class="close" href="" title="Close" {{action "closeModal"}}>{{inline-svg "close"}}<span class="hidden">Close</span></a>

<div class="modal-body">
    <fieldset>
        {{#gh-form-group errors=errors hasValidated=hasValidated property="email"}}
            <label for="new-user-email">Email Address</label>
            {{gh-input
                email
                enter="sendInvite"
                class="email"
                id="new-user-email"
                type="email"
                placeholder="Email Address"
                name="email"
                autofocus="autofocus"
                autocapitalize="off"
                autocorrect="off"
                focusOut=(action "validate" "email")
                update=(action (mut email))
            }}
            {{gh-error-message errors=errors property="email"}}
        {{/gh-form-group}}

        <div class="form-group for-select">
            <label for="new-user-role">Role</label>
            <span class="gh-select" tabindex="0">
                {{one-way-select
                    id="new-user-role"
                    name="role"
                    options=roles
                    optionValuePath="id"
                    optionLabelPath="name"
                    value=role
                    update=(action "setRole")
                }}
                {{inline-svg "arrow-down-small"}}
            </span>
        </div>
    </fieldset>
</div>

<div class="modal-footer">
    {{gh-task-button "Send invitation now" successText="Sent" task=sendInvitation class="gh-btn gh-btn-green gh-btn-icon"}}
</div>
