<header class="modal-header">
    <h1>Add a Subscriber</h1>
</header>
<a class="close" href="" title="Close" {{action "closeModal"}}>{{inline-svg "close"}}<span class="hidden">Close</span></a>

<div class="modal-body">
    <fieldset>
        {{#gh-form-group errors=subscriber.errors hasValidated=subscriber.hasValidated property="email"}}
            <label for="new-subscriber-email">Email Address</label>
            <input type="email"
                value={{subscriber.email}}
                oninput={{action "updateEmail" value="target.value"}}
                id="new-subscriber-email"
                class="gh-input email"
                placeholder="Email Address"
                name="email"
                autofocus="autofocus"
                autocapitalize="off"
                autocorrect="off">
            {{gh-error-message errors=subscriber.errors property="email"}}
        {{/gh-form-group}}

    </fieldset>
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn"><span>Cancel</span></button>
    {{gh-task-button "Add" successText="Added" task=addSubscriber class="gh-btn gh-btn-green gh-btn-icon"}}
</div>
