<header class="modal-header" data-test-modal="delete-user">
    <h1>Are you sure you want to delete this user?</h1>
</header>
<a class="close" href="" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">Close</span></a>

<div class="modal-body">
    <p><strong>WARNING:</strong> You are about to delete the user '<strong>{{user.name}}</strong>'. There is no way to recover this.</p>
    {{#if user.count.posts}}
        <ul>
            <li>The user will not have access to this blog anymore</li>
            <li><strong data-test-text="user-post-count">{{pluralize user.count.posts 'post'}}</strong> created by this user will be deleted</li>
            <li>All other user data will be deleted</li>
        </ul>
    {{else}}
        <ul>
            <li>User will not have access to this blog anymore</li>
            <li>All user data will be deleted.</li>
        </ul>
    {{/if}}
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn" data-test-button="cancel-delete-user">
        <span>Cancel</span>
    </button>
    {{gh-task-button (if user.count.posts "Delete user and their posts" "Delete user")
        successText="Deleted"
        task=deleteUser
        class="gh-btn gh-btn-red gh-btn-icon"
        data-test-button="confirm-delete-user"}}
</div>
