<header class="modal-header">
    <h1>Are you sure you want to delete this member?</h1>
</header>
<a class="close" href="" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">Close</span></a>

<div class="modal-body">
    <p>
        You're about to delete "<strong>{{or member.name member.email}}</strong>". This is permanent! We warned you, k?
    </p>
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn"><span>Cancel</span></button>
    {{gh-task-button "Delete" successText="Deleted" task=deleteMember class="gh-btn gh-btn-red gh-btn-icon"}}
</div>