<GhTokenInput
    @options={{this.options}}
    @selected={{this.selectedOptions}}
    @disabled={{or @disabled this.fetchOptionsTask.isRunning}}
    @optionsComponent="power-select/options"
    @allowCreation={{false}}
    @renderInPlace={{this.renderInPlace}}
    @onChange={{this.setSegment}}
    @class="select-members"
    @placeholder="Select a tier"
    as |option|
>
    <span data-test-visibility-segment-option={{option.name}}>{{option.name}}</span>
</GhTokenInput>
