<h4 class="gh-main-section-header small bn">
    Newsletter clicks
</h4>
<div class="gh-post-analytics-box column">
    <div class="gh-links-list">
        <div class="gh-links-list-header">
            {{#if (and this.showPagination (feature "fixNewsletterLinks")) }}
            <div class="gh-links-pagination-progress">
                Showing {{this.startOffset}}-{{this.endOffset}} of {{this.totalLinks}}
            </div>
            {{else}}
            <div class="gh-links-list-title">
                Link
            </div>
            {{/if}} 
            <div class="gh-links-list-title">
                No. of Members
            </div>
        </div>
        {{#each this.visibleLinks as |link|}}
            <div class="gh-links-list-item">
                {{#if (feature "fixNewsletterLinks")}}
                <div class="gh-links-list-url">
                    {{#if link.isEditing}}
                    <div class="gh-links-list-input-container">
                        <input
                            aria-label="Link"
                            type="text"
                            class="gh-input"
                            placeholder={{link.link.to}}
                            value={{link.link.to}}
                            maxlength="300"
                            {{on "blur" this.setLink}}
                            {{on-key "Enter" this.blurElement}}
                            {{on-key "Escape" this.cancelEdit}}
                            {{autofocus}}
                            data-prevent-escape-close-modal="true"
                        />
                        <span class="gh-links-list-item-error">Please enter a valid link</span>
                    </div>
                    {{else}}
                    <button type="button" class="gh-btn gh-btn-action-icon gh-btn-icon gh-btn-outline gh-links-list-item-edit icon-only" aria-label="Edit link" {{on "click" (fn this.editLink link.link.link_id)}}>
                        <span>
                            {{svg-jar "pen"}}
                        </span>
                    </button>
                    <a href="{{link.link.to}}" target="_blank" rel="noopener noreferrer">
                        {{link.link.title}}
                    </a>
                    <span class="gh-links-list-item-edited">&nbsp;&ndash; edited</span>
                    <span class="gh-links-list-item-success">{{svg-jar "check-circle"}}</span>
                    {{/if}}
                </div>
                {{else}}
                <a href="{{link.link.to}}" target="_blank" rel="noopener noreferrer">{{link.link.title}}</a>
                {{/if}}
                <p class="gh-links-list-clicks">{{link.count.clicks}}</p>
            </div>
        {{/each}}
        {{#if this.showPagination }}
            <div class="gh-links-pagination">
                {{#if (feature "fixNewsletterLinks")}}
                <span class="gh-links-info">&uarr; Sent a broken link? You can update it!</span>
                {{else}}
                <div class="gh-links-pagination-progress">
                    Showing {{this.startOffset}}-{{this.endOffset}} of {{this.totalLinks}}
                </div>
                {{/if}}
                <div class="gh-links-pagination-actions">
                    <button type="button" class="gh-links-pagination-action gh-links-pagination-prev {{if this.disablePreviousPage "gh-links-pagination-disabled"}}" {{on "click" this.openPreviousPage}} disabled={{this.disablePreviousPage}}>
                        {{svg-jar "arrow-left-pagination"}}
                        Previous
                    </button>
                    <button type="button" class="gh-links-pagination-action gh-links-pagination-next {{if this.disableNextPage "gh-links-pagination-disabled"}}" {{on "click" this.openNextPage}} disabled={{this.disableNextPage}}>
                        Next
                        {{svg-jar "arrow-right-pagination"}}
                    </button>
                </div>
            </div>
        {{/if}}
    </div>
</div>
