<h1>Local Revisions</h1>

{{#if this.args.model.length}}
  <p>Number of revisions: {{this.args.model.length}}</p>
  {{#each this.args.model as |revision|}}
    <div class="revision">
      <h2>{{if revision.title revision.title "(no title)"}}</h2>
      <p>Key: {{revision.key}}</p>
    </div>
  {{/each}}
{{else}}
  <p>No revisions found. Model length: {{this.args.model.length}}</p>
{{/if}}