<div class="gh-post-preview-email-container">
    <div class="gh-post-preview-email-mockup">
        <div class="gh-pe-emailclient-sender">
            <p>
                <span class="strong">{{this.config.blogTitle}}</span> &lt;{{full-email-address this.settings.membersFromAddress}}&gt;
            </p>
            <p><span class="dark">To:</span> Jamie Larson &lt;jamie@example.com&gt;</p>
        </div>
        <iframe class="gh-pe-iframe" {{did-insert this.renderEmailPreview}} sandbox="allow-same-origin allow-popups"></iframe>
    </div>
</div>
<div class="gh-post-preview-email-footer">
    {{#if (feature "emailCardSegments")}}
    <div class="gh-btn-group mr3">
        <button type="button" class="gh-btn {{if (eq this.memberSegment "status:free") "gh-btn-group-selected"}}" {{on "click" (fn this.changeMemberSegment "status:free")}}><span>free member</span></button>
        <button type="button" class="gh-btn {{if (eq this.memberSegment "status:-free") "gh-btn-group-selected"}}" {{on "click" (fn this.changeMemberSegment "status:-free")}}><span>paid member</span></button>
    </div>
    {{else}}
    <span class="mr3 nowrap fw6 f8 darkgrey">Send a test newsletter</span>
    {{/if}}

    <div class="gh-post-preview-email-input {{if this.sendPreviewEmailError "error"}}">
        <Input
            @value={{this.previewEmailAddress}}
            class="gh-input gh-post-preview-email-input"
            placeholder="you@yoursite.com"
            aria-invalid={{if this.sendPreviewEmailError "true"}}
            aria-describedby={{if this.sendPreviewEmailError "sendError"}}
            {{on-key "Enter" (perform this.sendPreviewEmailTask)}}
        />
        {{#if this.sendPreviewEmailError}}
            <div class="error fixed nowrap f8 lh-heading"><span class="response" id="sendError">{{this.sendPreviewEmailError}}</span></div>
        {{/if}}
    </div>

    <GhTaskButton
        @task={{this.sendPreviewEmailTask}}
        @buttonText={{if (feature "emailCardSegments") "Send test email" "Send"}}
        @successText="Sent"
        @runningText="Sending..."
        @class="gh-btn gh-btn-green gh-btn-icon gh-post-preview-email-trigger"
    />
</div>