<div {{did-update this.onChangeHtml @html}}>
    <iframe
        srcDoc="<!DOCTYPE html>"
        class={{if (eq this.visibleIframeIndex 0) "gh-signup-form-iframe" "gh-signup-form-iframe gh-iframe-hidden"}}
        frameborder="0"
        allowtransparency="true"
        title="Signup Form Preview 1"
        {{on "load" (fn this.onLoad 0) }}
    ></iframe>

    <iframe
        srcDoc="<!DOCTYPE html>"
        class={{if (eq this.visibleIframeIndex 1) "gh-signup-form-iframe" "gh-signup-form-iframe gh-iframe-hidden"}}
        frameborder="0"
        allowtransparency="true"
        title="Signup Form Preview 2"
        {{on "load" (fn this.onLoad 1)}}
    ></iframe>
</div>
