{{!-- <span
    class="gh-select"
    data-select-text="test"
    tabindex="0"
>
    <OneWaySelect
        @id="portal-button-style"
        @name="portal[button-style]"
        @options={{this.options}}
        @optionValuePath="value"
        @optionLabelPath="name"
        @value={{this.selectedOption.value}}
        @update={{this.setRecipients}}
    />
    {{svg-jar "arrow-down-small"}}
</span> --}}


<div class="gh-btn-group">
    <button class="gh-btn {{if (eq this.selectedOption.value "all-in-one") "gh-btn-group-selected"}}" type="button" {{action "this.setRecipients" "all-in-one"}}><span>Branded</span></button>
    <button class="gh-btn {{if (eq this.selectedOption.value "minimal") "gh-btn-group-selected"}}" type="button" {{action "this.setRecipients" "minimal"}}><span>Minimal</span></button>
</div>