<div class="gh-stack" ...attributes>
    <Settings::FormFields::SiteDescription class="gh-stack-item gh-setting-first" @didUpdate={{@didUpdate}} />
    <Settings::FormFields::AccentColor class="gh-stack-item gh-setting" @didUpdate={{@didUpdate}} />
    <Settings::FormFields::PublicationIcon class="gh-stack-item gh-setting" @didUpdate={{@didUpdate}} />
    <Settings::FormFields::PublicationLogo class="gh-stack-item gh-setting" @didUpdate={{@didUpdate}} />
    <Settings::FormFields::PublicationCover class="gh-stack-item gh-setting" @didUpdate={{@didUpdate}} />
</div>