<div class="gh-stack">
    <form>
        {{#each @themeSettings as |setting index|}}
            {{#if (eq setting.type "select")}}
                <CustomThemeSettings::Select @setting={{setting}} @index={{index}} @onChange={{@updatePreview}} />
            {{/if}}
            {{#if (eq setting.type "boolean")}}
                <CustomThemeSettings::Boolean @setting={{setting}} @index={{index}} @onChange={{@updatePreview}} />
            {{/if}}
            {{#if (eq setting.type "color")}}
                <CustomThemeSettings::Color @setting={{setting}} @index={{index}} @onChange={{@updatePreview}} />
            {{/if}}
            {{#if (eq setting.type "text")}}
                <CustomThemeSettings::Text @setting={{setting}} @index={{index}} @onChange={{@updatePreview}} />
            {{/if}}
            {{#if (eq setting.type "image")}}
                <CustomThemeSettings::Image @setting={{setting}} @index={{index}} @onChange={{@updatePreview}} />
            {{/if}}
        {{/each}}
    </form>
</div>