<html>
<head>
    {{ghost_head}}
</head>
<body>
home.hbs

<div>Total members: {{@stats.total_members}}</div>
<div>Total free members: {{@stats.total_free_members}}</div>
<div>Total paid members: {{@stats.total_paid_members}}</div>
<div>Total posts: {{@stats.total_posts}}</div>
<div>Total members posts: {{@stats.total_members_posts}}</div>
<div>Total paid members posts: {{@stats.total_paid_members_posts}}</div>
<div>Total tags: {{@stats.total_tags}}</div>
<div>Total authors: {{@stats.total_authors}}</div>
<div>Site age: {{@stats.site_age}}</div>
<div>Site age years: {{@stats.site_age_years}}</div>
</body>
</html>