<header class="settings-view-header">
    {{#link-to "settings" class="btn btn-default btn-back"}}Back{{/link-to}}
    <h2 class="title">Apps</h2>
</header>

<section class="content settings-apps">
    <table class="js-apps">
        <thead>
            <th>App name</th>
            <th>Status</th>
        </thead>
        <tbody>
        {{#each appController in model itemController="settings/app"}}
        <tr>
            <td>
                {{#if appController.model.package}}{{appController.model.package.name}} - {{appController.model.package.version}}{{else}}{{appController.model.name}} - package.json missing :({{/if}}
            </td>
            <td>
                <button type="button" {{action toggleApp appController}} {{bind-attr class=":btn :js-button-active activeClass:btn-red inactiveClass:btn-green activeClass:js-button-deactivate"}}>
                    {{appController.buttonText}}
                </button>
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</section>
