<div class="modal-content gh-about-modal">
    <header class="modal-header">
        <div class="gh-about-logo">
            {{svg-jar "ghost-logo-orb" alt="Ghost"}}
        </div>
    </header>
    <button type="button" class="close" title="Close" {{on "click" @close}}>{{svg-jar "close"}}<span class="hidden">Close</span></button>

    <div class="modal-body">
        <div class="gh-about-box">
            {{#if this.upgradeStatus.message}}
                <section class="gh-upgrade-notification">
                    <strong>Update available!</strong>
                    <div>
                        {{this.upgradeStatus.message}}
                    </div>
                </section>
            {{/if}}
            <section class="gh-env-details gh-about-box grey">
                <ul class="gh-env-list">
                    {{#if this.linkToGitHubReleases}}
                    <li><strong>Version:</strong> <a href="{{this.linkToGitHubReleases}}" target="_blank" rel="noopener noreferrer">{{this.config.version}}</a></li>
                    {{else}}
                    <li><strong>Version:</strong> {{this.config.version}}</li>
                    {{/if}}
                    {{#if this.showSystemInfo}}
                    <li><strong>Environment:</strong> <span class="ttc">{{this.config.environment}}</span></li>
                    <li class="gh-env-list-database-type"><strong>Database:</strong> {{this.config.database}}</li>
                    <li><strong>Mail:</strong> {{#if this.config.mail}}{{this.config.mail}}{{else}}Native{{/if}}</li>
                    {{/if}}
                    {{#if (enable-developer-experiments)}}
                    <li><strong>Developer experiments:</strong> <span class="gh-badge">Enabled</span></li>
                    {{/if}}
                </ul>

                {{#if (and this.showSystemInfo this.showDatabaseWarning)}}
                    <div class="gh-env-error">
                        You are running an unsupported database in production. Please <a href="https://ghost.org/docs/faq/supported-databases/" target="_blank" rel="noopener noreferrer">upgrade to MySQL 8</a>.
                    </div>
                {{/if}}

                <ul class="gh-about-links">
                    <li>
                        <a href="https://ghost.org/docs/" target="_blank" rel="noopener noreferrer">
                            <span>
                                {{svg-jar "book-open" class="fill-middarkgrey hover-fill"}}
                                User documentation
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://forum.ghost.org/" target="_blank" rel="noopener noreferrer">
                            <span>
                                {{svg-jar "help" class="stroke-middarkgrey hover-stroke"}}
                                Get help with Ghost
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://ghost.org/docs/contributing/" target="_blank" rel="noopener noreferrer">
                            <span>
                                {{svg-jar "brackets" class="stroke-middarkgrey hover-stroke"}}
                                Get involved
                            </span>
                        </a>
                    </li>
                </ul>
            </section>
            <div class="gh-copyright-info">
                <div>
                    Copyright &copy; 2013 &ndash; {{this.copyrightYear}} Ghost Foundation, released under the <a href="https://github.com/TryGhost/Ghost/blob/main/LICENSE" target="_blank" rel="noopener noreferrer">MIT license</a>.
                </div>
                <div>
                    <a href="https://ghost.org/" target="_blank" rel="noopener noreferrer">Ghost</a> is a registered trademark of <a href="https://ghost.org/trademark/" target="_blank" rel="noopener noreferrer">Ghost Foundation Ltd</a>.
                </div>
            </div>
        </div>
    </div>
</div>
