<div class="modal-content" data-test-modal="confirm-email">
    <header class="modal-header">
        <h1>Confirm email address</h1>
    </header>
    <button type="button" class="close" title="Close" {{on "click" @close}}>{{svg-jar "close"}}<span
            class="hidden">Close</span></button>

    <div class="modal-body">
        <p>
            We've sent a confirmation email to <strong>{{@data.newEmail}}</strong>.
            Until verified, your support address will remain  {{full-email-address (or @data.currentEmail
            "noreply")}}.
        </p>
    </div>

    <div class="modal-footer">
        <button type="button" class="gh-btn" data-test-button="confirm-email" {{on "click" @close}} {{on-key "Enter" }}>
            <span>Ok</span>
        </button>
    </div>
</div>
