{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<!-- start: #archives-->
<main id="archives" class="main" role="main">
	
	<!-- start: .center -->
	<div class="center grid-container">

		{{> tweets}}
		
		<div class="left-content section articles grid-parent grid-50">
			{{#author}}
				{{#if cover}}
					<h3 class="title bordered uppercase">THE AUTHOR</h3>
					<div class="cover-image wow fadeIn">
						<img src="{{cover}}" class="fullwidth">
					</div>
				{{/if}}
				<div class="author-info hide-on-desktop item">
					<h2 class="title">{{name}}</h2>
					<p>{{bio}}</p>
					<div class="social">
								
						{{#if location}}
							<a href="javascript:void(0)" class="button location tooltip" title="Location: {{location}}"><i class="fa fa-map-marker"></i> Location</a>
						{{/if}}
						
						{{#if website}}
							<a href="{{website}}" class="button website tooltip" target="_blank" title="Website: {{website}}"><i class="fa fa-external-link"></i> Website</a>
						{{/if}}
						
					</div>
				</div>
				<div class="section {{^if cover}}no-cover{{/if}} articles-title">
					<h3 class="title bordered uppercase">ARTICLES OF {{name}}</h3>
				</div>
			{{/author}}
			{{#foreach posts}}
				{{> default-article}}
			{{/foreach}}
			{{pagination}}
		</div>
		
		<div class="section">
		
			{{> sidebar-author}}
			
			{{> sidebar-default}}
		
		</div>
	
	</div>
	<!-- end: .center -->

</main>
<!-- end: #archives -->