<Dashboard::v5::Parts::Metric
    @label={{this.chartTitle}} /> 

<div class="gh-dashboard5-chart" {{did-insert this.loadCharts}}>
    {{#if this.loading}}
        <div class="gh-dashboard5-chart-loading" style={{html-safe (concat "height: " this.chartHeight "px;")}}/>
    {{else}}
        <EmberChart
            @type={{this.chartType}}
            @data={{this.chartData}}
            @options={{this.chartOptions}}
            @height={{this.chartHeight}} />
    {{/if}}
</div>
 