<section class="gh-dashboard5-section gh-dashboard5-recent-posts">
    <article class="gh-dashboard5-box">
        <div class="gh-dashboard5-list" {{did-insert this.loadPosts}}>
            <div class="gh-dashboard5-list-header">
                <div class="gh-dashboard5-list-title">Recent posts</div>
                <div class="gh-dashboard5-list-title">Sends</div>
                <div class="gh-dashboard5-list-title">Opens</div>
            </div>
            <div class="gh-dashboard5-list-body">
                {{#each this.posts as |post|}}
                    <div class="gh-dashboard5-list-item">
                        <LinkTo class="gh-dashboard5-list-post permalink" @route="editor.edit" @models={{array post.displayName post.id}}>
                        {{post.title}}
                        </LinkTo>
                        <span>231</span>
                        <span>65%</span>
                    </div>
                {{else}}
                    <div class="gh-dashboard5-list-empty">
                        <p>No published posts yet.</p>
                    </div>
                {{/each}}
            </div>
            <div class="gh-dashboard5-list-footer">
                <LinkTo @route="posts" @query={{reset-query-params "posts"}}>See all posts →</LinkTo>
            </div>
        </div>
    </article>
</section>
