{{!-- template-lint-disable no-invalid-interactive --}}
<fieldset>
    <div class="gh-publish-schedule">
        <div class="gh-radio {{unless @publishOptions.isScheduled "active"}}" {{on "click" (fn @publishOptions.toggleScheduled false)}}>
            <div class="gh-radio-button" data-test-radio="publish-now"></div>
            <label>Set it live now</label>
        </div>
        <div class="gh-radio {{if @publishOptions.isScheduled "active"}}" {{on "click" (fn @publishOptions.toggleScheduled true)}}>
            <div class="gh-radio-button" data-test-radio="schedule"></div>
            <label>Schedule for later</label>
        </div>
    </div>
    {{#if @publishOptions.isScheduled}}
        <GhDateTimePicker
            @datePickerClass="publish-flow-datepicker"
            @date={{moment-format (moment-site-tz @publishOptions.scheduledAtUTC) "YYYY-MM-DD"}}
            @time={{moment-format (moment-site-tz @publishOptions.scheduledAtUTC) "HH:mm"}}
            @setDate={{this.setDate}}
            @setTime={{this.setTime}}
            @minDate={{moment-site-tz @publishOptions.minScheduledAt}}
            @isActive={{@publishOptions.isScheduled}}
            @renderInPlace={{false}}
        />
    {{/if}}
</fieldset>