{{#if @site.members_enabled}}
    {{#unless @member}}
        {{#match @custom.header_style "!=" "Landing"}}
        {{#match @custom.header_style "!=" "Search"}}
        {{#match @custom.header_style "!=" "Off"}}
        {{#match posts.length ">=" 7}}
            <section class="gh-cta gh-outer">
                <div class="gh-cta-inner gh-inner">
                    <div class="gh-cta-content">
                        <h2 class="gh-cta-title is-title">
                            {{#if @custom.signup_heading}}{{@custom.signup_heading}}{{else}}{{@site.title}}{{/if}}
                        </h2>
                        <p class="gh-cta-description is-body">
                            {{#if @custom.signup_subheading}}{{@custom.signup_subheading}}{{else}}{{@site.description}}{{/if}}
                        </p>
                    </div>
                    {{> "email-subscription"}}
                </div>
            </section>
        {{/match}}
        {{/match}}
        {{/match}}
        {{/match}}
    {{/unless}}
{{/if}}