<footer class="gh-footer{{#match @custom.header_and_footer_color "Accent color"}} has-accent-color{{/match}} gh-outer">
    <div class="gh-footer-inner gh-inner">

        <div class="gh-footer-bar">
            <span class="gh-footer-logo is-title">
                {{#if @site.logo}}
                    <img src="{{@site.logo}}" alt="{{@site.title}}">
                {{else}}
                    {{@site.title}}
                {{/if}}
            </span>
            <nav class="gh-footer-menu">
                {{navigation type="secondary"}}
            </nav>
            <div class="gh-footer-copyright">
                Powered by <a href="https://ghost.org/" target="_blank" rel="noopener">Ghost</a>
            </div>
        </div>
        
        {{#if @site.members_enabled}}
            {{#unless @member}}
                <section class="gh-footer-signup">
                    <h2 class="gh-footer-signup-header is-title">
                        {{#if @custom.signup_heading}}{{@custom.signup_heading}}{{else}}{{@site.title}}{{/if}}
                    </h2>
                    <p class="gh-footer-signup-subhead is-body">
                        {{#if @custom.signup_subheading}}{{@custom.signup_subheading}}{{else}}{{@site.description}}{{/if}}
                    </p>
                    {{> "email-subscription"}}
                </section>
            {{/unless}}
        {{/if}}

    </div>
</footer>