{{#let @publishOptions.post as |post|}}
    <div class="gh-publish-title">
        {{#if post.isScheduled}}
            <span class="green">All set!</span>

            Your {{if post.emailOnly "email" post.displayName}} will be

            {{#if post.emailOnly}}
                sent
            {{else if post.willEmail}}
                published and sent
            {{else}}
                published
            {{/if}}

            {{#let (moment-site-tz post.publishedAtUTC) as |scheduledAt|}}
                {{#if (is-moment-today scheduledAt)}}
                    today
                {{else}}
                    on {{moment-format scheduledAt "MMMM Do"}}
                {{/if}}
                at {{moment-format scheduledAt "HH:mm"}}.
            {{/let}}
        {{else}}
            <span class="green">Boom. It’s out there.</span>

            {{#if post.emailOnly}}
                Your email has been sent.
            {{else if (and post.isPost @postCount)}}
                That’s {{@postCount}} posts published, keep going!
            {{else}}
                Your {{post.displayName}} has been published.
            {{/if}}
        {{/if}}
    </div>

    {{#unless post.emailOnly}}
        <a href={{post.url}} class="gh-post-bookmark-wrapper" target="_blank" rel="noopener noreferrer">
            <GhPostBookmark @post={{post}} />
        </a>
    {{/unless}}

    {{#if post.isScheduled}}
        <p class="gh-publish-confirmation">Need to make a change?
            <button
            type="button"
            class="gh-revert-to-draft"
            {{on "click" (fn @close (hash afterTask="revertToDraftTask"))}}
        >
            <span>Unschedule and revert to draft &rarr;</span>
        </button>
        </p>
    {{/if}}    


{{/let}}