{{#let @publishOptions.post as |post|}}
    <div class="gh-publish-title">
        <span>...aand it's out there.</span>
        Now that's something to smile about.
    </div>

    <p class="gh-publish-confirmation">
        {{#if post.isScheduled}}
            {{#let (moment-site-tz post.publishedAtUTC) as |scheduledAt|}}
                On
                <strong>
                    {{moment-format scheduledAt "D MMM YYYY"}}
                    at
                    {{moment-format scheduledAt "HH:mm"}}
                </strong>
                your
            {{/let}}
        {{else}}
            Your
        {{/if}}

        {{post.displayName}} is

        {{#if post.email}}
            on its way to

            <strong>{{pluralize post.email.emailCount "member"}}</strong>

            and was

            {{#if post.emailOnly}}
                <strong>not</strong>
            {{/if}}
        {{/if}}

        published on your site.
    </p>

    <div class="gh-publish-cta">
        <button type="button" class="gh-btn gh-btn-black gh-btn-large" {{on "click" @close}}><span>Back to {{post.displayName}}</span></button>
        {{#unless post.emailOnly}}
            <div class="gh-publish-cta-secondary">
                <a href={{post.url}} class="gh-btn gh-btn-link gh-btn-large" target="_blank" rel="noopener noreferrer">View published post on site</a>
            </div>
        {{/unless}}
    </div>
{{/let}}