<div class="gh-publish-title">
    <div class="green">Ready, set, publish.</div>
    <div>Share it with the world.</div>
</div>
<p class="gh-publish-confirmation">
    {{#if @publishOptions.isScheduled}}
        {{#let (moment-site-tz @publishOptions.scheduledAtUTC) as |scheduledAt|}}
            On
            <strong>
                {{moment-format scheduledAt "D MMM YYYY"}}
                at
                {{moment-format scheduledAt "HH:mm"}}
            </strong>
            your
        {{/let}}
    {{else}}
        Your
    {{/if}}

    {{@publishOptions.post.displayName}}

    {{#if @publishOptions.willEmail}}
        will be delivered to

        {{#let (members-count-fetcher query=(hash filter=@publishOptions.fullRecipientFilter)) as |countFetcher|}}
            <strong>
                {{if (eq @recipientType "all") "all"}}

                {{countFetcher.count}}

                {{!-- @recipientType = none/free/paid/all/specific --}}
                {{if (not-eq @recipientType "all") @recipientType}}
            </strong>

            {{#if @publishOptions.onlyDefaultNewsletter}}
                <strong>{{gh-pluralize countFetcher.count "member" without-count=true}}</strong>
            {{else}}
                <strong>{{gh-pluralize countFetcher.count "subscriber" without-count=true}}</strong>
                of <strong>{{@publishOptions.newsletter.name}}</strong>
            {{/if}}
        {{/let}}

        {{#if @publishOptions.willPublish}}
            and
        {{else}}
            and will <strong>not</strong> be published on your site.
        {{/if}}
    {{/if}}

    {{#if @publishOptions.willPublish}}
        will be published on your site.
    {{/if}}

    Are you good to go?
</p>

<div class="gh-publish-cta">
    <GhTaskButton
        @task={{@saveTask}}
        @buttonText={{this.confirmButtonText}}
        @runningText={{if @publishOptions.willOnlyEmail "Sending" "Publishing"}}
        @successText={{if @publishOptions.willOnlyEmail "Sent" "Published"}}
        @class="gh-btn gh-btn-pulse gh-btn-large"
    />
    <div class="gh-publish-cta-secondary">
        Or
        <button type="button" class="gh-btn gh-btn-link gh-btn-large" {{on "click" @cancel}}>change settings</button>
    </div>
</div>