<div class="gh-publish-title">
    <div class="green">Ready, set, publish.</div>
    <div>Share it with the world.</div>
</div>
<div class="gh-publish-settings">
    <div class="gh-publish-setting">
        {{#if @publishOptions.emailUnavailable}}
            <div class="gh-publish-setting-title">
                {{svg-jar "send-email"}}
                <div class="gh-publish-setting-trigger">Publish on site</div>
            </div>
        {{else}}
            <button type="button" class="gh-publish-setting-title" {{on "click" (fn this.toggleSection "publishType")}}>
                {{svg-jar "send-email"}}
                <div class="gh-publish-setting-trigger">
                    <span>{{@publishOptions.selectedPublishTypeOption.display}}</span>
                </div>
                <span class="{{if (eq this.openSection "publishType") "expanded"}}">
                    {{svg-jar "arrow-down" class="icon-expand"}}
                </span>
            </button>
        {{/if}}
        {{#liquid-if (eq this.openSection "publishType")}}
            <div class="gh-publish-setting-form">
                <EditorLabs::PublishOptions::PublishType
                    @publishOptions={{@publishOptions}}
                />
            </div>
        {{/liquid-if}}
    </div>

    {{#unless @publishOptions.emailUnavailable}}
        <div class="gh-publish-setting">
            {{#if @publishOptions.willEmail}}
                <button
                    type="button"
                    class="gh-publish-setting-title"
                    {{on "click" (fn this.toggleSection "emailRecipients")}}
                >
                    {{svg-jar "member"}}
                    <div class="gh-publish-setting-trigger">
                        {{#let (members-count-fetcher query=(hash filter=@publishOptions.fullRecipientFilter)) as |countFetcher|}}
                            {{#if (gt countFetcher.count 1)}}
                                {{if (eq @recipientType "all") "All"}}
                            {{/if}}

                            {{countFetcher.count}}

                            {{!-- @recipientType = none/free/paid/all/specific --}}
                            {{if (not-eq @recipientType "all") @recipientType}}

                            {{#if @publishOptions.onlyDefaultNewsletter}}
                                {{gh-pluralize countFetcher.count "subscriber" without-count=true}}
                            {{else}}
                                {{gh-pluralize countFetcher.count "subscriber" without-count=true}}
                                of <span class="gh-selected-newsletter">{{@publishOptions.newsletter.name}}</span>
                            {{/if}}
                        {{/let}}
                    </div>
                    <span class="{{if (eq this.openSection "emailRecipients") "expanded"}}">
                        {{svg-jar "arrow-down" class="icon-expand"}}
                    </span>
                </button>
            {{else}}
                <button
                    type="button"
                    class="gh-publish-setting-title disabled"
                >
                    {{svg-jar "member"}}
                    <div class="gh-publish-setting-trigger">
                        Not sent as newsletter
                    </div>
                    <span>
                        {{svg-jar "arrow-down" class="icon-expand"}}
                    </span>
                </button>
            {{/if}}
            {{#liquid-if (eq this.openSection "emailRecipients")}}
                <div class="gh-publish-setting-form">
                    <EditorLabs::PublishOptions::EmailRecipients
                        @publishOptions={{@publishOptions}}
                    />
                </div>
            {{/liquid-if}}
        </div>
    {{/unless}}

    {{#if (and @publishOptions.post.email (not @publishOptions.emailDisabledInSettings))}}
        <div class="gh-publish-setting">
            <div class="gh-publish-setting-title disabled">
                {{svg-jar "member"}}
                <div class="gh-publish-setting-trigger">
                    Already sent to
                    {{@publishOptions.post.email.emailCount}}
                    {{if (not-eq @recipientType "all") @recipientType}} {{!-- free/paid/specific --}}
                    {{gh-pluralize @publishOptions.post.email.emailCount (if @publishOptions.onlyDefaultNewsletter "member" "subscriber") without-count=true}}
                    {{#unless @publishOptions.onlyDefaultNewsletter}}
                        of {{@publishOptions.post.newsletter.name}}
                    {{/unless}}
                </div>
            </div>
        </div>
    {{/if}}

    <div class="gh-publish-setting last">
        <button type="button" class="gh-publish-setting-title" {{on "click" (fn this.toggleSection "publishAt")}}>
            {{svg-jar "clock"}}
            <div class="gh-publish-setting-trigger">
                <span>
                    {{#if @publishOptions.isScheduled}}
                        {{capitalize (gh-format-post-time @publishOptions.scheduledAtUTC draft=true)}}
                    {{else}}
                        Right now
                    {{/if}}
                </span>
            </div>
            <span class="{{if (eq this.openSection "publishAt") "expanded"}}">
                {{svg-jar "arrow-down" class="icon-expand"}}
            </span>
        </button>
        {{#liquid-if (eq this.openSection "publishAt")}}
            <div class="gh-publish-setting-form last">
                <EditorLabs::PublishOptions::PublishAt
                    @publishOptions={{@publishOptions}}
                />
            </div>
        {{/liquid-if}}
    </div>

</div>

<div class="gh-publish-cta">
    <button type="button" class="gh-btn gh-btn-black gh-btn-large" {{on "click" @confirm}}><span>Continue, final review &rarr;</span></button>
</div>
