{{#contentFor "pageScripts"}}
<script src="{{asset "js/game.js"}}"></script>
{{/contentFor}}

<!-- GAME PART -->
<div class="game-part">
  <!-- GAME CONTAINER -->
  <div class="game-container">
    <!-- GAME READY -->
    <div class="game-ready">
      <div class="ready-warp">
        <p class="ready-app-name">{{title}}</p>
        <div class="ready-app-icon">
          <img src="{{img_url feature_image}}"
            alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" class="ready-app-img show">
        </div>
        <button class="ready-play" id="ready-play">PLAY GAME</button>
        <p class="ready-tips">Game will start after a short ad. Thank you for your support.</p>
      </div>
      <div class="ready-bg bg-center" style="background-image: url({{img_url feature_image}});"></div>
    </div>
    <!-- GAME READY -->

    <!-- GAME IFRAME -->
    <div class="game-iframe">
      <div class="iframe-warp landscape">
        <iframe src="{{game_url}}" id="gameIframe"></iframe>
        <p class="iframe-toast text-cut"></p>
      </div>

      <div class="game-float">
        <div class="exit-full">
          <button class="exit-btn" title="Play Game in Normal Size"><img src="{{asset "img/icons/close-icon.png"}}"></button>
        </div>
      </div>
    </div>
    <!-- GAME IFRAME -->
  </div>
  <!-- GAME CONTAINER -->

  <!-- GAME BAR -->
  <div class="game-bar">
    <div class="bar-app-icon">
      <img src="{{img_url feature_image}}" class="bar-app-img"
        alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}">
    </div>
    <p class="bar-app-name text-cut">{{title}}</p>
    <div class="bar-btns">
      <div class="video-play">
        <i class="video-icon">
          <img src="{{asset "img/icons/video-icon.png"}}">
        </i>
        <span class="how-play">How to play？</span>
      </div>
      <div class="down-app">
        <i class="down-icon">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icondownload"></use>
          </svg>
        </i>
        <span class="down-tips">Add to Desktop</span>
      </div>
      <a href="/tag" class="play-tag show">Play {{title}} Games</a>
      <button class="full-btn">
        <i class="full-icon">
          <img src="{{asset "img/icons/fullscreen-icon.png"}}">
        </i>
        <p class="full-tip">Full Screen</p>
      </button>
    </div>
  </div>
  <!-- GAME BAR -->
</div>
<!-- GAME PART -->

<!-- WIDGET GAMES -->
<div class="widget-games">
{{#get "posts" filter="posts_game.is_game:true+id:-{{id}}" include="authors" limit="20" as | more_posts|}}
  {{#if more_posts}}
    {{#foreach more_posts}}
      {{> "game-card"}}
    {{/foreach}}
  {{/if}}
{{/get}}
</div>
<!-- WIDGET GAMES -->
