<table class="gh-list gh-audit-log-table">
    <thead>
        <tr>
            <th>User</th>
            <th>Event</th>
            <th></th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        {{#each @events as |event|}}
        {{#let (parse-audit-log-event event) as |ev|}}
        <tr>
            <div class="gh-list-data gh-list-cellwidth-30">
                <div class="flex items-center">
                    <span class="user-list-item-figure" style={{background-image-style (or ev.actor.profileImageUrl ev.actor.iconImage)}}>
                        <span class="hidden">Photo of {{ev.actor.name}}</span>
                    </span>
                    <h3 class="ma0 pa0 gh-audit-log-name">{{ev.actor.name}}</h3>
                </div>
            </div>
            <div class="gh-list-data gh-list-cellwidth-10 gh-audit-log-action">
                <div class="gh-audit-log-container">
                    <div class="gh-audit-log-icon">{{svg-jar ev.actionIcon}}</div>
                    <div class="gh-audit-log-event">
                        <span class="gh-audit-log-description">
                            {{capitalize-first-letter ev.action}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="gh-list-data gh-audit-log-object">
                <div class="gh-audit-log-container">
                    {{#if ev.contextResource}}
                        <span class="midlightgrey-d1">
                            <span class="fw5">{{capitalize-first-letter ev.contextResource.first}}</span>
                            {{#if (not (eq ev.contextResource.first ev.contextResource.second))}}
                                <code>({{ev.contextResource.second}})</code>
                            {{/if}}
                        </span>
                    {{else if (or ev.original.resource.title ev.original.resource.name ev.original.context.primary_name)}}
                        {{#if ev.linkTarget}}
                            <LinkTo @route={{ev.linkTarget.route}} @models={{ev.linkTarget.models}} class="permalink">
                                <strong>{{or ev.original.resource.title ev.original.resource.name}}</strong>
                            </LinkTo>
                        {{else}}
                            <span class="midlightgrey-d1">
                                <span class="fw5">{{or ev.original.resource.title ev.original.resource.name ev.original.context.primary_name}}</span>
                            </span>
                        {{/if}}
                    {{else}}
                        <span class="midlightgrey">(unknown)</span>
                    {{/if}}
                </div>
            </div>
            <div class="gh-list-data midgrey">{{moment-format ev.original.created_at "DD MMM YYYY HH:mm:ss"}}</div>
        </tr>
        {{/let}}
        {{/each}}
    </tbody>
</table>
