<article class="default index-{{@index}} grid-container grid-parent {{post_class}}">
	<div class="grid-50 tablet-grid-50 left">
		{{#if image}}
			<a href="{{url}}" class="thumb hover-effect">
				<img src="{{image}}">
			</a>
		{{else}}
			{{content words="0"}}
		{{/if}}
	</div>
	<div class="right grid-50 tablet-grid-50">
		<header>
			<div class="meta">
				<div class="alignleft">
					{{#if tags}}
						<div class="tags">
							{{tags separator=""}}
						</div>
					{{/if}}
					<time datetime="{{date format="YYYY-MM-DD"}}"><i class="fa fa-clock-o"></i>{{date}}</time>
				</div>
				<a href="{{url}}#comments" class="comments alignright"><i class="fa fa-comment"></i> <span class="disqus-comment-count" data-disqus-url="{{@blog.url}}{{url}}" data-disqus-identifier="{{id}}">0</span></a>
				<div class="clear"></div>
			</div>
			<h4 class="title"><a href="{{url}}">{{{title}}}</a></h4>
		</header>
		<div class="post-excerpt">
			{{excerpt words="20"}}...
			<div class="clear"></div>
		</div> 
		<a href="{{url}}" class="button dark">Read More</a>
		<a href="javascript:void(0)" class="button dark share-button"><i class="fa fa-share-alt"></i> SHARE</a>
		<div class="tip-content">
			<div class="share">
				<a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
			onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"><i class="fa fa-facebook"></i></a>
				<a class="twitter" href="http://twitter.com/share?text={{encode title}}&url={{url absolute="true"}}"
			onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"><i class="fa fa-twitter"></i></a>
				<a class="googleplus" href="https://plus.google.com/share?url={{url absolute="true"}}"
		   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"><i class="fa fa-google-plus"></i></a>
			</div>
		</div>
	</div>
</article>