<div class="gh-publish-title" data-test-publish-flow="options">
    <div class="green">Ready, set, publish.</div>
    <div>Share it with the world.</div>
</div>

<div class="gh-publish-settings">
    <div class="gh-publish-setting" data-test-setting="publish-type">
        {{#if (or @publishOptions.emailUnavailable @publishOptions.publishDisabledError)}}
            <div class="gh-publish-setting-title {{if @publishOptions.publishDisabledError "disabled"}}" data-test-setting-title>
                {{svg-jar "publish-send"}}
                <div class="gh-publish-setting-trigger">Publish on site</div>

                {{#if @publishOptions.publishDisabledError}}
                    <span class="gh-publish-setting-controls">{{svg-jar "arrow-down" class="icon-expand"}}</span>
                {{/if}}
            </div>
            {{#if @publishOptions.publishDisabledError}}
                <p class="gh-box gh-content-box pa" data-test-publish-type-error="publish-disabled">
                    {{@publishOptions.publishDisabledError}}
                </p>
            {{/if}}
        {{else}}
            <button type="button" class="gh-publish-setting-title" {{on "click" (fn this.toggleSection "publishType")}} data-test-setting-title>
                {{svg-jar "publish-send"}}
                <div class="gh-publish-setting-trigger">
                    <span>{{@publishOptions.selectedPublishTypeOption.display}}</span>
                </div>
                <span class="gh-publish-setting-controls {{if (eq this.openSection "publishType") "expanded"}}">
                    {{svg-jar "arrow-down" class="icon-expand"}}
                </span>
            </button>
        {{/if}}
        {{#liquid-if (eq this.openSection "publishType")}}
            <div class="gh-publish-setting-form">
                <Editor::PublishOptions::PublishType
                    @publishOptions={{@publishOptions}}
                />
            </div>
        {{/liquid-if}}

        {{#if @publishOptions.willEmail}}
            <Editor::EmailSizeWarning @post={{@publishOptions.post}} as |overLimit emailSizeKb| >
                {{#if overLimit}}
                    <p class="gh-box gh-content-box pa gh-publish-setting-email-warning {{if (eq this.openSection "publishType") "open"}}">
                        <div class="gh-email-preview-clip-title mb">This email is <span class="yellow-d1">{{emailSizeKb}}kB</span></div>
                        <div class="gh-email-preview-clip-description">Email newsletters may get clipped in the inbox behind a “View entire message” link when they’re over 100kB.</div>
                    </p>
                {{/if}}
            </Editor::EmailSizeWarning>
        {{/if}}
    </div>

    <div class="gh-publish-setting" data-test-setting="post-visibility">
        <button
            type="button"
            class="gh-publish-setting-title"
            {{on "click" (fn this.toggleSection "postVisibility")}}
            data-test-setting-title
        >
            {{svg-jar (if (eq this.postVisibility "public") "publish-unlock" "publish-lock")}}
            <div class="gh-publish-setting-trigger">
                <span>{{this.postVisibilityLabel}}</span>
                <span class="gh-publish-setting-separator" aria-hidden="true">·</span>
                <span class="gh-publish-setting-summary">{{this.publicPreviewSummary}}</span>
            </div>
            <span class="gh-publish-setting-controls {{if (eq this.openSection "postVisibility") "expanded"}}">
                {{svg-jar "arrow-down" class="icon-expand"}}
            </span>
        </button>

        {{#liquid-if (eq this.openSection "postVisibility")}}
            <div class="gh-publish-setting-form gh-publish-setting-access-form">
                <fieldset class="gh-publish-types gh-publish-access-options">
                    <legend class="hidden">Post access</legend>
                    {{#each this.postVisibilityOptions as |option|}}
                        <span>
                            <input
                                type="radio"
                                name="post-visibility"
                                id="post-visibility-{{option.value}}"
                                class="gh-radio-button"
                                value={{option.value}}
                                checked={{eq option.value this.postVisibility}}
                                {{on "change" this.setPostVisibility}}
                                data-test-post-visibility={{option.value}}
                            >
                            <label for="post-visibility-{{option.value}}">{{option.label}}</label>
                        </span>
                    {{/each}}
                </fieldset>

                {{#if (eq this.postVisibility "tiers")}}
                    <div class="gh-publish-access-tiers" data-test-visibility-segment-select>
                        <GhPostSettingsMenu::VisibilitySegmentSelect
                            @tiers={{@publishOptions.post.tiers}}
                            @onChange={{this.setVisibilityTiers}}
                            @renderInPlace={{false}}
                            @hideOptionsWhenAllSelected={{true}}
                        />
                    </div>
                {{/if}}

                {{#if this.shouldShowPublicPreviewOpportunity}}
                    <p class="gh-publish-access-preview-opportunity">
                        This post doesn't include a public preview.
                        <button type="button" class="gh-publish-access-preview-action" {{on "click" (fn @close (hash afterTask="showPublicPreviewGuidanceTask"))}}>Add one</button>
                    </p>
                {{/if}}
            </div>
        {{/liquid-if}}
    </div>

    {{#unless @publishOptions.emailUnavailable}}
        {{#let (members-count-fetcher query=(hash filter=this.freeMembersRecipientFilter)) as |freeMembersCountFetcher|}}
        {{#let (or this.hasPublicPreviewEmailRisk (and this.hasPaidOnlyPaywallOpportunity (gt freeMembersCountFetcher.count 0))) as |hasPublicPreviewEmailNotice|}}
        <div class="gh-publish-setting" data-test-setting="email-recipients">
            {{#if (or (eq @publishOptions.publishType "publish") @publishOptions.publishDisabledError)}}
                <button
                    type="button"
                    class="gh-publish-setting-title disabled"
                    data-test-setting-title
                >
                    {{svg-jar "publish-user"}}
                    <div class="gh-publish-setting-trigger">
                        Not sent as newsletter
                    </div>
                    <span class="gh-publish-setting-controls">
                        {{svg-jar "arrow-down" class="icon-expand"}}
                    </span>
                </button>
            {{else}}
                <button
                    type="button"
                    class="gh-publish-setting-title"
                    {{on "click" (fn this.toggleSection "emailRecipients")}}
                    data-test-setting-title
                >
                    {{svg-jar "publish-user"}}
                    <div class="gh-publish-setting-trigger">
                        {{#if @publishOptions.recipientFilter}}
                            {{#let (members-count-fetcher query=(hash filter=@publishOptions.fullRecipientFilter)) as |countFetcher|}}
                                {{#if (or (gt countFetcher.count 1) (is-empty countFetcher.count))}}
                                    {{if (eq @recipientType "all") "All"}}
                                {{/if}}

                                {{format-number countFetcher.count}}

                                {{!-- @recipientType = all/free/paid/all/specific --}}
                                {{#if (not-eq @recipientType "all")}}
                                    {{if (is-empty countFetcher.count) (capitalize @recipientType) @recipientType}}
                                {{/if}}

                                {{gh-pluralize countFetcher.count "subscriber" without-count=true}}

                                {{#unless @publishOptions.onlyDefaultNewsletter}}
                                    of <span class="gh-selected-newsletter">{{@publishOptions.newsletter.name}}</span>
                                {{/unless}}
                            {{/let}}
                        {{else}}
                            Not sent as newsletter
                        {{/if}}
                    </div>
                    <span class="gh-publish-setting-controls">
                        {{#if (and hasPublicPreviewEmailNotice (not-eq this.openSection "emailRecipients"))}}
                            <span class="gh-publish-setting-warning-indicator">
                                {{svg-jar "warning-circle-filled"}}
                                <span class="hidden">Review this email audience</span>
                            </span>
                        {{/if}}
                        <span class="{{if (eq this.openSection "emailRecipients") "expanded"}}">
                            {{svg-jar "arrow-down" class="icon-expand"}}
                        </span>
                    </span>
                </button>
            {{/if}}
            {{#liquid-if (eq this.openSection "emailRecipients")}}
                <div class="gh-publish-setting-form {{if hasPublicPreviewEmailNotice "has-recipient-warning"}}">
                    <Editor::PublishOptions::EmailRecipients
                        @publishOptions={{@publishOptions}}
                    />

                    <div
                        class="gh-publish-setting-recipient-warning-reveal {{if hasPublicPreviewEmailNotice "is-visible"}}"
                        aria-hidden={{if hasPublicPreviewEmailNotice "false" "true"}}
                        {{did-insert this.rememberPublicPreviewEmailNotice (if hasPublicPreviewEmailNotice this.publicPreviewEmailNotice)}}
                        {{did-update this.rememberPublicPreviewEmailNotice (if hasPublicPreviewEmailNotice this.publicPreviewEmailNotice)}}
                        {{on "transitionend" this.finishPublicPreviewEmailNoticeTransition}}
                    >
                        <div class="gh-publish-setting-recipient-warning-reveal-inner">
                            <div class="gh-box gh-box-alert gh-publish-setting-recipient-warning" data-test-public-preview-notice="email-risk">
                                {{#if this.isPaidOnlyPaywallOpportunity}}
                                    <strong>Your post includes a paywall, but this email is only going to paid members.</strong>
                                    Include
                                    {{format-number freeMembersCountFetcher.count}}
                                    {{gh-pluralize freeMembersCountFetcher.count "free member" without-count=true}}
                                    to show them the preview and an option to upgrade.
                                    <button type="button" class="gh-btn gh-btn-text inline green ml1 gh-publish-setting-recipient-warning-action" {{on "click" this.includeFreeMembers}}><span>Include free members</span></button>
                                {{else}}
                                    <strong>{{this.publicPreviewEmailRiskMessage}}</strong>
                                    {{#if (eq @publicPreviewStatus "none")}}
                                        {{this.publicPreviewEmailOpportunityMessage}}
                                        <button type="button" class="gh-btn gh-btn-text inline green ml1 gh-publish-setting-recipient-warning-action" {{on "click" (fn @close (hash afterTask="showPublicPreviewGuidanceTask"))}}><span>Add a public preview</span></button>
                                    {{else}}
                                        {{this.publicPreviewEmailOpportunityMessage}}
                                        {{#if this.hasInvalidPaywall}}
                                            <button type="button" class="gh-btn gh-btn-text inline green ml1 gh-publish-setting-recipient-warning-action" {{on "click" (fn @close (hash afterTask="focusPublicPreviewTask"))}}><span>Fix in editor</span></button>
                                        {{/if}}
                                    {{/if}}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            {{/liquid-if}}
        </div>
        {{/let}}
        {{/let}}
    {{/unless}}

    {{#if (and @publishOptions.post.email (not @publishOptions.emailDisabledInSettings))}}
        <div class="gh-publish-setting" data-test-setting="email-recipients">
            <div class="gh-publish-setting-title disabled" data-test-setting-title>
                {{svg-jar "publish-user"}}
                <div class="gh-publish-setting-trigger">
                    {{#if (eq @publishOptions.post.email.status "failed") }}
                        Retry sending to
                    {{else}}
                        Already sent to
                    {{/if}}
                    {{format-number @publishOptions.post.email.emailCount}}
                    {{if (not-eq @recipientType "all") @recipientType}} {{!-- free/paid/specific --}}
                    {{gh-pluralize @publishOptions.post.email.emailCount "subscriber" without-count=true}}
                    {{#unless @publishOptions.onlyDefaultNewsletter}}
                        of {{@publishOptions.post.newsletter.name}}
                    {{/unless}}
                </div>
            </div>
        </div>
    {{/if}}

    <div class="gh-publish-setting last" data-test-setting="publish-at">
        <button type="button" class="gh-publish-setting-title {{if @publishOptions.publishDisabledError "disabled"}}" {{on "click" (if @publishOptions.publishDisabledError (optional) (fn this.toggleSection "publishAt"))}} data-test-setting-title>
            {{svg-jar "publish-clock"}}
            <div class="gh-publish-setting-trigger">
                <span>
                    {{#if @publishOptions.isScheduled}}
                        {{capitalize (gh-format-post-time @publishOptions.scheduledAtUTC relative=true)}}
                    {{else}}
                        Right now
                    {{/if}}
                </span>
            </div>
            <span class="gh-publish-setting-controls {{if (eq this.openSection "publishAt") "expanded"}}">
                {{svg-jar "arrow-down" class="icon-expand"}}
            </span>
        </button>
        {{#liquid-if (eq this.openSection "publishAt")}}
            <div class="gh-publish-setting-form last">
                <Editor::PublishOptions::PublishAt
                    @publishOptions={{@publishOptions}}
                />
            </div>
        {{/liquid-if}}
    </div>

</div>

{{#unless @publishOptions.publishDisabledError}}
    <div class="gh-publish-cta">
        <button type="button" class="gh-btn gh-btn-black gh-btn-large" {{on "click" @confirm}} data-test-button="continue">
            <span>{{this.continueButtonText}}</span>
        </button>
    </div>
{{/unless}}
