<figure class="kg-nft-card">
    <a href="{{this.payload.url}}">
        <div class="kg-nft-image-container"><img class="kg-nft-image" src="{{this.payload.metadata.image_url}}"></div>
        <div class="kg-nft-metadata">
            <div class="kg-nft-header">
                <h4 class="kg-nft-title"> 
                    {{this.payload.metadata.title}} 
                    <img src="https://static.ghost.org/v4.0.0/images/opensea-logo.png" class="kg-nft-opensea-logo">
                </h4>
            </div>
            <div class="kg-nft-creator">
                Created by <span class="kg-nft-creator-name">{{this.payload.metadata.author_name}}</span>
                {{#if this.payload.metadata.collection_name}}
                    &bull; {{this.payload.metadata.collection_name}}
                {{/if}}
            </div>
            {{#if this.payload.metadata.description}}
            <p class="kg-nft-description">{{this.payload.metadata.description}}</p>
            {{/if}}
        </div>
    </a>
</figure>