{{#if @selected}}
    <button class="gh-btn" {{on "click" (fn @onChange null)}} type="button">
        <span class="gh-btn-label-green">
            Clear search &times;
        </span>
    </button>
{{else}}
    <PowerSelect
        @searchEnabled={{false}}
        @search={{perform this.searchUsersTask}}
        @selected={{@selected}}
        @onChange={{@onChange}}
        @triggerClass="gh-member-filter-search-trigger"
        @dropdownClass="gh-member-filter-search-dropdown"
        @triggerComponent={{component "gh-input-with-select/trigger"}}
        @placeholder="Search staff"
        @extra={{hash showSearchMessage=false}}
        as |member|
    >
        {{#if member.name}}<strong>{{member.name}}</strong>{{/if}}
        <span>{{member.email}}</span>
    </PowerSelect>
{{/if}}
