<h4 class="gh-main-section-header small bn">Newsletters</h4>
<div class="gh-main-section-content grey">
    <div class="gh-member-newsletters">
        {{#each this.newsletters as |newsletter|}}
            <div class="gh-member-newsletter-row">
                <div>
                    <h4 class="gh-member-newsletter-title">{{newsletter.name}}</h4>
                </div>
                <div class="for-switch">
                    <label class="switch" for={{newsletter.forId}}>
                        <Input
                            @checked={{newsletter.subscribed}}
                            @type="checkbox"
                            id={{newsletter.forId}}
                            name="subscribed"
                            data-test-checkbox="member-subscribed"
                            {{on "click" (fn this.updateNewsletterPreference newsletter)}}
                        />
                        <span class="input-toggle-component"></span>
                    </label>
                </div>
            </div>
        {{/each}}
    </div>
</div>
