<section class="gh-canvas">
    <GhCanvasHeader class="gh-canvas-header">
        <h2 class="gh-canvas-title" data-test-screen-title>
            <LinkTo @route="settings.labs">Labs</LinkTo>
            <span>{{svg-jar "arrow-right"}}</span>
            Members
        </h2>
        <section class="view-actions">
            <GhTaskButton @buttonText="Save settings"
                @task={{this.saveSettings}}
                @successText="Saved"
                @runningText="Saving"
                @class="gh-btn gh-btn-blue gh-btn-icon"
                data-test-button="save-members-settings"
            />
        </section>
    </GhCanvasHeader>

    <section class="view-container settings-debug">

        {{#if this.session.user.isOwner}}
        <div class="flex flex-column br3 shadow-1 bg-grouped-table mt2 pa5">
            <div class="gh-setting-first gh-setting-last">
                <div class="gh-members-setting-content">
                    <div class="gh-setting-title">Enable members</div>
                    <div class="gh-setting-desc">Create registered members and take subscription payments — <a href="https://ghost.org/docs/members/" target="_blank" rel="noopener">Find out more</a></div>
                </div>
                <div class="gh-setting-action">
                    <div class="for-switch">
                        <GhFeatureFlag @flag="members" @testKey="enable-members"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="gh-setting-liquid-section">
            {{#liquid-if this.feature.labs.members}}
            <GhMembersLabSetting
                @settings={{this.settings}}
                @fromAddress={{this.fromAddress}}
                @supportAddress={{this.supportAddress}}
                @setDefaultContentVisibility={{action "setDefaultContentVisibility"}}
                @setStripeConnectIntegrationTokenSetting={{action "setStripeConnectIntegrationTokenSetting"}}
                @setEmailAddress={{action "setEmailAddress"}}
            />
            {{/liquid-if}}
        </div>

        {{/if}}

    </section>
</section>