<article class="modal{{#if options.type}}-{{options.type}}{{/if}} {{#if options.style}}{{#each options.style}}modal-style-{{this}} {{/each}}{{/if}}{{options.animation}} js-modal">
    <section class="modal-content">
        {{#if content.title}}<header class="modal-header"><h1>{{content.title}}</h1></header>{{/if}}
        {{#if options.close}}<a class="close" href="#" title="Close"><span class="hidden">Close</span></a>{{/if}}
        <section class="modal-body">
        </section>
        {{#if options.confirm}}
        <footer class="modal-footer">
            <button class="js-button-accept {{#if options.confirm.accept.buttonClass}}{{options.confirm.accept.buttonClass}}{{else}}button-add{{/if}}">{{options.confirm.accept.text}}</button>
            <button class="js-button-reject {{#if options.confirm.reject.buttonClass}}{{options.confirm.reject.buttonClass}}{{else}}button-delete{{/if}}">{{options.confirm.reject.text}}</button>
        </footer>
        {{/if}}
    </section>
</article>