{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<header class="main-header tag-head {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <nav class="main-nav overlay clearfix">
        <a class="back-button icon-arrow-left" href="{{@blog.url}}">Home</a>
        <a class="subscribe-button icon-feed" href="{{@blog.url}}/tag/{{tag.slug}}/rss/">{{tag.name}}</a>
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{tag.name}}</h1>
            <h2 class="page-description">A {{pagination.total}}-post collection</h2>
        </div>
    </div>
</header>

{{! The main content area on the homepage }}
<main class="content" role="main">

    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}

</main>