<td dir="ltr" valign="top" align="center" style="display: inline-block; vertical-align: top; font-family: inherit; font-size: 14px; text-align: center; padding: 0 4px 4px; cursor: pointer;" nowrap>
    <a href="{{href}}" target="_blank">
        <img src={{iconUrl}} border="0" width={{width}} height={{height}} alt="{{buttonText}}">
    </a>
</td>