{{#each latestPosts}}
    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td class="latest-post">
                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        {{#if ../latestPostsHasImages}}
                            {{#if featureImage}}
                                <td class="latest-post-img-mobile">
                                    <a href="{{url}}">
                                        <img
                                            src="{{featureImageMobile.src}}"
                                            {{#if featureImageMobile.width }}
                                                width="{{featureImageMobile.width}}"
                                            {{/if}}
                                            {{#if featureImageMobile.height }}
                                                height="{{featureImageMobile.height}}"
                                            {{/if}}
                                        />
                                    </a>
                                </td>
                            {{/if}}
                        {{/if}}
                        <td valign="top" align="left" class="latest-post-title">
                            <h4 class="{{#if ../latestPostsHasImages}}{{#if (not featureImage)}}no-image{{/if}}{{/if}}">
                                <a href="{{url}}">{{{title}}}</a>
                            </h4>
                            {{#if excerpt}}
                                <p>
                                    <a href="{{url}}">{{{excerpt}}}</a>
                                </p>
                            {{/if}}
                        </td>
                        {{#if ../latestPostsHasImages}}
                            {{#if featureImage}}
                                <td width="100" class="latest-post-img">
                                    <a href="{{url}}">
                                        <img
                                            src="{{featureImage.src}}"
                                            {{#if featureImage.width }}
                                                width="{{featureImage.width}}"
                                            {{/if}}
                                            {{#if featureImage.height }}
                                                height="{{featureImage.height}}"
                                            {{/if}}
                                        />
                                    </a>
                                </td>
                            {{/if}}
                        {{/if}}
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{{/each}}
