{{#each latestPosts}}
    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td class="latest-post">
                <a href="{{url}}" style="{{#if ../latestPostsHasImages}}{{#if featureImage}}height: 100px;{{else}}padding-bottom: 12px;{{/if}}{{/if}}">
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            {{#if ../latestPostsHasImages}}
                                {{#if featureImage}}
                                    <td class="latest-post-img-mobile">
                                        <img
                                            src="{{featureImageMobile.src}}"
                                            {{#if featureImageMobile.width }}
                                                width="{{featureImageMobile.width}}"
                                            {{/if}}
                                            {{#if featureImageMobile.height }}
                                                height="{{featureImageMobile.height}}"
                                            {{/if}}
                                        />
                                    </td>
                                {{/if}}
                            {{/if}}
                            <td valign="top" align="left" class="latest-post-title">
                                <h4 class="{{#if ../latestPostsHasImages}}{{#if (not featureImage)}}no-image{{/if}}{{/if}}">{{{title}}}</h4>
                                {{#if excerpt}}
                                    <p>{{{excerpt}}}</p>
                                {{/if}}
                            </td>
                            {{#if ../latestPostsHasImages}}
                                {{#if featureImage}}
                                    <td width="100" class="latest-post-img">
                                        <img
                                            src="{{featureImage.src}}"
                                            {{#if featureImage.width }}
                                                width="{{featureImage.width}}"
                                            {{/if}}
                                            {{#if featureImage.height }}
                                                height="{{featureImage.height}}"
                                            {{/if}}
                                        />
                                    </td>
                                {{/if}}
                            {{/if}}
                        </tr>
                    </table>
                </a>
            </td>
        </tr>
    </table>
{{/each}}
