<div class="settings-menu-header subview">
    <button {{on "click" this.close}} class="back settings-menu-header-action" data-test-button="close-psm-subview">{{svg-jar "arrow-left"}}<span class="hidden">Back</span></button>
    <h4>Email newsletter</h4>
    <div style="width:23px;"></div>
</div>

<div class="settings-menu-content settings-menu-email">
    {{#if mailgunError}}
        <p class="gh-box gh-box-warning settings-menu-mailgun-warning">
            {{svg-jar "info" class="w5 h5 fill-yellow nl1"}}
            You need to configure Mailgun in {{#link-to "settings.labs" data-test-nav="labs"}}Labs → Members settings{{/link-to}} to enable email newsletters.
        </p>
    {{/if}}
    <form {{action "discardEnter" on="submit"}}>
        {{#gh-form-group errors=post.errors hasValidated=post.hasValidated property="emailSubject"}}
            <label for="og-title">Subject</label>
            {{gh-text-input
                class="post-setting-email-subject"
                id="email-subject"
                name="post-setting-email-subject"
                placeholder=(truncate emailSubject 40)
                value=(readonly emailSubjectScratch)
                input=(action (mut emailSubjectScratch) value="target.value")
                focus-out=(action "setEmailSubject" emailSubjectScratch)
                stopEnterKeyDownPropagation=true
                disabled=deliveredAction
                data-test-field="email-subject"}}
            {{gh-error-message errors=post.errors property="emailSubject" data-test-error="email-subject"}}
        {{/gh-form-group}}

        <div class="form-group">
            <div class="flex">
                <label class="nowrap flex-auto">Test email</label>
                <button type="button" class="gh-btn gh-btn-link settings-menu-email-button" onclick={{action "toggleEmailPreview"}}
                    data-test-button="toggle-email-preview">
                    <span class="blue">
                        Preview in browser
                    </span>
                </button>
            </div>

            <div class="{{if mailgunError "disabled"}}">
                {{gh-text-input
                    class="post-setting-email-test"
                    id="email-test"
                    name="post-setting-email-test"
                    placeholder=(truncate 'noreply@example.com' 40)
                    value=(readonly emailTestScratch)
                    input=(action (mut emailTestScratch) value="target.value")
                    stopEnterKeyDownPropagation=true
                    disabled=mailgunError
                    data-test-field="email-test"}}

                {{#if sendTestEmailError}}
                    <div class="error"><p class="response">{{sendTestEmailError}}</p></div>
                {{/if}}

                {{gh-task-button "Send test email"
                    task=sendTestEmail
                    successText="Email sent"
                    runningText="Sending..."
                    class="gh-btn w-100 mt2 gh-btn-icon"
                    disabled=mailgunError
                    data-test-send-test-mail=true
                }}
            </div>
        </div>
    </form>
</div>