{{#gh-editor tagName="section" class="gh-view" navIsClosed=navIsClosed as |headerClass|}}
    <header class="gh-editor-header {{headerClass}}">
        <div class="gh-editor-status">
            {{gh-editor-post-status
                post=model
                isSaving=autosave.isRunning
            }}
        </div>
        {{#if scheduleCountdown}}
            <time datetime="{{post.publishedAtUTC}}" class="gh-notification gh-notification-schedule" data-test-schedule-countdown>
                Post will be published {{scheduleCountdown}}.
            </time>
        {{/if}}
        <section class="view-actions">
            {{gh-publishmenu
                post=model
                saveTask=save
                setSaveType=(action "setSaveType")
                onOpen=(action "cancelAutosave")}}

            <button type="button" class="post-settings" title="Settings" {{action "openSettingsMenu"}} data-test-psm-trigger>
                {{inline-svg "settings"}}
            </button>
        </section>
    </header>

    <div class="gh-editor-container needsclick">
        <div class="gh-editor-inner">
            {{gh-editor-title
                val=(readonly model.titleScratch)
                onChange=(action (mut model.titleScratch))
                tabindex="1"
                shouldFocus=shouldFocusTitle
                focus-out="updateTitle"
                update=(action (perform updateTitle))
                id="gh-editor-title"
                koenigEditor=(readonly editor)
                editorMenuIsOpen=editorMenuIsOpen
            }}
            {{gh-koenig
                value=(readonly model.scratch)
                onChange=(action "updateScratch")
                onFirstChange=(action "autoSaveNew")
                shouldFocusEditor=shouldFocusEditor
                apiRoot=apiRoot
                assetPath=assetPath
                tabindex="2"
                titleSelector=".gh-editor-title"
		        containerSelector=".gh-editor-container"
                setEditor=(action "setEditor")
                menuIsOpen=(action "editorMenuIsOpen")
                menuIsClosed=(action "editorMenuIsClosed")
                wordcountDidChange=(action "wordcountDidChange")
            }}
        </div>
    </div>
    <div class="gh-editor-wordcount">{{pluralize wordcount 'word'}}.</div>
{{/gh-editor}}

{{#if showDeletePostModal}}
    {{gh-fullscreen-modal "delete-post"
        model=(hash post=model onSuccess=(route-action 'redirectToContentScreen'))
        close=(action "toggleDeletePostModal")
        modifier="action wide"}}
{{/if}}

{{#if showLeaveEditorModal}}
    {{gh-fullscreen-modal "leave-editor"
        confirm=(action "leaveEditor")
        close=(action "toggleLeaveEditorModal")
        modifier="action wide"}}
{{/if}}

{{#if showReAuthenticateModal}}
    {{gh-fullscreen-modal "re-authenticate"
        close=(action "toggleReAuthenticateModal")
        modifier="action wide"}}
{{/if}}

{{#liquid-wormhole}}
    {{gh-post-settings-menu
        model=model
        showSettingsMenu=application.showSettingsMenu
        closeNavMenu=(action "closeNavMenu")
        closeMenus=(action "closeMenus")
        deletePost=(action "toggleDeletePostModal")
    }}
{{/liquid-wormhole}}
