<div data-test-selector="client-list-item" class="user-list-item {{if isSpecialClient 'special-client'}}">
  {{#link-to 'settings.connections.edit' slug}}
  <div class="user-list-item-body">
    <span class="name">
      {{name}}
    </span>
    <br>
    <span class="description">Status: {{status}}</span>
  </div>
  {{/link-to}}
  <div class="revoke">
      {{#if isSpecialClient}}

    {{else}}
    <button class="btn btn-red" {{action 'deleteClient' id}}>REVOKE ACCESS</button>
    {{/if}}
  </div>
</div>
