<b>Name:</b>   {{name}}<br>
<b>Status:</b> {{status}}<br>
<b>Secret:</b> {{secret}}<br>
<b>Logo:</b>   {{logo}}<br>
<b>Description:</b> {{description}}<br>

<button type='button' class="btn btn-blue" {{action "changeClientStatus" (if isEnabled 'disabled' 'enabled')}}>
  {{if isEnabled 'Disable' 'Enable'}}
</button>

<button type='button' class="btn btn-blue" {{action "refreshSecret"}}>
  Refresh Token
</button>
