<div class="modal-container js-modal-container" {{action "closeModal"}}>
    <article class="{{klass}} js-modal">
        <section class="modal-content" {{action "noBubble" bubbles=false preventDefault=false}}>
            {{#if title}}<header class="modal-header"><h1>{{title}}</h1></header>{{/if}}
            {{#if showClose}}<a class="close icon-x" href="" title="Close" {{action "closeModal"}}><span class="hidden">Close</span></a>{{/if}}
            <section class="modal-body">
                {{yield}}
            </section>
            {{#if confirm}}
            <footer class="modal-footer">
                {{! Buttons must be on one line to prevent white-space errors }}
                <button type="button" class="{{rejectButtonClass}} btn-minor js-button-reject" {{action "confirm" "reject"}}>{{confirm.reject.text}}</button><button type="button" class="{{acceptButtonClass}} js-button-accept" {{action "confirm" "accept"}}>{{confirm.accept.text}}</button>
            </footer>
            {{/if}}
        </section>
    </article>
</div>
<div class="modal-background js-modal-background"></div>
