{{#unless navItem.last}}
    <span class="gh-blognav-grab icon-grab">
        <span class="sr-only">Reorder</span>
    </span>
{{/unless}}

<div class="gh-blognav-line">
    <span class="gh-blognav-label">
        {{gh-trim-focus-input class="gh-input" focus=navItem.last placeholder="Label" value=navItem.label}}
    </span>
    <span class="gh-blognav-url">
        {{gh-navitem-url-input class="gh-input" baseUrl=baseUrl url=navItem.url last=navItem.last change="updateUrl"}}
    </span>
</div>

{{#if navItem.last}}
    <button type="button" class="gh-blognav-add" {{action "addItem"}}>
        <i class="icon-add2"><span class="sr-only">Add</span></i>
    </button>
{{else}}
    <button type="button" class="gh-blognav-delete" {{action "deleteItem" navItem}}>
        <i class="icon-trash"><span class="sr-only">Delete</span></i>
    </button>
{{/if}}
