<h3>New Client </h3>

Name {{input value=name}}<br>
Logo {{input value=logo}}<br>
Redirection URL {{input value=redirection_uri}}<br>
Description {{textarea value=description}}<br>

<button class="btn btn-blue" {{action "saveClient"}}>Save</button>
