{{#if label}}
    <label for="{{inputId}}">{{label}}</label>
{{/if}}
{{one-way-textarea
    value
    class=concatenatedClasses
    placeholder=placeholder
    name=name
    disabled=disabled
    onblur=(action 'focusOut')
    update=(action 'update')
}}
{{#if showErrorMessage}}
    <p class="response">{{v-get model valuePath 'message'}}</p>
{{else if hasBlock}}
    {{yield}}
{{else if helpText}}
    <p>{{helpText}}</p>
{{/if}}
