<section class="gh-canvas js-settings-content">
    <GhCanvasHeader class="gh-canvas-header">
        {{svg-jar "ghost-logo-orb" class="gh-logo" alt="Ghost"}}
    </GhCanvasHeader>
    <section class="view-container">
        <section class="gh-env-details">
            <ul class="gh-env-list">
                <li class="gh-env-list-version"><strong>Version</strong> {{this.config.version}}</li>
                <li><strong>Environment</strong> {{this.config.environment}}</li>
                <li class="gh-env-list-database-type"><strong>Database</strong> {{this.config.database}}</li>
                <li><strong>Mail</strong> {{#if this.config.mail}}{{this.config.mail}}{{else}}Native{{/if}}</li>
                {{#if (enable-developer-experiments)}}
                <li><strong>Developer experiments</strong> Enabled</li>
                {{/if}}
            </ul>
            <div class="gh-env-help">
                <a class="gh-btn" href="https://ghost.org/docs/" target="_blank"><span>User Documentation</span></a>
                <a class="gh-btn" href="https://forum.ghost.org/" target="_blank"><span>Get Help With Ghost</span></a>
            </div>
        </section>

        {{#if this.upgradeStatus.message}}
            <section class="gh-upgrade-notification">
                <p>
                    <strong>Update available!</strong> {{this.upgradeStatus.message}}
                </p>
            </section>
        {{/if}}

        <section class="gh-credits">
            <h2>The People Who Made it Possible</h2>

            <section class="gh-contributors">
                {{partial "contributors"}}
            </section>

            <p>Ghost is built by an incredible group of contributors from all over the world. Here are just a few of the people who helped create the version you’re using right now.</p>

            <a class="gh-btn gh-btn-blue" href="https://ghost.org/docs/contributing/" target="_blank"><span>Find out how you can get involved</span></a>

        </section>

        <footer class="gh-copyright-info">
            Copyright &copy; 2013 &ndash; {{this.copyrightYear}} Ghost Foundation, released under the <a href="https://github.com/TryGhost/Ghost/blob/master/LICENSE" target="_blank">MIT license</a>.
            <br>
            <a href="https://ghost.org/" target="_blank">Ghost</a> is a registered trademark of <a href="https://ghost.org/trademark/" target="_blank">Ghost Foundation Ltd</a>.
        </footer>
    </section>
</section>
