<GhApp>
    <GhSkipLink @anchor=".gh-main">Skip to main content</GhSkipLink>

    {{!-- {{#if (and this.session.user.isOwnerOnly this.showUpdateLink)}} --}}
    <aside class="gh-update-banner">
        <div class="gh-alert-content">
            You're missing out on new features, update by January 31st.
        </div>
        <a href="https://ghost.org/help/how-to-upgrade-ghost/" target="_blank" rel="noopener noreferrer">Update guide</a>
        <a href="#" {{on "click" this.openUpdateTab}}>Update now to Ghost 5.0 &rarr;</a>
    </aside>
    {{!-- {{/if}} --}}

    <GhAlerts />

    <div class="gh-viewport {{if this.ui.showMobileMenu 'mobile-menu-expanded'}}">
        {{#if this.showNavMenu}}
            <GhNavMenu />
        {{/if}}

        <main class="gh-main {{this.ui.mainClass}}">
            {{outlet}}

            {{#if this.showBilling}}
                <GhBillingModal @billingWindowOpen={{this.billing.billingWindowOpen}} />
            {{/if}}

            <GhExploreModal />

        </main>

        <GhNotifications />

        <GhContentCover />

        {{#unless this.session.user.isContributor}}
            <GhMobileNavBar />
        {{/unless}}
    </div>

    {{#if this.settings.accentColor}}
        <style>
            :root {
                --accent-color: {{this.settings.accentColor}};
                --adjusted-accent-color: {{this.ui.adjustedAccentColor}};
            }
            .koenig-editor__editor a:not([class]) {
                color: var(--adjusted-accent-color);
            }
            .koenig-editor__editor blockquote {
                border-left: 0.25rem solid var(--adjusted-accent-color);
            }

            .gh-btn-accent {
                background-color: var(--adjusted-accent-color);
                color: #fff;
            }

            .gh-btn-accent:hover {
                background-color: {{hex-adjust this.ui.adjustedAccentColor l=-15}};
                color: #fff;
            }

        </style>
    {{/if}}
</GhApp>

<div id="unsplash-selector-wormhole"></div>

<EpmModalContainer />
<EmberLoadRemover />