{{#gh-app showSettingsMenu=ui.showSettingsMenu}}
    {{#gh-skip-link anchor=".gh-main"}}Skip to main content{{/gh-skip-link}}

    {{gh-alerts}}

    <div class="gh-viewport {{if ui.autoNav 'gh-autonav'}} {{if ui.showSettingsMenu 'settings-menu-expanded'}} {{if ui.showMobileMenu 'mobile-menu-expanded'}}">
        {{#if showNavMenu}}
            {{gh-nav-menu
                open=ui.autoNavOpen
                icon=settings.settledIcon
            }}
        {{/if}}

        {{#gh-main onMouseEnter=(action "closeAutoNav" target=ui)}}
            {{outlet}}
        {{/gh-main}}


        {{gh-notifications}}

        {{gh-content-cover}}

        {{gh-mobile-nav-bar}}
    </div>{{!gh-viewport}}
{{/gh-app}}

{{ember-load-remover}}
