<GhApp>
    <GhSkipLink @anchor=".gh-main">Skip to main content</GhSkipLink>

    <div class="gh-viewport">
        <main class="gh-main {{this.ui.mainClass}}">
            {{outlet}}

            {{#if this.showBilling}}
                <GhBillingModal @billingWindowOpen={{this.billing.billingWindowOpen}} />
            {{/if}}

            <GhExploreModal />
        </main>

    </div>

    {{#if this.showScriptExtension}}
        {{{this.showScriptExtension.container}}}
        {{!-- template-lint-disable no-forbidden-elements --}}
        <script src="{{this.showScriptExtension.src}}"></script>
    {{/if}}

    {{#if this.settings.accentColor}}
        <style>
            :root {
                --accent-color: {{this.settings.accentColor}};
                --adjusted-accent-color: {{this.ui.adjustedAccentColor}};
                --kg-accent-color: {{this.settings.accentColor}};
            }

            .gh-btn-accent {
                background-color: var(--adjusted-accent-color);
                color: #fff;
            }

            .gh-btn-accent:hover {
                background-color: {{hex-adjust this.ui.adjustedAccentColor l=-15}};
                color: #fff;
            }

        </style>
    {{/if}}

    <RenderInWormhole @elementId="ember-notifications-wormhole">
        <GhNotifications />
    </RenderInWormhole>
</GhApp>

<div id="unsplash-selector-wormhole"></div>

{{#in-element this.modalDestinationElement insertBefore=null}}
    <EpmModalContainer />
{{/in-element}}

<EmberLoadRemover />
