<GhApp>
    <GhSkipLink @anchor=".gh-main">Skip to main content</GhSkipLink>

    <GhAlerts />

    <div class="gh-viewport {{if this.ui.showMobileMenu 'mobile-menu-expanded'}}">
        {{#if this.showNavMenu}}
            <GhNavMenu />
        {{/if}}

        <main class="gh-main {{this.ui.mainClass}}" role="main">
            {{outlet}}

            {{#if this.showBilling}}
                <GhBillingModal @billingWindowOpen={{this.billing.billingWindowOpen}} />
            {{/if}}

        </main>

        <GhNotifications />

        <GhContentCover />

        <GhMobileNavBar />

        <GhWhatsNew />
    </div>{{!gh-viewport}}

    {{#if this.customViews.showFormModal}}
        <GhFullscreenModal
            @modal="custom-view-form"
            @close={{this.customViews.toggleFormModal}}
            @modifier="action narrow"
        />
    {{/if}}

    {{#if this.settings.accentColor}}
        <style>
            .koenig-editor__editor a:not([class]) {
                color: {{this.adjustedAccentColor}};
            }
            .koenig-editor__editor blockquote {
                border-left: 0.25rem solid {{this.adjustedAccentColor}};
            }
        </style>
    {{/if}}
</GhApp>

<EmberLoadRemover />