<GhApp @showSettingsMenu={{this.ui.showSettingsMenu}}>
    <GhSkipLink @anchor=".gh-main">Skip to main content</GhSkipLink>

    <GhAlerts />

    <div class="gh-viewport {{if this.ui.showSettingsMenu 'settings-menu-expanded'}} {{if this.ui.showMobileMenu 'mobile-menu-expanded'}}">
        {{#if this.showNavMenu}}
            <GhNavMenu />
        {{/if}}

        <main class="gh-main {{this.ui.mainClass}}" role="main">
            {{outlet}}

            {{#if this.showBilling}}
                <GhBillingModal />
            {{/if}}

        </main>

        <GhNotifications />

        <GhContentCover />

        <GhMobileNavBar />

        <GhWhatsNew />
    </div>{{!gh-viewport}}

    {{#if this.customViews.showFormModal}}
        <GhFullscreenModal
            @modal="custom-view-form"
            @close={{this.customViews.toggleFormModal}}
            @modifier="action narrow"
        />
    {{/if}}

    {{#if this.settings.accentColor}}
        <style>
        .koenig-editor__editor a:not([class]) {
            box-shadow: 0 1px 0 #ffffff, 0 2px 0 {{this.settings.accentColor}};
        }
        </style>
    {{/if}}
</GhApp>

<EmberLoadRemover />