<div class="gh-view">
    <section class="error-content error-404 js-error-container">
        <section class="error-details">
             <img class="error-ghost" src="{{gh-path 'admin' '/img/404-ghost@2x.png'}}" srcset="{{gh-path 'admin' '/img/404-ghost.png'}} 1x, {{gh-path 'admin' '/img/404-ghost@2x.png'}} 2x" />
             <section class="error-message">
                 <h1 class="error-code">{{code}}</h1>
                 <h2 class="error-description">{{message}}</h2>
             </section>
        </section>
    </section>

    {{#if stack}}
        <section class="error-stack">
            <h3>Stack Trace</h3>
            <p><strong>{{message}}</strong></p>
            <ul class="error-stack-list">
                {{#each stack as |item|}}
                    <li>
                        at
                        {{#if item.function}}<em class="error-stack-function">{{item.function}}</em>{{/if}}
                        <span class="error-stack-file">({{item.at}})</span>
                    </li>
                {{/each}}
            </ul>
        </section>
    {{/if}}
</div>
