<div class="gh-view">

    <section class="error-content error-404 js-error-container">
        <section class="error-details">
            <section class="error-message">
                <h1 class="error-code">{{this.code}}</h1>
                {{#if this.code}}
                    <span>|</span>
                {{/if}}
                <h2 class="error-description">
                    {{this.message}}
                </h2>
            </section>
        </section>
    </section>

    {{#if this.stack}}
        <section class="error-stack">
            <h3>Stack Trace</h3>
            <p><strong>{{this.message}}</strong></p>
            <ul class="error-stack-list">
                {{#each this.stack as |item|}}
                    <li>
                        at
                        {{#if item.function}}<em class="error-stack-function">{{item.function}}</em>{{/if}}
                        <span class="error-stack-file">({{item.at}})</span>
                    </li>
                {{/each}}
            </ul>
        </section>
    {{/if}}
</div>
