<div class="fullscreen-wizard-container" {{will-destroy this.reset}}>
    <div class="pt7 pb5 pl20 pr20 flex justify-between-l items-center bb b--whitegrey">
        <div class="flex flex-column">
            <div class="ttu gh-launch-wizard-step-indicator">{{this.currentStep.position}}</div>
            <h2>{{this.currentStep.title}}</h2>
        </div>
        <button type="button" class="close gh-btn" title="Close" {{on "click" this.close}} data-test-button="close-wizard">
            <span>Save and exit</span>
        </button>
    </div>

    <div class="flex mb4 br3 bg-white">
        <div class="w-30 vh-75 ml20">
            {{component (concat "gh-launch-wizard/" this.step)
                nextStep=this.nextStep
                backStep=this.backStep
                skipStep=this.skipStep
                refreshPreview=this.refreshPreview
                updatePreview=this.updatePreview
            }}
        </div>

        <div class="relative flex-grow-1 mt10 mr20">
            <GhBrowserPreview @icon={{this.settings.icon}} @title={{this.config.blogTitle}}>
                <GhSiteIframe class="gh-launch-wizard-preview" @src={{this.previewSrc}} @guid={{this.previewGuid}}></GhSiteIframe>
            </GhBrowserPreview>
        </div>
    </div>
</div>