<section class="gh-canvas gh-members-activity {{if this.memberRecord "gh-members-activity-single"}}">
    <GhCanvasHeader class="gh-canvas-header break tablet members-header">
        <h2 class="gh-canvas-title" data-test-screen-title>
            <LinkTo @route="members-activity" @query={{reset-query-params "members-activity"}} data-test-link="members-activity-back">Activity</LinkTo>
            {{#if this.memberRecord}}
                <span>{{svg-jar "arrow-right"}}</span>
                <span class="truncate">{{or this.memberRecord.name this.memberRecord.email}}</span>
            {{/if}}
        </h2>

        <div class="view-actions">
            <div class="view-actions-top-row">
                <MembersActivity::EventTypeFilter
                    @excludedEvents={{this.excludedEvents}}
                    @hiddenEvents={{this.hiddenEvents}}
                    @onChange={{this.changeExcludedEvents}} />

                <MembersActivity::MemberFilter
                    @selected={{this.memberRecord}}
                    @onChange={{this.changeMember}} />
            </div>
        </div>
    </GhCanvasHeader>

    <div class="view-container">
        <div class="gh-list-scrolling">
            {{#if this.memberRecord}}
                <LinkTo @route="member" @model={{this.memberRecord}}>
                    <GhMemberDetails @member={{this.memberRecord}} />
                </LinkTo>
            {{/if}}
            {{#let (members-event-fetcher filter=(members-event-filter excludedEvents=this.fullExcludedEvents member=this.member) pageSize=50) as |eventsFetcher|}}
                {{#if eventsFetcher.data}}
                    <MembersActivity::Table @hideMemberColumn={{if this.member true}} @events={{eventsFetcher.data}} />

                    {{#unless (or eventsFetcher.isLoading eventsFetcher.hasReachedEnd)}}
                        <GhScrollTrigger @enter={{eventsFetcher.loadNextPage}} @triggerOffset={{250}} />
                    {{/unless}}
                {{else unless eventsFetcher.isLoading}}
                    <MembersActivity::NoEvents @filter={{this.filter}} />
                {{/if}}

                {{#if eventsFetcher.isLoading}}
                    <div class="relative h30"><GhLoadingSpinner /></div>
                {{/if}}
            {{/let}}
        </div>
    </div>
</section>

{{outlet}}