<section class="gh-canvas gh-members-activity {{if this.memberRecord "gh-members-activity-single"}}">
    <GhCanvasHeader class="gh-canvas-header break tablet members-header">
        <h2 class="gh-canvas-title" data-test-screen-title>
            {{#if this.memberRecord}}
                <LinkTo @route="members-activity" @query={{reset-query-params "members-activity"}} data-test-link="members-activity-back">Members activity</LinkTo>
            {{else}}
                Members activity
            {{/if}}
        </h2>

        <div class="view-actions">
            <div class="view-actions-top-row">
                <MembersActivity::EventTypeFilter
                    @excludedEvents={{this.excludedEvents}}
                    @hideMemberOnlyEvents={{not this.member}}
                    @onChange={{this.changeExcludedEvents}} />

                <MembersActivity::MemberFilter
                    @selected={{this.memberRecord}}
                    @onChange={{this.changeMember}} />
            </div>
        </div>
    </GhCanvasHeader>

    <div class="view-container">
        {{#if this.memberRecord}}
            <GhMemberDetails @member={{this.memberRecord}} />
        {{/if}}

        {{#let (members-event-fetcher filter=this.filter pageSize=50) as |eventsFetcher|}}
            <div class="gh-list-scrolling">
                {{#if eventsFetcher.data}}
                    <MembersActivity::Table @hideMemberColumn={{if this.member true}} @events={{eventsFetcher.data}} />

                    {{#unless (or eventsFetcher.isLoading eventsFetcher.hasReachedEnd)}}
                        <GhScrollTrigger @enter={{eventsFetcher.loadNextPage}} @triggerOffset={{250}} />
                    {{/unless}}
                {{else unless eventsFetcher.isLoading}}
                    <MembersActivity::NoEvents @filter={{this.filter}} />
                {{/if}}

                {{#if eventsFetcher.isLoading}}
                    <div class="relative h30"><GhLoadingSpinner /></div>
                {{/if}}
            </div>
        {{/let}}
    </div>
</section>

{{outlet}}