<section class="gh-canvas">
    <form class="mb15" {{action (perform "save") on="submit"}}>
        <GhCanvasHeader class="gh-canvas-header">
            <h2 class="gh-canvas-title" data-test-screen-title>
                {{#link-to "members" data-test-link="members-back"}}Members{{/link-to}}
                <span>{{svg-jar "arrow-right"}}</span>
                {{member.email}}
            </h2>
            <section class="view-actions">
                {{gh-task-button task=save class="gh-btn gh-btn-blue gh-btn-icon" data-test-button="save"}}
            </section>
        </GhCanvasHeader>
        {{gh-member-settings-form member=member
            setProperty=(action "setProperty")
            showDeleteTagModal=(action "toggleDeleteTagModal")}}
    </form>
        <button
            type="button"
            class="gh-btn gh-btn-red gh-btn-icon mt3"
            {{action (toggle "showDeleteMemberModal" this)}}
            data-test-button="delete-member"
        >
            <span>Delete member</span>
        </button>
</section>

{{#if showDeleteMemberModal}}
    {{gh-fullscreen-modal "delete-member"
        model=(hash member=member onSuccess=(action "finaliseDeletion"))
        close=(action (toggle "showDeleteMemberModal" this))
        modifier="action wide"}}
{{/if}}
