<section class="gh-canvas">
    <GhCanvasHeader class="gh-canvas-header">
        <h2 class="gh-canvas-title" data-test-screen-title>Members</h2>
        <div>
            <GhTextInput placeholder="Search members..." @value={{this.searchText}}
                @input={{action (mut this.searchText) value="target.value"}} />
        </div>
    </GhCanvasHeader>
    <section class="view-container h-100">

        <div class="flex justify-between items-center">
            <h2 class="f-small fw5 midlightgrey ttu">
                {{#if this.searchText}}
                    Search result
                {{else}}
                    All members
                    {{#if this.fetchMembers.lastSuccessful}}
                        ({{this.meta.pagination.total}})
                    {{else}}
                        (Loading...)
                    {{/if}}
                {{/if}}
            </h2>
        </div>

            <section class="content-list">
                <ol class="members-list gh-list">
                    {{#if filteredMembers}}
                        {{#vertical-collection
                                    items=filteredMembers
                                    key="id"
                                    containerSelector=".gh-main"
                                    estimateHeight=60
                                    bufferSize=20
                                    as |member|
                                }}
                        {{gh-members-list-item
                                        member=member
                                        data-test-member-id=member.id
                                    }}
                        {{/vertical-collection}}
                    {{else}}
                        {{#if this.fetchMembers.isRunning}}
                            <div class="gh-content">
                                <GhLoadingSpinner />
                            </div>
                        {{else}}
                            <li class="no-posts-box">
                                <div class="no-posts">
                                    {{svg-jar "tags-placeholder" class="gh-tags-placeholder"}}
                                    <h3>No members found!</h3>
                                </div>
                            </li>
                        {{/if}}
                    {{/if}}
                </ol>
            </section>
    </section>
</section>