<section class="gh-canvas">
    <form class="mb15 member-basic-info-form" {{action (perform "save") on="submit"}}>
        <GhCanvasHeader class="gh-canvas-header">
            <h2 class="gh-canvas-title" data-test-screen-title>
                {{#link-to "members" data-test-link="members-back"}}Members{{/link-to}}
                <span>{{svg-jar "arrow-right"}}</span>
                {{member.email}}
            </h2>
        </GhCanvasHeader>
        <div class="member-detail-main-info">
            <GhMemberAvatar @member={{member}} @sizeClass={{'f-headline fw6'}} class="w16 h16 mr4" />
            <div class="apps-card-meta">
                <h3 class="apps-card-app-title">{{member.email}}</h3>
                <p class="apps-card-app-desc">{{this.subscribedAt}}</p>
            </div>
        </div>
        {{gh-member-settings-form member=member
            setProperty=(action "setProperty")
            showDeleteTagModal=(action "toggleDeleteTagModal")}}
    </form>
        <button
            type="button"
            class="gh-btn gh-btn-red gh-btn-icon mt3"
            {{action (toggle "showDeleteMemberModal" this)}}
            data-test-button="delete-member"
        >
            <span>Delete member</span>
        </button>
</section>

{{#if showDeleteMemberModal}}
    {{gh-fullscreen-modal "delete-member"
        model=(hash member=member onSuccess=(action "finaliseDeletion"))
        close=(action (toggle "showDeleteMemberModal" this))
        modifier="action wide"}}
{{/if}}
