<section class="gh-canvas">
    <GhCanvasHeader class="gh-canvas-header">
        <h2 class="gh-canvas-title" data-test-screen-title>
            Settings
        </h2>
    </GhCanvasHeader>

    <section class="view-container">
        <div class="gh-settings-main-grid">
            <LinkTo class="gh-setting-group" @route="settings.general" data-test-nav="settings">
                {{svg-jar "page"}}
                <div>
                    <h4>General</h4>
                    <p>Update basic publication details, and generic site metadata</p>
                </div>
            </LinkTo>
            <LinkTo class="gh-setting-group" @route="settings.theme" data-test-nav="theme">
                {{svg-jar "paintbrush"}}
                <div>
                    <h4>Theme</h4>
                    <p>Install and update site theme</p>
                </div>
            </LinkTo>
            <LinkTo class="gh-setting-group" @route="settings.design" data-test-nav="design">
                {{svg-jar "paintbrush"}}
                <div>
                    <h4>Design</h4>
                    <p>Upload your site icon, logo and set accent color</p>
                </div>
            </LinkTo>
            <LinkTo class="gh-setting-group" @route="settings.members" data-test-nav="design">
                {{svg-jar "members"}}
                <div>
                    <h4>Members</h4>
                    <p>Connect to Stripe, customise Portal and set up membership details</p>
                </div>
            </LinkTo>
            <LinkTo class="gh-setting-group" @route="settings.integrations" @current-when={{this.isIntegrationRoute}} data-test-nav="integrations">
                {{svg-jar "modules"}}
                <div>
                    <h4>Integrations</h4>
                    <p>Integrate third party apps and services with your Ghost site</p>
                </div>
            </LinkTo>
            <LinkTo class="gh-setting-group" @route="settings.code-injection" data-test-nav="code-injection">
                {{svg-jar "brackets"}}
                <div>
                    <h4>Code injection</h4>
                    <p>Add code to the header or footer of your publication</p>
                </div>
            </LinkTo>
            <LinkTo class="gh-setting-group" @route="settings.labs" data-test-nav="labs">
                {{svg-jar "labs"}}
                <div>
                    <h4>Labs</h4>
                    <p>Testing ground for new or experimental features</p>
                </div>
            </LinkTo>
            <div class="gh-setting-group"></div>
            <div class="gh-setting-group"></div>
        </div>
    </section>
</section>