<div class="gh-flow">
    <header class="gh-flow-head">
        <nav class="gh-flow-nav">
            {{#if this.showBackLink}}
                <LinkTo @route={{this.backRoute}} @classNames="gh-flow-back">{{svg-jar "arrow-left-small"}} Back</LinkTo>
            {{/if}}
            <ol>
                <GhActivatingListItem @route="setup.one" @linkClasses="step">
                    {{svg-jar "check-circle"}}<span class="num">1</span>
                </GhActivatingListItem>
                <li class="divider"></li>
                <GhActivatingListItem @route="setup.two" @linkClasses="step">
                    {{svg-jar "check-circle"}}<span class="num">2</span>
                </GhActivatingListItem>
                <li class="divider"></li>
                <GhActivatingListItem @route="setup.three" @linkClasses="step">
                    {{svg-jar "check-circle"}}<span class="num">3</span>
                </GhActivatingListItem>
            </ol>
        </nav>
    </header>
    <div class="gh-flow-content-wrap">
        <section class="gh-flow-content">
            {{outlet}}
        </section>
    </div>
</div>
