<section class="gh-canvas gh-canvas-sticky">
    <GhCanvasHeader class="gh-canvas-header sticky break tablet post-header">
        <GhCustomViewTitle @title="Stats" />
            <div class="gh-dashboard-select">
                <PowerSelect
                    @selected={{this.selectedDaysOption}}
                    @options={{this.daysOptions}}
                    @searchEnabled={{false}}
                    @onChange={{this.onDaysChange}}
                    @triggerComponent={{component "gh-power-select/trigger"}}
                    @triggerClass="gh-contentfilter-menu-trigger"
                    @dropdownClass="gh-contentfilter-menu-dropdown is-narrow"
                    @matchTriggerWidth={{false}}
                    @horizontalPosition="right"
                    as |option|
                >
                    {{#if option.name}}{{option.name}}{{else}}<span class="red">Unknown option</span>{{/if}}
                </PowerSelect>
            </div>
    </GhCanvasHeader>

    <Stats::Charts::TopLocations @chartDays={{this.chartDays}} />

</section>