<!DOCTYPE html>
<html lang="{{@site.locale}}"{{#match @custom.color_scheme "Dark"}} class="dark-mode"{{/match}}{{#match @custom.color_scheme "Auto"}} class="auto-color"{{/match}}>
<head>

    {{!-- Basic meta - advanced meta is output with {ghost_head} below --}}
    <title>{{meta_title}}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1" />

    <style>
        :root {
            {{#if @custom.header_button_background}}
            --button-bg-color: {{@custom.header_button_background}};
            {{/if}}
            --button-text-color: {{#match @custom.header_button_text_color "Light"}}#fff{{else}}var(--color-darkgrey){{/match}};
        }
    </style>

    {{!-- Theme assets - use the {asset} helper to reference styles & scripts,
    this will take care of caching and cache-busting automatically --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.min.css"}}" />

    {{!-- This tag outputs all your advanced SEO meta, structured data, and other important settings,
    it should always be the last tag before the closing head tag --}}
    {{ghost_head}}

</head>
<body class="{{body_class}}{{#match @custom.title_font "=" "Elegant serif"}} has-serif-title{{/match}}{{#match @custom.body_font "=" "Modern sans-serif"}} has-sans-body{{/match}}">

  <!-- MOBILE MENU WRAP -->
  <div class="mobile-menu-wrap">
    <!-- CROSS ICON -->
    <svg class="cross-icon big mobile-menu-close">
      <use xlink:href="#svg-cross-big"></use>
    </svg>
    <!-- /CROSS ICON -->

    <!-- LOGO IMG -->
    <figure class="logo-img">
      <img src="{{@site.logo}}" alt="{{@site.title}}">
    </figure>
    <!-- /LOGO IMG -->

    <!-- MOBILE MENU -->
    <ul class="mobile-menu">
      <!-- MOBILE MENU ITEM -->
      <li class="mobile-menu-item">
        <a href="/" class="mobile-menu-item-link">Home</a>
      </li>
      <!-- /MOBILE MENU ITEM -->

      <!-- MOBILE MENU ITEM -->
      <li class="mobile-menu-item">
        <a href="/" class="mobile-menu-item-link">Games</a>
      </li>
      <!-- /MOBILE MENU ITEM -->

      <!-- MOBILE MENU ITEM -->
      <li class="mobile-menu-item">
        <a href="/news" class="mobile-menu-item-link">News</a>
      </li>
      <!-- /MOBILE MENU ITEM -->

      <!-- MOBILE MENU ITEM -->
      <li class="mobile-menu-item">
        <a href="/videos" class="mobile-menu-item-link">Videos</a>
      </li>
      <!-- /MOBILE MENU ITEM -->
    </ul>
    <!-- /MOBILE MENU -->
  </div>
  <!-- /MOBILE MENU WRAP -->

  <!-- HEADER WRAP -->
  <div class="header-wrap">
    <!-- HEADER -->
    <div class="header grid-limit">
      <!-- WIDGET SELECTABLES -->
      <div class="widget-selectables">
        <!-- WIDGET OPTIONS WRAP -->
        <div class="widget-options-wrap">
          <!-- CURRENT OPTION -->
          <div id="lang-dropdown-trigger" class="current-option">
             <!-- CURRENT OPTION VALUE -->
            <div id="lang-dropdown-option-value" class="current-option-value">
              <img class="widget-option-img" src="{{asset "img/flags/flag-us.png"}}" alt="flag-us">
              <p class="widget-option-text">English</p>
            </div>
            <!-- /CURRENT OPTION VALUE -->

            <!-- ARROW ICON -->
            <svg class="arrow-icon">
              <use xlink:href="#svg-arrow"></use>
            </svg>
            <!-- /ARROW ICON -->
          </div>
          <!-- /CURRENT OPTION -->

          <!-- WIDGET OPTIONS -->
          <div id="lang-dropdown" class="widget-options small">
            <!-- WIDGET OPTION -->
            <div class="widget-option">
              <img class="widget-option-img" src="{{asset "img/flags/flag-us.png"}}" alt="flag-us">
              <p class="widget-option-text">English</p>
            </div>
            <!-- /WIDGET OPTION -->

            <!-- WIDGET OPTION -->
            <div class="widget-option">
              <img class="widget-option-img" src="{{asset "img/flags/flag-es.png"}}" alt="flag-es">
              <p class="widget-option-text">Spanish</p>
            </div>
            <!-- /WIDGET OPTION -->
          </div>
          <!-- /WIDGET OPTIONS -->
        </div>
        <!-- /WIDGET OPTIONS WRAP -->

        <!-- WIDGET OPTIONS WRAP -->
        <div class="widget-options-wrap">
          <!-- CURRENT OPTION -->
          <div id="curr-dropdown-trigger" class="current-option">
            <p class="widget-option-text currency-text-info">Currency:</p>
            <!-- CURRENT OPTION VALUE -->
            <div id="curr-dropdown-option-value" class="current-option-value highlighted">
              <p class="widget-option-text">U$D</p>
            </div>
            <!-- /CURRENT OPTION VALUE -->

            <!-- ARROW ICON -->
            <svg class="arrow-icon">
              <use xlink:href="#svg-arrow"></use>
            </svg>
            <!-- /ARROW ICON -->
          </div>
          <!-- /CURRENT OPTION -->

          <!-- WIDGET OPTIONS -->
          <div id="curr-dropdown" class="widget-options small short">
            <!-- WIDGET OPTION -->
            <div class="widget-option">
              <p class="widget-option-text">U$D</p>
            </div>
            <!-- /WIDGET OPTION -->

            <!-- WIDGET OPTION -->
            <div class="widget-option">
              <p class="widget-option-text">Euros</p>
            </div>
            <!-- /WIDGET OPTION -->

            <!-- WIDGET OPTION -->
            <div class="widget-option">
              <p class="widget-option-text">Pesos</p>
            </div>
            <!-- /WIDGET OPTION -->
          </div>
          <!-- /WIDGET OPTIONS -->
        </div>
        <!-- /WIDGET OPTIONS WRAP -->
      </div>
      <!-- /WIDGET SELECTABLES -->

      <!-- WIDGET SELECTABLES -->
      <div class="widget-selectables">
        <!-- WIDGET OPTIONS WRAP -->
        <div class="widget-options-wrap">
          <!-- CURRENT OPTION -->
          <div id="account-dropdown-trigger" class="current-option">
            <!-- CURRENT OPTION VALUE -->
            <div class="current-option-value">
              <img class="widget-option-img user-avatar micro" src="{{asset "img/users/05.jpg"}}" alt="avatar-01">
              <p class="widget-option-text">James_Spiegel</p>
            </div>
            <!-- /CURRENT OPTION VALUE -->

            <!-- ARROW ICON -->
            <svg class="arrow-icon">
              <use xlink:href="#svg-arrow"></use>
            </svg>
            <!-- /ARROW ICON -->
          </div>
          <!-- /CURRENT OPTION -->

          <!-- WIDGET OPTIONS -->
          <div id="account-dropdown" class="widget-options short linkable">
            <!-- WIDGET OPTION HEADING -->
            <div class="widget-option-heading blue">
              <p class="widget-option-text">Main Account</p>
            </div>
            <!-- /WIDGET OPTION HEADING -->

            <!-- WIDGET OPTION -->
            <a href="account-settings.html" class="widget-option">
              <p class="widget-option-text">Account Settings</p>
            </a>
            <!-- /WIDGET OPTION -->

            <!-- WIDGET OPTION -->
            <a href="#" class="widget-option">
              <p class="widget-option-text">Shipping Details</p>
            </a>
            <!-- /WIDGET OPTION -->

            <!-- WIDGET OPTION -->
            <a href="#" class="widget-option">
              <p class="widget-option-text">Billing Details</p>
            </a>
            <!-- /WIDGET OPTION -->

            <!-- WIDGET OPTION -->
            <a href="orders-history.html" class="widget-option">
              <p class="widget-option-text">Orders History</p>
            </a>
            <!-- /WIDGET OPTION -->

            <!-- WIDGET OPTION HEADING -->
            <div class="widget-option-heading red">
              <p class="widget-option-text">Pixel Forums</p>
            </div>
            <!-- /WIDGET OPTION HEADING -->

            <!-- WIDGET OPTION -->
            <a href="profile-summary.html" class="widget-option">
              <p class="widget-option-text">Summary</p>
            </a>
            <!-- /WIDGET OPTION -->

            <!-- WIDGET OPTION -->
            <a href="profile-activity.html" class="widget-option">
              <p class="widget-option-text">Activity</p>
            </a>
            <!-- /WIDGET OPTION -->

            <!-- WIDGET OPTION -->
            <a href="profile-notifications.html" class="widget-option">
              <p class="widget-option-text">Notifications</p>
            </a>
            <!-- /WIDGET OPTION -->

            <!-- WIDGET OPTION -->
            <a href="profile-messages.html" class="widget-option">
              <p class="widget-option-text">Messages</p>
            </a>
            <!-- /WIDGET OPTION -->

            <!-- WIDGET OPTION -->
            <a href="profile-badges.html" class="widget-option">
              <p class="widget-option-text">Profile Badges</p>
            </a>
            <!-- /WIDGET OPTION -->

            <!-- WIDGET OPTION -->
            <a href="profile-settings.html" class="widget-option">
              <p class="widget-option-text">Settings</p>
            </a>
            <!-- /WIDGET OPTION -->
          </div>
          <!-- /WIDGET OPTIONS -->
        </div>
        <!-- /WIDGET OPTIONS WRAP -->

        <!-- WIDGET OPTIONS WRAP -->
        <div class="widget-options-wrap">
          <!-- CURRENT OPTION -->
          <a href="wishlist.html">
          <div class="current-option">
            <!-- CURRENT OPTION VALUE -->
            <div class="current-option-value">
              <i class="icon-heart widget-option-icon"></i>
              <p class="widget-option-text">Wishlist <span class="quantity">(5)</span></p>
            </div>
            <!-- /CURRENT OPTION VALUE -->
          </div>
          </a>
          <!-- /CURRENT OPTION -->
        </div>
        <!-- /WIDGET OPTIONS WRAP -->

        <!-- WIDGET OPTIONS WRAP -->
        <div class="widget-options-wrap">
          <!-- CURRENT OPTION -->
          <a href="product-compare.html">
          <div class="current-option">
            <!-- CURRENT OPTION VALUE -->
            <div class="current-option-value">
              <i class="icon-tag widget-option-icon"></i>
              <p class="widget-option-text">Compare <span class="quantity">(2)</span></p>
            </div>
            <!-- /CURRENT OPTION VALUE -->
          </div>
          </a>
          <!-- /CURRENT OPTION -->
        </div>
        <!-- /WIDGET OPTIONS WRAP -->

        <!-- BUTTON -->
        <a href="#" class="button tiny red log-button">
            Logout
            <!-- BUTTON ORNAMENT -->
            <div class="button-ornament">
              <!-- ARROW ICON -->
              <svg class="arrow-icon">
                <use xlink:href="#svg-arrow"></use>
              </svg>
              <!-- /ARROW ICON -->
            </div>
            <!-- /BUTTON ORNAMENT -->
          </a>
          <!-- /BUTTON -->
      </div>
      <!-- /WIDGET SELECTABLES -->
    </div>
    <!-- /HEADER -->
  </div>
  <!-- /HEADER WRAP -->

  <!-- NAVIGATION WRAP -->
  <nav class="navigation-wrap">
    <!-- NAVIGATION -->
    <div class="navigation grid-limit">
      <!-- LOGO -->
      <div class="logo">
        <!-- LOGO IMG -->
        <figure class="logo-img">
          <img src="{{@site.logo}}" alt="{{@site.title}}">
        </figure>
        <!-- /LOGO IMG -->

        <!-- LOGO TEXT -->
        <div class="logo-text">
          <h2 class="logo-title">Mango<span class="highlight">Gaming</span></h2>
          <p class="logo-info">{{@site.description}}</p>
        </div>
        <!-- /LOGO TEXT -->
      </div>
      <!-- /LOGO -->

      <!-- MAIN MENU -->
      <ul class="main-menu">
        <!-- MAIN MENU ITEM -->
        <li class="main-menu-item">
          <a href="/" class="main-menu-item-link">Home</a>
        </li>
        <!-- /MAIN MENU ITEM -->

        <!-- MAIN MENU ITEM -->
        <li class="main-menu-item">
          <a href="/games" class="main-menu-item-link">
            Games
          </a>
        </li>
        <!-- /MAIN MENU ITEM -->

        <!-- MAIN MENU ITEM -->
        <li class="main-menu-item">
          <a href="/news" class="main-menu-item-link">News</a>
        </li>
        <!-- /MAIN MENU ITEM -->

        <!-- MAIN MENU ITEM -->
        <li class="main-menu-item">
          <a href="/videos" class="main-menu-item-link">Videos</a>
        </li>
        <!-- /MAIN MENU ITEM -->
      </ul>
      <!-- /MAIN MENU -->
    </div>
    <!-- NAVIGATION -->
  </nav>
  <!-- /NAVIGATION WRAP -->

  <!-- MOBILE MENU PULL -->
  <div class="mobile-menu-pull mobile-menu-open">
    <!-- MENU PULL ICON -->
    <svg class="menu-pull-icon">
      <use xlink:href="#svg-menu-pull"></use>
    </svg>
    <!-- /MENU PULL ICON -->
  </div>
  <!-- /MOBILE MENU PULL -->

  {{{body}}}

  <!-- FOOTER TOP WRAP -->
  <div class="footer-top-wrap">
    <!-- FOOTER TOP -->
    <div class="footer-top grid-limit">
      <!-- FOOTER TOP BRAND -->
      <div class="footer-top-brand">
        <!-- LOGO -->
        <div class="logo negative">
          <!-- LOGO IMG -->
          <figure class="logo-img">
            <img src="img/brand/logo.png" alt="Logo">
          </figure>
          <!-- /LOGO IMG -->

          <!-- LOGO TEXT -->
          <div class="logo-text">
            <h2 class="logo-title">Pixel<span class="highlight">Diamond</span></h2>
            <p class="logo-info">The Latest Gaming News</p>
          </div>
          <!-- /LOGO TEXT -->
        </div>
        <!-- /LOGO -->

        <!-- SPONSORS SLIDER WRAP -->
        <div class="sponsors-slider-wrap">
          <!-- SPONSORS SLIDER CONTROLS -->
          <div id="footer-sponsor-slider-controls" class="sponsors-slider-controls">
            <div class="sponsors-slider-control control-previous">
              <!-- ARROW ICON -->
              <svg class="arrow-icon medium">
                <use xlink:href="#svg-arrow-medium"></use>
              </svg>
              <!-- /ARROW ICON -->
            </div>
            <div class="sponsors-slider-control control-next">
              <!-- ARROW ICON -->
              <svg class="arrow-icon medium">
                <use xlink:href="#svg-arrow-medium"></use>
              </svg>
              <!-- /ARROW ICON -->
            </div>
          </div>
          <!-- /SPONSORS SLIDER CONTROLS -->

          <!-- SPONSORS SLIDER -->
          <div id="footer-sponsor-slider" class="sponsors-slider">
            <!-- SPONSORS SLIDER ITEMS -->
            <div class="sponsors-slider-items">
              <!-- SPONSORS SLIDER ITEM -->
              <div class="sponsors-slider-item">
                <img class="sponsor-img" src="img/sponsors/sponsor01.png" alt="sponsor01">
              </div>
              <!-- /SPONSORS SLIDER ITEM -->

              <!-- SPONSORS SLIDER ITEM -->
              <div class="sponsors-slider-item">
                <img class="sponsor-img" src="img/sponsors/sponsor02.png" alt="sponsor02">
              </div>
              <!-- /SPONSORS SLIDER ITEM -->

              <!-- SPONSORS SLIDER ITEM -->
              <div class="sponsors-slider-item">
                <img class="sponsor-img" src="img/sponsors/sponsor03.png" alt="sponsor03">
              </div>
              <!-- /SPONSORS SLIDER ITEM -->

              <!-- SPONSORS SLIDER ITEM -->
              <div class="sponsors-slider-item">
                <img class="sponsor-img" src="img/sponsors/sponsor04.png" alt="sponsor04">
              </div>
              <!-- /SPONSORS SLIDER ITEM -->

              <!-- SPONSORS SLIDER ITEM -->
              <div class="sponsors-slider-item">
                <img class="sponsor-img" src="img/sponsors/sponsor05.png" alt="sponsor05">
              </div>
              <!-- /SPONSORS SLIDER ITEM -->

              <!-- SPONSORS SLIDER ITEM -->
              <div class="sponsors-slider-item">
                <img class="sponsor-img" src="img/sponsors/sponsor06.png" alt="sponsor06">
              </div>
              <!-- /SPONSORS SLIDER ITEM -->
            </div>
            <!-- /SPONSORS SLIDER ITEMS -->
          </div>
          <!-- /SPONSORS SLIDER -->
        </div>
        <!-- /SPONSORS SLIDER WRAP -->

        <!-- SOCIAL LINKS -->
        <div class="social-links">
          <!-- BUBBLE ORNAMENT -->
          <a href="#" class="bubble-ornament fb">
            <!-- FACEBOOK ICON -->
            <svg class="facebook-icon">
              <use xlink:href="#svg-facebook"></use>
            </svg>
            <!-- /FACEBOOK ICON -->
          </a>
          <!-- /BUBBLE ORNAMENT -->

          <!-- BUBBLE ORNAMENT -->
          <a href="#" class="bubble-ornament twt">
            <!-- TWITTER ICON -->
            <svg class="twitter-icon">
              <use xlink:href="#svg-twitter"></use>
            </svg>
            <!-- /TWITTER ICON -->
          </a>
          <!-- /BUBBLE ORNAMENT -->

          <!-- BUBBLE ORNAMENT -->
          <a href="#" class="bubble-ornament insta">
            <!-- INSTAGRAM ICON -->
            <svg class="instagram-icon">
              <use xlink:href="#svg-instagram"></use>
            </svg>
            <!-- /INSTAGRAM ICON -->
          </a>
          <!-- /BUBBLE ORNAMENT -->

          <!-- BUBBLE ORNAMENT -->
          <a href="#" class="bubble-ornament twitch">
            <!-- TWITCH ICON -->
            <svg class="twitch-icon">
              <use xlink:href="#svg-twitch"></use>
            </svg>
            <!-- /TWITCH ICON -->
          </a>
          <!-- /BUBBLE ORNAMENT -->

          <!-- BUBBLE ORNAMENT -->
          <a href="#" class="bubble-ornament gplus">
            <!-- GPLUS ICON -->
            <svg class="gplus-icon">
              <use xlink:href="#svg-gplus"></use>
            </svg>
            <!-- /GPLUS ICON -->
          </a>
          <!-- /BUBBLE ORNAMENT -->

          <!-- BUBBLE ORNAMENT -->
          <a href="#" class="bubble-ornament youtube">
            <!-- YOUTUBE ICON -->
            <svg class="youtube-icon">
              <use xlink:href="#svg-youtube"></use>
            </svg>
            <!-- /YOUTUBE ICON -->
          </a>
          <!-- /BUBBLE ORNAMENT -->
        </div>
        <!-- /SOCIAL LINKS -->
      </div>
      <!-- /FOOTER TOP BRAND -->

      <!-- LINE SEPARATOR -->
      <div class="line-separator negative"></div>

      <!-- FOOTER TOP WIDGETS -->
      <div class="footer-top-widgets grid-4col centered gutter-big">
        <!-- FOOTER TOP WIDGET -->
        <div class="footer-top-widget">
          <!-- SECTION TITLE WRAP -->
          <div class="section-title-wrap blue negative">
            <h2 class="section-title">Pixel Diamond</h2>
            <div class="section-title-separator"></div>
          </div>
          <!-- /SECTION TITLE WRAP -->

          <!-- LINK SECTION -->
          <div class="link-section">
            <!-- LINK LIST -->
            <ul class="link-list small v2 negative">
              <!-- LINK LIST ITEM -->
              <li class="link-list-item">
                <a href="index.html">
                  <!-- ARROW ICON -->
                  <svg class="arrow-icon medium">
                    <use xlink:href="#svg-arrow-medium"></use>
                  </svg>
                  <!-- /ARROW ICON -->
                  Home
                </a>
              </li>
              <!-- /LINK LIST ITEM -->

              <!-- LINK LIST ITEM -->
              <li class="link-list-item">
                <a href="home-v2.html">
                  <!-- ARROW ICON -->
                  <svg class="arrow-icon medium">
                    <use xlink:href="#svg-arrow-medium"></use>
                  </svg>
                  <!-- /ARROW ICON -->
                  Home V2
                </a>
              </li>
              <!-- /LINK LIST ITEM -->

              <!-- LINK LIST ITEM -->
              <li class="link-list-item">
                <a href="home-v3.html">
                  <!-- ARROW ICON -->
                  <svg class="arrow-icon medium">
                    <use xlink:href="#svg-arrow-medium"></use>
                  </svg>
                  <!-- /ARROW ICON -->
                  Home V3
                </a>
              </li>
              <!-- /LINK LIST ITEM -->

              <!-- LINK LIST ITEM -->
              <li class="link-list-item">
                <a href="news-v1.html">
                  <!-- ARROW ICON -->
                  <svg class="arrow-icon medium">
                    <use xlink:href="#svg-arrow-medium"></use>
                  </svg>
                  <!-- /ARROW ICON -->
                  News V1
                </a>
              </li>
              <!-- /LINK LIST ITEM -->

              <!-- LINK LIST ITEM -->
              <li class="link-list-item">
                <a href="news-v2.html">
                  <!-- ARROW ICON -->
                  <svg class="arrow-icon medium">
                    <use xlink:href="#svg-arrow-medium"></use>
                  </svg>
                  <!-- /ARROW ICON -->
                  News V2
                </a>
              </li>
              <!-- /LINK LIST ITEM -->

              <!-- LINK LIST ITEM -->
              <li class="link-list-item">
                <a href="news-v3.html">
                  <!-- ARROW ICON -->
                  <svg class="arrow-icon medium">
                    <use xlink:href="#svg-arrow-medium"></use>
                  </svg>
                  <!-- /ARROW ICON -->
                  News V3
                </a>
              </li>
              <!-- /LINK LIST ITEM -->

              <!-- LINK LIST ITEM -->
              <li class="link-list-item">
                <a href="news-v4.html">
                  <!-- ARROW ICON -->
                  <svg class="arrow-icon medium">
                    <use xlink:href="#svg-arrow-medium"></use>
                  </svg>
                  <!-- /ARROW ICON -->
                  News V4
                </a>
              </li>
              <!-- /LINK LIST ITEM -->

              <!-- LINK LIST ITEM -->
              <li class="link-list-item">
                <a href="post-v1.html">
                  <!-- ARROW ICON -->
                  <svg class="arrow-icon medium">
                    <use xlink:href="#svg-arrow-medium"></use>
                  </svg>
                  <!-- /ARROW ICON -->
                  Post Page V1
                </a>
              </li>
              <!-- /LINK LIST ITEM -->

              <!-- LINK LIST ITEM -->
              <li class="link-list-item">
                <a href="post-v2.html">
                  <!-- ARROW ICON -->
                  <svg class="arrow-icon medium">
                    <use xlink:href="#svg-arrow-medium"></use>
                  </svg>
                  <!-- /ARROW ICON -->
                  Post Page V2
                </a>
              </li>
              <!-- /LINK LIST ITEM -->
            </ul>
            <!-- /LINK LIST -->

            <!-- LINK LIST -->
            <ul class="link-list small v2 negative">
              <!-- LINK LIST ITEM -->
              <li class="link-list-item">
                <a href="post-v3.html">
                  <!-- ARROW ICON -->
                  <svg class="arrow-icon medium">
                    <use xlink:href="#svg-arrow-medium"></use>
                  </svg>
                  <!-- /ARROW ICON -->
                  Post Page V3
                </a>
              </li>
              <!-- /LINK LIST ITEM -->

              <!-- LINK LIST ITEM -->
              <li class="link-list-item">
                <a href="post-v4.html">
                  <!-- ARROW ICON -->
                  <svg class="arrow-icon medium">
                    <use xlink:href="#svg-arrow-medium"></use>
                  </svg>
                  <!-- /ARROW ICON -->
                  Post Page V4
                </a>
              </li>
              <!-- /LINK LIST ITEM -->

              <!-- LINK LIST ITEM -->
              <li class="link-list-item">
                <a href="forum.html">
                  <!-- ARROW ICON -->
                  <svg class="arrow-icon medium">
                    <use xlink:href="#svg-arrow-medium"></use>
                  </svg>
                  <!-- /ARROW ICON -->
                  Forums
                </a>
              </li>
              <!-- /LINK LIST ITEM -->

              <!-- LINK LIST ITEM -->
              <li class="link-list-item">
                <a href="shop-v1-grid.html">
                  <!-- ARROW ICON -->
                  <svg class="arrow-icon medium">
                    <use xlink:href="#svg-arrow-medium"></use>
                  </svg>
                  <!-- /ARROW ICON -->
                  Shop Page V1
                </a>
              </li>
              <!-- /LINK LIST ITEM -->

              <!-- LINK LIST ITEM -->
              <li class="link-list-item">
                <a href="shop-v2.html">
                  <!-- ARROW ICON -->
                  <svg class="arrow-icon medium">
                    <use xlink:href="#svg-arrow-medium"></use>
                  </svg>
                  <!-- /ARROW ICON -->
                  Shop Page V2
                </a>
              </li>
              <!-- /LINK LIST ITEM -->

              <!-- LINK LIST ITEM -->
              <li class="link-list-item">
                <a href="product-page.html">
                  <!-- ARROW ICON -->
                  <svg class="arrow-icon medium">
                    <use xlink:href="#svg-arrow-medium"></use>
                  </svg>
                  <!-- /ARROW ICON -->
                  Shop Product
                </a>
              </li>
              <!-- /LINK LIST ITEM -->

              <!-- LINK LIST ITEM -->
              <li class="link-list-item">
                <a href="esports-streamers.html">
                  <!-- ARROW ICON -->
                  <svg class="arrow-icon medium">
                    <use xlink:href="#svg-arrow-medium"></use>
                  </svg>
                  <!-- /ARROW ICON -->
                  Streamers
                </a>
              </li>
              <!-- /LINK LIST ITEM -->

              <!-- LINK LIST ITEM -->
              <li class="link-list-item">
                <a href="esports-home.html">
                  <!-- ARROW ICON -->
                  <svg class="arrow-icon medium">
                    <use xlink:href="#svg-arrow-medium"></use>
                  </svg>
                  <!-- /ARROW ICON -->
                  eSports
                </a>
              </li>
              <!-- /LINK LIST ITEM -->

              <!-- LINK LIST ITEM -->
              <li class="link-list-item">
                <a href="esports-widgets-v1.html">
                  <!-- ARROW ICON -->
                  <svg class="arrow-icon medium">
                    <use xlink:href="#svg-arrow-medium"></use>
                  </svg>
                  <!-- /ARROW ICON -->
                  Widgets
                </a>
              </li>
              <!-- /LINK LIST ITEM -->
            </ul>
            <!-- /LINK LIST -->
          </div>
          <!-- /LINK SECTION -->
        </div>
        <!-- FOOTER TOP WIDGET -->

        <!-- FOOTER TOP WIDGET -->
        <div class="footer-top-widget">
          <!-- SECTION TITLE WRAP -->
          <div class="section-title-wrap red negative">
            <h2 class="section-title">Latest Reviews</h2>
            <div class="section-title-separator"></div>
          </div>
          <!-- /SECTION TITLE WRAP -->

          <!-- POST PREVIEW SHOWCASE -->
          <div class="post-preview-showcase grid-1col gutter-small">
            <!-- POST PREVIEW -->
            <div class="post-preview tiny negative game-review">
              <!-- POST PREVIEW IMG WRAP -->
              <a href="post-v2.html">
                <div class="post-preview-img-wrap">
                  <!-- POST PREVIEW IMG -->
                  <figure class="post-preview-img liquid">
                    <img src="img/posts/16.jpg" alt="post-16">
                  </figure>
                  <!-- /POST PREVIEW IMG -->

                  <!-- REVIEW RATING -->
                  <div class="review-rating">
                    <div id="footer-rate-1" class="arc tiny"></div>
                  </div>
                  <!-- /REVIEW RATING -->
                </div>
              </a>
              <!-- /POST PREVIEW IMG WRAP -->

              <!-- POST PREVIEW TITLE -->
              <a href="post-v2.html" class="post-preview-title">We reviewed the new Magimons game</a>
              <!-- POST AUTHOR INFO -->
              <div class="post-author-info-wrap">
                <p class="post-author-info small light">By <a href="search-results.html" class="post-author">Vellatrix</a><span class="separator">|</span>Dec 15th, 2018</p>
              </div>
              <!-- /POST AUTHOR INFO -->
            </div>
            <!-- /POST PREVIEW -->

            <!-- POST PREVIEW -->
            <div class="post-preview tiny negative game-review">
              <!-- POST PREVIEW IMG WRAP -->
              <a href="post-v2.html">
                <div class="post-preview-img-wrap">
                  <!-- POST PREVIEW IMG -->
                  <figure class="post-preview-img liquid">
                    <img src="img/posts/25.jpg" alt="post-25">
                  </figure>
                  <!-- /POST PREVIEW IMG -->

                  <!-- REVIEW RATING -->
                  <div class="review-rating">
                    <div id="footer-rate-2" class="arc tiny"></div>
                  </div>
                  <!-- /REVIEW RATING -->
                </div>
              </a>
              <!-- /POST PREVIEW IMG WRAP -->

              <!-- POST PREVIEW TITLE -->
              <a href="post-v2.html" class="post-preview-title">"Legend of Kenshii II" is a bit green for now</a>
              <!-- POST AUTHOR INFO -->
              <div class="post-author-info-wrap">
                <p class="post-author-info small light">By <a href="search-results.html" class="post-author">Vellatrix</a><span class="separator">|</span>Dec 15th, 2018</p>
              </div>
              <!-- /POST AUTHOR INFO -->
            </div>
            <!-- /POST PREVIEW -->

            <!-- POST PREVIEW -->
            <div class="post-preview tiny negative game-review">
              <!-- POST PREVIEW IMG WRAP -->
              <a href="post-v2.html">
                <div class="post-preview-img-wrap">
                  <!-- POST PREVIEW IMG -->
                  <figure class="post-preview-img liquid">
                    <img src="img/posts/05.jpg" alt="post-05">
                  </figure>
                  <!-- /POST PREVIEW IMG -->

                  <!-- REVIEW RATING -->
                  <div class="review-rating">
                    <div id="footer-rate-3" class="arc tiny"></div>
                  </div>
                  <!-- /REVIEW RATING -->
                </div>
              </a>
              <!-- /POST PREVIEW IMG WRAP -->

              <!-- POST PREVIEW TITLE -->
              <a href="post-v2.html" class="post-preview-title">We reviewed the new and exciting fantasy game "Olympus"</a>
              <!-- POST AUTHOR INFO -->
              <div class="post-author-info-wrap">
                <p class="post-author-info small light">By <a href="search-results.html" class="post-author">Morgana</a><span class="separator">|</span>Dec 15th, 2018</p>
              </div>
              <!-- /POST AUTHOR INFO -->
            </div>
            <!-- /POST PREVIEW -->
          </div>
          <!-- /POST PREVIEW SHOWCASE -->
        </div>
        <!-- FOOTER TOP WIDGET -->

        <!-- FOOTER TOP WIDGET -->
        <div class="footer-top-widget">
          <!-- SECTION TITLE WRAP -->
          <div class="section-title-wrap blue negative">
            <h2 class="section-title">Latest Posts</h2>
            <div class="section-title-separator"></div>
          </div>
          <!-- /SECTION TITLE WRAP -->

          <!-- POST PREVIEW SHOWCASE -->
          <div class="post-preview-showcase grid-1col gutter-small">
            <!-- POST PREVIEW -->
            <div class="post-preview tiny negative gaming-news">
              <!-- POST PREVIEW IMG WRAP -->
              <a href="post-v1.html">
                <div class="post-preview-img-wrap">
                  <!-- POST PREVIEW IMG -->
                  <figure class="post-preview-img liquid">
                    <img src="img/posts/17.jpg" alt="post-17">
                  </figure>
                  <!-- /POST PREVIEW IMG -->
                </div>
              </a>
              <!-- /POST PREVIEW IMG WRAP -->

              <!-- POST PREVIEW TITLE -->
              <a href="post-v1.html" class="post-preview-title">Jazzstar announced that the GTE5 for PC is delayed</a>
              <!-- POST AUTHOR INFO -->
              <div class="post-author-info-wrap">
                <p class="post-author-info small light">By <a href="search-results.html" class="post-author">Dexter</a><span class="separator">|</span>Dec 15th, 2018</p>
              </div>
              <!-- /POST AUTHOR INFO -->
            </div>
            <!-- /POST PREVIEW -->

            <!-- POST PREVIEW -->
            <div class="post-preview tiny negative geeky-news">
              <!-- POST PREVIEW IMG WRAP -->
              <a href="post-v4.html">
                <div class="post-preview-img-wrap">
                  <!-- POST PREVIEW IMG -->
                  <figure class="post-preview-img liquid">
                    <img src="img/posts/02.jpg" alt="post-02">
                  </figure>
                  <!-- /POST PREVIEW IMG -->
                </div>
              </a>
              <!-- /POST PREVIEW IMG WRAP -->

              <!-- POST PREVIEW TITLE -->
              <a href="post-v4.html" class="post-preview-title">Jessica Tam to star in the new "Charlotte" series</a>
              <!-- POST AUTHOR INFO -->
              <div class="post-author-info-wrap">
                <p class="post-author-info small light">By <a href="search-results.html" class="post-author">Vellatrix</a><span class="separator">|</span>Dec 15th, 2018</p>
              </div>
              <!-- /POST AUTHOR INFO -->
            </div>
            <!-- /POST PREVIEW -->

            <!-- POST PREVIEW -->
            <div class="post-preview tiny negative gaming-news">
              <!-- POST PREVIEW IMG WRAP -->
              <a href="post-v1.html">
                <div class="post-preview-img-wrap">
                  <!-- POST PREVIEW IMG -->
                  <figure class="post-preview-img liquid">
                    <img src="img/posts/09.jpg" alt="post-09">
                  </figure>
                  <!-- /POST PREVIEW IMG -->
                </div>
              </a>
              <!-- /POST PREVIEW IMG WRAP -->

              <!-- POST PREVIEW TITLE -->
              <a href="post-v1.html" class="post-preview-title">New "Rizen" game is gonna be released in summer 2019</a>
              <!-- POST AUTHOR INFO -->
              <div class="post-author-info-wrap">
                <p class="post-author-info small light">By <a href="search-results.html" class="post-author">Dexter</a><span class="separator">|</span>Dec 15th, 2018</p>
              </div>
              <!-- /POST AUTHOR INFO -->
            </div>
            <!-- /POST PREVIEW -->
          </div>
          <!-- POST PREVIEW SHOWCASE -->
        </div>
        <!-- FOOTER TOP WIDGET -->

        <!-- FOOTER TOP WIDGET -->
        <div class="footer-top-widget">
          <!-- SECTION TITLE WRAP -->
          <div class="section-title-wrap blue negative">
            <h2 class="section-title">Popular Posts</h2>
            <div class="section-title-separator"></div>
          </div>
          <!-- /SECTION TITLE WRAP -->

          <!-- POST PREVIEW SHOWCASE -->
          <div class="post-preview-showcase grid-1col gutter-small">
            <!-- POST PREVIEW -->
            <div class="post-preview tiny negative gaming-news">
              <!-- POST PREVIEW IMG WRAP -->
              <a href="post-v1.html">
                <div class="post-preview-img-wrap">
                  <!-- POST PREVIEW IMG -->
                  <figure class="post-preview-img liquid">
                    <img src="img/posts/01.jpg" alt="post-01">
                  </figure>
                  <!-- /POST PREVIEW IMG -->
                </div>
              </a>
              <!-- /POST PREVIEW IMG WRAP -->

              <!-- POST PREVIEW TITLE -->
              <a href="post-v1.html" class="post-preview-title">The Clash of Dragons is breaking record sales in USA and Japan</a>
              <!-- POST AUTHOR INFO -->
              <div class="post-author-info-wrap">
                <p class="post-author-info small light">By <a href="search-results.html" class="post-author">Dexter</a><span class="separator">|</span>Dec 15th, 2018</p>
              </div>
              <!-- /POST AUTHOR INFO -->
            </div>
            <!-- /POST PREVIEW -->

            <!-- POST PREVIEW -->
            <div class="post-preview tiny negative game-review">
              <!-- POST PREVIEW IMG WRAP -->
              <a href="post-v2.html">
                <div class="post-preview-img-wrap">
                  <!-- POST PREVIEW IMG -->
                  <figure class="post-preview-img liquid">
                    <img src="img/posts/25.jpg" alt="post-25">
                  </figure>
                  <!-- /POST PREVIEW IMG -->

                  <!-- REVIEW RATING -->
                  <div class="review-rating">
                    <div id="footer-rate-4" class="arc tiny"></div>
                  </div>
                  <!-- /REVIEW RATING -->
                </div>
              </a>
              <!-- /POST PREVIEW IMG WRAP -->

              <!-- POST PREVIEW TITLE -->
              <a href="post-v2.html" class="post-preview-title">"Legend of Kenshii II" is a bit green for now</a>
              <!-- POST AUTHOR INFO -->
              <div class="post-author-info-wrap">
                <p class="post-author-info small light">By <a href="search-results.html" class="post-author">Vellatrix</a><span class="separator">|</span>Dec 15th, 2018</p>
              </div>
              <!-- /POST AUTHOR INFO -->
            </div>
            <!-- /POST PREVIEW -->

            <!-- POST PREVIEW -->
            <div class="post-preview tiny negative movie-news">
              <!-- POST PREVIEW IMG WRAP -->
              <a href="post-v3.html">
                <div class="post-preview-img-wrap">
                  <!-- POST PREVIEW IMG -->
                  <figure class="post-preview-img liquid">
                    <img src="img/posts/12.jpg" alt="post-12">
                  </figure>
                  <!-- /POST PREVIEW IMG -->

                  <!-- RATING ORNAMENT -->
                  <div class="rating-ornament">
                    <!-- RATING ORNAMENT ITEM -->
                    <div class="rating-ornament-item">
                      <!-- RATING ORNAMENT ICON -->
                      <svg class="rating-ornament-icon">
                        <use xlink:href="#svg-star"></use>
                      </svg>
                    </div>
                    <!-- /RATING ORNAMENT ITEM -->

                    <!-- RATING ORNAMENT ITEM -->
                    <div class="rating-ornament-item">
                      <!-- RATING ORNAMENT ICON -->
                      <svg class="rating-ornament-icon">
                        <use xlink:href="#svg-star"></use>
                      </svg>
                    </div>
                    <!-- /RATING ORNAMENT ITEM -->

                      <!-- RATING ORNAMENT ITEM -->
                    <div class="rating-ornament-item">
                      <!-- RATING ORNAMENT ICON -->
                      <svg class="rating-ornament-icon">
                        <use xlink:href="#svg-star"></use>
                      </svg>
                    </div>
                    <!-- /RATING ORNAMENT ITEM -->

                      <!-- RATING ORNAMENT ITEM -->
                    <div class="rating-ornament-item">
                      <!-- RATING ORNAMENT ICON -->
                      <svg class="rating-ornament-icon empty">
                        <use xlink:href="#svg-star"></use>
                      </svg>
                    </div>
                    <!-- /RATING ORNAMENT ITEM -->

                      <!-- RATING ORNAMENT ITEM -->
                    <div class="rating-ornament-item">
                      <!-- RATING ORNAMENT ICON -->
                      <svg class="rating-ornament-icon empty">
                        <use xlink:href="#svg-star"></use>
                      </svg>
                    </div>
                    <!-- /RATING ORNAMENT ITEM -->
                  </div>
                  <!-- /RATING ORNAMENT -->
                </div>
              </a>
              <!-- /POST PREVIEW IMG WRAP -->

              <!-- POST PREVIEW TITLE -->
              <a href="post-v3.html" class="post-preview-title">We reviewed the "Guardians of the Universe" movie</a>
              <!-- POST AUTHOR INFO -->
              <div class="post-author-info-wrap">
                <p class="post-author-info small light">By <a href="search-results.html" class="post-author">Faye V.</a><span class="separator">|</span>Dec 15th, 2018</p>
              </div>
              <!-- /POST AUTHOR INFO -->
            </div>
            <!-- /POST PREVIEW -->
          </div>
          <!-- /POST PREVIEW SHOWCASE -->
        </div>
        <!-- FOOTER TOP WIDGET -->

        <!-- FOOTER TOP WIDGET -->
        <div class="footer-top-widget">
          <!-- SECTION TITLE WRAP -->
          <div class="section-title-wrap green negative">
            <h2 class="section-title">Contact Info</h2>
            <div class="section-title-separator"></div>
          </div>
          <!-- /SECTION TITLE WRAP -->

          <!-- CONTACT INFO PREVIEW -->
          <div class="contact-info-preview negative">
            <p class="contact-info-preview-text">Lorem ipsum dolor sit amet, consectetur dasede do eiusmod <span class="highlighted">tempor</span> unt ut labore et dolore mag lere adveniam, quis rud citation laboris.</p>
            <!-- CONTACT INFO PREVIEW SIGN -->
            <div class="contact-info-preview-sign">
              <!-- BUBBLE ORNAMENT -->
              <div class="bubble-ornament medium green">
                <i class="icon-bubbles bubbles-icon"></i>
              </div>
              <!-- /BUBBLE ORNAMENT -->
              <p class="contact-info-preview-sign-text">Subscribe to our newsletter!</p>
            </div>
            <!-- CONTACT INFO PREVIEW SIGN -->

            <!-- CONTACT INFO PREVIEW FORM -->
            <form method="GET" class="contact-info-preview-form">
              <!-- FORM ROW -->
              <div class="form-row">
                <!-- FORM ITEM -->
                <div class="form-item">
                  <!-- SUBMIT INPUT -->
                  <div class="submit-input green">
                    <input type="text" id="footer-subscribe-email" name="footer-subscribe-email" placeholder="Enter your email here...">
                    <button class="submit-input-button">
                      <!-- ARROW ICON -->
                      <svg class="arrow-icon medium">
                        <use xlink:href="#svg-arrow-medium"></use>
                      </svg>
                      <!-- /ARROW ICON -->
                    </button>
                  </div>
                  <!-- /SUBMIT INPUT -->
                </div>
                <!-- /FORM ITEM -->
              </div>
              <!-- /FORM ROW -->
            </form>
            <!-- /CONTACT INFO PREVIEW FORM -->

            <!-- CONTACT INFO PREVIEW EMAIL WRAP -->
            <div class="contact-info-preview-email-wrap">
              <i class="email-icon icon-envelope"></i>
              <a href="https://odindesignthemes.com/cdn-cgi/l/email-protection#0b62656d644b7b62736e676f626a6664656f25686466" class="contact-info-preview-email"><span class="__cf_email__" data-cfemail="f59c9b939ab5859c8d9099919c94989a9b91db969a98">[email&#160;protected]</span></a>
            </div>
            <!-- CONTACT INFO PREVIEW EMAIL WRAP -->
          </div>
          <!-- /CONTACT INFO PREVIEW -->
        </div>
        <!-- FOOTER TOP WIDGET -->

        <!-- FOOTER TOP WIDGET -->
        <div class="footer-top-widget">
          <!-- SECTION TITLE WRAP -->
          <div class="section-title-wrap blue-light negative">
            <h2 class="section-title">Twitter Widget</h2>
            <div class="section-title-separator"></div>
          </div>
          <!-- /SECTION TITLE WRAP -->

          <!-- TWEETS PREVIEW WIDGET -->
          <div class="tweets-preview-widget">
          </div>
          <!-- TWEETS PREVIEW WIDGET -->
        </div>
        <!-- FOOTER TOP WIDGET -->

        <!-- FOOTER TOP WIDGET -->
        <div class="footer-top-widget">
          <!-- SECTION TITLE WRAP -->
          <div class="section-title-wrap violet negative">
            <h2 class="section-title">Latest Products</h2>
            <div class="section-title-separator"></div>
          </div>
          <!-- /SECTION TITLE WRAP -->

          <!-- PRODUCT PREVIEW SHOWCASE -->
          <div class="product-preview-showcase grid-1col gutter-small">
            <!-- PRODUCT PREVIEW -->
            <div class="product-preview tiny negative">
              <!-- PRODUCT PREVIEW IMG WRAP -->
              <div class="product-preview-img-wrap">
                <!-- PRODUCT PREVIEW IMG -->
                <a href="product-page.html">
                  <figure class="product-preview-img liquid">
                    <img src="img/products/01.jpg" alt="product-01">
                  </figure>
                </a>
                <!-- /PRODUCT PREVIEW IMG -->
              </div>
              <!-- /PRODUCT PREVIEW IMG WRAP -->

              <!-- PRODUCT PREVIEW TITLE -->
              <a href="product-page.html" class="product-preview-title">New Funtendo 3XSD - Black</a>
              <!-- PRODUCT PREVIEW INFO -->
              <div class="product-preview-info">
                <!-- PRODUCT PREVIEW CATEGORY -->
                <a href="shop-v1-grid.html" class="product-preview-category">Funtendo</a>
                <!-- RATING ORNAMENT -->
                <div class="rating-ornament small void yellow">
                  <!-- RATING ORNAMENT ITEM -->
                  <div class="rating-ornament-item">
                    <!-- RATING ORNAMENT ICON -->
                    <svg class="rating-ornament-icon">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                  </div>
                  <!-- /RATING ORNAMENT ITEM -->

                  <!-- RATING ORNAMENT ITEM -->
                  <div class="rating-ornament-item">
                    <!-- RATING ORNAMENT ICON -->
                    <svg class="rating-ornament-icon">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                  </div>
                  <!-- /RATING ORNAMENT ITEM -->

                    <!-- RATING ORNAMENT ITEM -->
                  <div class="rating-ornament-item">
                    <!-- RATING ORNAMENT ICON -->
                    <svg class="rating-ornament-icon">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                  </div>
                  <!-- /RATING ORNAMENT ITEM -->

                    <!-- RATING ORNAMENT ITEM -->
                  <div class="rating-ornament-item">
                    <!-- RATING ORNAMENT ICON -->
                    <svg class="rating-ornament-icon">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                  </div>
                  <!-- /RATING ORNAMENT ITEM -->

                    <!-- RATING ORNAMENT ITEM -->
                  <div class="rating-ornament-item">
                    <!-- RATING ORNAMENT ICON -->
                    <svg class="rating-ornament-icon empty">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                  </div>
                  <!-- /RATING ORNAMENT ITEM -->
                </div>
                <!-- /RATING ORNAMENT -->
              </div>
              <!-- /PRODUCT PREVIEW INFO -->

              <!-- PRODUCT PRICE WRAP -->
              <div class="product-price-wrap">
                <p class="product-preview-price current"><span class="currency">$</span>199.00</p>
              </div>
              <!-- /PRODUCT PRICE WRAP -->
            </div>
            <!-- /PRODUCT PREVIEW -->

            <!-- PRODUCT PREVIEW -->
            <div class="product-preview tiny negative">
              <!-- PRODUCT PREVIEW IMG WRAP -->
              <div class="product-preview-img-wrap">
                <!-- PRODUCT PREVIEW IMG -->
                <a href="product-page.html">
                  <figure class="product-preview-img liquid">
                    <img src="img/products/04.jpg" alt="product-04">
                  </figure>
                </a>
                <!-- /PRODUCT PREVIEW IMG -->
              </div>
              <!-- /PRODUCT PREVIEW IMG WRAP -->

              <!-- PRODUCT PREVIEW TITLE -->
              <a href="product-page.html" class="product-preview-title">Mee U - kawai 8 bundle</a>
              <!-- PRODUCT PREVIEW INFO -->
              <div class="product-preview-info">
                <!-- PRODUCT PREVIEW CATEGORY -->
                <a href="shop-v1-grid.html" class="product-preview-category">Funtendo</a>
                <!-- RATING ORNAMENT -->
                <div class="rating-ornament small void yellow">
                  <!-- RATING ORNAMENT ITEM -->
                  <div class="rating-ornament-item">
                    <!-- RATING ORNAMENT ICON -->
                    <svg class="rating-ornament-icon">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                  </div>
                  <!-- /RATING ORNAMENT ITEM -->

                  <!-- RATING ORNAMENT ITEM -->
                  <div class="rating-ornament-item">
                    <!-- RATING ORNAMENT ICON -->
                    <svg class="rating-ornament-icon">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                  </div>
                  <!-- /RATING ORNAMENT ITEM -->

                    <!-- RATING ORNAMENT ITEM -->
                  <div class="rating-ornament-item">
                    <!-- RATING ORNAMENT ICON -->
                    <svg class="rating-ornament-icon">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                  </div>
                  <!-- /RATING ORNAMENT ITEM -->

                    <!-- RATING ORNAMENT ITEM -->
                  <div class="rating-ornament-item">
                    <!-- RATING ORNAMENT ICON -->
                    <svg class="rating-ornament-icon empty">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                  </div>
                  <!-- /RATING ORNAMENT ITEM -->

                    <!-- RATING ORNAMENT ITEM -->
                  <div class="rating-ornament-item">
                    <!-- RATING ORNAMENT ICON -->
                    <svg class="rating-ornament-icon empty">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                  </div>
                  <!-- /RATING ORNAMENT ITEM -->
                </div>
                <!-- /RATING ORNAMENT -->
              </div>
              <!-- /PRODUCT PREVIEW INFO -->

              <!-- PRODUCT PRICE WRAP -->
              <div class="product-price-wrap">
                <p class="product-preview-price before"><span class="currency">$</span>310.00</p>
                <p class="product-preview-price current"><span class="currency">$</span>280.00</p>
              </div>
              <!-- /PRODUCT PRICE WRAP -->
            </div>
            <!-- /PRODUCT PREVIEW -->

            <!-- PRODUCT PREVIEW -->
            <div class="product-preview tiny negative">
              <!-- PRODUCT PREVIEW IMG WRAP -->
              <div class="product-preview-img-wrap">
                <!-- PRODUCT PREVIEW IMG -->
                <a href="product-page.html">
                  <figure class="product-preview-img liquid">
                    <img src="img/products/06.jpg" alt="product-06">
                  </figure>
                </a>
                <!-- /PRODUCT PREVIEW IMG -->
              </div>
              <!-- /PRODUCT PREVIEW IMG WRAP -->

              <!-- PRODUCT PREVIEW TITLE -->
              <a href="product-page.html" class="product-preview-title">Crimson red joystick</a>
              <!-- PRODUCT PREVIEW INFO -->
              <div class="product-preview-info">
                <!-- PRODUCT PREVIEW CATEGORY -->
                <a href="shop-v1-grid.html" class="product-preview-category">Powerstation</a>
                <!-- RATING ORNAMENT -->
                <div class="rating-ornament small void yellow">
                  <!-- RATING ORNAMENT ITEM -->
                  <div class="rating-ornament-item">
                    <!-- RATING ORNAMENT ICON -->
                    <svg class="rating-ornament-icon">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                  </div>
                  <!-- /RATING ORNAMENT ITEM -->

                  <!-- RATING ORNAMENT ITEM -->
                  <div class="rating-ornament-item">
                    <!-- RATING ORNAMENT ICON -->
                    <svg class="rating-ornament-icon">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                  </div>
                  <!-- /RATING ORNAMENT ITEM -->

                    <!-- RATING ORNAMENT ITEM -->
                  <div class="rating-ornament-item">
                    <!-- RATING ORNAMENT ICON -->
                    <svg class="rating-ornament-icon">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                  </div>
                  <!-- /RATING ORNAMENT ITEM -->

                    <!-- RATING ORNAMENT ITEM -->
                  <div class="rating-ornament-item">
                    <!-- RATING ORNAMENT ICON -->
                    <svg class="rating-ornament-icon">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                  </div>
                  <!-- /RATING ORNAMENT ITEM -->

                    <!-- RATING ORNAMENT ITEM -->
                  <div class="rating-ornament-item">
                    <!-- RATING ORNAMENT ICON -->
                    <svg class="rating-ornament-icon">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                  </div>
                  <!-- /RATING ORNAMENT ITEM -->
                </div>
                <!-- /RATING ORNAMENT -->
              </div>
              <!-- /PRODUCT PREVIEW INFO -->

              <!-- PRODUCT PRICE WRAP -->
              <div class="product-price-wrap">
                <p class="product-preview-price current"><span class="currency">$</span>32.50</p>
              </div>
              <!-- /PRODUCT PRICE WRAP -->
            </div>
            <!-- /PRODUCT PREVIEW -->
          </div>
          <!-- /PRODUCT PREVIEW SHOWCASE -->
        </div>
        <!-- FOOTER TOP WIDGET -->

        <!-- FOOTER TOP WIDGET -->
        <div class="footer-top-widget">
          <!-- SECTION TITLE WRAP -->
          <div class="section-title-wrap yellow negative">
            <h2 class="section-title">New Item Deals</h2>
            <div class="section-title-separator"></div>
          </div>
          <!-- /SECTION TITLE WRAP -->

          <!-- PRODUCT PREVIEW SHOWCASE -->
          <div class="product-preview-showcase grid-1col gutter-small">
            <!-- PRODUCT PREVIEW -->
            <div class="product-preview tiny negative">
              <!-- PRODUCT PREVIEW IMG WRAP -->
              <div class="product-preview-img-wrap">
                <!-- PRODUCT PREVIEW IMG -->
                <a href="product-page.html">
                  <figure class="product-preview-img liquid">
                    <img src="img/products/05.jpg" alt="product-05">
                  </figure>
                </a>
                <!-- /PRODUCT PREVIEW IMG -->
              </div>
              <!-- /PRODUCT PREVIEW IMG WRAP -->

              <!-- PRODUCT PREVIEW TITLE -->
              <a href="product-page.html" class="product-preview-title">Carbon black joystick</a>
              <!-- PRODUCT PREVIEW INFO -->
              <div class="product-preview-info">
                <!-- PRODUCT PREVIEW CATEGORY -->
                <a href="shop-v1-grid.html" class="product-preview-category">XRock One</a>
                <!-- RATING ORNAMENT -->
                <div class="rating-ornament small void yellow">
                  <!-- RATING ORNAMENT ITEM -->
                  <div class="rating-ornament-item">
                    <!-- RATING ORNAMENT ICON -->
                    <svg class="rating-ornament-icon">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                  </div>
                  <!-- /RATING ORNAMENT ITEM -->

                  <!-- RATING ORNAMENT ITEM -->
                  <div class="rating-ornament-item">
                    <!-- RATING ORNAMENT ICON -->
                    <svg class="rating-ornament-icon">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                  </div>
                  <!-- /RATING ORNAMENT ITEM -->

                    <!-- RATING ORNAMENT ITEM -->
                  <div class="rating-ornament-item">
                    <!-- RATING ORNAMENT ICON -->
                    <svg class="rating-ornament-icon">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                  </div>
                  <!-- /RATING ORNAMENT ITEM -->

                    <!-- RATING ORNAMENT ITEM -->
                  <div class="rating-ornament-item">
                    <!-- RATING ORNAMENT ICON -->
                    <svg class="rating-ornament-icon">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                  </div>
                  <!-- /RATING ORNAMENT ITEM -->

                    <!-- RATING ORNAMENT ITEM -->
                  <div class="rating-ornament-item">
                    <!-- RATING ORNAMENT ICON -->
                    <svg class="rating-ornament-icon empty">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                  </div>
                  <!-- /RATING ORNAMENT ITEM -->
                </div>
                <!-- /RATING ORNAMENT -->
              </div>
              <!-- /PRODUCT PREVIEW INFO -->

              <!-- PRODUCT PRICE WRAP -->
              <div class="product-price-wrap">
                <p class="product-preview-price before"><span class="currency">$</span>60.00</p>
                <p class="product-preview-price current"><span class="currency">$</span>55.00</p>
              </div>
              <!-- /PRODUCT PRICE WRAP -->
            </div>
            <!-- /PRODUCT PREVIEW -->

            <!-- PRODUCT PREVIEW -->
            <div class="product-preview tiny negative">
              <!-- PRODUCT PREVIEW IMG WRAP -->
              <div class="product-preview-img-wrap">
                <!-- PRODUCT PREVIEW IMG -->
                <a href="product-page.html">
                  <figure class="product-preview-img liquid">
                    <img src="img/products/03.jpg" alt="product-03">
                  </figure>
                </a>
                <!-- /PRODUCT PREVIEW IMG -->
              </div>
              <!-- /PRODUCT PREVIEW IMG WRAP -->

              <!-- PRODUCT PREVIEW TITLE -->
              <a href="product-page.html" class="product-preview-title">Powerstation 4 bundle</a>
              <!-- PRODUCT PREVIEW INFO -->
              <div class="product-preview-info">
                <!-- PRODUCT PREVIEW CATEGORY -->
                <a href="shop-v1-grid.html" class="product-preview-category">Powerstation</a>
                <!-- RATING ORNAMENT -->
                <div class="rating-ornament small void yellow">
                  <!-- RATING ORNAMENT ITEM -->
                  <div class="rating-ornament-item">
                    <!-- RATING ORNAMENT ICON -->
                    <svg class="rating-ornament-icon">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                  </div>
                  <!-- /RATING ORNAMENT ITEM -->

                  <!-- RATING ORNAMENT ITEM -->
                  <div class="rating-ornament-item">
                    <!-- RATING ORNAMENT ICON -->
                    <svg class="rating-ornament-icon">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                  </div>
                  <!-- /RATING ORNAMENT ITEM -->

                    <!-- RATING ORNAMENT ITEM -->
                  <div class="rating-ornament-item">
                    <!-- RATING ORNAMENT ICON -->
                    <svg class="rating-ornament-icon">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                  </div>
                  <!-- /RATING ORNAMENT ITEM -->

                    <!-- RATING ORNAMENT ITEM -->
                  <div class="rating-ornament-item">
                    <!-- RATING ORNAMENT ICON -->
                    <svg class="rating-ornament-icon">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                  </div>
                  <!-- /RATING ORNAMENT ITEM -->

                    <!-- RATING ORNAMENT ITEM -->
                  <div class="rating-ornament-item">
                    <!-- RATING ORNAMENT ICON -->
                    <svg class="rating-ornament-icon empty">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                  </div>
                  <!-- /RATING ORNAMENT ITEM -->
                </div>
                <!-- /RATING ORNAMENT -->
              </div>
              <!-- /PRODUCT PREVIEW INFO -->

              <!-- PRODUCT PRICE WRAP -->
              <div class="product-price-wrap">
                <p class="product-preview-price current"><span class="currency">$</span>250.00</p>
              </div>
              <!-- /PRODUCT PRICE WRAP -->
            </div>
            <!-- /PRODUCT PREVIEW -->

            <!-- PRODUCT PREVIEW -->
            <div class="product-preview tiny negative">
              <!-- PRODUCT PREVIEW IMG WRAP -->
              <div class="product-preview-img-wrap">
                <!-- PRODUCT PREVIEW IMG -->
                <a href="product-page.html">
                  <figure class="product-preview-img liquid">
                    <img src="img/products/08.jpg" alt="product-08">
                  </figure>
                </a>
                <!-- /PRODUCT PREVIEW IMG -->
              </div>
              <!-- /PRODUCT PREVIEW IMG WRAP -->

              <!-- PRODUCT PREVIEW TITLE -->
              <a href="product-page.html" class="product-preview-title">Tales of Odd Dimensions</a>
              <!-- PRODUCT PREVIEW INFO -->
              <div class="product-preview-info">
                <!-- PRODUCT PREVIEW CATEGORY -->
                <a href="shop-v1-grid.html" class="product-preview-category">Funtendo Mee U</a>
                <!-- RATING ORNAMENT -->
                <div class="rating-ornament small void yellow">
                  <!-- RATING ORNAMENT ITEM -->
                  <div class="rating-ornament-item">
                    <!-- RATING ORNAMENT ICON -->
                    <svg class="rating-ornament-icon">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                  </div>
                  <!-- /RATING ORNAMENT ITEM -->

                  <!-- RATING ORNAMENT ITEM -->
                  <div class="rating-ornament-item">
                    <!-- RATING ORNAMENT ICON -->
                    <svg class="rating-ornament-icon">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                  </div>
                  <!-- /RATING ORNAMENT ITEM -->

                    <!-- RATING ORNAMENT ITEM -->
                  <div class="rating-ornament-item">
                    <!-- RATING ORNAMENT ICON -->
                    <svg class="rating-ornament-icon">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                  </div>
                  <!-- /RATING ORNAMENT ITEM -->

                    <!-- RATING ORNAMENT ITEM -->
                  <div class="rating-ornament-item">
                    <!-- RATING ORNAMENT ICON -->
                    <svg class="rating-ornament-icon">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                  </div>
                  <!-- /RATING ORNAMENT ITEM -->

                    <!-- RATING ORNAMENT ITEM -->
                  <div class="rating-ornament-item">
                    <!-- RATING ORNAMENT ICON -->
                    <svg class="rating-ornament-icon">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                  </div>
                  <!-- /RATING ORNAMENT ITEM -->
                </div>
                <!-- /RATING ORNAMENT -->
              </div>
              <!-- /PRODUCT PREVIEW INFO -->

              <!-- PRODUCT PRICE WRAP -->
              <div class="product-price-wrap">
                <p class="product-preview-price current"><span class="currency">$</span>60.00</p>
              </div>
              <!-- /PRODUCT PRICE WRAP -->
            </div>
            <!-- /PRODUCT PREVIEW -->
          </div>
          <!-- /PRODUCT PREVIEW SHOWCASE -->
        </div>
        <!-- FOOTER TOP WIDGET -->
      </div>
      <!-- /FOOTER TOP WIDGETS -->
    </div>
    <!-- /FOOTER TOP -->
  </div>
  <!-- /FOOTER TOP WRAP -->

  <!-- FOOTER BOTTOM WRAP -->
  <div class="footer-bottom-wrap">
    <!-- FOOTER BOTTOM -->
    <div class="footer-bottom grid-limit">
      <p class="footer-bottom-text"><span class="brand"><span class="highlighted">Pixel Diamond</span> Theme</span><span class="separator">|</span>All Rights Reserved 2018</p>
      <p class="footer-bottom-text"><a href="#">Terms and Conditions</a><span class="separator">|</span><a href="#">Privacy Policy</a></p>
    </div>
    <!-- /FOOTER BOTTOM -->
  </div>
  <!-- /FOOTER BOTTOM WRAP -->

<script src="{{asset "js/app.bundle.min.js"}}"></script>
{{{block "pageScripts"}}}

{{!-- Ghost outputs required functional scripts with this tag - it should always be the last thing before the closing body tag --}}
{{ghost_foot}}

</body>
</html>
