<header class="post-preview-header">
    <button type="button" class="btn btn-default btn-back" {{action "hidePostContent"}}>Back</button>
    <button type="button" {{bind-attr class="featured:featured:unfeatured"}} title="Feature this post" {{action "toggleFeatured"}}>
        <span class="hidden">Star</span>
    </button>
    <small>
        <span class="status">{{#if isPublished}}Published{{else}}Written{{/if}}</span>
        <span class="normal">by</span>
        <span class="author">{{#if author.name}}{{author.name}}{{else}}{{author.email}}{{/if}}</span>
    </small>
    <section class="post-controls">
        {{#link-to "editor.edit" this class="btn btn-default post-edit"}} Edit{{/link-to}}
    </section>
</header>

{{#view "content-preview-content-view" tagName="section"}}
    <div class="wrapper">
        <h1>{{title}}</h1>
        {{gh-format-html html}}
    </div>
{{/view}}
