<header class="post-preview-header clearfix">
    {{#link-to "posts" tagName="button" class="btn btn-default btn-back"}}返回{{/link-to}}
    <h2 class="page-title">预览</h2>
    <button type="button" {{bind-attr class="featured:featured:unfeatured"}} title="Feature this post" {{action "toggleFeatured"}}>
        <span class="hidden">Star</span>
    </button>
    <small class="post-published-by">
        <span class="status">{{#if isPublished}}已发布{{else}}草稿{{/if}}</span>
        <span class="normal"> 作者:</span>
        <span class="author">{{#if author.name}}{{author.name}}{{else}}{{author.email}}{{/if}}</span>
    </small>
    <section class="post-controls">
        {{#link-to "editor.edit" this class="btn btn-default post-edit"}} 修改{{/link-to}}
    </section>
</header>

{{#view "content-preview-content-view" tagName="section"}}
    <div class="wrapper">
        <h1>{{title}}</h1>
        {{gh-format-html html}}
    </div>
{{/view}}
