<header class="settings-subview-header clearfix">
    {{#unless session.user.isAuthor}}
        {{#link-to "settings.users" class="btn btn-default btn-back" tagName="button"}}<i class="icon-chevron-left"></i>用户列表{{/link-to}}
    {{/unless}}
    <h2 class="page-title">{{user.name}}</h2>
    <section class="page-actions">
        {{#if view.userActionsAreVisible}}
            <span class="dropdown">
                {{#gh-dropdown-button dropdownName="user-actions-menu" classNames="btn btn-default only-has-icon user-actions-cog" title="User Actions"}}
                    <i class="icon-settings"></i>
                    <span class="hidden">资料设置</span>
                {{/gh-dropdown-button}}
                {{#gh-dropdown name="user-actions-menu" tagName="ul" classNames="user-actions-menu dropdown-menu dropdown-triangle-top-right"}}
                    {{partial "user-actions-menu"}}
                {{/gh-dropdown}}
            </span>
        {{/if}}

        <button class="btn btn-blue" {{action "save"}}>保存资料</button>
    </section>
</header>

<div class="content settings-user">

    <figure class="user-cover" style={{coverImageBackground}}>
        <button class="btn btn-default user-cover-edit js-modal-cover" {{action "openModal" "upload" user "cover"}}>更换封面</button>
    </figure>

    <form class="user-profile" novalidate="novalidate" autocomplete="off">

        {{!-- Horrible hack to prevent Chrome from incorrectly auto-filling inputs --}}
        <input style="display:none;" type="text" name="fakeusernameremembered"/>
        <input style="display:none;" type="password" name="fakepasswordremembered"/>

        <fieldset class="user-details-top">

            <figure class="user-image">
                <div id="user-image" class="img" style={{userImageBackground}}><span class="hidden">{{user.name}}的头像</span></div>
                <button type="button" {{action "openModal" "upload" user "image"}} class="edit-user-image js-modal-image">修改头像</button>
            </figure>


            <div class="form-group first-form-group">
                <label for="user-name">姓名/昵称</label>
                {{input value=user.name id="user-name" class="user-name" placeholder="姓名/昵称" autocorrect="off"}}
                <p>在你发表文章时，会用这个名字作为签名</p>
            </div>

        </fieldset>

        <fieldset class="user-details-bottom">

            <div class="form-group">
                <label for="user-slug">主页地址</label>
                {{gh-input class="user-name" id="user-slug" value=slugValue name="user" focus-out="updateSlug" placeholder="Slug" selectOnClick="true" autocorrect="off"}}
                <p>{{gh-blog-url}}/author/{{slugValue}}</p>
            </div>

            <div class="form-group">
                <label for="user-email">邮箱</label>
                {{input type="email" value=user.email id="user-email" placeholder="邮箱" autocapitalize="off" autocorrect="off" autocomplete="off"}}
                <p>用来登录博客后台和接收重要通知</p>
            </div>
            {{#if view.rolesDropdownIsVisible}}
            <div class="form-group">
                <label for="user-role">角色</label>
                {{gh-role-selector
                    initialValue=user.role
                    onChange="changeRole"
                    selectId="user-role"}}
                <p>选择用户角色, 不同角色拥有不同权限</p>
            </div>
            {{/if}}
            <div class="form-group">
                <label for="user-location">所在地</label>
                {{input type="text" value=user.location id="user-location"}}
                <p>你所在的位置</p>
            </div>

            <div class="form-group">
                <label for="user-website">个人网站</label>
                {{input type="url" value=user.website id="user-website" autocapitalize="off" autocorrect="off" autocomplete="off"}}
                <p>也可以填写你的微博地址</p>
            </div>

            <div class="form-group bio-container">
                <label for="user-bio">个人简介</label>
                {{textarea id="user-bio" value=user.bio}}
                <p>
                    关于你的一切，不要超过200字
                    {{gh-count-characters user.bio}}
                </p>
            </div>

            <hr />

        </fieldset>

        <fieldset>
            {{#unless view.isNotOwnProfile}}
            <div class="form-group">
                <label for="user-password-old">原密码</label>
                {{input value=user.password type="password" id="user-password-old"}}
            </div>
            {{/unless}}

            <div class="form-group">
                <label for="user-password-new">新密码</label>
                {{input value=user.newPassword type="password" id="user-password-new"}}
            </div>

            <div class="form-group">
                <label for="user-new-password-verification">验证新密码</label>
                {{input value=user.ne2Password type="password" id="user-new-password-verification"}}
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-red button-change-password" {{action "password"}}>修改密码</button>
            </div>

        </fieldset>

    </form>

</div>
