{{#if select.selected}}
    {{#if this.selectedItemComponent}}
        {{component this.selectedItemComponent option=(readonly select.selected) select=(readonly select)}}
    {{else}}
        <span class="ember-power-select-selected-item">{{yield select.selected select}}</span>
    {{/if}}
    {{#if (and this.allowClear (not select.disabled))}}
        <span class="ember-power-select-clear-btn" onmousedown={{action "clear"}} ontouchstart={{action "clear"}}>&times;</span>
    {{/if}}
{{else}}
    {{component this.placeholderComponent placeholder=placeholder}}
{{/if}}
{{svg-jar "arrow-down-small"}}
