<!doctype html>
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (gte IE 9)| IEMobile |!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Ghost - Subscribe</title>

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
    <meta http-equiv="cleartype" content="on">

    <link rel="stylesheet" type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700'>
    <link rel="stylesheet" href="{{asset "ghost.css" ghost="true" minifyInProduction="true"}}" />
</head>
<body>
<div class="gh-app">
    <div class="gh-viewport">
        <main class="gh-main" role="main">
            <div class="gh-flow">
                <header class="gh-flow-head">
                    <nav class="gh-flow-nav">
                        <a href="{{#if subscribed_url}}{{subscribed_url}}{{else}}{{@blog.url}}{{/if}}" class="gh-flow-back"><i class="icon-arrow-left"></i> Back</a>
                    </nav>
                </header>

                <div class="gh-flow-content-wrap">
                    <section class="gh-flow-content">
                        {{^if success}}
                            <header>
                                <h1>Subscribe to {{@blog.title}}</h1>
                            </header>

                            {{subscribe_form
                                form_class="gh-signin"
                                input_class="gh-input"
                                button_class="btn btn-blue btn-block"
                                placeholder="Your email address"
                                autofocus="true"
                            }}
                        {{else}}
                            <header>
                                <h1>Subscribed!</h1>
                            </header>

                            <p>
                                You've successfully subscribed to <em>{{@blog.title}}</em>
                                with the email address <em>{{email}}</em>.
                            </p>
                        {{/if}}
                    </section>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>
