<header>
    <h1>Invite your team</h1>
    <p>Ghost works best when shared with others. Collaborate, get feedback on your posts &amp; work together on ideas.</p>
</header>

<img class="gh-flow-faces" src="{{gh-path 'admin' 'img/users.png'}}" alt="" />

<form class="gh-flow-invite">
    <label>Enter one email address per line, we’ll handle the rest! <i class="icon-mail"></i></label>
    {{textarea class="gh-input" name="users" value=users required="required"}}
    {{gh-error-message errors=errors property="users"}}
</form>

{{gh-spin-button type="button" classNameBindings=":btn :btn-default :btn-lg :btn-block buttonClass" action="invite" buttonText=buttonText submitting=submitting autoWidth=false}}

<button class="gh-flow-skip" {{action "skipInvite"}}>
    I'll do this later, take me to my blog!
</button>
