<section class="gh-flow-content">
    <header>
        <h1>Create your account</h1>
    </header>

    <form id="setup" class="gh-flow-create">
        {{!-- Horrible hack to prevent Chrome from incorrectly auto-filling inputs --}}
        <input style="display:none;" type="text" name="fakeusernameremembered"/>
        <input style="display:none;" type="password" name="fakepasswordremembered"/>


        <figure class="account-image">
            <div class="placeholder-img" style="background-image: url({{gh-path 'admin' 'img/ghosticon.jpg'}})"></div>

            <!-- TODO: fix/change this to prevent XSS -->
            <div id="account-image" class="gravatar-img" style="{{userImageBackground}}">
                <span class="sr-only">User image</span>
            </div>
            <a class="edit-account-image" href="#"><i class="icon-photos"><span class="sr-only">Upload an image</span></i></a>
        </figure>
        <div class="form-group">
            <label for="email-address">Email address</label>
            <span class="input-icon icon-mail">
                {{input type="email" name="email" placeholder="Eg. john@example.com" class="gh-input" autofocus="autofocus" autocorrect="off" value=email}}
            </span>
        </div>
        <div class="form-group">
            <label for="full-name">Full name</label>
            <span class="input-icon icon-user">
                {{input type="text" name="name" placeholder="Eg. John H. Watson" class="gh-input" autofocus="autofocus" autocorrect="off" value=name }}
            </span>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <span class="input-icon icon-lock">
                {{input type="password" name="password" placeholder="At least 7 characters" class="gh-input" autofocus="autofocus" autocorrect="off" value=password }}
                <div class="pw-strength">
                    <div class="pw-strength-dot"></div>
                    <div class="pw-strength-dot"></div>
                    <div class="pw-strength-dot"></div>
                    <div class="pw-strength-dot"></div>
                    <div class="pw-strength-dot <!--pw-strength-activedot-->"></div>
                </div>
            </span>
        </div>
        <div class="form-group">
            <label for="blog-title">Blog title</label>
            <span class="input-icon icon-content">
                {{input type="text" name="blog-title" placeholder="Eg. The Daily Awesome" class="gh-input" autofocus="autofocus" autocorrect="off" value=blogTitle }}
            </span>
        </div>
    </form>

    <button type="submit" class="btn btn-green btn-lg btn-block" {{action "setup"}} {{submitting}}>Last step: Invite your team <i class="icon-chevron"></i></button>
</section>
