<div class="flex flex-column h-100 items-center">
    <header class="gh-publish-header" data-test-modal="publish">
        <button class="gh-publish-back-button" title="Close" type="button" {{on "click" @close}}>
            <span>{{svg-jar "close-stroke"}} Close</span>
        </button>
    </header>

    <div class="gh-publish-settings-container">
        <div class="gh-publish-title"><span>Another masterpiece.</span> Ready to share it with the world?</div>
        <div class="gh-publish-settings">
            <div class="gh-publish-setting">
                {{svg-jar "send-email"}}
                {{#if @data.publishOptions.emailUnavailable}}
                    publish
                {{else}}
                    <GhBasicDropdown
                        class="gh-publish-setting-trigger"
                        @verticalPosition="below"
                        @horizintalPosition="right"
                        @renderInPlace={{true}}
                        as |dd|
                    >
                        <dd.Trigger>
                            {{@data.publishOptions.selectedPublishTypeOption.display}}
                        </dd.Trigger>
                        <dd.Content class="gh-publish-setting-dropdown">
                            <fieldset>
                                {{#each @data.publishOptions.publishTypeOptions as |option|}}
                                    <div class="radio-button">
                                        <input
                                            type="radio"
                                            name="publish-type"
                                            id="publish-type-{{option.value}}"
                                            value={{option.value}}
                                            checked={{eq option.value @data.publishOptions.publishType}}
                                            disabled={{option.disabled}}
                                            {{on "change" this.publishTypeChanged}}
                                        >
                                        <label for="publish-type-{{option.value}}">{{option.label}}</label>
                                    </div>
                                {{/each}}
                            </fieldset>
                        </dd.Content>
                    </GhBasicDropdown>

                {{/if}}
            </div>

            {{#unless (eq @data.publishOptions.publishType "publish")}}
                <div class="gh-publish-setting">
                    {{svg-jar "member"}} 
                    <div class="gh-publish-setting-trigger">
                        235 
                        {{#unless @data.publishOptions.onlyDefaultNewsletter}}
                            <span class="gh-publish-setting-trigger">
                                Charts of the Week
                            </span>
                        {{/unless}}
                        subscribers
                    </div>
                </div>
            {{/unless}}

            <div class="gh-publish-setting">
                {{svg-jar "clock"}}
                <div class="gh-publish-setting-trigger">Right now</div>
            </div>

        </div>

        <div class="gh-publish-cta">
            <button type="button" class="gh-btn gh-btn-black gh-btn-large" {{on "click" (noop)}}><span>Continue &rarr;</span></button>
            <button type="button" class="gh-btn gh-btn-link gh-btn-large" {{on "click" @close}}><span>Back to edit</span></button>
        </div>
    </div>
</div>