<div class="flex flex-column h-100 items-center">
    <header class="gh-publish-header" data-test-modal="publish">
        <button class="gh-publish-back-button" title="Close" type="button" {{on "click" @close}}>
            <span>{{svg-jar "close-stroke"}} Close</span>
        </button>
    </header>

    <div class="gh-publish-settings-container">
        <div class="gh-publish-title">Ready?</div>
        <div class="gh-publish-settings">
                <span class="gh-publish-setting">Right now</span>

                , this {{@data.publishOptions.post.displayName}} will be

                {{#if @data.publishOptions.emailUnavailable}}
                    published
                {{else}}
                <GhBasicDropdown
                    class="gh-publish-setting"
                    @verticalPosition="below"
                    @horizintalPosition="right"
                    @renderInPlace={{true}}
                    as |dd|
                >
                    <dd.Trigger>
                        <span>{{@data.publishOptions.selectedPublishTypeOption.display}}</span>
                    </dd.Trigger>
                    <dd.Content class="gh-publish-setting-dropdown">
                        <fieldset>
                            {{#each @data.publishOptions.publishTypeOptions as |option|}}
                                <div class="radio-button">
                                    <input
                                        type="radio"
                                        name="publish-type"
                                        id="publish-type-{{option.value}}"
                                        value={{option.value}}
                                        checked={{eq option.value @data.publishOptions.publishType}}
                                        disabled={{option.disabled}}
                                        {{on "change" this.publishTypeChanged}}
                                    >
                                    <label for="publish-type-{{option.value}}">{{option.label}}</label>
                                </div>
                            {{/each}}
                        </fieldset>
                    </dd.Content>
                </GhBasicDropdown>

                {{/if}}

                {{#if (eq @data.publishOptions.publishType "publish")}}
                    on your site.
                {{else}}
                    to
                    <span class="gh-publish-setting">all subscribers</span>

                    of

                    {{#if @data.publishOptions.onlyDefaultNewsletter}}
                        your site.
                    {{else}}
                        <span class="gh-publish-setting">The Weekly Roundup</span>.
                    {{/if}}
                {{/if}}


        </div>

        <div class="gh-publish-cta">
            <button type="button" class="gh-btn gh-btn-black gh-btn-large" {{on "click" (noop)}}><span>Continue &rarr;</span></button>
            <button type="button" class="gh-btn gh-btn-link gh-btn-large" {{on "click" @close}}><span>Back to edit</span></button>
        </div>
    </div>
</div>