{{#if cancel_at_period_end}}
    <button class="{{class}}" data-members-continue-subscription="{{id}}">
        {{continueLabel}}
        <p data-members-error><!-- error message will appear here --></p>
    </button>
{{else}}
    <button class="{{class}}" data-members-cancel-subscription="{{id}}">
        {{cancelLabel}}
        <p data-members-error><!-- error message will appear here --></p>
    </button>
{{/if}}