<KoenigCard
    @class={{concat (kg-style "media-card") " mih10 miw-100 relative"}}
    @headerOffset={{@headerOffset}}
    @toolbar={{this.toolbar}}
    @payload={{@payload}}
    @isSelected={{@isSelected}}
    @isEditing={{@isEditing}}
    @selectCard={{@selectCard}}
    @deselectCard={{@deselectCard}}
    @editCard={{@editCard}}
    @hasEditMode={{true}}
    @saveCard={{@saveCard}}
    @saveAsSnippet={{@saveAsSnippet}}
    @onLeaveEdit={{this.leaveEditMode}}
    @addParagraphAfterCard={{@addParagraphAfterCard}}
    @moveCursorToPrevSection={{@moveCursorToPrevSection}}
    @moveCursorToNextSection={{@moveCursorToNextSection}}
    @editor={{@editor}}
    {{did-insert this.registerElement}}
    as |card|
>
    {{#if @isEditing}}

        <div class="kg-callout-card">
            <div class="kg-callout-emoji">{{@payload.calloutEmoji}}</div>
            <KoenigTextReplacementHtmlInput
                @html={{@payload.calloutText}}
                @placeholder="Callout text..."
                @autofocus={{true}}
                @class="bn bg-transparent"
                @onChange={{action "setCalloutText"}}
                @onFocus={{action (mut this.isFocused) true}}
                @onBlur={{action (mut this.isFocused) false}}
                @didCreateEditor={{action "registerEditor"}}
            />
        </div>

    {{else}}

        <div class="kg-callout-card">
            <div class="kg-callout-emoji">{{@payload.calloutEmoji}}</div>
            <div>{{{@payload.calloutText}}}</div>
        </div>
        <div class="koenig-card-click-overlay"></div>

    {{/if}}
</KoenigCard>
