{{#if this.showToolbar}}
    <ul class="kg-link-toolbar bg-darkgrey-d1 inline-flex pa0 ma0 list br3 shadow-2 items-center relative white f-small fw4 tracked-2 nudge-top--1">
        <li class="mw70 ma0 truncate">
            <a href="{{this.url}}" class="dib dim-lite pa2 pl3 pr3 pr1 link white" target="_blank" rel="noopener noreferrer">{{this.url}}</a>
        </li>
        <li class="ma0">
            <button
                type="button"
                title="Edit"
                class="dib dim-lite pa2 pl1 pr1 link"
                {{action "edit"}}
            >
                {{!-- TODO: get correct icon --}}
                {{svg-jar "koenig/kg-edit" class="fill-white w4 h4 nudge-top--1"}}
            </button>
        </li>
        <li class="ma0">
            <button
                type="button"
                title="Remove"
                class="dib dim-lite pa2 pl1 pr1 link mr2"
                {{action "remove"}}
            >
                {{!-- TODO: get correct icon --}}
                {{svg-jar "koenig/kg-trash" class="fill-white w4 h4 nudge-top--1"}}
            </button>
        </li>
    </ul>
{{/if}}
