<KoenigCard
    @class="kg-card-hover"
    @isSelected={{@isSelected}}
    @isEditing={{@isEditing}}
    @selectCard={{@selectCard}}
    @deselectCard={{@deselectCard}}
    @editCard={{@editCard}}
    @hasEditMode={{false}}
    @editor={{@editor}}
>
    <div class="kg-paywall-separator">Free public preview  <span class="green">↑</span>  /  <span class="green">↓</span>  Only visible to members</div>
</KoenigCard>