<KoenigCard
    @class={{concat (kg-style "container-card") " kg-callout-card-container"}}
    @headerOffset={{@headerOffset}}
    @toolbar={{this.toolbar}}
    @payload={{@payload}}
    @isSelected={{@isSelected}}
    @isEditing={{@isEditing}}
    @selectCard={{@selectCard}}
    @deselectCard={{@deselectCard}}
    @editCard={{@editCard}}
    @hasEditMode={{true}}
    @saveCard={{@saveCard}}
    @saveAsSnippet={{@saveAsSnippet}}
    @onLeaveEdit={{this.leaveEditMode}}
    @addParagraphAfterCard={{@addParagraphAfterCard}}
    @moveCursorToPrevSection={{@moveCursorToPrevSection}}
    @moveCursorToNextSection={{@moveCursorToNextSection}}
    @editor={{@editor}}
    {{did-insert this.registerElement}}
    as |card|
>
    {{#if @isEditing}}

        <div class="kg-callout-card">
            <div class="kg-callout-emoji">{{@payload.calloutEmoji}}</div>
            <KoenigTextReplacementHtmlInput
                @html={{@payload.calloutText}}
                @placeholder="Callout text..."
                @autofocus={{true}}
                @class="w-100 bn bg-transparent"
                @onChange={{action "setCalloutText"}}
                @onFocus={{action (mut this.isFocused) true}}
                @onBlur={{action (mut this.isFocused) false}}
                @didCreateEditor={{action "registerEditor"}}
            />
            <KoenigSettingsPanel>
                <div class="kg-settings-panel-control kg-settings-panel-control-horizontal">
                    <div class="kg-settings-panel-control-label">Emoji</div>
                    <div class="kg-settings-panel-control-input">
                        <div class="for-switch">
                            <label class="switch" for="has-emoji">
                                <input
                                    type="checkbox"
                                    checked={{@payload.calloutEmoji}}
                                    id="has-emoji"
                                    onclick={{action "toggleEmoji"}}
                                    data-test-has-emoji
                                >
                                <span class="input-toggle-component"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </KoenigSettingsPanel>
        </div>

    {{else}}

        <div class="kg-callout-card">
            <div class="kg-callout-emoji">{{@payload.calloutEmoji}}</div>
            <div>{{{@payload.calloutText}}}</div>
        </div>
        <div class="koenig-card-click-overlay"></div>

    {{/if}}
</KoenigCard>
