<input
    placeholder="Enter url"
    value={{this._href}}
    class="kg-link-input pa2 pr6 mih-100 ba br3 shadow-2 f8 lh-heading tracked-2 outline-0 b--green h10 nudge-top--8"
    {{on "input" (action (mut this._href) value="target.value")}}
    {{on "keydown" (action "inputKeydown")}}
/>

{{#if this._href}}
    <button aria-label="Close" class="kg-input-bar-close" type="button" {{on "click" (action "clear")}}>
        {{svg-jar "close" class="ih2 stroke-midlightgrey-l2"}}
    </button>
{{/if}}
