<a href="https://ghost.org" class="gh-btn"
    {{on "mouseover" (fn (mut this.isHovered) true)}}
    {{on "mouseleave" (fn (mut this.isHovered) false)}}
>
    <span>{{@atom.value}}</span>
</a>

{{#if this.isHovered}}
    <KgActionBar @class="absolute" @style={{this.toolbarStyle}} @isVisible={{true}} @instantClose={{this.koenigUi.inputHasFocus}}>
        <li class="ma0 lh-solid">
            <button
                type="button"
                title="Delete button"
                class="dib dim-lite link h9 w9 nudge-top--1 justify-center"
                {{on "click" this.deleteButton}}
            >
                {{svg-jar "koenig/kg-trash" class="fill-white w4 h4"}}
            </button>
        </li>
    </KgActionBar>
{{/if}}