{{!< default}}

{{! The main post }}

{{#post}}
  <div class="blog-cover-container">
    <div class="featured-image">
      {{#if image}}
        <img src="{{image}}" alt="{{title}}"/>
      {{else}}
        {{#if @blog.cover}}
          <img src="{{@blog.cover}}" alt="{{title}}"/>
        {{else}}
          <img src="{{asset "images/HIRO95_ukabukuragetotokyo_article.jpg"}}" alt="{{title}}"/>
        {{/if}}
      {{/if}}
    </div>
    <div class="featured-info">
      <h1 class="post-title">{{title}}</h1>
      <div class="post-status hide-for-small-only">
        <div class="post-tags">{{tag_links}}</div>
        <div class="post-edit-history">
          {{#author}}<a href="{{url}}">{{name}}</a>{{/author}}が{{date published_at format="YYYY年M月D日"}}に投稿（{{date updated_at format="YYYY年M月D日"}}更新）
        </div>
      </div>
    </div>
  </div>

  <div class="blog-description-non-bg">
    <div class="post-status show-for-small-only">
      <div class="post-tags">{{tag_links}}</div>
      <div class="post-edit-history">
        {{#author}}<a href="{{url}}">{{name}}</a>{{/author}}が{{date published_at format="YYYY年M月D日"}}に投稿（{{date updated_at format="YYYY年M月D日"}}更新）
      </div>
    </div>
  </div>

  <div class="content-container">
    {{> full_post}}
  </div>
{{/post}}