<header>
    <div class="twitter-display-image">
        <img src="{{content.data.avatar}}" />
    </div>
    <span class="twitter-name">{{content.data.name}}</span>
    <span class="twitter-handle">{{contnet.data.handle}}</span>
</header>
<article class="latest-tweet">
{{{content.data.tweet}}}
</article>
<footer>
    <time class="tweet-time">{{content.data.time}}</time>
    <div class="twitter-functions">
        <a href="#"><i class="reply"></i></a>
        <a href="#"><i class="retweet"></i></a>
        <a href="#"><i class="favourite"></i></a>
    </div>
</footer>