<section class="gh-canvas">
    <GhCanvasHeader class="gh-canvas-header">
        <h2 class="gh-canvas-title" data-test-screen-title>
            {{#link-to "settings.integrations" data-test-link="integrations-back"}}Integrations{{/link-to}}
            <span>{{svg-jar "arrow-right"}}</span>
            AMP
        </h2>
        <section class="view-actions">
            {{gh-task-button task=save class="gh-btn gh-btn-blue gh-btn-icon" data-test-save-button=true}}
        </section>
    </GhCanvasHeader>

    {{#if showLeaveSettingsModal}}
        {{gh-fullscreen-modal "leave-settings"
            confirm=(action "leaveSettings")
            close=(action "toggleLeaveSettingsModal")
            modifier="action wide"}}
    {{/if}}

    <section class="view-container bt b--lightgrey-d1 pt5">
        <section class="app-grid">
            <div class="app-cell">
                <div class="bg-white mr3 display flex items-center justify-center br-pill shadow-1 pa3">
                    <img class="app-icon" src="assets/img/ampicon.png" />
                </div>
            </div>
            <div class="app-cell">
                <h3>AMP</h3>
                <p>Accelerated Mobile Pages</p>
            </div>
        </section>

        <div class="gh-setting-header gh-first-header">AMP configuration</div>
        <div class="flex flex-column br4 shadow-1 bg-grouped-table pa8 mt2">
            <div class="gh-setting-first gh-setting-last">
                <div class="gh-setting-content">
                    <div class="gh-setting-title">Enable AMP</div>
                    <div class="gh-setting-desc">Enable <a href="https://ampproject.org" target="_blank">Google Accelerated Mobile Pages</a> for your posts</div>
                </div>
                <div class="gh-setting-action">
                    <div class="for-checkbox">
                        <label for="amp" class="checkbox">
                            <input
                                type="checkbox"
                                checked={{ampSettings}}
                                id="amp"
                                name="amp"
                                onclick={{action "update" value="target.checked"}}
                                data-test-amp-checkbox
                            >
                            <span class="input-toggle-component"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
