<section class="gh-canvas">
    <GhCanvasHeader class="gh-canvas-header">
        <h2 class="gh-canvas-title" data-test-screen-title>
            {{#link-to "settings.integrations" data-test-link="integrations-back"}}Integrations{{/link-to}}
            <span>{{svg-jar "arrow-right"}}</span>
            Unsplash
        </h2>
        <section class="view-actions">
            {{gh-task-button task=save class="gh-btn gh-btn-blue gh-btn-icon" data-test-save-button=true}}
        </section>
    </GhCanvasHeader>

    {{#if showLeaveSettingsModal}}
        {{gh-fullscreen-modal "leave-settings"
            confirm=(action "leaveSettings")
            close=(action "toggleLeaveSettingsModal")
            modifier="action wide"}}
    {{/if}}

    <section class="view-container bt b--lightgrey-d1 pt5">
        <section class="app-grid">
            <div class="app-cell">
                <div class="bg-white mr3 display flex items-center justify-center br-pill shadow-1 pa3">
                    <img class="app-icon pa2" src="assets/icons/unsplash.svg" />
                </div>
            </div>
            <div class="app-cell">
                <h3>Unsplash</h3>
                <p>Beautiful, free photos</p>
            </div>
        </section>

        <div class="gh-setting-header gh-first-header">Unsplash configuration</div>
        <div class="flex flex-column br4 shadow-1 bg-grouped-table pa8 pb4 mt2">
            <div class="gh-setting-first gh-setting-last" id="unsplash-toggle">
                <div class="gh-setting-content">
                    <div class="gh-setting-title">Enable Unsplash</div>
                    <div class="gh-setting-desc">Enable <a href="https://unsplash.com" target="_blank">Unsplash</a> image integration for your posts</div>
                </div>
                <div class="gh-setting-action">
                    <div class="form-group right">
                        <div class="for-checkbox">
                            <label for="isActive" class="checkbox">
                                    <input
                                        type="checkbox"
                                        checked={{unsplashSettings.isActive}}
                                        id="isActive"
                                        name="isActive"
                                        onclick={{action "update" value="target.checked"}}
                                        data-test-checkbox="unsplash"
                                    >
                                    <span class="input-toggle-component"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
