<div class="modal-content">
    <header class="modal-header">
        <h1>Advanced theme options</h1>
    </header>
    <button type="button" class="close" title="Close" {{on "click" @close}}>{{svg-jar "close"}}<span class="hidden">Close</span></button>

    <div class="modal-body">
        <div class="gh-setting-header">Installed Themes</div>
        <div class="gh-themes-container">

            <GhThemeTable
                @themes={{this.themes}}
                @activateTheme={{optional this.noop}}
                @downloadTheme={{optional this.noop}}
                @deleteTheme={{optional this.noop}} />
        </div>
    </div>
</div>