<div class="modal-content">
    <div class="modal-body gh-ps-modal-body">
        <div class="gh-branding-settings-header">
            <h4>Site design</h4>
            <div class="gh-branding-settings-actions">
                <button
                    class="gh-btn mr3"
                    {{on "click" @close}}
                    {{!-- disable mouseDown so it doesn't trigger focus-out validations --}}
                    {{on "mousedown" (optional this.noop)}}
                    data-test-button="cancel-customize"
                >
                    <span>Cancel</span>
                </button>

                <GhTaskButton
                    @buttonText="Save and close"
                    @successText="Saved"
                    @task={{@data.saveTask}}
                    @idleClass="gh-btn-primary"
                    @class="gh-btn gh-btn-icon"
                    data-test-button="save-customize"
                />
            </div>
        </div>

        <div class="gh-branding-settings">
            <section class="gh-branding-settings-options">
                <div class="gh-btn-group gh-design-settings-tabs">
                    <button type="button" class="gh-btn {{if (eq this.tab "general") "gh-btn-group-selected"}}" {{on "click" (fn this.changeTab "general")}}><span>General</span></button>
                    <button type="button" class="gh-btn {{if (eq this.tab "theme") "gh-btn-group-selected"}}" {{on "click" (fn this.changeTab "theme")}}><span>Theme</span></button>
                </div>

                {{#if (eq this.tab "general")}}
                    <Modals::Design::Customize::GeneralSettings
                        @updatePreview={{perform this.updatePreviewTask}}
                    />
                {{else if (eq this.tab "theme")}}
                    <Modals::Design::Customize::ThemeSettings
                        @updatePreview={{perform this.updatePreviewTask}}
                    />
                {{/if}}
            </section>

            <section class="gh-branding-settings-right">
                <GhBrowserPreview class="gh-branding-settings-previewcontainer" @icon={{this.settings.icon}} @title={{this.config.blogTitle}}>
                    <iframe
                        id="site=frame"
                        class="site-frame gh-branding-settings-preview"
                        {{did-insert this.registerPreviewIframe}}
                    ></iframe>
                </GhBrowserPreview>
            </section>
        </div>
    </div>
</div>