<header>
    <section class="box entry-title">
        {{gh-trim-focus-input type="text" id="entry-title" placeholder="Your Post Title" value=titleScratch tabindex="1"}}
    </section>
</header>

<section class="entry-markdown active">
    <header class="floatingheader">
        <small>Markdown</small>
        <a class="markdown-help" href="" {{action "openModal" "markdown"}}><span class="hidden">What is Markdown?</span></a>
    </header>
    <section id="entry-markdown-content" class="entry-markdown-content">
        {{gh-codemirror value=scratch scrollInfo=view.markdownScrollInfo setCodeMirror="setCodeMirror"}}
    </section>
</section>

<section class="entry-preview">
    <header class="floatingheader">
        <small>Preview <span class="entry-word-count js-entry-word-count">{{gh-count-words scratch}}</span></small>
    </header>
    <section class="entry-preview-content">
        {{gh-markdown markdown=scratch scrollPosition=view.scrollPosition
            uploadStarted="disableCodeMirror" uploadFinished="enableCodeMirror" uploadSuccess="handleImgUpload"}}
    </section>
</section>

{{partial "publish-bar"}}
