<div class="gh-stack-item gh-setting-first">
    <div class="flex-grow-1">
        <label class="gh-setting-title gh-theme-setting-title" for={{this.selectId}}>
            Announcement
        </label>
        <div class="gh-announcement-editor {{if this.feature.nightShift "dark"}}">
            <KoenigLexicalEditorInput
                @placeholderText="Highlight breaking news, special offers, or important updates"
                @html={{this.content}}
                @onChangeHtml={{this.setContent}}
                @onBlur={{@onChange}}
            />
        </div>
    </div>
</div>