<div class="gh-stack-item {{if (eq @index 0) "gh-setting-first" "gh-setting"}}">
    <div class="{{if @setting.description "gh-setting-content" "flex flex-column justify-center"}}">
        <label class="gh-setting-title" style="{{if (is-empty @setting.description) "margin-bottom: 0px"}}" for={{this.inputId}}>
            {{humanize-setting-key @setting.key}}
        </label>
        {{#if @setting.description}}
            <div class="gh-setting-desc">{{truncate @setting.description 100}}</div>
        {{/if}}
        {{#if this.isInvalid}}
            <div class="gh-setting-error {{if (is-empty @setting.description) "mt3"}}">Enter a color in hex format</div>
        {{/if}}
    </div>
    <div class="gh-setting-action">
        <div class="input-color">
            <input
                type="text"
                id={{this.inputId}}
                name={{this.inputName}}
                autocorrect="off"
                maxlength="6"
                value={{this.colorWithoutHash}}
                class="gh-input"
                {{on "input" (perform this.debounceValueUpdate)}}
                {{on "blur" this.updateValue}}
                {{on-key "Enter" this.blurElement}}
                data-test-input="accentColor"
            />
            <div class="color-picker-horizontal-divider"></div>
            <div
                class="color-box-container"
                style={{this.this.colorPickerBgStyle}}
            >
                <input
                    type="color"
                    name={{this.inputName}}
                    class="color-picker"
                    value={{@setting.value}}
                    {{on "input" (perform this.debounceValueUpdate)}}
                >
            </div>
        </div>
    </div>
</div>