<div class="form-group max-width mb0">
    <GhMembersRecipientSelect
        @filter={{@publishOptions.recipientFilter}}
        @newsletter={{@publishOptions.newsletter}}
        @onChange={{@publishOptions.setRecipientFilter}}
        @renderInPlace={{false}}
        @dropdownClass="gh-publish-newsletter-dropdown"
    />
    
    {{#if (gt @publishOptions.newsletters.length 1)}}
        <div class="mt4">
            <label class="gh-main-section-header small bn">Newsletter</label>
            <PowerSelect
                @selected={{@publishOptions.newsletter}}
                @options={{@publishOptions.newsletters}}
                @onChange={{@publishOptions.setNewsletter}}
                @triggerComponent="gh-power-select/trigger"
                @triggerClass="gh-publish-newsletter-trigger"
                @dropdownClass="gh-publish-newsletter-dropdown"
                as |newsletter|
            >
                {{newsletter.name}} <span>({{newsletter.count.members}})</span>
            </PowerSelect>
        </div>
    {{/if}}
</div>