{{#if (eq @publishOptions.totalMemberCount 0)}}
    <p class="gh-box gh-content-box">
        <LinkTo @route="members">Add members</LinkTo>
        to start sending newsletters!
    </p>
{{else}}
    <div class="form-group max-width mb0">
        {{#if (gt @publishOptions.newsletters.length 1)}}
            <div class="mb4">
                <PowerSelect
                    @selected={{@publishOptions.newsletter}}
                    @options={{@publishOptions.newsletters}}
                    @onChange={{@publishOptions.setNewsletter}}
                    @triggerComponent="gh-power-select/trigger"
                    @triggerClass="gh-publish-newsletter-trigger"
                    @dropdownClass="gh-publish-newsletter-dropdown"
                    as |newsletter|
                >
                    {{newsletter.name}}
                </PowerSelect>
            </div>
        {{/if}}

        <GhMembersRecipientSelect
            @filter={{@publishOptions.recipientFilter}}
            @newsletter={{@publishOptions.newsletter}}
            @onChange={{@publishOptions.setRecipientFilter}}
            @renderInPlace={{false}}
            @dropdownClass="gh-publishmenu-newsletter-dropdown"
        />
    </div>
{{/if}}
