<div class="gh-main-section">
    <h4 class="gh-main-section-header small bn">Newsletters</h4>
    <section class="gh-expandable">
        <div class="gh-expandable-block">
            <div class="gh-expandable-header">
                <div>
                    <h4 class="gh-expandable-title">Newsletter opens</h4>
                    <p class="gh-expandable-description">
                        Record when a member opens an email
                    </p>
                </div>
                <div class="for-switch">
                    <label class="switch" for="email-track-opens" data-test-label="email-track-opens">
                        <input
                            id="email-track-opens"
                            type="checkbox"
                            checked={{this.settings.emailTrackOpens}}
                            {{on "change" this.toggleEmailTrackOpens}}
                            data-test-checkbox="email-track-opens"
                        >
                        <span class="input-toggle-component"></span>
                    </label>
                </div>
            </div>
        </div>

        <div class="gh-expandable-block">
            <div class="gh-expandable-header">
                <div>
                    <h4 class="gh-expandable-title">Newsletter clicks</h4>
                    <p class="gh-expandable-description">
                        Record when a member clicks on any link in an email
                    </p>
                </div>
                <div class="for-switch">
                    <label class="switch" for="email-track-clicks" data-test-label="email-track-clicks">
                        <input
                            id="email-track-clicks"
                            type="checkbox"
                            {{on "change" this.toggleEmailTrackClicks}}
                            checked={{this.settings.emailTrackClicks}}
                            data-test-checkbox="email-track-clicks"
                        >
                        <span class="input-toggle-component"></span>
                    </label>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="gh-main-section">
    <h4 class="gh-main-section-header small bn">Sources</h4>
    <section class="gh-expandable">
        <div class="gh-expandable-block">
            <div class="gh-expandable-header">
                <div>
                    <h4 class="gh-expandable-title">Member sources</h4>
                    <p class="gh-expandable-description">
                        Track the traffic sources and posts that drive the most member growth
                    </p>
                </div>
                <div class="for-switch">
                    <label class="switch" for="members-track-sources" data-test-label="members-track-sources">
                        <input
                            id="members-track-sources"
                            type="checkbox"
                            checked={{this.settings.membersTrackSources}}
                            data-test-checkbox="members-track-sources"
                            {{on "change" this.toggleMembersTrackSources}}
                        >
                        <span class="input-toggle-component"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="gh-expandable-block">
            <div class="gh-expandable-header">
                <div>
                    <h4 class="gh-expandable-title">Outbound link tagging</h4>
                    <p class="gh-expandable-description">
                        Make it easier for other sites to track the traffic you send them in their analytics
                    </p>
                </div>
                <div class="for-switch">
                    <label class="switch" for="outbound-link-tagging" data-test-label="outbound-link-tagging">
                        <input
                            id="outbound-link-tagging"
                            type="checkbox"
                            checked={{this.settings.outboundLinkTagging}}
                            data-test-checkbox="outbound-link-tagging"
                            {{on "change" this.toggleOutboundLinkTagging}}
                        >
                        <span class="input-toggle-component"></span>
                    </label>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="gh-main-section">
    <h4 class="gh-main-section-header small bn">Posts</h4>
    <section class="gh-expandable">
        <div class="gh-expandable-block">
            <div class="gh-expandable-header">
                <div>
                    <h4 class="gh-expandable-title">Export post analytics</h4>
                    <p class="gh-expandable-description">
                        Download a CSV file of your last 1000 posts data for easy analysis in one place
                    </p>
                </div>
                <GhTaskButton @buttonText="Export" @successText="Exported" @task={{this.exportPostsTask}} @class="gh-btn gh-btn-icon"/>
            </div>
        </div>
    </section>
</div>
