<div class="mb4">
    <div class="gh-expandable-header">
        <div>
            <h4 class="gh-expandable-title">Default post access</h4>
            <p class="gh-expandable-description">When a new post is created, who should have access to it?</p>
        </div>
    </div>

    <PowerSelect
        @options={{this.options}}
        @selected={{this.selectedOption}}
        @onChange={{this.setDefaultContentVisibility}}
        @disabled={{eq this.settings.membersSignupAccess "none"}}
        as |option|
    >
        <div class="flex ma2">
            <div class="gh-radio-label">
                {{option.name}}<br>
                <div class="gh-radio-desc">{{option.description}}</div>
            </div>
        </div>
    </PowerSelect>
</div>