<div class="gh-expandable-block">
    <div class="gh-expandable-header">
        <div>
            <h4 class="gh-expandable-title">Tips or donations</h4>
            {{#if (feature "tipsAndDonations")}}
                <p class="gh-expandable-description">Give your audience a one-time way to support your work, no membership required.
                    {{#if this.membersUtils.isStripeEnabled}}
                    {{else}}
                        <button type="button" {{on "click" this.openStripeConnect}} class="gh-stripe-connect-link">Connect with Stripe</button>
                    {{/if}}
                </p>
            {{else}}
                <p class="gh-expandable-description">Give your audience a one-time way to support your work, no membership required</p>
            {{/if}}
        </div>
        {{#if (feature "tipsAndDonations")}}
            {{#if this.membersUtils.isStripeEnabled}}
                <button type="button" class="gh-btn" {{on "click" (toggle-action "tipsAndDonationsOpen" this)}} data-testid="expand-tips-and-donations">
                    <span>{{if this.tipsAndDonationsOpen "Close" "Expand"}}</span>
                </button>
            {{else}}
                <button type="button" class="gh-btn" disabled={{true}} {{on "click" (toggle-action "tipsAndDonationsOpen" this)}}>
                    <span>{{if this.tipsAndDonationsOpen "Close" "Expand"}}</span>
                </button>
            {{/if}}
        {{else}}
            {{#if this.membersUtils.isStripeEnabled}}
                <button type="button" class="gh-btn" {{on "click" (toggle-action "tipsAndDonationsOpen" this)}}>
                    <span>{{if this.tipsAndDonationsOpen "Close" "Expand"}}</span>
                </button>
            {{else}}
                <button type="button" class="stripe-connect {{if (or (not this.session.user.isAdmin) this.isConnectDisallowed) "disabled"}}" {{on "click" this.openStripeConnect}}>
                    <span></span>
                </button>
            {{/if}}
        {{/if}}
    </div>
    <div class="gh-expandable-content">
        {{#liquid-if (and this.tipsAndDonationsOpen this.membersUtils.isStripeEnabled) }}
        <div class="gh-setting-content-extended">
            <GhFormGroup>
                <div class="flex items-center">
                    <div class="gh-tips-and-donations-suggested-amount">
                        <label for="tips-and-donations-amount" class="fw6 mb1">Suggest an amount</label>
                        <div class="flex flex-row items-start">
                            <GhFormGroup class="no-margin">
                                <div class="percentage">
                                    <input
                                        type="number"
                                        id="gh-tips-and-donations-amount"
                                        data-testid="tips-and-donations-amount"
                                        class="gh-input"
                                        name="amount"
                                        min="0"
                                        value={{this.selectedAmount}}
                                        {{on "input" this.setDonationsSuggestedAmount}}
                                    />
                                </div>
                            </GhFormGroup>
                            <div class="gh-tips-and-donations-currency">
                                <GhFormGroup class="no-margin">
                                    <span class="gh-select">
                                        <OneWaySelect
                                            @value={{this.selectedCurrency}}
                                            id="gh-tips-and-donations-currency"
                                            name="currency"
                                            @options={{readonly this.allCurrencies}}
                                            @optionValuePath="value"
                                            @optionLabelPath="label"
                                            @update={{this.setDonationsCurrency}}
                                        />
                                        {{svg-jar "arrow-down-small"}}
                                    </span>
                                </GhFormGroup>
                            </div>
                        </div>
                    </div>

                    <GhFormGroup class="no-margin">
                        <label for="tips-and-donations-link" class="fw6 mb1">Shareable link — <a href="#" {{on "click" this.showPreview}}>Preview</a></label>
                        <div class="gh-tips-and-donations-link-container">
                            <GhTextInput
                                data-test-input="tips-and-donations-link"
                                @id="gh-tips-and-donations-link"
                                @name="tips-and-donations-link"
                                @disabled={{true}}
                                @value="{{this.siteUrl}}/#/portal/support"
                                @placeholder="{{this.siteUrl}}/#/portal/support"
                            />
                            <button
                                type="button" {{on "click" (fn (perform this.copyTipsAndDonationsLink))}}
                                class="gh-portal-setting-copy"
                                data-test-button="copy-url-attr"
                            >
                                {{#if (and this.copyTipsAndDonationsLink.isRunning)}}
                                    {{svg-jar "check-circle" class="w3 v-mid mr2 stroke-darkgrey"}} Copied
                                {{else}}
                                    <span data-tooltip="Copy">{{svg-jar "copy" class="w4 v-mid fill-darkgrey"}}</span>
                                {{/if}}
                            </button>
                        </div>
                    </GhFormGroup>

                </div>
                {{#if this.tipsAndDonationsError}}
                    <p class="gh-setting-error"><span class="red">{{this.tipsAndDonationsError}}</span></p>
                {{/if}}
            </GhFormGroup>
        </div>
        {{/liquid-if}}
    </div>
</div>
