<div class="gh-main-section gh-newsletters">
    <div class="flex justify-between items-center">
        <h4 class="gh-main-section-header small bn">Newsletters</h4>
        {{#if this.archivedNewsletters}}
            <div>
                <div class="gh-contentfilter-menu gh-contentfilter-type {{if (not (eq this.selectedType.value "active")) "gh-contentfilter-selected"}}" data-test-type-select="true">
                    {{!-- <PowerSelect
                        @selected={{this.selectedType}}
                        @options={{this.availableTypes}}
                        @searchEnabled={{false}}
                        @onChange={{this.onTypeChange}}
                        @triggerComponent="gh-power-select/trigger"
                        @triggerClass="gh-contentfilter-menu-trigger gh-contentfilter-menu-trigger-tiers"
                        @dropdownClass="gh-contentfilter-menu-dropdown"
                        @matchTriggerWidth={{false}}
                        as |type|
                    >
                        {{#if type.name}}{{type.name}}{{else}}<span class="red">Unknown type</span>{{/if}}
                    </PowerSelect> --}}
                    <span>Active</span>
                    <span>{{svg-jar "arrow-down-small" class="w2"}}</span>
                </div>
            </div>
        {{/if}}
    </div>
    <section class="gh-expandable">
        <div class="gh-expandable-block">
            {{#each this.newsletters.newsletters as |newsletter|}}
                {{#if (eq newsletter.status "active")}}
                    <div class="gh-main-content-card gh-newsletter-card {{if this.hasMultiple "multiple"}}">
                        {{svg-jar "grab" class="grab-newsletter"}}
                        <div class="gh-newsletter-card-block title-block">
                            <h3 class="gh-newsletter-card-name">
                                {{newsletter.name}}
                            </h3>
                            <p class="gh-newsletter-card-description">
                                {{newsletter.description}}
                            </p>
                        </div>
                        <div class="gh-newsletter-card-block stats-block {{if this.hasMultiple "multiple"}}">
                            <div>
                                <h3 class="gh-newsletter-card-name">{{newsletter.members.total}}</h3>
                                <p class="gh-newsletter-card-description">Subscribers</p>
                            </div>
                            <div>
                                <h3 class="gh-newsletter-card-name">{{newsletter.posts.total}}</h3>
                                <p class="gh-newsletter-card-description">Posts sent</p>
                            </div>
                        </div>
                        <div class="gh-newsletter-card-block cta-block">
                            {{#if this.hasMultiple}}
                                <span class="dropdown">
                                    <GhDropdownButton
                                        @dropdownName="newsletter-actions-menu-newsletter-{{newsletter.id}}"
                                        @classNames="gh-btn gh-btn-action-icon gh-btn-icon gh-btn-outline gh-product-card-actions-button icon-only"
                                    >
                                        <span>
                                            {{svg-jar "dotdotdot"}}
                                            <span class="hidden">Actions</span>
                                        </span>
                                    </GhDropdownButton>
                                    <GhDropdown
                                        @name="newsletter-actions-menu-newsletter-{{newsletter.id}}"
                                        @tagName="ul"
                                        @classNames="gh-newsletter-actions-menu dropdown-menu dropdown-triangle-top-right"
                                    >
                                        <li>
                                            <button class="mr2" type="button" {{on "click" @toggleEmailDesignSettings}}>
                                                <span>Edit</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="mr2" type="button" {{on "click" (fn this.archiveNewsletter newsletter.id)}}>
                                                <span>Archive</span>
                                            </button>
                                        </li>
                                    </GhDropdown>
                                </span>
                            {{else}}
                                <button class="gh-btn gh-btn-green" type="button" {{on "click" @toggleEmailDesignSettings}}><span>Customize &rarr;</span></button>
                            {{/if}}
                        </div>
                    </div>
                {{/if}}
            {{/each}}
        </div>
    </section>
    <button type="button" class="gh-add-newsletter" {{on "click" this.addNewsletter}} {{on "click" @toggleEmailDesignSettings}}>{{svg-jar "add-stroke"}}Add newsletter</button>
</div>